[2016-08-12 16:15] griphi commented on #416
Hi,

the issue is sill in the demo/two.html file included.
If I am dragging between Grid 1 and Grid 2 the Widgets cannot be resized again.

Thanks

[2016-08-13 15:26] radiolips commented on #459
I can take a look. Could either of you provide a jsfiddle? Nothing jumps out in the code, but with a fiddle I can certainly determine what's happening.

(I'm guessing this has something to do with jquery-ui).

[2016-08-13 15:28] radiolips commented on #462
@clanghout I don't understand the problem. Could you clarify for me, please?

[2016-08-13 16:00] radiolips commented on #460
Hm. I tested this and it works okay for me. I can see how this might be an issue, but it does work for me. Could you setup a jsfiddle and I will take a closer look?

[2016-08-15 02:55] eagoo commented on #423
https://jsfiddle.net/eagoo/rxvjewpg/3/
![image](https://cloud.githubusercontent.com/assets/13099426/17654548/cbd79370-62d6-11e6-8bce-c0530b839b73.png)

[2016-08-15 10:20] redstubble opened #499 "Cloning widget when moving from one grid to another"
I have seen a number of similar issues, however I cannot seem to get any to work. I have one template gridstack which I want to drag widgets onto another dashboard. However I want to duplicate this widget rather than move it.

I have tried removing $(ui.draggable).remove(); and removing the attributes, however the behaviour is still not working. The element is still bound to the cloned element. Ho

[2016-08-16 03:34] redstubble commented on #414
@elruinnou Did you get this working?

[2016-08-16 03:49] redstubble commented on #396
@troolee I am hitting this same issue. I have tried to unbind all attributes and events to no avail can you provide a snippet to point me in the right direction.

[2016-08-16 18:51] radiolips commented on #389
Closing. This has been resolved.

[2016-08-16 18:51] #389 closed

[2016-08-16 18:52] radiolips commented on #398
@amxbc @jaapz Can you both verify that this works? Some code was moved around for the events, so I believe this will be resolved. If not, my guess is that it is an animate issue, but please let me know. Thanks!

[2016-08-16 19:44] #481 closed

[2016-08-16 19:44] radiolips commented on #481
@artknight This should be fixed in `v.0.2.6`. Could you let me know? It should still make sure jquery-ui is not a requirement, but should now work if you modify `setStatic` at any time.

[2016-08-16 22:56] DavidKDeutsch opened #505 "Quasi memory leak in Gridstack._prepareElementByNode"
Gridstack._prepareElementByNode uses _.extend to set the draggable options and whatnot on an added widget, e.g.:

[code]
This has the effect of modifying `this.opts.draggable`, setting its members to the same methods that are passed to `el.draggable()`. Since these new methods reference `el`, the widget stays in memory even after it is removed. Probably not a _huge_ deal, as only one widget can le

[2016-08-17 05:03] #460 closed

[2016-08-17 11:50] radiolips commented on #436
Hey, @aletorrado ! Thanks for letting us know. For the time being, this is actually expected behavior. We have a few open tickets encouraging some gridstack enhancements, some of which will require a rewrite of the collision. At that point, swapping widgets may become more intuitive.

[2016-08-17 11:50] #436 closed

[2016-08-17 11:53] radiolips commented on #388
@DavidKDeutsch I believe these should actually be `parseInt` and not `Number`, because they should all be integers, while `Number` allows for floats and doubles, as per https://developer.mozilla.org/en-US/docs/Glossary/Number

[2016-08-17 12:19] kdietrich commented on #411
Fixed by https://github.com/troolee/gridstack.js/pull/502.

[2016-08-17 12:19] #411 closed

[2016-08-17 14:48] radiolips commented on #417
Closing due to inactivity.

[2016-08-17 14:48] #417 closed

[2016-08-17 15:08] #422 closed

[2016-08-17 15:10] radiolips commented on #422
@Tuizi Apologies for the delay, but I believe you will no longer need to use your workaround. Thanks for your patience, and let us know if you're having any continued issues.

[2016-08-17 15:22] radiolips commented on #415
I'm not sure that this is a bug. Currently in the code, a width of 768 is, by default, considered oneColumnMode. We could make a change in the code so that 767 and below is oneColumnMode, but currently we're using 768. You may override the minWidth value so that 768 still counts as normal mode, but you'll also need to roll your own additional CSS, which you have done here.

If there's some issue w

[2016-08-17 15:22] #415 closed

[2016-08-17 15:50] radiolips commented on #505
@DavidKDeutsch Wow. That was an amazing catch. I don't believe `this.opts` was intended to be mutated when making those `_.extend` calls.

[2016-08-17 15:53] #505 closed

[2016-08-17 16:06] radiolips commented on #440
@ktshannon Are you able to use a handle for dragging, so that the entire thing is not draggable?

[code]

I believe this solves your problem. Otherwise, you'll need to handle the content div in your code. Let us know if you have any more problems.

[2016-08-17 16:06] #440 closed

[2016-08-17 17:23] radiolips commented on #404
Apologies for the delay.

Firstly, @webdesignmzm and @somchaisomsi, I'd like to point out that this library, and the support everyone receives, is entirely free of charge. Please be more considerate to the contributors who are spending their own time to provide a better dashboard experience for all users.

I am closing this ticket. Before closing it, I will say (note that I am now now, nor have I

[2016-08-17 17:40] radiolips commented on #423
@eagoo I'm happy to be able to tell you that this was fixed in `v0.2.6`, which was just released!

[2016-08-17 17:40] #423 closed

[2016-08-17 17:55] radiolips commented on #438
If I use the following settings in your jsfiddle, it does work:

[code]

Closing, but let me know if this does not help you. Thanks!

[2016-08-17 17:55] #438 closed

[2016-08-17 18:22] radiolips commented on #263
I misunderstood this previously. You're saying you want the API to automatically know what direction to resize in. Unfortunately, that removes some of the intuitiveness, because we would expect it to be unable to resize in certain situations where it would suddenly be able to resize. Because you're using the API, you can actually do this yourself. You may tap into the `willItFit` API call, and, if

[2016-08-17 18:22] #263 closed

[2016-08-17 19:21] troolee commented on #482
Hi @syedhabeebuddin,

we do not provide a support of any bindings to third party libraries like knockout.js, angular.js, etc. gridstack from the box doesn't support these libraries, but we make all possible to make other people create that bindings as smoothly as possible.

If you're implementing bindings for third party libraries and you need specific API inside gridstack core, feel free to ask a

[2016-08-17 19:21] #482 closed

[2016-08-17 19:50] #444 closed

[2016-08-17 19:56] radiolips commented on #405
I've given this a lot of thought, and I've tried several options, but I've concluded that what we currently have is correct. The "formula" is (`widgetHeight` * (`cellHeight` + `verticalMargin`) - `verticalMargin` = widget height in px.  One `verticalMargin` is deducted from the height because it needs to leave a gap at the bottom. Including all of the `verticalMargin`s in the height is what keeps

[2016-08-17 19:56] #405 closed

[2016-08-17 21:03] radiolips commented on #498
That's correct. When the screen is in `oneColumnMode`, you cannot reorder. When there's only one row, you cannot swap. Due to the collision algorithm used, swapping is not an option. This will be updated in the future and enhancement tickets are already open.

[2016-08-17 21:03] #498 closed

[2016-08-17 21:04] radiolips commented on #483
Closing due to inactivity.

[2016-08-17 21:04] #483 closed

[2016-08-17 21:07] radiolips commented on #475
Closing. I'm no longer seeing an issue in your jsfiddle. Please reopen if you're still having a problem.

[2016-08-17 21:07] #475 closed

[2016-08-17 21:08] radiolips commented on #437
Closing due to inactivity.

[2016-08-17 21:08] #437 closed

[2016-08-17 21:09] radiolips commented on #442
Closing due to inactivity. Please let us know if you're still having problems.

[2016-08-17 21:09] #442 closed

[2016-08-17 21:14] radiolips commented on #495
Hi @griphi. When dragging a widget from one grid to another, the widget should be the same. You're able to change the styles using CSS if you'd like. I'm unable to identify an issue here, so I am closing. Please reopen and describe your issue in more detail if you have more issues. Thanks!

[2016-08-17 21:14] #495 closed

[2016-08-17 21:19] radiolips commented on #458
@pmoradei Have you tried using static? Also, if you don't have jQuery UI, you should not have a problem running `gridstack`, which may help in your case. I'm closing this because we intend to eventually remove `jquery-ui`, but, for the time being, my suggestion should help you. Please reopen if you have an issue.

[2016-08-17 21:19] #458 closed

[2016-08-17 21:22] radiolips commented on #454
This should be all you need. Could you provide a jsfiddle displaying your issue? What you've pasted looks okay.

[2016-08-17 21:24] radiolips commented on #450
Apologies - this actually exists. If you use the `cellHeight: auto` option when initializing your grid, your widgets will automatically update the height as you change the width. I'm closing this ticket, but please let us know if this doesn't resolve your issue.

[2016-08-17 21:24] #450 closed

[2016-08-17 21:27] radiolips commented on #446
Closing due to inactivity. Hopefully @troolee 's suggestion has proven helpful. Reopen if there's any issue.

[2016-08-17 21:27] #446 closed

[2016-08-17 21:30] radiolips commented on #449
Please see my response in #404 . Using the code I provided will cause a widget to have its height large enough for its content. I believe this resolves the original issue noted here, but please let us know if I'm incorrect. Thanks!

[2016-08-17 21:30] #449 closed

[2016-08-17 21:32] radiolips commented on #464
Closing due to inactivity. @zcapin if you are still having a problem, please reopen this ticket with more info. Thanks!

[2016-08-17 21:32] #464 closed

[2016-08-17 23:27] radiolips commented on #88
#149 has more information and also covers this topic. Closing, but will leave 149 open.

[2016-08-17 23:27] #88 closed

[2016-08-17 23:38] radiolips commented on #394
https://github.com/troolee/gridstack.js/tree/master/doc#enablemovedoenable-includenewwidgets
and
https://github.com/troolee/gridstack.js/tree/master/doc#enableresizedoenable-includenewwidgets

When you have your gridstack object in the `grid` variable, call `.enableMove` with false for `doEnable` and true for `includeNewWidgets`.
ie:
[code]

As you'll note, the entirety of this information is alre

[2016-08-17 23:38] #394 closed

[2016-08-17 23:45] #462 closed

[2016-08-17 23:46] radiolips commented on #415
We decided this answer wasn't good enough, so we implemented a new method for `v.0.2.7`. Please take a look at the changes in the readme in master - you can now set whatever width you want, no CSS media selector required :)

[2016-08-17 23:47] radiolips commented on #396
We'll take a look at adding this ability into `v.0.2.7` so that no hacky workaround will be required

[2016-08-17 23:48] radiolips commented on #462
This has been resolved in the master branch.

[2016-08-17 23:53] radiolips commented on #452
Closing for inactivity. I'll note that, if you're using the Bootstrap JS, it does have some default elements, and I wouldn't be surprised if you're having a problem with it attaching to the wrong elements. It can be tricky. Reopen if you have a jsfiddle for us to take a look at.

[2016-08-17 23:53] #452 closed

[2016-08-18 00:10] radiolips commented on #410
This may have been due to a bug in `v0.2.5`, but it definitely works in `v0.2.6`, which has just been released. Please reopen if you're still having problems on this newer version.

[2016-08-18 00:10] #410 closed

[2016-08-18 00:19] radiolips commented on #445
I don't fully understand. Text is not inherently an object. You may be able to write some custom code, but I think that what you're asking for is not possible. I've tried using your demo, but unfortunately I still don't completely understand. Please reopen if you're still having an issue and think we may be able to help.

[2016-08-18 00:19] #445 closed

[2016-08-18 00:21] radiolips commented on #408
Closing. We will keep #451 open, as it mentions a few issues, all related.

[2016-08-18 00:21] #408 closed

[2016-08-18 00:22] radiolips commented on #416
Thanks for your help, @eagoo . We'll work on resolving this. For the time being, all work on this issue will be in #451 , which covers several related issues.

[2016-08-18 00:22] #416 closed

[2016-08-18 00:31] radiolips commented on #397
Thanks again, @eagoo . Just to keep things tidy, I'm closing this in favor of #451 as well. We'll be sure to resolve all of these bugs.

[2016-08-18 00:31] #397 closed

[2016-08-18 00:46] radiolips commented on #439
One column mode can now be controlled strictly through the Javascript, and can be handled differently for nested grids. Hopefully that will make what you're doing easier.

You can actually hook into `oneColumnMode` by periodically checking the grid to see if it is enabled. We may add in an event to make it even easier.

`.resize` and `.update` should both be updating `data-gs-height` - if you acce

[2016-08-18 00:46] #439 closed

[2016-08-18 00:47] radiolips commented on #454
This may have been resolved from another fix in `v0.2.6`. This is working for me, so I'm closing this out, but please reopen if you're having problems even in `v0.2.6`. Thanks for using gridstack! Sorry you had to wait so long for a response.

[2016-08-18 00:47] #454 closed

[2016-08-18 00:50] radiolips commented on #499
We'll handle this in #396 . You may want to watch that one, as hopefully we'll have many fixes in `v0.2.7`, including a fix for this. Thanks! Please reopen if you feel this is different from the other, or open a new ticket if you have any more issues. Thanks, @redstubble !

[2016-08-18 00:50] #499 closed

[2016-08-18 06:07] Skulmuk commented on #415
Thanks, will give it a try and come back to you if I hit any issues, otherwise, thanks for looking at it :)

[2016-08-18 09:29] starplanet opened #513 "jquery-ui directories wrong in gridstack.js"
In jquery-ui 1.12.0,  all associate files are moved to ui directory not in root directory. So the following code in gridstack.js is deprecated.

if (typeof define === 'function' && define.amd) {
        define(['jquery', 'lodash', 'jquery-ui/data', 'jquery-ui/disable-selection', 'jquery-ui/focusable',
            'jquery-ui/form', 'jquery-ui/ie', 'jquery-ui/keycode', 'jquery-ui/labels', 'jquery-ui

[2016-08-18 15:10] kykint commented on #513
And one more problem - if there are jquery and jquery-ui (full) are already linked on page and I want to use gridstack with require.js I can't do it because of  'jquery-ui/data', 'jquery-ui/disable-selection', etc.

[2016-08-18 19:50] tracyalison11 commented on #366
What was your CSS issue?

[2016-08-18 20:38] radiolips commented on #513
`jquery-ui` files were in `/ui` in v.1.11 for jquery-ui installed via bower. By not defining the exact location for `jquery-ui` in gridstack, we have actually enabled the user to have control.

Your `main.js` file may look something like this:

[code]

Based on jqui's own page (https://learn.jquery.com/jquery-ui/environments/amd/), this seems like the most suitable solution. If they have updated r

[2016-08-18 20:38] #513 closed

[2016-08-19 02:13] starplanet commented on #513
Ok. I get it. Thanks.

原始邮件
发件人:radiolipsnotifications@github.com
收件人:troolee/gridstack.jsgridstack.js@noreply.github.com
抄送:starplanetzhangjinjie@yimian.com.cn; Authorauthor@noreply.github.com
发送时间:2016年8月19日(周五) 04:38
主题:Re: [troolee/gridstack.js] jquery-ui directories wrong ingridstack.js (#513)

jquery-ui files were in /ui in v.1.11 for jquery-ui installed via bower. By not defining the exact

[2016-08-19 08:40] Myrdivar opened #515 "Empty grid default height"
Hi,

Is there an option to set the minHeight for the grid? In this way for example, when it's empty, I'll still be able to drop element on it.

Even in your dual grid example (http://troolee.github.io/gridstack.js/demo/two.html) if I move all elements from the left grid to the right one I'll not be able to drop elements on the left grid anymore.

[2016-08-19 08:46] Myrdivar commented on #515
I mean, you could always set "min-height" to the grid element but maybe an option in the component could be useful :)

[2016-08-19 12:22] Nyrris commented on #460
Sorry for my late response, I did tried to reproduce the problem in a fiddle but there it seems to work correctly. To bad I can not copy my code base into a fiddle, I will try out the new version and let you know if the problem still exists.

[2016-08-19 17:15] epelc opened #516 "change event doesn't include items moved because of resize when `float:true`"
Change events do not include items that get moved(usually down) when you resize a widget if float is true.

Example
Notice only one item is in the change event log when a resize causes the second one to move. The single item is the card on the right. Also note how it works as expected(both changed items are in the event) if you move the widget instead of resizing.
![bad gridstack change event](htt

[2016-08-19 20:04] troolee commented on #515
Hi, you can setup min height for the grid in css:

`.grid-stack { min-height: 300px; }`

[2016-08-19 20:04] #515 closed

[2016-08-19 22:54] sumikoabe opened #517 "How to make a static widget? staticGrid does not work..."
Hi, this is great lib that I am looking for creating a dashboard.
A specified widget need to be a static one. I checked the code and that looks like the there is property named staticGrid need to be true. I set it as:

var widgets = [
                {id: 'widget0', x: 0, y: 0, width: 2, height: 2, staticGrid: true },
                {id: 'widget1', x: 2, y: 0, width: 1, height: 1},

[2016-08-20 02:23] epelc commented on #516
@troolee can you give any direction on this? Kinda required for me to move forward. I'll help as much as I can.

I was looking into it a bit and I think either `_notify()` isn't being called for the resize events or the logic to calculate if a widget is dirty is broken.

[2016-08-20 15:16] radiolips commented on #517
Hi, @sumikoabe ! Thanks for using gridstack :).

`staticGrid` is for setting the entire grid to static. In your case, I understand you'd like just one widget to be static.

You can call `grid.movable(el, false)` and `grid.resizable(el, false)`, where `el` is the element you want to be static. Here are the appropriate API calls:
https://github.com/troolee/gridstack.js/tree/master/doc#movableel-val

[2016-08-20 15:16] #517 closed

[2016-08-20 21:04] radiolips commented on #466
I don't think this makes sense for the near future. As I mentioned, the UX would be difficult. Something like this may be possible to build on top of gridstack, but this won't be part of the actual core library. Possibly this could be part of the new plugin system being introduced with `v0.3.0`.

[2016-08-20 21:04] #466 closed

[2016-08-20 21:05] radiolips commented on #459
Closing due to inactivity. Please reopen with more information if you're still having an issue.

[2016-08-20 21:05] #459 closed

[2016-08-20 21:07] radiolips commented on #425
@mattjneuber This has been updated in the latest build. Could you take a look to see if it works now? We resolved several bugs, including the ones causing `_.defaults` to modify `this.opts`.

[2016-08-22 07:45] ds009 opened #519 "Drag down item not swapping but pushing cells below in floating mode"
Hello, thank you for your great project gridstack.
I met a problem using it, when floating mode is activated(I need it to be float), all items(B,C,D...) below the currently dragged item(A) are pushed down, I hope they(B,C,D...) can be swapped up when A is dragged by some distance (e.g. B's height),How can I do it ?
I tried this example, https://troolee.github.io/gridstack.js/demo/float.html, it ha

[2016-08-22 09:34] Servuc commented on #385
Hi,

I've a similar problem, when I drag the element outside the grid element, it's resizing with a small size.
I hope this screenshots will be usefull :

**Resizing without problem into GridStack :**
![normal](https://cloud.githubusercontent.com/assets/10000785/17849877/0ee9f8d6-685b-11e6-9342-3f28cd2cbb72.jpg)

**Resizing outside GridStack limits :** you can see that the item size if very small,

[2016-08-22 11:42] jpremkumar opened #520 "Resize the grid make the items collapsed."
When the page is dynamically resized, the items (nodes) inside the grid should auto adjust.

i.e. full width (Default) [1,2,3,4,5,6],
In 75%, it should come as
[1,2,3]
[4,5,6]

in 50%
[1,2]
[3,4]
[5,6]

in 30$ is should be
[1]
[2]
[3]
[4]
[5]
[6]

I've referred the [Responsive Grid demo](https://github.com/troolee/gridstack.js#resizing-active-grid).  I'm expected the above behavior. But when resiz

[2016-08-22 12:22] Myrdivar opened #521 "Difference between drop events"
Hi,

How can I tell in the 'dragstop' event if the widget has been removed from the grid? In this case the 'removed' event does not fire and the 'dragstop' event is the same as if I drop the widget inside the grid. Same problem with the 'dragstart' event because when I drop a new element inside the grid the 'added' event doesn't fire.

Thanks!

[2016-08-22 13:28] tracyalison11 commented on #471
@tommielag did you ever figure out what the issue is?

[2016-08-23 15:39] pmoradei commented on #458
Hi!
I do need jQuery UI!
I dont want my grid to be static.
(yes i'm complicated :))

It would  be great if we could have a "lazy initialized" grid. Where resizable/draggable feature would be attached just when needed.(using gridstack api methods movable/resizable)

I red the gridstack code and if a widget is initialized as not movable(data-gs-no-move to true) it first attaches draggable and then d

[2016-08-23 15:53] radiolips commented on #458
We could certainly initialize it lazily. Why would this change performance much?

[2016-08-23 17:24] pmoradei commented on #458
Of course my case is very specific so I understand your question :
my application is made of many pages and each page has a grid with an average of 30 widgets inside. The user of the application can go from page to page. Going from one page to another must be as quick as possible that's why avoiding attaching 30 or 50 draggable and resizable widget could be interesting!

Thanks for your time!

[2016-08-24 18:54] epelc commented on #474
Just ran into this.

I noticed you can make it smaller if you move your mouse outside of the iframe content so that the main window can capture your events.

[2016-08-24 19:13] epelc commented on #474
An easy css only approach.

[code]

[2016-08-24 20:12] epelc commented on #516
This was an issue with how we were handling updates to the coordinates.

We were calling `move()` and or `resize()` during change events which caused the previous changes to stop/be discarded.

[2016-08-24 20:12] #516 closed

[2016-08-24 20:30] troolee commented on #520
Hi,

Thanks for reporting an issue. This feature is pretty experimental and not ready for production usage. But we will take a look on it.

//cc @radiolips

[2016-08-25 15:58] karellm commented on #238
Is there a reason this was closed @troolee ? I would really like that option, in our current implementation we are forced to overwrite `addWidget` which is quite hacky. Thanks!

[2016-08-25 18:39] troolee commented on #238
mathod `makeWidget` has been added for this purpose https://github.com/troolee/gridstack.js/tree/master/doc#makewidgetel

[2016-08-30 09:33] iamwelk opened #522 "auto scroll container"
In a container i init the grid and the grid is too long so the container has scrollbar.When i drag the item to top or bottom, it will not auto scroll. it displays like the follow picture
![image](https://cloud.githubusercontent.com/assets/6983075/18083883/aa9da728-6ed7-11e6-98f1-2cdcc44aeba2.png)

so, i want to know if there is some ways to make it can auto scroll when dragging?

[2016-08-31 03:50] minhtq1207 commented on #398
@radiolips i also faced that problem and solution from @amxbc works for me . And'dragstop' event is similar with 'resizestop'  when returns wrong size.
Could you please give me some suggestions to fix it?

[2016-08-31 07:05] minhtq1207 commented on #398
Update :
I use a small trick to pass it for now as :
            `$('.grid-stack').on('dragstop',` function (event, ui) {
                `setTimeout(function () {
                   ` // Update all widget position
                    `updateAllPos();
               ` }, 1000);
            });
Thus wait for animation complete and attributes was updated. But it's not a good solution, please check a

[2016-08-31 16:19] danielecacone opened #523 "autoPosition ignored"
Hi

I have this problem.
I set the autoposition to true, but when I move the divs this setting is ignored.
How can I fix this?

Tks!

[2016-08-31 18:27] kurigohan commented on #515
Setting the min-height for the grid seems to screw up the drag position calculations. For example, items have to be dragged further down before the item changes position. Is there a way to set empty grid height without this happening?

[2016-09-01 12:23] radiolips commented on #523
@danielecacone Hey! `autoPosition` is only used when the widget is first added to the grid, so if you move the div afterward, it shouldn't be expected to do anything. What issue are you seeing?

[2016-09-02 20:20] mattjneuber commented on #425
The this.opts issue is fixed, however defining different vertical margins for nested grids still doesn't seem to be working for me. In the end, they all take what was defined at the top level.

[2016-09-05 14:10] Kinnza opened #524 "Problem with npm install and jquery-ui"
Im using the latest version 2.6, with the required jquery-ui (1.12)

if i use require/import for gridstack i get errors loading jquery-ui components. for example:
Module not found: Error: Cannot resolve module 'jquery-ui/version' in /develop/gigaspaces/cloudify-ui-new/node_modules/gridstack/dist

I see in jquery-ui documentation that in 1.12 they moved the files to a nested ui directory, so the re

[2016-09-05 16:12] fataltrace commented on #524
+

[2016-09-06 00:50] radiolips commented on #524
https://github.com/troolee/gridstack.js/issues/513

[2016-09-06 00:50] #524 closed

[2016-09-06 09:11] Kinnza commented on #524
Thanks!
Found the webpack solution:

    resolve: {
        alias: {
            'jquery-ui': 'jquery-ui/ui'
        }
    },

[2016-09-07 19:27] amberlampsio opened #525 "Speed up Rendering"
I was curious, is it possible to implement something like FastDom  (https://github.com/wilsonpage/fastdom) to increase page rendering.  I'm rendering approximately 300-400 widgets, causing DOM to freeze.

Any solutions to this?

~250 grid items

<img width="1280" alt="screen shot 2016-09-07 at 5 01 58 pm" src="https://cloud.githubusercontent.com/assets/9902982/18328446/d98892a0-751c-11e6-8fa0-55b1

[2016-09-07 21:02] amberlampsio commented on #525
~250 grid items

<img width="1280" alt="screen shot 2016-09-07 at 5 01 58 pm" src="https://cloud.githubusercontent.com/assets/9902982/18328446/d98892a0-751c-11e6-8fa0-55b197b59139.png">

[2016-09-08 16:41] SimonOrdo commented on #404
FYI for people coming in later, I've found that it works a little better if you use round instead of ceil.

[code]

[code]

[2016-09-08 17:11] radiolips commented on #404
@SimonOrdo Could you explain why using `Math.round` would be better? If the content is even one pixel over `x` height, height should be set to `x+1` - thus, `Math.ceil` is the recommended option.

[2016-09-09 08:45] peterkalos commented on #475
@radiolips I still got this problem.

[Imgur](http://i.imgur.com/0ywTXg1.gifv)

[2016-09-09 10:54] webdesignmzm commented on #404
@SimonOrdo
Hi Thanks, would you please care to update the following example from @somchaisomsi  with your code? I can't get it to work!
https://jsfiddle.net/web2fix/3psxL32L/

Would you please send us the updated js fiddle link?

[2016-09-14 15:14] TheCherry commented on #450
`var options = {
      cellHeight: "auto"
    };
    $('.grid-stack').gridstack(options);`
Did try that, but that dont help me. I need as example a widget with 2x2, the rezise can only be 3x3, 4x4, 5x5.
Or a another example: 1x3 > 2x6

[2016-09-14 15:21] TheCherry opened #526 "Get the final resize value"
There are at the moment the event "resize", its give me the width and height in pixel, that's fine.
But the values aren't the "final" values, they say me only the point there the mouse did stop the click, not the true size of the widget.

The "change" event only works for the whole grid, so its give me all widgets. Even in this data, i can't find the final width and height in pixel.

[2016-09-15 15:57] gavJackson opened #527 "Initialising a grid below minWidth disables resize and move"
I found some odd behaviour when i was refreshing my browser and found that when a grid initialises and has less space than the minWidth resize and move gets disabled.

At time of writing (Sep 2016) you can see this happening on the gridstack home page demo grid (https://troolee.github.io/gridstack.js/), just resize your browser to less than 770px wide (i think thats the default minWidth) and then

[2016-09-16 13:24] TheCherry commented on #526
Did try to find a workarround, but the final size isent set with the change event:

[code]

[2016-09-21 06:43] orgilor commented on #525
https://github.com/troolee/gridstack.js/pull/203
you got a fix there that incearse performance. i checked with 210 widgets and it was pretty smooth

[2016-09-22 12:52] shaharkazaz commented on #522
I added scroll support for my project.
check out the script that I wrote : http://codepen.io/shaharkazaz/pen/wzgoBm
I would like to open a PR for that scroll support @troolee if you can help me with that :)

[2016-09-23 21:14] DoctaWorm commented on #527
So the media query breaking point is 768 for mobile view. The grid is disabled on dragging items yes, but once you've resized the window above 768 the grid is active again and you're able to move the objects around.

[2016-09-24 08:07] hipp1010 opened #528 "locked item can be overlayed by an other item"
Hi,

I do a test on float grid demo in firefox. Very nice. I locked an item by editing the html code. Locking an item was ok, but I could drag an drop an other item over the locked one. Is it possible to fix/change that, so a drop would only be aside this locked element?

Thanks

[2016-09-24 08:09] hipp1010 opened #529 "Can't unlock locked item"
Hi,

I do a test on float grid demo in firefox. I locked an item by editing the html code. Locking an item was ok, but removing the unlock attribute frmo code doen't give back the possibility to drag and drop / move this item. It still is locked. Or how is it possible to unlock that item correctly?

Thanks

[2016-09-24 15:56] raja4014 commented on #279
I m getting the error, "TypeError:$(...).gridstack is not a function". It was a dashboard application developed using Gridstack. From many days it was working fine. As part of app maintenance did some changes to fix errors. But the code related to gridstack was not changed. Also, We didn't do any version changes of Jquery. No idea how to handle this error. Any ideas?

Thanks in advance.

[2016-09-25 08:51] orgilor commented on #525
@troolee can you insert the 1 line fix:
`-            nn = {x: 0, y: node.y, width: this.width, height: node.height};
+            nn = {x: node.x, y: node.y, width: node.width, height: node.height};`
?

[2016-09-28 11:04] barryceelen commented on #515
@troolee Setting min-height does seem to make the resizing of elements act weird as @kurigohan mentioned. (As a workaround I’m adding a ‘ghost’ element to the grid if it is empty).

[2016-09-28 12:55] GertVen opened #530 "Selective dragging/Dragging by zones"
A suggestion for a future development. Please note I am using gridstack v0.2.5 so I am not sure if such a feature has been implemented in the newest version.

In my scenario I populate the gridstack widgets with charts generated with the Highcharts API. For convenience the charts allow the user to zoom in on selected areas via a selection box but with the v0.2.5 gridstack implementation zooming in

[2016-09-29 12:16] jayesh14 opened #533 "Convert width 12 to width 100 (.grid-stack-item)"
Can I use .grid-stack-item with 100 Part (current it is 12 part) ? I have tried with it is 100 part. In this case, I can't able to drag and drop.

Can you please provide example for 100 part like (start 1% to 100%) Or Is it possible or not?
Here link https://jsfiddle.net/jayesh14/qv523gkz/20/

[2016-09-29 17:31] nicolasecolman commented on #517
Hello @sumikoabe,  just set this in the options object:

`disableDrag: true,
disableResize: true`

It worked for me

[2016-09-29 17:35] sumikoabe commented on #517
Hi Nicolas,

Thanks!

Sumiko

On Thu, Sep 29, 2016 at 10:31 AM, Nicolas <notifications@github.com> wrote:

[2016-09-30 11:16] dharmeshkotadiya commented on #133
Can you please any one help me on this?
![image](https://cloud.githubusercontent.com/assets/22542405/18990080/4b7a4832-872d-11e6-9b48-18ecd6ced8f4.png)

Thanks in advance!!

[2016-10-03 19:49] troolee commented on #533
Have you tried this https://github.com/troolee/gridstack.js#change-grid-width ?

// feel free to re-open the issue if it won't work for you

[2016-10-03 19:49] #533 closed

[2016-10-03 19:50] troolee commented on #529
You need to use API instead of editing attributes. Please refer to https://github.com/troolee/gridstack.js/tree/master/doc#lockedel-val

[2016-10-03 19:50] #529 closed

[2016-10-03 19:51] troolee commented on #528
Please try to use API instead of editing attributes. https://github.com/troolee/gridstack.js/tree/master/doc#lockedel-val

// feel free to re-open the issue if it won't work

[2016-10-03 19:51] #528 closed

[2016-10-03 19:53] troolee commented on #527
`minWidth` indicates a bound after which gridstack changed to one-column mode (for mobile devices). In this mode drag/drop function is disabled.

[2016-10-03 19:53] #527 closed

[2016-10-04 01:19] cordasfilip commented on #465
100% agree
here is something for twoWay binding ```
ko.bindingHandlers.gridStack = {
    helpers: {
        cloneNodes: function (nodesArray, shouldCleanNodes) {
            for (var i = 0, j = nodesArray.length, newNodesArray = []; i < j; i++) {
                var clonedNode = nodesArray[i].cloneNode(true);
                newNodesArray.push(shouldCleanNodes ? ko.cleanNode(clonedNode) : clonedNo

[2016-10-04 09:51] jishanshaikh commented on #522
i have same issue,  i have many containers in grid so need auto scroll while dragging.
it will be great if gridstack provide that functionality.

[2016-10-04 14:00] Wombelle opened #536 "autoPositioning not working after dragging away a grid"
Hi,

what ist the difference in the code between these two examples? I also want the grids to auto position, for example if the box on the top ist dragged away, the next boxes above will take the place of this box.

autoPositioning working:
https://troolee.github.io/gridstack.js/

autoPositioning not working:
http://troolee.github.io/gridstack.js/demo/float.html

Thanks for your help / ideas!

[2016-10-04 15:18] AntoineEsteve commented on #536
Hello,

The difference is the option `float`:

[2016-10-04 16:09] Wombelle commented on #536
Hello,

thanks for the answer. Concrete in this way:

"enableFloatingWidgets: true"

Is that right?

Thanks for helping me.

[2016-10-04 16:19] jayesh14 commented on #533
http://stackoverflow.com/

[2016-10-05 14:19] kieronsutton00 opened #537 "Gridstack slow to render the grid when loading from cookie OR localStorage"
Hello,
I have created a grid for my webpage. When Gridstack is loaded, it checks if a cookie exists, if it does it loads the JSON data from the cookie and loads the grid based of the data. If the cookie does not exist, it will load the "default layout" of the grid.

This enables me to support the feature of loading saved grids even after the browser/windows has closed.

This is my script so far:

[2016-10-05 15:21] kieronsutton00 commented on #536
No, use:
`Float:`

[2016-10-05 19:08] #536 closed

[2016-10-05 19:15] troolee commented on #525
@orgilor I will check this

[2016-10-06 00:36] 1002915 commented on #108
@paladin0 : Did you find a way to add a delete button? I just created one myself.

I added
`data-bind="click: $root.deleteWidget"`
to a 'close button' that I put in the top right of each widget, and threw this in my code:
`this.deleteWidget = function (item) {
                    self.widgets.remove(item);
                    return false;
                };`

That might be incomplete but you get

[2016-10-10 04:55] doganmeh opened #538 "Save layout data to local storage"
It would be nice if there was an option to have gridstack save grid layout info to the local storage, and restore items size and position upon successive visit to the page. Is this something in line with gridstack's vision?

[2016-10-11 10:25] GeniusWiki commented on #398
I have same issue on this, using 0.26,  init code

[code]

Dnd resize 6 -> 5, but these lines give different results:

console.debug(ui.element[0].attributes.getNamedItem("data-gs-width"));
console.debug(ui.element[0].attributes.getNamedItem("data-gs-width").value);

->
data-gs-width="5" // expected new value
6 // old value

[2016-10-11 20:58] schnaz commented on #398
So do I, the workaround I /was/ using was to get the size of the dashed outline through something like:

`$(ui.element).siblings('.grid-stack-placeholder')[0];`

 but evidently that is not robust, since the outline div looks to be disappearing before my event handler fires.

[2016-10-11 21:08] einarsozols opened #539 "Disable collision and movement directions"
1. Is it possible to disable collision? So if I drag grid-stack-item and it collides with other item don't swap them just don't allow this move.
2. Is it possible to set movement direction? I want to set up directions - some items need to move only vertically, but some only horizontally.

Thanks.

[2016-10-12 09:45] Mijago commented on #539
1. You can try to set every other item to `data-gs-no-move`. This should stop them from moving.

[2016-10-12 09:47] Mijago commented on #519
I also run into this problem.
But got no fix yet, sorry.

[2016-10-12 10:23] einarsozols commented on #539
@Mijago Thanks

[2016-10-12 13:46] Mijago commented on #538
You can achieve this easily with your own code.

A small snippet:
`
        let isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);

        let options    = {
            cellHeight            : 90,
            verticalMargin        : 10,
            horizontalMargin      : 10,
            alwaysShowResizeHandle: isMobile,
            resizable

[2016-10-12 18:49] schnaz commented on #398
Bit more progress. I've been running into this issue when I've had animate turned on in the options. Waiting to run the event handler until after the animation completes seems to be a workaround.

Ex:
[code]

It would be nice though to be able to attach to jQuery UI events in a convenient way.

[2016-10-13 06:57] #538 closed

[2016-10-13 10:59] AGGSYS commented on #414
Hi, same issue, is it already fixed ?

[2016-10-13 14:14] Kamshak commented on #396
Also looking for this, has anyone found a workaround for this?

[2016-10-14 12:10] newlukai opened #540 "WebComponent support - specify where dynamic styles go instead of head"
We try to integrate Gridstack in a WebComponent/Polymer environment which means to embed Gridstack in a custom element. We recognized that the dynamically calculated stylesheets for the height of items is added to the `head` node, so the styles are not available inside the shadow DOM of the custom element.

In order to enable Gridstack for WebComponents it would be great if Gridstack would be awar

[2016-10-17 17:55] wheresjames commented on #250
Thanks to everyone for the tips.  Since I couldn't find a full working solution anywhere, I thought I would provide a link to [this example](http://bl.ocks.org/wheresjames/3689d262f2a0edf98eee0b6ad781e511) that does not involve modifying `gridstack.js`.

[2016-10-18 03:31] GeniusWiki opened #541 "Vue model binding does not work at removeWidget()"
I use Vue and gridstack.   The widgets(i.e, Vue components) rendered by an array from   vue.$data.widgets.  When adding a widget,  I call grid.addWidget() at Vue component mounted event.   It is works.

However, I cannot figure out at good place to call grid.removeWidget().   Basically, if  call vue.$data.widgets.splice(idx,1), vue will automatically reflects to UI -  that gridstack widget is dele

[2016-10-19 06:02] pskumar448 commented on #10
This worked for me to disable resizing & dragging
data-gs-no-resize="true" data-gs-no-move="true"

[2016-10-19 17:27] nelsonad opened #542 "grid doesnt deactivate droppable properly when using acceptWidgets"
I have an issue when adding multiple external items via drag and drop. The first draggable item works well, the grid activates and shows the placeholder and moves existing nodes out of the way.

The problem is with subsequent items, the grid doesn't activate immediately like the first item. It will start working if the new dragged item is moved out and triggers the draggable dropout event.

I trac

[2016-10-19 17:37] nelsonad commented on #413
I was able to get this working by setting some node data in my draggable start event.

[code]

[2016-10-19 17:48] nelsonad commented on #396
Hey all, I ran into this issue too and posted my fix before I saw this issue.

#542

[2016-10-20 13:00] Bhimisetty opened #543 "nested grid not accepting the parent accept type widgets"
Hi,

I just want to work with the nested grids. All the grids including nested should accept the same kind of widgets.
[http://codepen.io/anon/pen/VKVRyw/]
In the above linke, i am expecting both the drop areas should accept the widgets (greyed boxes). But the parent grid only accepting, the nested grid is not accepting.
What needs to be done in order to work with this. Is this achievable?

[2016-10-20 23:05] jorsai opened #544 "Grid full height"
First of all, congratulations for your plugin, is awesome.

Here is the question. Is it possible keep the grid with full height?
It is at the bottom of my page and so difficult to fill or move new elements inside.

(Sorry for my English!)

Thank you!

[2016-10-21 15:49] bluffrockstar commented on #10
@pskumar448's solution worked as it should

[2016-10-24 18:13] csavage1994 commented on #544
You want the grid to be 100% of the screen height? You should be able to do something like this

[code]

Then just add the `.someClass` class to your main grid element. If you want it to always be on the screen, you can add `position: fixed` so scrolling the page doesn't affect the position.

[2016-10-24 18:40] csavage1994 opened #545 "verticalMargin doesn't seem to be working"
I've been trying to get the `verticalMargin` option to work but have had no success. The code I'm currently running is as follows:

HTML:

[code]

And the JS:

[code]

And the result:

![image](https://cloud.githubusercontent.com/assets/10222540/19658858/42c8fff6-99ef-11e6-8f1c-d76ebad8b74b.png)

I've tried passing in integers and strings, neither of which affect the vertical margins of the grid.

[2016-10-25 15:25] csavage1994 commented on #545
A quick workaround for anyone else having this issue:

[code]

You need to leave a little bit of space between each element instead of setting them equal to exactly `100/numOfRows`

[2016-10-27 11:08] gyurisc commented on #544
@csavage1994

First of all, this is an awesome plugin. Thanks for creating it!

I am interested also in making the grid full size and added the extra style you mentioned in your post. However as I start rearranging the widgets and make the grid only one  widget tall the grid itself resizes and becomes one widget tall.

I am not saying that this behaviour is good or bad, but just curios if I can ov

[2016-10-27 15:06] cjpgaspar opened #546 "Problem with resize with two grids"
Hi,
When i am using two grids and want to transfer widgets between them, the new widget gets 2 divs with the classes "ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" and because of that, it cannot be resizable even though the grid is resizable.
I correct this by adding:
if (el.children()[2]) {
     el[0].removeChild(el[0].lastChild);
}

in GridStack.prototype._prepareEle

[2016-10-27 20:17] jorsai commented on #544
Maybe I did not explain well.

My grid has 6 max rows. But when it only has 1 element (for example, at x:0, y:0, width:2, height:2) the grid resizes and shows like a 2 rows grid.

https://gyazo.com/00404c1a0a66410402b615bd5236ab1f

I am asking if is possible keep the grid with the full row height all the time, even if it has no elements.

[2016-10-27 20:25] jorsai commented on #544
@gyurisc , same problem to me. Do what csavage said, and put your grid styles in the container div, not in the grid.

[2016-10-28 15:05] euang commented on #537
The problem is because you aren't converting your JSON string stored in the cookie back to a Javascript object. You need to parse it using this:

`var serialization = JSON.parse(getCookie("th-dashboard-layout"));`

Also when you serialize the layout, the id doesn't get written out as it is referring to an attribute that doesn't exist **'data-custom-id'**, so the type of node is lost when you save

[2016-10-28 20:11] csavage1994 commented on #544
@jailbot's solution works as well, mine will style the grid element to 100% of the containing element, using `vh` will ensure it takes up the full height I believe. Here's a reference to the difference between the two if you're curious! http://stackoverflow.com/questions/27612931/styling-html-and-body-selector-to-height-100-vs-using-100vh

[2016-10-31 13:55] syshen opened #547 "TypeError: $(...).gridstack is not a function"
Try to use gridstack in a Vue project. I am using NPM to install gridstack.

gridstack: 0.2.6
JQuery: 3.1.1
JQuery ui: 1.12.1

But keep getting this error: "TypeError: $(...).gridstack is not a function"

[2016-11-01 17:14] radiolips commented on #547
@syshen Make sure to load in jQuery before loading in gridstack. Let me know if that helps.

[2016-11-01 17:19] radiolips commented on #545
Hi, @csavage1994 ! Why does modifying the width impact the vertical margin? The `verticalMargin` option should properly set the vertical margin. If you're having a problem, maybe you could spin up a quick little jsfiddle for us to take a look at?

[2016-11-01 17:28] radiolips commented on #544
@jorsai It sounds like you were successful in incorporating @csavage1994 's recommendation. I'm closing this ticket, but if you're still experiencing issue, please feel free to reopen.

[2016-11-01 17:28] #544 closed

[2016-11-01 18:09] radiolips commented on #530
@GertVen  Thanks for reaching out! This functionality already exists in `v0.2.5`. Have you tried passing in the option `handle` when initializing your gridstack? It ends up getting passed to `draggable` already. I'm closing this, as I personally use this feature, but please reopen if you're still having issue!

[2016-11-01 18:09] #530 closed

[2016-11-01 18:13] radiolips commented on #537
Thanks, @euang . What you're suggesting should work. Were you able to have any success, @kieronsutton00 ?

[2016-11-01 18:16] radiolips commented on #539
@einarsozols Unfortunately, 2 isn't possible right now. However, one way of achieving this would be to set certain widgets to `data-gs-no-move` on dragstart. For example, if you are moving a widget that should only move horizontally, set every widget above/below the selected widget to not move.

[2016-11-01 18:21] radiolips commented on #541
If I'm understanding you correctly, you may want to try using a parameter when calling `removeWidget`.

https://github.com/troolee/gridstack.js/tree/master/doc#removewidgetel-detachnode

Try passing in `false` as the second parameter so that the node is not detached.

[2016-11-02 14:50] AurelDragut opened #548 "widget transfer from one grid to another"
I am trying to create a page with two grids:
- the left grid is the destination,
- the right grid is the source grid

i didn't get how to move the widget in the left grid entirely (i added a 'src' attribute that contains an image path, but the widget added to the left is missing it). is there anything i did wrong or not at all? thank you!

also if the clone issue is not yet fixed, is there any way

[2016-11-03 06:32] wushuang5112 opened #549 "Can you provide a API for serialization and serialization of the nested layout?"
When I use gridster.js, I am ready to serialize the nested layout, but this attempt I got a dimension of an array of objects, I use the two layer layout, the result should be two layers of data.
When I am ready to turn the above one-dimensional data into the layout of the layout, the difference between the page and the beginning of a great difference, but he also modified some of the parameters.

[2016-11-03 06:33] wushuang5112 commented on #549
如果有解决办法，请发送邮件到 xsx900101@gmail.com，谢谢！

[2016-11-03 14:43] sthuck opened #550 "removing an element by dragging does not trigger the 'removed' event"
Hi,

Not sure if this is a bug or intended behaviour, but dragging an element outside the grid to delete it using the 'removable: true' option, does not trigger 'removed' event.
Relevant code seems to be [here](https://github.com/troolee/gridstack.js/blob/master/src/gridstack.js#L1156).

If this is intended behaviour my two cents are that it should trigger an event :)

[2016-11-04 12:15] AurelDragut commented on #396
Guys, what do you think about reloading the source grid's content on drag start?

[2016-11-06 22:51] cblokker opened #552 "Creating a fixed width grid based on pixels instead of percentage."
I'm trying to create a fixed cell width and height independent of window size. I'd like to create a 20px by 20px grid where each widget can fluidly move up and down in 20px increments. I'm able to get the height fixed by passing `cellHeight: 20`, but width doesn't seem to work very well. This is what I'm passing into options:

[code]

I tried `cellWidth: 20`, but that didn't seem to work. I also m

[2016-11-07 10:15] mspruthv commented on #399
@jm06487 : Can you please post the solution for this issue ?

[2016-11-07 13:42] milladekilla commented on #414
Had a same issue, not sure if able in ur case, but if you wont init gridstack on the original it shouldnt delete the original node. It uses draggable, so just init this on original and pass the item class to the second grid you want to drag to. I think this feature is designed to move between gridstack instances, so make sense to remove the item from the original grid.

[2016-11-08 07:38] helloli commented on #414
Same problem. Hope to be solved.

[2016-11-08 21:55] djmtype opened #553 "Uncaught ReferenceError: _ is not defined(…)"
Receiving this error:
`Uncaught ReferenceError: _ is not defined(…)`

Line 16:
`factory(jQuery, _);`

[2016-11-09 22:48] PnkPriinx opened #554 "Unable to disable resizing for an element"
Hi,

I'm trying to disable the resizing function for an element in the grid with the data-gs-no-resize option but the same behavior is applied for all grid elements.

There is any way to apply this only for an element?

[2016-11-10 15:58] frittie opened #555 "Responsive grid"
Hi,
I've built a grid using a 6-column-width. But when i scale the window, the small grid-items (data-gs-width="1") becomes very tiny. I have inserted a min-width on the grid-items-div, but if the grid is filled to a maximum, the divs to the right is hidden. Any ideas for a solution?

[2016-11-10 22:08] abhinavsayan opened #556 "Unable to get reference to Widget added by dragging"
The added(event, items) event is not raised when a widget is added by dragging. How can I get a reference to the widget that was added by dragging from outside grid stack.

[2016-11-11 09:14] nsatishnaidu opened #557 "Dynamic widget add styling not working - Angular 2"
We are using gridstack in an Angular 2 project by wrapping it inside of a component.

The component is a board that contains various other child components that can be dragged around. For e.g. a Sticky note (custom component) or a note editor (custom component wrapping a froala editor).

Here is our Board.component.ts and Board.component.html

[Board.component.ts.txt](https://github.com/troolee/gr

[2016-11-14 09:04] matoxxx commented on #519
I'm stuck too.
Is somebody working on it?

[2016-11-14 09:14] kasikn77 commented on #135
Hey, i use sass example from that link, but when I use 20 cols, there is problem with dragging. When you hold item, its farer thanit should be. Sorry for my english :)

[2016-11-14 10:23] GertVen opened #558 "Resizing height"
No idea if this has been asked before but couldn't find anything, so here goes!

Is it possible to change the amount of pixels each gridstack item height can resize with? For example, I have an item with a height of 350px, but when I resize it downwards the next height I get is 440px where I would like to resize my widget to be something like 380px. I have changed the jQuery resizing grid to be 20

[2016-11-14 10:45] Mijago commented on #553
I guess you forgot to load `lodash`.

[2016-11-14 11:07] GertVen commented on #558
Nevermind, my cellheight was set to 80. All fixed now!

[2016-11-14 11:07] #558 closed

[2016-11-14 13:41] djmtype commented on #553
I did

[2016-11-14 13:41] #553 closed

[2016-11-15 10:15] zmiemie opened #559 "Removed Widget (NOT detached) appear if window width less then 768"
I have tried to remove a widget without detach it from dom, so that I can added it back later. It works fine in normal solution until I resize the browser of which the width is less than 768. This moment the "hidden" widget appear again.
Guess the root cause is that when the width is larger than 768, the position of .grid-stack-item is 'absolute' so that everything works fine. But the position bec

[2016-11-15 13:28] ronvanpol commented on #544
I too am facing the same problem. Because I am using nested grids, the solution of using a container with 100% height doesnt work. Would it be possible to add an option to indicate that the height of the grid should not be updated, so basically making the calls to "GridStack.prototype._updateContainerHeight" optional?

[2016-11-15 17:08] ronvanpol commented on #133
Could you possibly support drag and drop WITHOUT removing the dragged element from its original parent? In my case I want to have a sidebar that contains element that have to be cloned when dragged onto a grid. Looking at the code, the draggable is simply removed after a clone is made:

var el = $(ui.draggable).clone(false);
el.data('_gridstack_node', node);
$(ui.draggable).remove();

The call to

[2016-11-17 08:28] iinnaann opened #560 "Clone grid-stack-item from Grid1 to Grid2"
It's possible to clone a item from grid2 to grid1 ?

[2016-11-17 08:35] devangptechuz opened #561 "Is it work for angular 1 and alsod define step to configure using ES6"
Is it work for angular 1 and alsod define step to configure using ES6

[2016-11-18 11:14] Mijago commented on #560
I think so - you just have to write a bit code.
You need to create a new widget in grid1 (with same width and height) and clone the content of the widget in grid2.

To clone the content you can use jQuery clone https://api.jquery.com/clone/.

[2016-11-19 02:04] SkoZombie commented on #547
@syshen I got this when I didn't reference lodash directly. Try adding:

`    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>`

In your headers before gridstack.js and see if that fixes your issue

[2016-11-19 06:39] SkoZombie commented on #557
I found I had to force it and I had to put an extra div around items when creating them:

[code]

[2016-11-19 07:20] nsatishnaidu commented on #557
Adding a simple element works. The trouble we are facing is adding an angular component/template. Adding it this way just renders the HTML literal and does not compile it in any way.

[2016-11-24 18:43] #560 closed

[2016-11-24 18:44] iinnaann opened #562 "minWidth-minHeight for items"
It's possible to set for all items a minWidth?

In the documentation there is a option => minWidth but this is not working?

[2016-11-25 11:11] sdesclaux opened #563 "Detect oneColumnMode"
On a window resize event, i want to resize my gridstack (cellHeight and vertical margin), it's working fine but in order to detect the oneColumnMode, i need to use a private function : _isOneColumnMode(). Is there a better way ti check the oneColumnMode ?

Here is my code (1080, 50 and 20 are parameters that I fixed) :

    `$(window).on('resize', function () {
            resizeGridStack();

[2016-11-25 14:40] AurelDragut commented on #562
where did you set that minWidth?

[2016-11-26 09:43] iinnaann commented on #562
@AurelDragut
$scope.options = {
        cellHeight: 5,
        acceptWidgets: '.grid-stack-item',
        disableResize: false,
        float: true,
        animate: true,
       minWidth: 5    => I tried here also in 300(px)
    };

[2016-11-26 09:51] AurelDragut commented on #562
that minWidth has nothing to do with what you want
[code]
the minwidth that you specify in the widget definition is about the minimum number of columns that it gets on

[2016-11-26 09:54] iinnaann commented on #562
Okay I understand now. Is there an option/setting for the items?
I want a min Width and also min Height for the Items (during resize)

[2016-11-26 10:02] AurelDragut commented on #562
you can set min/max width/height in the addWidget parameters, or in the array of predefined widgets

[2016-11-28 20:49] rmwever commented on #192
The answer posted worked for me.

I'm curious, is this a problem that a custom binding would be able to fix? I'm confused as to why Knockout wouldn't list this as a limitation on their [website](http://knockoutjs.com/documentation/attr-binding.html).

[2016-12-01 10:15] caracal7 opened #564 "Bug in "Two grids demo""
1. Delete all widgets beside one
2. Set it to minimal size
3. Try to increase size of widget

Result: Size calculated not correctly.

The same problem in all other demos when you set widgets to minimal size and try to increase size.

[2016-12-04 05:45] ambienthack commented on #546
I suggest adding
`$(ui.draggable).resizable('destroy');`
before
`var el = $(ui.draggable).clone(false);` in gridstack.js

like this

[code]

[2016-12-06 01:18] phpip commented on #414
This demo file  : demo/two.html

use :  helper: "clone",
bug,it is not work

[2016-12-06 17:49] aasimmomin opened #565 "Last widget added at 0th index"
I've noticed that the nodes array always has the last entry added at the 0th index.
i've put together a small plunkr which illustrates this.
https://plnkr.co/edit/JZ2eGM?p=preview

[2016-12-07 08:55] pilisir opened #566 "Drop position(placeholder) is wrong"
Hi,
I try to drag item as a helper in a contain with "margin-left", then the drop position(placeholder) will get in wrong place.

https://jsfiddle.net/qexsp0km/

If you remove those codes about helper of draggable OR css of margin-left, everytihng is fine.
It looks like the drop position is also effected by margin-left.

Could anyone please provide some solution or workaround, thank you.

[2016-12-08 15:26] puresick commented on #149
If you want to use the snippet above watch out for the property naming. I got it working in v0.2.6 after replacing the above snippet with the code in gridstack and adjusting the property name from GridStackEngine.prototype._fix_collisions to GridStackEngine.prototype._fixCollisions (like the default function is called in gridstack).

[2016-12-09 00:51] jasonjianfr commented on #566
I found a workaroundhere, just write the the helper html codes and appen it beside the gridstack contain codes in helper function, the drop position would be fine.

[2016-12-09 12:02] mbajur opened #567 "addWidget not working as expected with dynamic elements"
I'm still not sure if i need to post it here or on vue forums so i decided to post it in both places,

Basically, i'm trying to add a Vue.js component as a gridstack item (using vue custom component syntax). For some reason, the element i'm adding can't be resized nor dragged.

Here is a working demo of this: http://codepen.io/anon/pen/QGxeJB?editors=1010

Please notice that vue elements created b

[2016-12-09 16:26] Julienng commented on #567
You have to notify gridstack that you add by hand a new item. See [makeWidget](https://github.com/troolee/gridstack.js/tree/master/doc#makewidgetel) in the doc

[2016-12-09 18:30] edlisten opened #568 "Layout Designer Example/Demo"
Here is a demo/example Gridstack I created, and now sharing (feel free to add it to the demo list).   This one adds custom id's to each block, knockout, and a save button.

Thank you to the creators of gridstack.js.  It is going to be a big help in my next Google add-on project.

http://coyoteds.edlisten.com/GridstackLayoutExample.html

-Bj

[2016-12-09 20:40] mexindian commented on #568
This is exactly what I want. However, I want to use your page to kind of brainstorm a layout and then I would like to output the arrangement to an html page with all the bindings to bootstrap, js, etc... but NOT to the gridster... ie, I just want to use the interactivity to create a blank html page with everything ready-to-go. Would it be easy to manipulate your script to allow for that?

[2016-12-09 20:52] edlisten commented on #568
I am building a Google Add-on that will do just that.   Basically I am trying to design a digital signage solution that can be deployed using Google Sign Builder.   The above template was my first step.   Once I am finished I will try and remember to post a link here so that others can see Gridstack being used.

The solution that I think will work, is to First use the layout example to create a la

[2016-12-09 23:14] KeithScheiwiller commented on #556
@abhinavsayan I hit the issue as well, but in case you haven't figured it out the `change` event still seems to pick up such widgets.

[2016-12-10 20:03] nickschot opened #569 "Revert animation not working horizontally for left-edge items"
When dragging an item next to the left edge of the grid (i.e. the top left one on the demo page), the horizontal revert animation doesn't work. It does work for all other items not touching the left border.

[2016-12-12 13:22] mexindian commented on #568
hrm. Sounds like that would work, but will you be exposing the html, with all the JS and css embedded? Or how do you expect to produce this?

[2016-12-12 14:18] martinduparc commented on #115
FYI - Link is now https://github.com/troolee/gridstack.js/tree/master/doc#item-attributes

[2016-12-12 19:19] edlisten commented on #568
I was able to get a working proof of concept as a add-on.  It is not polished, or documented at all, but it is code that works.

https://script.google.com/d/1GPyKG2TSTGEz-8LdNYePVVOY_j9CGx38IVVtDBUDyca2kDYkgn1X1vb2/edit?usp=sharing

[2016-12-12 20:15] mexindian commented on #568
how would I install it?

[2016-12-12 20:42] edlisten commented on #568
Not yet ready for that.  When. It is done it will be an add on that you
install from a Google sheet.

On Dec 12, 2016 3:15 PM, "Amit" <notifications@github.com> wrote:

[2016-12-12 21:41] tm1000 opened #570 "Is lodash REALLY needed anymore?"
Do you think lodash is really needed for this library anymore?

Take a peek at https://www.reindex.io/blog/you-might-not-need-underscore/

[2016-12-12 21:48] radiolips commented on #570
We're getting rid of all dependencies at the same time - not just lodash :)

On Mon, Dec 12, 2016, 4:41 PM Andrew Nagy <notifications@github.com> wrote:

[2016-12-12 21:49] tm1000 commented on #570
Nice! I wasn't sure as it appears lodash is still required in 3.0-dev but if you are working through the dependencies then it makes sense.

[2016-12-13 11:26] mexindian commented on #568
I'll look forward

[2016-12-14 20:49] wolfgangj commented on #519
I also have this problem.

[2016-12-14 21:38] DevStrefa commented on #519
I thought that is intended behavior but since this issue is here, I also find this strange to work in this way.

[2016-12-14 23:29] eegzapp opened #571 "jquery-ui widget directory?"
gridstack appears to be looking for jquery-ui to have a 'widget' directory which it doesn't.

I'm getting a number of messages that look like this (using Aurelia):
[code]

jquery-ui heirarchy in the ui folder:
[code]

If I copy all the .js and the widgets directory from the top level of the jquery-ui module into a widget folder, then everything works.

[2016-12-14 23:34] eegzapp commented on #571
Found this after posting: https://github.com/troolee/gridstack.js/issues/513

Will look into how to do this in Aurelia and get back.

[2016-12-14 23:54] eegzapp commented on #571
Was able to make it work by adding the following to aurelia.json (after doing requisite npm installs):

[code]

[2016-12-16 10:09] mbajur commented on #567
Yeah that was it. Thanks!

[2016-12-16 10:09] #567 closed

[2016-12-16 22:15] tarunigattu1992 commented on #137
Hey,

Cant we just do it this way:

               this.grid = $('.grid-stack').data('gridstack');
	      this.add = function(){
	     this.grid.addWidget($('<div><div class="grid-stack-item-content" /><button type="button" class="close" aria-label="Close" id="removewidget" ><span aria-hidden="true">&times;</span></button><div/>'),5,0,2,2);
 $('.close').click(this.removeWid);
}.bind(this);

 this.

[2016-12-18 15:13] JohnnyDeeee commented on #547
I got the exact same error and cant seem to fix it.. I tried @SkoZombie his method but it didnt solve it..

I lost 2 days of work because of this and i really want to get this to work because it looks like a really usefull plugin..

[2016-12-20 13:52] radiolips commented on #571
Thanks, eegzapp! Should help people if they're also using Aurelia. Hopefully we won't have dependencies for much longer :). I'm closing, but feel free to open a new ticket if you're having any issues.

[2016-12-20 13:52] #571 closed

[2016-12-20 13:53] radiolips commented on #570
@tm1000 I'm closing this, but if you'd like to discuss it further, feel free to re-open.
For the record, I fully expect 3.0's release to remove some, if not all, of its dependencies.

[2016-12-20 13:53] #570 closed

[2016-12-20 13:54] radiolips commented on #569
@nickschot What browser are you using? This works fine for me in my personal project and on the gridstack landing page.

[2016-12-20 13:55] radiolips commented on #568
@edlisten What's the status of this? I'd love to hear an update!

[2016-12-20 13:58] radiolips commented on #566
@jasonjianfr When I remove the margin-left, it still appears to be in a strange place. Are you seeing this as well?

[2016-12-20 14:00] radiolips commented on #565
Is this an issue?

[2016-12-20 14:02] radiolips commented on #564
@caracal7 This happens in all demos? I tried making one widget in the float grid demo, and I can't seem to reproduce this issue.

[2016-12-20 14:03] radiolips commented on #562
Thanks, @AurelDragut .

[2016-12-20 14:03] #562 closed

[2016-12-20 14:05] radiolips commented on #563
@sdesclaux That's the best way! Though internal, it's a safe method to call, because it will always return the same boolean solution as gridstack will determine internally.

[2016-12-20 14:05] #563 closed

[2016-12-20 14:06] radiolips commented on #561
@devangptechuz For all angular information, please refer to https://github.com/kdietrich/gridstack-angular

[2016-12-20 14:06] #561 closed

[2016-12-20 14:08] radiolips commented on #559
@zmiemie could you put together an example jsfiddle for this? The detached widget should be handled by your application manually prior to changing sizes, though this still sounds like a bug.

[2016-12-20 14:11] radiolips commented on #557
@nsatishnaidu I really don't know much about angular. You can use the angular version of gridstack, though: https://github.com/kdietrich/gridstack-angular

[2016-12-20 14:11] #557 closed

[2016-12-20 14:14] radiolips commented on #555
Hi, @frittie . Apologies for the delay in response. Could you provide an example jsfiddle to look at?

[2016-12-20 14:18] radiolips commented on #554
@PnkPriinx You can use `grid.resizable(el, false)`. - https://github.com/troolee/gridstack.js/tree/master/doc#resizableel-val

[2016-12-20 14:18] #554 closed

[2016-12-20 14:21] radiolips commented on #550
@sthuck You're right. This will be resolved.

[2016-12-20 14:56] Julienng commented on #557
I think it's a better approach to use `makeWidget` instead of `addWidget`when your ui framework modify the dom:
- add you item with angular (use `data-ws-x` etc for position)
- use `makewidget` of `gridstack` to reference your item into gridstack (you can create a `directive` to handle that)

[2016-12-20 15:05] edlisten commented on #568
I am probably about a month away from something I can post as an alfa
release.   Here is a quick video, without audio, that kind-of shows my
progress.  https://youtu.be/Vf1GKBh_ecw

*Bjorn Behrendt M.Ed ~ Never Stop Learning*
*   bj@edlisten.com <bj@edlisten.com> | **Blog: *Edlisten.com
<http://edlisten.com/>

On Tue, Dec 20, 2016 at 8:55 AM, radiolips <notifications@github.com> wrote:

[2016-12-20 17:49] fabberg opened #572 "What can I do to resize the grid-stack"
I would like to change the position of the `<div class = "grid-stack-item">` in my ready page function. But when I change and the position gets larger than the `<div class = "grid-stack">`, it does not increase the height and item is above the footer. What can I do to resize the `<div class = "grid-stack">` ??? Thank you and im sorry about bad English.

[code]

[code]

[2016-12-21 03:10] wx007 opened #573 "Resizing item height produces item taller than expected on first item added to grid only"
I noticed an anomaly while resizing the first item added to a grid.
You should be able to replicate it by editing the Serialization demo so that the serializedData array contains only the first item.

The anomaly is that when you resize the item’s height the placeholder's vertical position (the gray outline) seems to accumulate some sort of math error. The result is that once you stop resizing at

[2016-12-21 06:18] jasonjianfr commented on #566
I see fine.
I have updated the sample code and adjucted to declare the "margin-left" outter again.

https://jsfiddle.net/qexsp0km/1/

[2016-12-22 07:19] hugo-gil opened #574 "RangeError: Maximum call stack size exceeded"
Hi everyone,

Hope you can help, I'm trying to set dinamically the x and y position of an item using the response from a web service, but for some reason this issue appears;

![error](https://cloud.githubusercontent.com/assets/21045755/21418062/5db07966-c7e4-11e6-8005-d390c1aaf7f8.png)

 I`m using angularjs and I'm setting in the controller the position based on the response from the ws:

`$scope.

[2016-12-22 08:57] timrabbetts opened #575 "Load a grid for already rendered markup"
I have a html page of widgets already loaded, using the correct markup for grid stack.  Works great, resize move etc.  When I use the load grid code it removes all widgets, creates new empty widgets with the corect grid layout.  I want to load a grid that I saved, but for already rendered widgets, is this possible?  Great work by the way!

[2016-12-23 10:54] MrCF commented on #70
I'm trying to do the same but without luck.
I disable the dragging and resizing this way:
`grid = $('.grid-stack').data('gridstack');
grid.disable();`

This works fine as expected, but when I re-enable the grid in the following way:
`grid.enable();`

I can resize widgets but I cannot move them any more.
Any suggestion?

[2016-12-27 01:03] radiolips commented on #575
@timrabbetts Happy to help! Could you provide a `jsfiddle` to help us get a better understanding of what you're trying to accomplish?

[2016-12-27 01:04] radiolips commented on #574
@hugo-gil I don't have much experience with angular, but if you provide a jsfiddle I may be able to help you determine the issue.

[2016-12-27 01:08] radiolips commented on #572
@fabberg How about you update the height of `<div class="grid-stack">` based on its contents after you add all `grid-stack-items`?

[2016-12-27 01:10] radiolips commented on #573
@wx007 Interesting. This is only happening if the `grid` has a single item?

[2016-12-27 01:12] radiolips commented on #573
This doesn't appear to be happening in my personal use of `gridstack`. Could you prepare a jsfiddle for me to see this in action? Thanks!

[2016-12-27 01:14] radiolips commented on #568
I watched the video - very cool. Let me know if there's anything I can do to help.

[2016-12-27 20:40] cheoalfredo opened #576 "Gridstack in a bootstrap modal"
i place a container (.grid-stack) in the modal body (.modal-lg) and when i add the gridstack items to this container, they take the full width of the modal (does not keep the width given to them when added

[2016-12-28 08:05] timrabbetts commented on #575
Sure thing here it is, you can see my original markup which does work.  Then I used the save on change code to generate my saved grid positions.  But using the load grid positions code will wipe out and create new widgets in the correct location which is not what I want.  Ideally I want to be able to iterate over the current widgets and have them positioned as per save data?  Thanks for any help:

[2016-12-30 23:43] qlerebours commented on #575
Hi @timrabbetts ! I had the same issue and i solved it with a simple code change:

SaveGrid function is the same (I'm just saving the grid layout in a cookie)
[code]

LoadGrid function modified:
[code]

Hope it will help !

[2017-01-02 12:45] benjaminrigaud commented on #572
When I play with the height of the gridstack after init, it breaks the drag & drop feature: the positions are wrong / displaced.

[2017-01-03 09:51] timrabbetts commented on #575
Great stuff, hook it up and now its working, thanks for the help, they should put this in the docs as well cool!

[2017-01-03 15:45] timrabbetts commented on #575
This doesnt work, it works to init the grid but on resize the grid breaks, will try out some ideas.

[2017-01-04 04:00] phainv commented on #541
Hi. I also use Vue.js. But i can't import girdstack from node_modules. Can you help me?

[2017-01-04 09:09] karam12 opened #577 "on resizestop - data-gs-height not updated ?"
Hi !

I am not able to get the current height of the element when I'm in the `.on('resizestop')` event.
When I make : `element.getAttribute('data-gs-height');` It gives me always the old value, not the new one.

Here is my code :
[https://jsfiddle.net/Karam/wzzm2oua/6/](https://jsfiddle.net/Karam/wzzm2oua/6/)

Thank you for your help.

[2017-01-04 09:28] VivekMJadhav opened #578 "is it possible to customize the sort functionality as per width value"
I used the sort functionality but it sort/move by width 1, is it customize by any function to change it to as per width value

[2017-01-04 11:23] DennisPallett commented on #577
We are running into the same problems. It seems the "snapping to the grid" action happens after the  resizestop event.

[2017-01-04 13:32] karam12 commented on #577
I found a solution, but I don't like it !

I calculated the height by looking into the source of gridstack.js
[code]

But it could be greate if this probleme could be corrected.

[2017-01-04 16:34] stolenricecakes opened #579 "responsive widget behavior"
I'm looking to add some responsive-ish behavior to widgets in a grid.   For example:  If a widget is resized to a grid width of 6, I'd like an element to be shown in my widget, but if it is resized to a grid width of 3 I'd like that element to be hidden.

Is there anything within gridstack that I can leverage to achieve this when building grid widgets?   Ideally, I'm looking for something like boo

[2017-01-05 15:10] edlisten commented on #568
I have a published an unlisted add-on.  It works, but I still need to build in a method for creating block content.

https://chrome.google.com/webstore/detail/coyote-digital-signage/inidckhjkbepegikejihjpecmdmecgbl

[2017-01-05 17:09] mexindian commented on #568
Why do you need send-email permission?

On 5 January 2017 at 10:10, edlisten <notifications@github.com> wrote:

--
--

~ शांति ~

+233 (0)20 758 4266
Skype: amit.kdr

[2017-01-05 17:11] edlisten commented on #568
It is the feedback form that uses that permission.

On Jan 5, 2017 12:09 PM, "Amit" <notifications@github.com> wrote:

[2017-01-06 20:29] edlisten opened #580 "How can I adjust the padding between gridstack items?"
How can I adjust the padding between gridstack items?

[2017-01-06 20:32] edlisten opened #581 "Can I get more fine tuned with size"
Basically I am wondering if I can have more width blocks to choose from than the twelve?  Also the same for the height too.   For example it looks like each box increments both height and width at about 50px, I would like to change it so that it increments at 10px or so.

[2017-01-07 16:18] napoleaofw commented on #519
that's not happen when you set options like "data-gs-width" and "data-gs-height" (just that, in this case) to the element ".gridstack". But... even with that options, the drag feature seems a little limited... to test this, just populate all the element ".gridstack" with child elements. The objective of that, is occup all the space of the father element ".gridstack". Observe: it's almost impossibl

[2017-01-09 14:09] radiolips commented on #581
@edlisten You can certainly do a different number of columns! https://github.com/troolee/gridstack.js#different-grid-widths

You can also change cellHeight by passing in a parameter when you initialize the grid:

https://github.com/troolee/gridstack.js#basic-usage

Let me know if you have any other issues!

[2017-01-09 14:09] #581 closed

[2017-01-09 14:15] radiolips commented on #580
Do you mean vertical or horizontal? To change vertical, use `verticalMargin`, mentioned here: https://github.com/troolee/gridstack.js/tree/master/doc#options

Changing horizontal is trickier because it depends on the CSS that you generate for the columns ( which is 12 by default to match bootstrap, but you can change it, as I mentioned in #581 )

[2017-01-09 14:25] radiolips commented on #579
@stolenricecakes This feature doesn't exist currently. It's actually tricky because of the different sizes (ie make this six columns if the screen size is small). However, you can write some very simple CSS to accomplish this. `data-gs-width` will be set to 6, so you can set the CSS based on this. Hope this helps!

[2017-01-09 14:25] #579 closed

[2017-01-09 14:26] radiolips commented on #578
@VivekMJadhav What are you trying to accomplish?

[2017-01-09 15:14] radiolips commented on #577
This is updated when `jQueryUI` tells the code the resize is finished - and the animation is even part of jQueryUI. I tried a couple things before to get this to work properly, to no avail. I'll take another look, but if anyone has any ideas, let me know. I've thought about hooking into the animation completion events, but without full information (that is, the animation could change), this is unr

[2017-01-09 15:15] radiolips commented on #576
@cheoalfredo Thanks for the report! Could you include a jsfiddle so that we can take a look?

[2017-01-09 18:37] SpaaJ opened #582 "Issue with draggable item from a sidebar : dont respect the min / max values"
In a sidebar, i've got a grid-stack-item, wich contains all data-gs properties:

[code]

I add a draggable event on this item :

[code]

All item wich are added to my gridstack dont respect the min / max values :

[code]

and the function "GridStack.prototype.addWidget" is never called !

Screenshot : https://1drv.ms/i/s!Aun0gaISIaIBnOpB0aLj_q7YRnbECw

If i add myself the widget :

[code]
This new

[2017-01-09 18:44] SpaaJ commented on #582
If i add myself the widget :

[code]

This new widget's comportement is OK, it respect the min/max values ... but i've got the two widgets :(

[2017-01-09 19:00] jorsai commented on #550
Sorry I'm relative new at GitHub.
How can we know if this bug is fixed?

[2017-01-10 08:23] karam12 commented on #577
Can't you create another event that is triggered after you change the elements sizes ? (like the 'change' event, one for resize and another one for move)

[2017-01-10 14:32] serkanr opened #583 "Change grid width problem"
First I apologize for my bad english,

I am trying to change the size of the grids, but when I make 100 instead of 12 , the shifts become corrupted how can I fix it?

I get wrong results when I increase the width or move it to the left or right

[2017-01-10 19:32] gokhancs opened #584 "Width cannot exceed 12 columns"
Hi,

I would like to use gridstack on my high-resolution large display system. The display of my workspace consists of ~16K pixels horizontally. It is a display wall of around 8 meters wide. Therefore I need many columns for my use case. When I change the width property, it is fine until 12 columns, but it is not still not sufficient. When I exceed 12, there are problems in the layout, and it does

[2017-01-10 23:52] vishakaw1 opened #585 "Iframe in widget relloads when resizing the window"
Hi,
  I have include a iframe into a widget and when I resize the window, iframe get reloads (when grid goes to one-column-mode). Looks like it is a gridstack.js bug.
Following shows the working example.
https://jsfiddle.net/j5m811zx/2/

[2017-01-11 09:04] JustusLauten opened #586 "Widgets with a height larger than 1 do not return to their original position"
When I drag widget A to the position of widget B (height > 1), widget B moves aside as expected. But when I decide to put widget A to a different position (while I am still dragging it), widget B will not return to its original position.

You can find a small example of my problem here: https://justuslauten.github.io/gridstack

Drag one of the grey widgets to the position of the red widget, and ba

[2017-01-11 09:10] VivekMJadhav commented on #578
@radiolips
i split div's in 3 columns
have 1 widget with width 4
but while sorting this widget it will move with width 1
i want to it will move with full width 4 only at a time with in the columns only

[2017-01-11 11:54] serkanr commented on #584
var styles = "";
var gridw = 200;
    for(var i = 0; i <= gridw; i++){
        styles += ".grid-stack-item[data-gs-width='"+i+"'] {width: "+((i*100)/gridw)+"%;}" ;
        styles += ".grid-stack-item[data-gs-x='"+i+"'] {left: "+((i*100)/gridw)+"%;}" ;
        styles += ".grid-stack-item.grid-stack-item[data-gs-min-width='"+i+"'] {min-width: "+((i*100)/gridw)+"%;}" ;
        styles += ".grid-stack-

[2017-01-11 15:08] Poohyhu commented on #577
change event on data-gs-height and data-gs-width should be solve the problem, just make sure to call the event only once if both are changed

[2017-01-11 21:22] gokhancs commented on #584
where should we use that code?

On 11 January 2017 at 03:54, serkanr <notifications@github.com> wrote:

[2017-01-12 06:10] serkanr commented on #584
Kardeşim türkmüşsün ya sende :D bana mail adresini yazar mısın ben sorunu biraz çözdüm yardımcı olayım

[2017-01-12 06:11] gokhancs commented on #584
evet haha. cs.gokhancetin@gmail.com

cok tesekkurler simdiden

On 11 January 2017 at 22:10, serkanr <notifications@github.com> wrote:

[2017-01-13 14:49] bravebox commented on #95
Hi, this is how far I got:
http://codepen.io/bravebox/pen/QdEEBd/

Im making a dashboard similar to the example above. I managed to create a nested gridstack with js.

I make custom selectors for all just to try it out. But the nested items are not placed / do not drag/drop correctly. There seems to be a space above the first item which I can't find anywhere...

[2017-01-13 15:20] edlisten opened #588 "How to remove scrollbar"
I tried to make a jFiddle, but I was not able to even get gridstack to create a basic example.

When I add content to one of my blocks, and the content is longer the height, the scrollbar shows up on the side.  I would like to remove this scrollbar.   I have tried, adding css` .grid-stack-item-content{overflow:hidden}` but the scrollbars are still showing up.

[2017-01-16 08:37] TWickert commented on #582
I've got the same issue here. It's quite annoying and makes the drag'n'drop useless :(

[2017-01-16 09:49] papouuu commented on #582
I've got this behavior too :(

[2017-01-17 12:42] nickschot commented on #569
This was in Opera 41. I can test it some more but I think I still have the issue.

[2017-01-17 15:19] lwwells commented on #159
This morning I downloaded the releases zip which includes gridstack 0.2.6.  It appears as though the same issue exists.  I was under the impression that his had been merged in...what am I missing?  Is still in dev only?

[2017-01-17 22:23] hiveww commented on #135
any updates here ?

[2017-01-17 22:26] hiveww commented on #135
@troolee can we reopen this one, as this seems to be still an issue, or can you point how to make more than 12 columns

thanks in advance

[2017-01-18 07:56] Fournux commented on #582
I have just tested and I have encountered the same issue.. is it possible to fix that please ?
Thanks.

[2017-01-18 19:21] edlisten commented on #588
I got it to work by making it important.    {overflow:hidden !important}

[2017-01-19 03:49] minghz commented on #135
@hiveww  I resolved the issue a while back. You need to set your column number in both CSS and JS. Here are a few snippets of what I did

In CSS:

[code]

In JS:
[code]

I hope that makes sense

[2017-01-19 07:49] tanyona opened #589 "Horizontal scrollbar when content is wider than cell width"
A vertical scrollbar is shown when the content is longer than the cell or grid item height. Is it possible to have a horizontal scrollbar in a similar way when the content is wider than the cell or grid item width?

[2017-01-19 08:15] kasikn77 commented on #135
@minghz I also use sass in my project but it doesnt work. The 'shadow' while you dragging tile is above the real place. That doesnt solve problem.

[2017-01-19 09:29] tanyona opened #590 "Possible to not show the diagonal resize handle on hover"
Is it possible not to show the diagonal resize handle on the lower corner(s) of a cell when one hovers over with the mouse.

[2017-01-19 09:45] tanyona opened #591 "Using data-gs-min-width="0" and resizing from left border causes item to move"
If you have an item with **data-gs-min-width="0"** and you resize it by dragging the left border, after it reaches the minimum width (1 column I believe) it starts to move the item towards the right. With the same setting, if you resize by dragging the right border, it stops when it reaches the minimum width and the item doesn't move. If you completely omit this attribute and drag from the left, i

[2017-01-19 12:53] graemechapman opened #592 "Destroying and re-creating a grid does not preserve row placement"
When initialising gridstack from existing items in single column mode, the items are positioned correctly according to their x and y attributes, but the `data-gs-y` attribute is modified (usually resets to 0, but in some instances another random number). Therefore, calling `destroy(false)` and then re-initialising gridstack results in the grid being re-ordered at random. `data-gs-x` is left untouc

[2017-01-19 13:05] graemechapman opened #593 "Resizing window below minWidth doesn't prevent dragging and resizing"
When gridstack is initialised below the minWidth value, the grid items have classes `ui-draggable-disabled ui-resizable-disabled` and cannot be dragged or resized. If the window is resized to above the min width, these classes are removed and the drag and resize functionality is restored.

But, when the window is resized from a larger size to below the minWidth, these classes are not re-applied, a

[2017-01-20 16:16] wx007 commented on #573
Sorry for the delay. Here you go:  https://jsfiddle.net/5ux1y3dr/

This code is taken directly from the GitHub repository (serialization.html demo). The only change I made was to remove all but the first item from the serializedData array.

Note you'll either need a large computer monitor or have to shrink everything in order to fully see what's going on. You'll see the effects as the yellow backg

[2017-01-23 15:47] nickschot commented on #569
Tried some more, issue is present in both the latest Opera and Safari for me (OSX). You can reproduce by dragging the top left item on the gridstack homepage a little bit to the left. When you drop it, it immediately snaps back into it's original position instead of animating. Items which are not along the left edge animate just fine. As said before this is only happening for the horizontal moveme

[2017-01-23 16:35] jpotth opened #594 "v0.3.0"
I'm assuming some of the issues in ^0.2.0 have been fixed in the latest version, specifically dragging and dropping between grids. As of now, 0.3.0 is only in development? When can we expect this to be officially released?

[2017-01-25 16:05] Artgit opened #595 "GridStack javascript component and wrong element moving"
In my AngularJS application I'm using [GridStack][1] component with a single column layout.

Right now I have an issue with a programmatic component moving.

For example I have a list of 5 elements:

    e1
    e2
    e3
    e4
    e5

According to my application logic I have to move e1 to 3(third) place by Y axis. In order to do this I use `GridStack.move` method:

    move(e1, 0, 3)

So far ever

[2017-01-25 19:12] IftachSadeh commented on #540
Hey radiolips,

Can you please say if this is expected to be fixed? Currently use with polymer is simply impossible.
If it's not a priority, is there a recommended workaround in the meantime?

[2017-01-29 01:50] dmitriyzhuk commented on #594
Really looking forward to it. waiting for that "moving between grids" feature)

[2017-01-29 15:09] jeffer8a commented on #524
@Kinnza nice, I was having the same issue.

[2017-01-30 09:51] lauantai opened #596 "Mininum grid height?"
Hi,

I'd like my grid (float: true) to have a minimum height in rows. Is there a way to achieve this? I've of course tried setting min-height via CSS, but the library is setting an explicit height on the element.

TIA!

[2017-01-30 10:15] lauantai commented on #596
Nevermind, I just added an invisible grid item to force the grid height.

[2017-01-30 10:15] #596 closed

[2017-02-01 10:22] Ruud-cb commented on #547
Solution, anyone?

[2017-02-02 11:36] zohokumaresan opened #597 "How to detect whether User resize on widget width or height or cross section."
I have a requirement. Initially, All widgets are set to full height with respect to widget content height.
case 1.
when the user resizes his widget (resizes more height but widget has no content ) is shrinks to default.
case 2.
If the widget has more content but he can wish to shrink height as his desires.
case 3.
if the user resizes width, the content like the chart , table data is aligned with g

[2017-02-03 09:20] kasikn77 commented on #135
Hello there. Problem is also when we set up columns to 12 but height is defined also. My gridstack options:
`var options = {
            width: 12,
            height: 8,
            float: false,
            acceptWidgets: '.grid-stack-item',
            disableResize: true,
            animate: true,
            draggable:{
                enabled: true
            }
        };`

[2017-02-03 19:46] DoctaWorm commented on #251
This should get documented, took me and another developer day or two to figure out how to implement a feature that uses this event. I believe he'll be submitting a pull request sometime today on this.

[2017-02-06 04:46] phainv opened #598 "_jquery2.default)(...).gridstack is not a function"
I'm using Vue.js
I imported libs to my project via `node_modules` standard `ES6`
I noticed just use the following libs. It can operate. however without style
[code]

Then jquery ready. I run

[code]

It not working. I check my console log
I see message

`
Table.vue?67a6:77 Uncaught TypeError: (0 , _jquery2.default)(...).gridstack is not a function
`

# Version Libs
jquery: `2.0.0`
lodash: `4.17.4`

[2017-02-06 13:30] vipulpatil001 commented on #362
Hi All,

I am facing the same issue, I have updated my code accordingly above but it's not working for me, can any one help me to sort out this problem.

Thanks in advance...!!!

[2017-02-06 16:58] davidpoling opened #599 "Setting the vertical margin attribute to a high value causes the grid items to stretch"
On my application, I have a configurable verticalMargin object that allows me to set that object at any point and update the verticalMargin attribute of gridstack. I noticed that if I set the verticalMargin to something like 400px, it stretches all of the grid items vertically, in what seems like its adjusting the height.

I originally thought this was something on my end that I was doing wrong, h

[2017-02-07 21:13] CMLL opened #600 "Firefox missing height and top CSS rules"
Hi, I've been fighting with an issue that seems to only affect Firefox. The CSS rules that governs height and top are not being taken into consideration. I followed execution and they seem to being added correctly to the sheet, I even got the selector being added while debugging the execution

`".grid-stack-instance-8712 .grid-stack-item[data-gs-height="1"]" `

and the value, but once it loads the

[2017-02-08 16:27] CMLL commented on #600
After debugging a bit more found that the issue was that when creating the grid the initStyles is not called if the maxHeight is passed as an argument. If I move the initStyle and updateContainerHeight method outside of the if the height and top values are passed correctly. This doesn't seem to have any negative effect whatsoever at least in my implementation.

[2017-02-14 17:10] DoctaWorm commented on #359
Ugh... I'm on version 0.2.3 and we still haven't upgraded, we're trying to hold out for 0.3.0 but I just came across a bug that can be fixed with one of our features with lodash v4.x but updating that killed the  collision

![image](https://cloud.githubusercontent.com/assets/7025044/22939914/d7b59fa2-f2a5-11e6-9bb8-921572fb9141.png)

So many cards are overlapped, I already have the old version of

[2017-02-16 12:46] kschiffer commented on #304
@KevinSimple Hey, did this PR ever happen? I am interested in this.

[2017-02-18 05:28] nyoung697 opened #604 "gridstack.js swapping my elements around when vue.js removes a node"
Not sure if this is proper etiquette to post in two forums, but I originally posted this question here:
http://stackoverflow.com/questions/42311359/why-is-gridstack-js-swapping-my-elements-around-when-vue-js-removes-a-node

I am trying to setup gridstack.js to work with my vue components as it does in this knockout example: https://github.com/troolee/gridstack.js#use-with-knockoutjs/.

Here is a c

[2017-02-19 10:59] KevinSimple commented on #304
@kschiffer , no, i didn't do a PR, though i hope i could., i was tied to many projects, and moving to Angular 2, front-end world's changing so fast..

[2017-02-21 10:12] #598 closed

[2017-02-23 14:51] aureo91 opened #606 "Grid maximum row & column"
Hello,
I'am trying GridStack for a project, but I didn't find a way to locked the grid with a number of row and column. For exemple, I need a grid with 4 rows and 3 column (so 12 possible items of size 1).
The problem when I moved an  item below the item pos {4,1} (row,col), it creates new line where the item moves...
Thanks for your help,
Aureo.

[2017-02-27 19:36] randellhodges commented on #135
I have the same issue with widths larger than 12. If I use 24 in both the sass and inside the javascript, I have to drag things approximately 50% more to see the dotted outline move to the correct spot.

[2017-02-27 20:18] randellhodges commented on #584
I am having a problem using more than 12 columns. I added my comments to a closed issue. I see this one is open.

I used sass to define 24 columns and I also added 24 as width option inside the javascript. The problem is when I move things around, they resize funny and when I drag them, I have to drag beyond where I want to get it to stick in the correct spot.

[2017-03-01 11:39] serkanr commented on #584
$('.grid-stack').gridstack({
        width: 24,
        height: 10,
        cellHeight: 20
 });

Did you change the width here?

[2017-03-01 12:46] RobertoBiundo opened #607 "On Removed never called"
I have this
[code]

that initialises the grid the way i want it...fine...
I have an div with a class .remove-area
the drag and drop to remove procedure is working, if i drag a widget it gets removed, but...

if i do this (as described in the docs)

[code]

this function never gets called.
Any ideas?

[2017-03-01 21:59] randellhodges commented on #584
I did. I still had issues until I changed the sass.

[2017-03-02 11:40] ancabi opened #608 "Fix Utils.isIntercepted in locked mode moves other elements to fit"
Hi, I use the plugin to develop a front page and I had an issue, while the grid is locked and I put a new element if the last position is blank, the element moves all the others to get into this row

I modified the method to fix that
`var Utils = {
        isIntercepted: function (a, b) {
            if (b.x + b.width > 12) {
                return true;
            }
            return !(a.x + a.

[2017-03-03 15:05] ArtisanTinkerer opened #609 "Reload Gridstack with different widgets."
Hi,

I am trying to reload my Gridstack with a different set of components.

I am using Gridstack to create a dashboard application. I have a navigation sidebar which is used to navigate between the dashboards.

How should I load a new set of widgets (new dashboard)?

Destroy the Gridstack? or remove all the widgets?

I am using Vue.js to load/sync the widgets (via AJAX).

Details are here:

[http

[2017-03-09 08:42] AK1979 opened #610 "Tile stuck after using scroll bar"
Hi

When using a scroll bar in the tile the tile is stuck and dragged across the grid until the left mouse is clicked.
Only happens in IE and maybe related to jquery.

Any ideas ?

Thanks,
Arie.

[2017-03-09 14:08] frankadrian opened #611 "Hook in to droppable options"
Hey, thanks for this great library!

Is it possible to add my own configuration to the droppable plugin? I would like to specify my own callback to the `drop` options for example to handle some transformations to my data model. (Im using Angular) I saw in 3.0 there is a possibility to exchange the dnd library used, does this also provide custom callbacks?

Kind Regards Frank

[2017-03-10 19:44] AK1979 opened #612 "Gridstack with jquery 1.7 - 2"
Hi

I’m using JS frame work (SAPUI5) that works only with jquery 1.7 – 2.0 .
Is it possible to work with gridstack with the above versions ?
Is there any known critical bugs related to the versions using jquery 1.7 – 2 ?

Any alternatives ?

Thanks,
Arie.

[2017-03-10 19:59] radiolips commented on #612
Hey, Arie! There shouldn't be any issue using older jQuery. The primary use of jQuery is to allow for jquery-ui (in addition to some other simple functions). Make sure that you're using a version of jquery-ui that is compatible with your version of jQuery, but otherwise you'll probably be okay. Give it a shot and report back!

[2017-03-10 20:00] radiolips commented on #611
Hey Frank! Are you just looking to pass in certain options, or are you also trying to use a different plugin? There's options for both, but let me know and I will do my best to assist you.

[2017-03-10 20:36] AK1979 commented on #612
Thanks, will check it out.
 Is it OK to use underscore.js instead of lodash.js  ?
Saw it in Stack Overflow but not in the documentation.
Great library!

[2017-03-10 20:38] AK1979 commented on #610
Work around :

$( “.className).hover(
  function() {
gridstack disable !
  }, function() {
Gridstack enable !
  }
);

[2017-03-10 20:48] radiolips commented on #612
Thanks! If memory serves, you can use underscore instead of lodash. We're actually only using lodash for a few things and plan on completely removing the dependency soon.

[2017-03-10 20:57] radiolips commented on #610
You can also make it so that only one section (a header bar, for example) is draggable. However, if you want the entire widget to be draggable, yes, something like what you've provided will help.

[2017-03-13 11:27] frankadrian commented on #611
Hey, im looking to pass in my own callbacks for `over` and `drop`! Really appreciate your help!

[2017-03-13 20:19] OLRG commented on #604
I have the same issue but with angular.

[2017-03-14 13:53] arnonuem opened #613 "0.3.0 Loading problem with Aurelia.io"
When using Gridstack 0.3.0 (**gridstack.all.js**) with Aurelia the following error message occurs:

Example HTML code:

[code]

Example JS code:
[code]

[code]
and

[code]

I have no idea what is going on. But since aurelia is a framework this might be an issue in those two parties playing together.

[2017-03-16 07:35] mann8352 opened #614 "Gridstack with knockout.js"
Hi, Inside a gridstack widget, I want to add a div element using knockout.js. I have to use this div element to render a google chart and therefore the div element should have an id. I looked at the example but I am unable to use a div element in the template of the container. Also, I have to get the id of the div element so that I can render the chart. I tried to include a div element in the temp

[2017-03-16 13:12] alissondiel opened #615 "Updates"
It's GridStack receiving updates? the version 0.3.0 releases 6 months ago

[2017-03-16 16:52] AK1979 commented on #54
Hi
I'm trying to add animation when the widget is closed but the 'removed' event is fired after the widget is not on the DOM.

Can you please attach working example of the removed animation ?

Regards,
Arie.

[2017-03-17 06:07] Sreelakshmigc opened #616 "gridstack horizontal spacing between dynamically loaded pivotwidgets is too high"
I am using pivottable interface to plot the widgets and have used gridstack to place them in grids. I am using grid-stack-item, ui-draggable, ui-resizable classes. When I try to resize the widget, the horizontal spacing between the widget is very large :

![gridstackexample](https://cloud.githubusercontent.com/assets/6168602/24030986/e928d722-0b05-11e7-8137-a8c3deef6457.png)

but I see that data-g

[2017-03-17 09:29] kingsgobi opened #617 "resize is not working"
Two grids demo(your demo) droped element resize is not working how to trigger that?

[2017-03-17 09:47] #617 closed

[2017-03-20 09:31] nerdess commented on #524
@Kinnza i've added your snippet to node_modules/react-gridstack/webpack.config.js but it does not fix the same issue i have. is this the wrong place?

[2017-03-20 10:13] nerdess opened #618 "Uncaught TypeError: (0 , _jquery2.default)(...).gridstack is not a function"
trying to get gridstack to work with the "official" react boilerplate [create-react-app](https://github.com/facebookincubator/create-react-app) but are failing:

<img width="638" alt="bildschirmfoto 2017-03-20 um 11 12 07" src="https://cloud.githubusercontent.com/assets/711925/24095592/2d489d20-0d5e-11e7-8ae9-139f97fe327c.png">

any hints welcome!

[2017-03-20 12:15] nerdess commented on #279
@icdindia i have the same issue, added  "jquery": "1.11.1" as a dependency in package.json and ran npm install again but the error persists...

[2017-03-20 12:27] nerdess commented on #618
did a bit more investigation, this line is failing inside react-gridstack/lib/grid-stack.js:

` _jquery2 = _interopRequireDefault(_jquery);`

it sets _jquery2 to be an empty object so then of course the initialisation of gridstack is not working...

[2017-03-21 08:40] FabiGjuzi opened #619 "alwaysShowResizeHandle problem"
Using alwaysShowResizeHandle is not working in touch devices.
Also even the value is true after the resize icon will not appear.

[2017-03-21 10:26] JorgenSolli commented on #609
Might not be the best solution, but what I did was iterating through all the gridstack elements, putting the values in an array, and then storing this in my DB for safe keeping :)

`
var layout = {
	x: 0,
	y: 0,
	width: 5,
	height: 5
};
$('.grid-stack').children('.grid-stack-item').each(function (key, value) {
    if (layout[key]) {
        $(this)
    	    .attr('data-gs-x', layout[key].x)

[2017-03-21 13:13] sambegin commented on #524
@nerdess

It's not in react-gridstack's webpack.config.js you need to add this config but in your own webpack.config.js file.

Example, we're taking gridstacks AND jquery-ui from node_modules.

So in our webpack.config.js file we have :

[code]

Then "import "gridstack/dist/gridstack";" (from node_module) should find jquery-ui.

Note: we're using webpack v.2

[2017-03-22 10:50] jgrenat commented on #615
Wondering the same here, is this project still maintained?

[2017-03-22 15:37] MysticSmeg commented on #577
Hey people,
😃

Does anyone know if there is a fix, work-around or anything planned to resolve this issue please?

I'm working on a ASP.NET (Core) MVC dashboard project, calling C# controller code to write "x,y" (dragstop) & "width,height" (resizestop) settings back to an SQL table to persist the dashboard state. The code works fine, but the values returned to the methods are not updated until afte

[2017-03-22 16:26] ZoolWay commented on #615
0.3.0? Latest according to NPM or GitHub releases is 0.2.6 I think.

[2017-03-22 16:27] Poohyhu commented on #577
Hi, you can calculate the grid item size from css height/width.

[2017-03-22 16:30] radiolips commented on #615
Hey all! Good questions here.

We have definitely faltered in our support for gridstack. @troolee and I plan to speak soon about the future of gridstack. We will keep everyone informed!

Stay tuned.

[2017-03-22 16:31] MysticSmeg commented on #577
Hey Trooper,

Thanks for getting back to me. I guessed there might be a way.

Do you have any examples that might point me in the right direction? - "A
Google link speaks a thousand words"

Thanks
:D

On 22 Mar 2017 16:27, "Poohyhu" <notifications@github.com> wrote:

[2017-03-22 16:36] MysticSmeg commented on #577
Hey Poohyhu

Apologies about "Trooper". It's what my phones auto-correct made of your
username.

I meant to ask, can you get the x and y from css? I'm guessing not...

Thanks again

On 22 Mar 2017 16:31, "Steve Williams" <mystic.smeg70@gmail.com> wrote:

[2017-03-22 18:08] alissondiel commented on #615
Thank you very much for giving us an answer!
We are all waiting for new news,
This plugin is very useful for various web applications.

[2017-03-23 02:44] #588 closed

[2017-03-23 02:45] troolee commented on #589
The issue is not related to the gridstack.

But you can try to play with `overflow` and `white-space` css properties

[2017-03-23 02:45] #589 closed

[2017-03-23 02:46] #615 closed

[2017-03-23 02:46] #612 closed

[2017-03-23 02:48] troolee commented on #606
Please check docs. You can setup grid with and height https://github.com/troolee/gridstack.js/tree/master/doc#options

[2017-03-23 02:48] #606 closed

[2017-03-23 02:50] troolee commented on #609
Please check this example http://troolee.github.io/gridstack.js/demo/serialization.html

[2017-03-23 02:50] #609 closed

[2017-03-23 02:53] troolee commented on #583
How are you trying to do this? Have you checked this https://github.com/troolee/gridstack.js#change-grid-width ?

Please feel free to re-open the ticket if the issue is still exist.

[2017-03-23 02:53] #583 closed

[2017-03-23 02:54] troolee commented on #584
Yes, you need to generate a css for non-12-columns grids

Please check this https://github.com/troolee/gridstack.js#change-grid-width

[2017-03-23 02:54] #584 closed

[2017-03-23 07:02] kvkv opened #620 "calculate height of the div when resize in gridstack"
I am using gridstack to display different type of data. I display heading and content on one gridstack item. gridstack items are resizable, when we resize the gridstack items height and width both resizable. I need the content to display at verticle middle of the content div. I used display:table,verticle align : middle, display : table-cell properties. It is working fine when we give the height t

[2017-03-23 08:45] ArtisanTinkerer commented on #609
Updated my original post, so that the link works. You can see the detail in there.

Looks like you do it like this;

[code]

I will try doing it like that.

Mick

[2017-03-23 11:15] Poohyhu commented on #577
Hi,
You can try jQuery css() function to get the '.grid-stack-item-content' width and height.
when you create the grid you can specify the cellheight (height of a row), so have the height divider
cellHeight.
to calculate the cols with is a bit harder, you need the grid container width (in pixels) and you have to divide by grid cols first ....
anyway see below

var gridOptions =
{
  cellHeight: 32,

[2017-03-23 12:38] MysticSmeg commented on #577
Hey, thanks for the example Poohyhu.
😃

I understand what you mean now, and I've implemented something similar.

Unfortunately, the height calculation needs some work (_will post if I get it working_) as the value is out (_bit high_) and this work-around doesn't address the x,y issue; it's a pretty cool package otherwise 👍.

I'm hoping you manage to resolve this in a future release of GridStack?

[2017-03-23 14:24] Poohyhu commented on #577
Hi,

not so nice, but workable solution for dragstop and resizestop
  o = event.target;
  setTimeout(function(){
      x = $(o).attr('data-gs-x');
   }, 50);

you can get any live data, just wait for a few millisecond :smiley:
(of course you have to put the code in the right event handler, and with the right attribute)

otherwise, for x and y you can use the jQuery offset().top and offset().left t

[2017-03-23 15:12] MysticSmeg commented on #577
You're pretty awesome! Nice work, thanks 😄

**The complete work-around (which works for now) is below (for others):**
[code]

**...and example of called function code, which hooks into ASP.NET / MVC / C# code (located in site.js):**
[code]

[2017-03-23 15:21] randellhodges commented on #552
@cblokker Did you ever figure out how to do this? I am also looking at how to implement widths based on pixels and not percentages. My won't even snap to the correct places. It seems to be off by a large margin.

[2017-03-23 15:32] Poohyhu commented on #577
welcome,

but you don't need the children thing. the event.target is the selected object
so the $(element).attr() should be enough

regards

[2017-03-23 16:01] MysticSmeg commented on #577
I'm rendering charts (_using high-charts_) into affected `<divs>`, and since the data for the charts is coming from a database table (_as merged script_), I need to look up specific data each time the user interacts with a specific `<div>`. The _id_ comes from the primary key in the table, and is written into the _id_ of the `<div>` containing the chart during `this.loadGrid()`. The chart `<div>`i

[2017-03-23 18:03] randellhodges commented on #552
This is the function that is causing me grief:

[code]

In the case of a pixel based width, along with a css that defines the columns in pixels, I need this function to return *only* this.opts.width.

I think we would either need some smarts in gridstack to determine what model it was in (% or px) or have a configuration option to tell it what mode.

[2017-03-28 06:16] jarnielcataluna opened #621 "Multiple Grid intermittently overlap to each other"
Hello,

When i drag the item from another column it works fine but when i need to return or drag again to another column overlap coming in. please see the attached file

       var options = {
            width: 1,
            float: false,
            cellHeight: 120,
            verticalMargin: 10,
            animate : true,
            removeTimeout : 500,
            detachGrid : false,

[2017-03-28 13:07] kyleroberthammond commented on #607
Same problem here.

[2017-03-28 13:57] kyleroberthammond commented on #607
You can bind a jquery remove event on the child elements.

e.g $(".grid-stack-item").on("remove",function(){
 console.log(this)
})

something like that should do the trick. If you are reference it a object just assign a id on each element. Which you can do with the addWidget function (last param).

[2017-03-28 16:25] GeraintEdwards commented on #547
After some investigation is appears that version 0.3.0 of GridStack is not compatible with lodash 4.0+ .

Using version 3 (up to 3.10.1 is ok) e.g. ` <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>`

Versions 4.0.0 onwards right up to 4.17.4 throws this error.  In my case I get

`TypeError: this.grid is undefined`

[2017-03-29 09:14] MarkoIvanetic commented on #607
I did a nasty workaround, tweaked onEndMoving() in the gridstack.js
[code]
and then
[code]
That way it work on dynamic widgets

[2017-03-30 08:50] RodgerLai commented on #550
@jorsai you will know the bug fixed when the issue is closed

[2017-03-30 08:57] frankadrian commented on #219
Hey @radiolips, This does not seem to work for items that are being dragged from another grid. I will try create a example for this!

[2017-03-30 09:00] frankadrian commented on #219
The behaviour can be seen here: http://troolee.github.io/gridstack.js/demo/two.html

Try dragging an item from one grid below an item in the other grid!

[2017-03-30 09:09] RodgerLai commented on #607
@MarkoIvanetic It's working,thank you ~~~~,so that i can get the data-gs-id and do my operating

[2017-03-30 10:34] RobertoBiundo commented on #607
@MarkoIvanetic Nice solution, i allowed me to find the problem.
.remove() in jquery doesn't trigger the .on("remove") event. you have to explicitly call .trigger('remove')

You don't need to create a new trigger. you just need to use the existing one like this.

`if (node._isAboutToRemove) {
                forceNotify = true;
                el.removeData('_gridstack_node');
                el.tr

[2017-03-30 10:58] RodgerLai commented on #607
@RobertoBiundo good job man. without creating new trigger.

[2017-03-30 12:42] MarkoIvanetic commented on #607
Still now that it's modified i cant use it with bower.

[2017-03-31 11:55] kyleroberthammond commented on #607
Thanks this is a better solution :).

[2017-04-03 15:45] RobertoBiundo commented on #607
Just to let you guys know that i already created a pull request and hopefully this will be included soon and @MarkoIvanetic can start using it with bower.
https://github.com/troolee/gridstack.js/pull/622

[2017-04-04 22:41] toddler4372 commented on #10
Does anyone know how to disable resize when you're serializing your grid?

My grid blocks look like this:
`
{x: 3, y: 8, width: 3, height: 4, content: '<div class="grid-stack-item-content"><div class="gridster-box p-m"><div class="gridster-title no-padding"><h4>Payment Adjustment</h4><p class="m-b-0">by Melinda</p></div><a href="javascript:void(0)" onclick="showPopup_PM16();" class="chart-expand"

[2017-04-05 09:23] Mickel97 commented on #616
Hello Sreelakshmigc!

what i did do was to add this to the gridstack.css

.grid-stack .grid-stack-item .grid-stack-item-content,
.grid-stack .grid-stack-item .placeholder-content {
    left: 2px;
    right: 2px;
    bottom: -4px;
    top: -6px;
}

you can choose the spacement you want by changing the px, that was the spacement that i wanted.
i hope it helped you

[2017-04-05 09:55] Mickel97 commented on #614
Hello @mann8352

i think is this what you talking about:

- HTML part: (put the code next of    div data-bind="component: {name: 'dashboard-grid', params: $data}"></div   )

       <template>
                    <div class="grid-stack" data-bind="foreach: {data: widgets, afterRender: afterAddWidget}">
                      <div class="grid-stack-item" data-bind="attr: {'data-gs-x': $data.x, 'data-

[2017-04-05 10:29] Mickel97 opened #623 "Vertical Space when converted to mobile or resized window"
Hello @troolee @radiolips

Well, my problem is when i resize the window or put in mobile mode the gridstack creates some spaces those spaces are created when is completed a row, and when is passing to other row it creates that.

![gridstack bugg](https://cloud.githubusercontent.com/assets/26922531/24701516/a664fef6-19f2-11e7-9f6e-3ec163a66b24.png)
[The green square is the problem]

This is some ki

[2017-04-06 10:27] ArtisanTinkerer commented on #567
Can you post your solution please?

[2017-04-06 13:00] Tinoooo opened #624 "gridstack.jQueryUI.js not included in npm module?"
Hi there,

I cant find the file gridstack.jQueryUI.js after installing gridstack via npm. Any reason, the file is not included?

[2017-04-06 13:01] frankadrian commented on #624
That file is only available on the dev version. In v0.2.6 it does not exists yet! :)

[2017-04-06 13:07] Tinoooo commented on #624
Thank you @frankadrian . Any idea when it will find its way in v0.2.7? I would really like to use the dragging feature, while using the npm package.

[2017-04-06 13:10] frankadrian commented on #624
Not sure @Tinoooo, sorry!

[2017-04-06 13:15] Tinoooo commented on #624
@frankadrian Thank you anyway!

[2017-04-06 13:15] #624 closed

[2017-04-07 03:41] lopezcjf opened #625 "getCellFromPixel fails when data-gs-current-height is zero"
I have migrated from version 0.23 to 0.30 and the getCellFromPixel function is failing for me.

On my scenario the grid stack container is initialized like this:

this.$el.gridstack({
                cellHeight: 20,
                width: 24,
                verticalMargin: 10
            });

The initial state of the gridstack container has height = 0.

I use gridstack to let the users create cus

[2017-04-11 06:32] troolee commented on #619
Is gridstack in one column mode at this time? Just checked [demo site](http://troolee.github.io/gridstack.js/) on ipad — everything is working fine.

[2017-04-11 06:32] #619 closed

[2017-04-11 12:31] bas-a opened #626 "How to add data to the added node"
@troolee
How can I add a data object, or just an extra property to a widget when i create a new one via the addWidget function? The only way I know how is to add it to the data-attribute in the dom. Like this:
`grid = $('.grid-stack').data('gridstack');`
`grid.addWidget($('<div><div class="grid-stack-item-content"></div>'), x, y, width, height, autoPosition, minWidth, maxWidth, minHeight, maxHeigh

[2017-04-13 02:20] tanobi92 opened #627 "How to disable grid-stack, set limit grid-item in grid-stack?"
- I want to fix height, width of grid-stack (not grid-item), grid-stack not resize.
- And no move/resize grid-item go out grid-stack.
- Set limit grid-item in grid-stack.
Thank you!

[2017-04-13 06:51] vbinithyanandamv commented on #230
Hi @troolee If we set min-height to container, its affecting the resize of the grid items. Any idea of why?

[2017-04-13 06:53] vbinithyanandamv opened #628 "Setting min-height for gridstack container makes the grid stack item not resizable"
I have tried setting the min-height for my grid container. Once i set up a min-height, i can't able to shrink/resize the grid stack item properly. Can be reproduced simply in all demo examples by giving a grid-stack min-height.

[2017-04-15 20:46] omayhemo commented on #582
Reproduced this problem also.

[2017-04-17 15:06] gooeyideas opened #629 "Jquery Version in Bower Dependencies Should be the Oldest Version Necessary"
In issue #612 it is stated:
"There shouldn't be any issue using older jQuery. The primary use of jQuery is to allow for jquery-ui (in addition to some other simple functions). Make sure that you're using a version of jquery-ui that is compatible with your version of jQuery"

Your dependencies are on "jquery": ">= 3.1.0" which forces bower to update Jquery to that version (if your project's version

[2017-04-17 22:29] patril commented on #230
Same issue here. If a min-height is specified on the container, resizing an item will cause the height to snap to a smaller value.

[2017-04-18 11:23] #623 closed

[2017-04-18 12:00] Mickel97 commented on #522
add "scroll: true" in the gridstack.js

draggable: _.defaults(opts.draggable || {}, {
                handle: (opts.handleClass ? '.' + opts.handleClass : (opts.handle ? opts.handle : '')) ||
                    '.grid-stack-item-content',
                scroll: true,
                appendTo: 'body'
            }),

[2017-04-19 13:11] radiolips commented on #628
@vbinithyanandamv I'm surprised this is the case. Could you please put together a jsfiddle to look at?

[2017-04-19 13:13] radiolips commented on #627
@tanobi92 You can set a `height` when you initialize the grid. The remaining things you'd like to do will all need to be custom Javascript that you write and are not features of the library directly.

[2017-04-19 13:13] #627 closed

[2017-04-19 13:17] radiolips commented on #626
@bas-a The first parameter of `addWidget` is the element you're adding. If you'd like to add data to it, just do so directly on the element. For example:
`grid.addWidget($('<div data-custom-id="4" data-name="John" data-surname="Doe"><div class="grid-stack-item-content"></div>');`

[2017-04-19 13:17] #626 closed

[2017-04-19 13:20] radiolips commented on #625
@lopezcjf Could you put together a jsfiddle? Also, what was your previous value in 0.23?

[2017-04-19 13:21] radiolips commented on #625
I just want to note that if the height is 0, this probably should not work. If the height is 1, wouldn't this work fine?

[2017-04-19 13:21] radiolips commented on #621
@jarnielcataluna Please provide a jsfiddle and we'll be happy to look into this for you.

[2017-04-19 13:27] radiolips commented on #620
@kvkv You can easily check for resize on the widget. Simply add a listener for when it has resized. One method to do this could be to listen to gridstack's `change`. When this happens, you can loop through the changed items, which is what `change` returns, and update your widget however you'd like. Let me know how this goes for you or if you need more assistance!

[2017-04-19 13:27] #620 closed

[2017-04-19 15:20] radiolips commented on #608
@ancabi Could you provide a jsfiddle for this? I'll take a look when you have a chance.

[2017-04-19 15:21] radiolips commented on #610
Closing for inactivity - I believe this is entirely cleared up. Let me know if there's any issue.

[2017-04-19 15:21] #610 closed

[2017-04-19 15:59] radiolips commented on #618
@nerdess I know you're going to hate this response, but you're going to need to get in touch with @pitrho or whoever is supporting `react-gridstack`. I don't know offhand of a reason why there should be a problem. Maybe there's an issue with using newer jQuery. At the moment, we aren't directly supporting react, so we don't have the resources to look into this for you.

I'm going to close this, bu

[2017-04-19 15:59] #618 closed

[2017-04-19 16:04] radiolips commented on #616
@Sreelakshmigc I don't understand why you're seeing a gutter that large. It looks like you have two touching to the right?

After re-reading, I think I understand what you're saying. You are moving one space, and it's jumping that far. Here's why: gridstack assumes 12 columns. It's taking your space and dividing it by 12. By modifying the CSS and passing in an option, you can make it fewer columns

[2017-04-19 16:04] #616 closed

[2017-04-19 16:05] radiolips commented on #614
@mann8352 I'm closing this due to inactivity and because it sounds like @Mickel97 has helped (thanks so much for that!). Please reopen and update the ticket if you're still having an issue.

[2017-04-19 16:05] #614 closed

[2017-04-19 17:32] radiolips commented on #595
Hey @Artgit ! Looks like I need a username and password for this site?

Programmatically moving widgets shouldn't be any problem. I can take a quick look at this when you provide user/pass, but it's possible that this may have to be resolved in the angular-gridstack repo.

[2017-04-19 17:47] radiolips commented on #599
@davidpoling Thanks for reporting this! This isn't the first time that `verticalMargin` has caused us some issue. I believe I've identified the problem and will let you know when it's been resolved.

[2017-04-20 08:17] tanobi92 commented on #627
Thank @radiolips i was worked :).

[2017-04-20 11:22] bas-a commented on #626
@radiolips thank you for your answer. This is a good way of adding a little bit of data like I asked in my original question. But what if I want to add a more complex data object to the widget? I can't use the data attribute for large objects. How would you suggest I solve that?

[2017-04-20 11:56] tipa commented on #594
*push*

[2017-04-20 11:58] tipa commented on #615
Any updates to this? I'd really like to use the grid-to-grid-dragging, may it be possible to publish the current dev status 0.3.0 as new update on npm?

[2017-04-20 13:57] radiolips commented on #629
@gooeyideas Good point. We're planning on removing all dependencies in the near future, but depending on how far out that roadmap becomes, we'll consider updating this dependency to use an earlier version. I'll leave this ticket open and will update it either way.

[2017-04-20 14:03] radiolips commented on #613
@arnonuem Prepare for us a jsfiddle with Aurelia and gridstack and I'll see if I can figure out a fix.

[2017-04-20 14:08] radiolips commented on #611
@frankadrian I think we could consider triggering events that you could hook into. I'll keep you posted.

[2017-04-20 14:11] radiolips commented on #604
This is really strange. I wonder if it might be related to #592 . I'll revisit this ticket after #592 gets fixed. Thanks for reporting, @nyoung697 !

[2017-04-20 14:12] #600 closed

[2017-04-20 14:20] radiolips commented on #599
@davidpoling I took a deep dive into both the code and some fun theoretical situations. The tl;dr: this is not a bug at all.

Check this - all dashboard demos have very small vertical margins. I can explain why! _Vertical margins are impossible to pull off_. You may not believe what I'm about to say, but take out a sheet of paper, draw some rectangles, and you'll see what I mean:

For each increme

[2017-04-20 14:20] #599 closed

[2017-04-20 14:25] radiolips commented on #597
@zohokumaresan By comparing the width and height prior to resize with the width and height post-resize, you're able to determine this. I'm closing this ticket because it's not functionality for us to add to the library, but if you'd like to post a jsfiddle I can try to offer some help.

[2017-04-20 14:25] #597 closed

[2017-04-20 14:34] radiolips commented on #594
@jpotth @dmitriyzhuk @tipa Thank you all so much for the ask and push! We've been working on a plan, which will certainly include locking down `v.0.3.0` and scheduling `v.1.0.0`. I'll do my best to get on the same page with @troolee today, but if I'm unable to get in touch with him, I still plan on sharing these dates *today*. Start your timers - I'm giving myself the next 13 hours and 26 minutes

[2017-04-20 14:38] radiolips commented on #593
@graemechapman This is an awesome bug. brb, got some code to examine.

[2017-04-20 16:39] chdeshpc opened #631 "Different grid-stack-item width css for same data-gs-width"
Hi @troolee ,

I am using the demo example with gridstack.js. But one of my requirements as below:
I want to create 2 columns using width:2 in options with cells in column1 should have width:60%
and cells in column2 should have width:40%.
We have few more requirements like:
Two_Column_60_40, Three_Column_30_40_30

Below is my JSON:
 var widgets = [{ x: 0, y: 0, width: 1, height: 0, name: 'Item1' }

[2017-04-20 17:13] #593 closed

[2017-04-20 17:14] radiolips commented on #593
@graemechapman Looks like this was something I broke some time ago. I've run a test with the change and it works for me. Check out the `develop` branch and let me know if you're still seeing a problem.

[2017-04-20 17:29] radiolips commented on #592
@graemechapman Again, sir, you've found a pretty neat bug. Thanks for the jsfiddle. I'll take a look.

[2017-04-20 17:56] radiolips commented on #594
I'm going to write up a longer message in a blog post tomorrow, but here's the plan:
`v.0.3.0` is going to go live tomorrow, April 21.
`v.1.0.0` is going to go into the `develop` branch on April 28. We're going to run it on the develop branch for a bit to make sure that there are no major bugs. 1.0 will have bugfixes from 0.3, will remove jQuery and jQueryUI dependencies, and will have at least on

[2017-04-20 17:56] #594 closed

[2017-04-20 18:55] radiolips commented on #591
@tanyona Interesting! While this is sort of a bug, it doesn't happen with `data-gs-min-width="1"`, and a value of 0 isn't actually valid. It's an interesting find, but it's a scenario that shouldn't actually happen in reality.

[2017-04-20 18:55] #591 closed

[2017-04-20 19:00] radiolips commented on #590
Yep! They're done in the CSS. You can override the CSS as mentioned here -
http://stackoverflow.com/questions/10801676/removing-handle-image-from-jquery-ui-resizable-element

Let me know if you need any more assistance!

[2017-04-20 19:00] #590 closed

[2017-04-20 19:04] radiolips commented on #586
Note to self / anyone looking at this in the future: This only happens when you push widget B down one spot. If you more it down multiple spots, it'll return to its correct location.

[2017-04-20 19:07] tanyona commented on #590
Thanks. I think I'm OK for now..

[2017-04-20 19:10] radiolips commented on #582
Could any of you create a jsfiddle for me to look at, please? Then I'll take a look and make sure this gets fixed for everyone.

[2017-04-20 19:10] radiolips commented on #580
Closing due to inactivity. If more help is needed, please let me know.

[2017-04-20 19:10] #580 closed

[2017-04-20 19:11] radiolips commented on #578
@VivekMJadhav Could you provide a jsfiddle? It'll help me understand.

[2017-04-20 19:45] radiolips commented on #577
This will be fixed in `v0.3.0` which will be release 4/21.

[2017-04-20 20:09] radiolips commented on #576
Closing due to inactivity. If this is still a problem for you, please reopen the ticket and provide a jsfiddle. Hope you were able to figure it out!

[2017-04-20 20:09] #576 closed

[2017-04-20 20:10] #577 closed

[2017-04-20 20:11] radiolips commented on #577
Fixed on the `develop` branch. Will be on `master` tomorrow. Feel free to test it now. Please note that the event you need is now called `gsresizestop` and it returns the event and the resized element.

[2017-04-20 20:24] radiolips commented on #574
Closing due to inactivity. I hope you were able to get it fixed, but if you haven't, please reopen and provide jsfiddle.

[2017-04-20 20:24] #574 closed

[2017-04-20 20:26] radiolips commented on #572
Closing due to inactivity. @fabberg if you're still having a problem, please reopen and we can figure it out. Changing the height shouldn't be a problem. Hope you got it figured out!

[2017-04-20 20:26] #572 closed

[2017-04-20 20:28] radiolips commented on #565
Closing due to inactivity. Please reopen if this is indeed a problem

[2017-04-20 20:28] #565 closed

[2017-04-20 20:29] radiolips commented on #555
Closing due to inactivity. Please reopen and provide a jsfiddle if you're still having a problem.

[2017-04-20 20:29] #555 closed

[2017-04-20 20:30] radiolips commented on #559
Closing due to inactivity. If this is still a problem, please reopen and provide an example. Thanks!

[2017-04-20 20:30] #559 closed

[2017-04-20 20:30] radiolips commented on #564
Closing due to inactivity. Please reopen if you're still having this issue.

[2017-04-20 20:30] #564 closed

[2017-04-20 20:32] radiolips commented on #547
I'm using lodash v > 4.0 without problem. Is anyone here still having an issue?

[2017-04-20 20:33] radiolips commented on #545
Closing due to inactivity. If you're still having a problem, please reopen the ticket and provide a jsfiddle. Hope you were able to get your problem solved. Thanks!

[2017-04-20 20:33] #545 closed

[2017-04-20 20:33] radiolips commented on #539
Closing - problem appears resolved. Please let me know if this is not the case.

[2017-04-20 20:33] #539 closed

[2017-04-20 20:34] radiolips commented on #526
Fixed in `v0.3.0`.

[2017-04-20 20:34] #526 closed

[2017-04-20 20:35] radiolips commented on #523
Closing due to inactivity. Please reopen if you're still having a problem.

[2017-04-20 20:35] #523 closed

[2017-04-20 22:14] radiolips commented on #615
As I mentioned in the other ticket, we'll flag `v0.3.0` for release tomorrow!

[2017-04-21 08:07] ZoolWay commented on #613
As someone having 0.2.6 running with Aurelia for quite some time I can say this looks like a module loading issue. Question is, which loader is used inside Aurelia (JSPM/SystemJS, Webpack, Aurelia CLI) and how is jQuery and Gridstack.js loaded. I am using JSPM and have installed Gridstack through NPM registry.

[2017-04-21 08:25] amit2389 opened #636 "Need Help!! In Nested Grid Programatically the inner boxes of my grid coming one box per line, not able to drag boxes to box next to another, not able to drag vertically , it's line one column grid , i want multi column boxes like http://troolee.github.io/gridstack.js/demo/nested.html"
$(function () {

		var options = {
			animate: true,
			float: true,
			always_show_resize_handle: /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent),
		};

		$('.grid-stack').gridstack(options);

		this.grid = {};
		$('.grid-stack').each(function () {
			console.log(Drupal.settings.module);
			var grid = $(this).data('gridstack');

			_.each(pos_items, func

[2017-04-21 09:03] amit2389 commented on #636
Did modification and now its working thanks

$(function () {

		var options = {
			animate: true,
			float: true,
			always_show_resize_handle: /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent),

		};

		$('.grid-stack').gridstack(options);

		this.grid = {};
		$('.grid-stack').each(function () {
			console.log(Drupal.settings.module);
			var grid = $(this)

[2017-04-21 09:03] #636 closed

[2017-04-21 10:19] yellareddy-allcloud opened #637 "How to Make grid stack item Header Fixed"
Hello Developers, I designed my dashboards using gridstack plugin for widget layout. In my widget i am unable to fix my Header.If i am scrolling down automatically Header also moving.

[2017-04-21 11:12] vbinithyanandamv commented on #628
Yes sure.Let me add a fiddle.

[2017-04-21 11:21] graemechapman commented on #593
@radiolips thanks, looks good to me!

[2017-04-21 11:40] vbinithyanandamv commented on #628
Hi i have recreated the fiddle here

https://jsfiddle.net/divakarvenu/5ux1y3dr/2/

 but there seems to be a problem with resizable and draggable in this any idea why? I have checked out the resources all seems fine. I have gone through all other fiddles too, none seems to be having resizable. Any thoughts?

[2017-04-21 12:41] vbinithyanandamv commented on #556
The possible solution would be adding _triggerAddevent on the container drop function.

Workaround might be creating your own  drop event listener. something like this

element.on('drop',function(e,item){
    });

element must be your grid container.

[2017-04-21 13:27] radiolips commented on #637
This isn't something handled by gridstack, but is something that you should be able to do yourself. If you provide a jsfiddle I can try to help out.

[2017-04-21 13:27] radiolips commented on #628
Interesting! Thanks, I'll look into it.

[2017-04-21 18:17] radiolips commented on #398
Remember that time that I came in and fixed a ridiculously old bug that caused everyone grief? Enjoy `v0.3.0!!` (coming this evening)

Please reopen if it still doesn't fix the bug for you.

*Make sure to listen to `gsresizestop` - a new event name was required for this.

[2017-04-21 18:17] #398 closed

[2017-04-21 18:20] radiolips commented on #433
@aletorrado @wrenn I'll try to take a look at this today. If I'm unable, it won't make `v0.3.0`, which will be released today, but I'll try to get this in today!

[2017-04-21 18:23] radiolips commented on #521
`removed` will be triggered when dropping as of `v0.3.0`

[2017-04-21 18:23] #521 closed

[2017-04-21 18:24] radiolips commented on #548
@AurelDragut Could you provide an update on this and a jsfiddle? The link your provided no longer works, but I'd like to try to offer you help.

[2017-04-21 18:25] radiolips commented on #541
Closing for inactivity. Please reopen if you're still having a problem.

[2017-04-21 18:25] #541 closed

[2017-04-21 18:57] radiolips commented on #550
@jorsai Fixed in develop branch. It'll be released later this evening.

[2017-04-21 18:57] #550 closed

[2017-04-21 18:57] radiolips commented on #607
Fixed in develop branch. Will go live in `v0.3.0` later today.

[2017-04-21 18:57] #607 closed

[2017-04-21 18:58] radiolips commented on #556
This has been fixed in the develop branch and will be officially released in `v0.3.0` later today.

[2017-04-21 18:58] #556 closed

[2017-04-21 19:07] AurelDragut commented on #548
Thanks, but i had to giveup on that project and i don't know if i will try to do it again. I had to some sort of grid with photos that would have been dragged from right grid to the left one (some sort of a puzzle) and in the end integrate this into wordpress.

[2017-04-21 19:15] radiolips commented on #548
That sounds really interesting! I'm going to close this ticket, but if you do have a chance to start the project again, let me know! I'd be happy to help.

[2017-04-21 19:15] #548 closed

[2017-04-22 15:33] radiolips commented on #631
Hey, @chdeshpc ! I can help you out.

Gridstack is based on the common bootstrap 12-column system. Each column is 1/12 of the width, so a widget of width 3 will have a width of 25%. Unfortunately, you cannot create columns of different widths - they always need to be evenly distributed.

Could you explain what you're trying to accomplish? There may be another way to solve your problem, but if you

[2017-04-22 15:34] radiolips commented on #629
@gooeyideas Update - `v0.3.0` went out with the higher jquery dependency. However, `v1.0.0` is going to eliminate the jquery dependency altogether. Look for it on the `develop` branch next week.

[2017-04-22 15:37] radiolips commented on #611
@frankadrian Now that `added` is emitted when a widget is moved from one grid to another, is your problem solved?

[2017-04-22 15:44] radiolips commented on #575
@timrabbetts Sorry, I'm still a little confused. Could you try again to clarify for me? If there's a bug, we need to fix it, and if it's just some documentation we need to update, we can do that, too. I know it's been a few months, but I hope you'll still be able to fill me in on the issue! Thanks!

[2017-04-22 15:47] radiolips commented on #573
@wx007 Huh, that's weird. I was able to reproduce the problem. I'll give you an update when I have one.

[2017-04-22 17:39] yellareddy-allcloud commented on #637
hi sir [radiolips], thank you for you reply, i sorted out my problem with json data, actually this is not the issue of grid stack item.

[2017-04-22 21:44] qlerebours commented on #575
@radiolips I had the same "issue" but I think what happens is what you wanted to design.
When we call the `loadGrid` function, it clears the grids (they are now empty) and reformat them as described in the `serializedData`.
The problem we both encountered is that we had some content in our grids (that was cleared when we called the load function).
This is why I wrote a solution to this problem, wi

[2017-04-23 13:23] #637 closed

[2017-04-24 07:20] timrabbetts commented on #575
Hi, sorry I didnt end up fixing this, theres plenty of detail here, let me know whats not clear.  i ended using jquery ui instead.

[2017-04-25 04:54] chdeshpc commented on #631
Hey radiolips,

I figured out a way to do this. I am creating different css classes for every width I need and assigning it based on the condition.

Thank you.

[2017-04-25 08:48] piernik opened #642 "minWidth is not working for me"
minWidth (that one which converts to one column mode) is not working for me.
One column mode is not truned on but resize icons are gone.
Is it a bug?

[2017-04-25 11:08] tipa commented on #613
Also having problems to import 0.3.0. Using Aurelia + JSPM/SystemJS.
I import gridstack:
`import 'gridstack/dist/gridstack.all';`

This is what I get:
`system.src.js:123 Uncaught (in promise) Error: (SystemJS) Multiple anonymous defines in module http://localhost:9000/jspm_packages/npm/gridstack@0.3.0/dist/gridstack.all.js
	Error: Multiple anonymous defines in module http://localhost:9000/jspm_pac

[2017-04-25 13:27] Sreelakshmigc commented on #616
Hi @radiolips Thank you for your response. Can you please elaborate on how this can be done ? I am loading gridstack.min.css from the cdnjs. I am not able to find exactly which classes to be used in my local css file to overwrite the default values. Or do I need to save the gridstack.min.css file in my code and make changes there. Thanks again in advance. Hoping to get a quick response.

[2017-04-25 19:05] arch-imp commented on #513
I believe jquery-ui has updated their advice and now recommends the paths in gridstack.jQueryUI.js be changed to include the 'ui' folder.

See the jquery ui 1.12 upgrade guide where they state:

I tried adding the path alias in my Angular 2 CLI project tsconfig.app.json file, but the angular compiler would then hang:
    "baseUrl": "",
    "paths":{
      "jquery-ui/*":["jquery-ui/ui/*"]
    }

I'

[2017-04-26 09:35] jaapz opened #643 "When used in browserify, gridstack is not correctly exported, which breaks the gridstack jquery drag plugin"
I'm trying to move from 0.2.x to 0.3.0, however the module exporting code is not compatible with Browserify (or probably any CommonJS system).

The jQueryUI drag and drop plugin never correctly initializes.

This is because it is calling
[code]

Which always returns an empty object, because the `gridstack.js` file **never actually exports anything**, but instead "exports" to the global `window` sc

[2017-04-26 09:37] jaapz commented on #643
To add to this, when I alter the gridstack source code to explicitly export using `module.exports` (always), it works. It also works when I remove the `require('gridstack')` line, because then it will get the GridStackUI object from the global `window`.

[2017-04-26 09:39] jaapz commented on #643
I think this might also be why importing 0.3.0 in Aurelia breaks (#613)

[2017-04-26 10:41] kingsgobi opened #644 "added"
i am adding the widget  using drag and drop.... i want hold for any new widget is adding or not shall i use added event here??

thanks

[2017-04-26 12:38] radiolips commented on #644
@kingsgobi Hey there! I'm unable to figure out what you're asking. Could you try to clarify for me, please?

[2017-04-26 12:48] radiolips commented on #642
@piernik Could you provide a jsfiddle, please?

[2017-04-26 12:48] radiolips commented on #631
Glad you could get it figured out!

[2017-04-26 12:48] #631 closed

[2017-04-26 14:27] radiolips commented on #575
The example provided on the main gridstack page is only an example. It's missing several possible widget properties. It's also missing all of the content of the widget, which I think is what @timrabbetts is referring to.

The example is provided to avoid too many repeated questions about the topic of serialization. The example, however, does not cover all scenarios. In this situation, the develope

[2017-04-26 14:27] #575 closed

[2017-04-26 14:32] radiolips commented on #643
Thanks, @jaapz ! We'll look into this. Thanks for providing the Backbone example.

[2017-04-26 14:33] radiolips commented on #547
Closing because the issue has hopefully resolved itself. Please reopen if this is not the case!

[2017-04-26 14:33] #547 closed

[2017-04-26 16:41] saurabhsbhatt commented on #568
I saw the customized page developed by "edlisten/Bjorn Behrendt" which is "http://coyoteds.edlisten.com/GridstackLayoutExample.html" and this is closer to my requirements than original GridStack exmaples on "gridstack.js-master/demo/index.html".

I am having a really hardtime customizing the original script for my requirement. My requirement is kind of HTML configurator that is somewhat similar to

[2017-04-26 17:00] edlisten commented on #568
If anyone is interested here is the Add-on I created using Gridstack, I
launched the initial beta today (Link-only):
https://chrome.google.com/webstore/detail/coyote-digital-signage/inidckhjkbepegikejihjpecmdmecgbl

I think it does what a lot of people are looking to do with Gridstack in
terms of using it as a platform for an editor.  If there are any sections
of the code that people want to see p

[2017-04-26 17:32] saurabhsbhatt opened #645 "Understand this plugin"
Hi,

This is a great plugin and as mentioned before on "https://github.com/troolee/gridstack.js/issues/568" I need to understand this to then try to customize this according to my requirement. Is there any documentation available that I could refer? If not, can someone please guide me about the basics here and some introduction to the existing architecture and what file does what? I am referring t

[2017-04-26 18:15] radiolips commented on #645
@saurabhsbhatt If your questions are specifically about the plugin, please keep the conversation to #568 , where you'll be able to get the most assistance.

[2017-04-26 18:15] #645 closed

[2017-04-27 06:48] piernik commented on #642
I was using 0.2.6 - in 0.3.0 it's working - thanks!

[2017-04-27 06:48] #642 closed

[2017-04-27 09:14] saurabhsbhatt commented on #645
Actually I was asking in general as to what topics should I acquire the knowledge for to be able to make changes to this Gridstack plugin.

[2017-04-27 13:19] JonathanBristow opened #646 "disableResize doesn't seem to be working"
Hi,

I'm setting disableResize to be true in my options hash but it doesn't disable the resize functionality.
I've also tried setting data-gs-no-resize on the grid items themselves.

Is this is a known bug or do I need to set another property?

Thanks

[2017-04-27 14:00] radiolips commented on #646
@JonathanBristow Could you provide a jsfiddle, please? If you're seeing that, that's a bug.

[2017-04-27 14:01] radiolips commented on #645
https://github.com/troolee/gridstack.js/tree/develop/doc

[2017-04-28 09:35] JonathanBristow commented on #646
False alarm 👍

[2017-04-28 09:35] #646 closed

[2017-04-28 09:55] chdeshpc commented on #329
Was there any update on this? Even I need something like this. I have columns with different column-width. And my placeholder is not moving along with dragging item.

I need help on this.

[2017-04-28 13:36] EpsilonOrionis opened #647 "Cannot remove widget inside grid"
Hi, I want to remove a widget inside the grid, but it returns me: `TypeError: node is undefined` in the browser console. The code that I'm using to remove the widget is:

`this.grid.removeWidget($('#gsi-1'));`

and the code to create the widget is this:

`var node = {
                      x: 12 * Math.random(),
                      y: 5 * Math.random(),
                      width: 1 + 3 * Math.

[2017-04-28 13:57] radiolips commented on #647
Hey, @EpsilonOrionis ! Could you put together a quick jsfiddle for me? Your code looks fine, but let's get down to the bottome of this!

[2017-04-28 14:07] EpsilonOrionis commented on #647
Sure. Here you are: [https://jsfiddle.net/endpdokg/](url)
Tell me if you need more information/code

[2017-04-28 14:08] radiolips commented on #647
Have you tried running that? I immediately get an error.

[2017-04-28 14:29] EpsilonOrionis commented on #647
I've never used JSFiddle. When I press "Run" I don't get anything

[2017-04-28 14:32] radiolips commented on #647
Try opening the console. You're getting an error because jQuery isn't referenced.

[2017-04-28 14:37] EpsilonOrionis commented on #647
Do I have to include jQuery plugin?

[2017-04-28 14:40] radiolips commented on #647
Yeah, you'll need all of the resources that gridstack typically needs.

[2017-04-28 14:51] EpsilonOrionis commented on #647
Oh my god... seriously?? I don't have time right now... Could you please do it for me now? Otherwise we try to solve it tomorrow

[2017-04-28 15:13] radiolips commented on #647
I've got a full-time job as well :P whenever you have time, just get it fixed up and ping me and I'll take a look!

[2017-04-28 15:25] EpsilonOrionis commented on #647
Ok, thank you @radiolips

[2017-04-29 12:18] sophanox opened #649 "Cannot float a dropdown menu over a widget"
Hey there,

I have a dropdown menu in one of my widgets. When it's clicked, however, the menu doesn't appear over the widget, and so is clipped inside it. I've tried increasing the z-index of the menu, but this doesn't seem to work at all.

I've adapted someone else's codepen here: http://codepen.io/anon/pen/jmBozq. Here's an image from it:

![image](https://cloud.githubusercontent.com/assets/1940

[2017-04-30 07:51] chdeshpc opened #651 "Dynamic column-width with dynamic placeholder css"
Hi @troolee,

I am facing an issue. I have gridstack in my code.  I have done changes to the CSS to have dynamic column width. My column-widths are like:
20% 40% 40%. On drag-drop, the dragged widget should take the width of the dropped column.
Say, if the widget had a width:20% initially and I drop it on Column3 with 40% width, then my dropped widget also should become 40%.
I have achieved this n

[2017-05-01 15:39] radiolips commented on #651
@chdeshpc It sounds like you've already put a lot of work into this, so let's get it through that last mile! Can you provide a jsfiddle or someplace I can look at your code and output? It sounds tricky, but maybe I (or anyone else - feel free to offer advice!) can come up with a suggestion or two.

[2017-05-01 15:47] radiolips commented on #649
Hey, @sophanox ! You might end up with some strange effects, but you're going to need to add `overflow: visible` to the gridstack item with the class `grid-stack-item-content` that contains your drop down. I tested this with your codepen and it works :) I'm closing this one out, but please reopen if you're still having an issue!

[2017-05-02 08:05] chdeshpc commented on #547
Hi @troolee ,@radiolips,

I am facing the same issue. In our product we are using jquery-3.0.0.min.js version. And I get the following error.
 $(...).gridstack is not a function TypeError: $(...).gridstack is not a function.

Below is the order of my scripts:
    <link rel="stylesheet" href="../layoutScripts/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.

[2017-05-02 08:24] chdeshpc opened #652 "$(...).gridstack is not a function TypeError: $(...).gridstack -- JQUERY:Gridstack version issue?"
Hi @troolee ,@radiolips,

I am facing the same issue. In our product we are using jquery-3.0.0.min.js version. And I get the following error.
$(...).gridstack is not a function TypeError: $(...).gridstack is not a function.

Below is the order of my scripts:

<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
<script src="../layoutScripts/bootstrap.min.js">

[2017-05-02 10:02] radiolips commented on #652
Do you have other scripts? You don't have jQuery listed.

[2017-05-02 11:00] chdeshpc commented on #652
Hey @radiolips,

It actually worked. jquery-3.0.0.min.js and gristack works :).

I have another quick question. I have animate: true config in options.
In IE the drag-drop doesnt work properly. The widget stays wherever it is.  But everything works in Firefox and Chrome.
Do you mind guiding me here?

Thank you.

[2017-05-02 12:35] radiolips commented on #652
This may be an issue with jquery or jquery-ui? Have you verified that your version of IE works with those?

[2017-05-02 12:53] kingsgobi opened #653 "itemClass"
how to use itemClass

[2017-05-02 12:54] radiolips commented on #653
Hi, @kingsgobi ! I'm going to need more information from you if you need help.

[2017-05-02 13:29] chdeshpc commented on #652
Yes.. I checked it. JQuery UI 1.12 supports IE11. I downloaded it and replaced jquery-ui.js file with this new code version. The drag-drop doesnt work.
What might be the issue?

[2017-05-02 13:36] chdeshpc commented on #652
My Jquery version is 3.0.

[2017-05-02 14:08] radiolips commented on #652
You should have no problem with IE11. Can you put together a jsfiddle and we can take a look?

[2017-05-03 05:09] saurabhsbhatt opened #654 "how to add nested grids inside grids dynamically using add button"
Hi,

Can anyone please help me to customize the default functionality of gridstack.js for bootstrap version such that I would be able to dynamically add NESTED grids inside parent grids using add button which would be on the grid itself. Something like below:

![image](https://cloud.githubusercontent.com/assets/28060104/25648727/b63d7c9e-2fec-11e7-9572-a14db22d0d28.png)

[2017-05-03 14:21] radiolips commented on #654
@saurabhsbhatt Is there something specific you're having a problem with?

[2017-05-04 07:23] PrincessOfSecret opened #655 "Removing nested grid parent widget from the last row of main grid causing some of the main grid's widgets to lost their position"
Hi,

I experienced a strange behavior when I resize then remove a nested grid from its parent grid.

I have two grids, one of them is nested into the other's specific item.
It is possible to add and remove widgets in both grids by checking/unchecking some checkboxes.
When I remove widgets from the nested grid, I resize its parent grid widget to always be maximum as high as the nested grid.
When th

[2017-05-04 11:46] saurabhsbhatt commented on #101
Any export to static Bootstrap HTML or serializer available ? Am specifically looking for that.

[2017-05-04 18:32] Tropicalista commented on #567
@ArtisanTinkerer  please check this: http://codepen.io/Tropicalista/pen/PmKajR

[2017-05-05 07:54] chdeshpc commented on #652
Hi @radiolips, @troolee  ,

Below is the JSFiddle. It is not 100% in working state.
But definitely the drag-drop issue is reproducible. If you compare the behavior in Chrome and IE11, you can make out the difference. The behavior is not same as Chrome in IE11.
Also, I am not getting the placeholder div here.

I will be waiting for any help from you.

https://jsfiddle.net/chdeshpc/a8djywrj/12/

**N

[2017-05-05 09:06] chdeshpc commented on #651
Hi @radiolips, @troolee ,

Below is the JSFiddle. It is not 100% in working state.
This is the same fiddle I posted for Issue #652.
Also, I am not getting the placeholder div here. I have a custom logic on dragstop event.
It is like this:
1. Say, it is a 3 column grid with widths: 40% 40% 20% respectively. First, I save the different column widths in an array.
2. Then when drop happens, I remove t

[2017-05-05 11:41] chdeshpc commented on #652
Hi @radiolips, @troolee ,

I was able to fix the IE issue. There was an error from my side.
This issue can be closed.

[2017-05-05 15:50] damianofalcioni commented on #649
Hi,
the code work but it fail again if the drop down have more items and another box is below that one. In such a case the drop down is covered by the second box (I've used the same codepen to test it).

Any idea?
Thanks

[2017-05-05 23:02] iveretelnyk commented on #515
Why is this issue closed? setting min-height via css broke grid usage and there is no option for min height

[2017-05-06 20:08] radiolips commented on #655
Hey, @PrincessOfSecret ! Your screenshots look very interesting!

Thanks for providing all of that code, but could you put together a jsfiddle with an example of the problem? That's the easiest way for me to be able to verify the problem and make sure I'm able to fix it.

[2017-05-06 20:28] PrincessOfSecret commented on #655
Thanks for the reply.

I tried to put together a jsfiddle, but unfortunately it didn't work as it
had to, because as I said, it is a quite complex part and I couldn't
isolate this problem to be testable for you. I will try to reproduce it in
jsfiddle again, but I fear it won't work as it should have to.

Anyway, it's interesting that this problem only comes up in that specific
case that I had expl

[2017-05-06 20:33] radiolips commented on #655
I wonder how many different languages use gridstack :). I don't know that I can definitely help, but if you want to email me directly at dylan.weiss@gmail.com, I can maybe look more directly at your code. I'm also interested to hear how it's being used! Looks like maybe it's for a hotel?

[2017-05-07 12:45] Matthew-Bonner commented on #552
Would love this, as there is a problem with viewing this in 4k screens, sometimes you want the web page to be wide, in which case you have to set up a new grid where the sizes are pretty much halved, and then when you resize the page down to a resolution others will use the widths are way too narrow.

[2017-05-08 12:02] trongletps commented on #219
i had same issue with @frankadrian. When I set float equal false, to difficultly to drag the widget below one from the grid to the another grid.

[2017-05-08 18:39] Matthew-Bonner opened #658 "Number of columns limited by CSS"
If I want to use Gridstack to create a customisable interface with an unlimited number of columns where people can drag and drop content I can't because I'm limited to the number of columns I define in the CSS.

[2017-05-08 19:00] radiolips commented on #658
Hey, @Matthew-Bonner ! How could you have an unlimited number of columns? I'm not sure what you mean.

[2017-05-08 20:33] diegopucci opened #659 "Can't move from nested grid"
Hello,
While it works when adding elements on the fly, it does not work when the markups is already there. I have seen other issues like this that have been closed, but not actually solved.

Any help?

[2017-05-09 10:54] chdeshpc commented on #651
Hi @troolee , @radiolips ,

Is there any solution for the above mentioned problem?
Or at least how can I change the placeholder width dynamically?
Or how does placeholder works exactly so that I can customize?

I appreciate any help.

Thank you.

[2017-05-09 17:09] radiolips commented on #659
@diegopucci I'll be happy to help. Do you have a jsfiddle for example? It sounds like you just need to use the `makeWidget` function, but it's hard to say without seeing some code.

[2017-05-09 17:23] radiolips commented on #651
@chdeshpc The reason why the placeholder looks wrong is because your CSS isn't overriding the defaults. It's creating a div with the classes `grid-stack-placeholder` and `grid-stack-item`. It then uses the normal widths and heights (`data-gs-width` and `data-gs-height` to determine what sizes to use). You could write some custom Javascript to add a class to this object on mouse down.

What you're

[2017-05-09 22:46] sophanox commented on #649
Hey radiolips,

Thanks a lot for your first reply and apologies for reopening this; however, I've just noticed that the menu won't hover over other widgets. I think this is what damianofalcioni is trying to get across too.

I've updated the codepen with your fix, but note the behaviour below:

![image](https://cloud.githubusercontent.com/assets/19409202/25875858/a071576c-3511-11e7-8e38-f12fad7b302

[2017-05-10 07:13] kingsgobi opened #660 "Need Help: nested Drop inside the widget"
![untitled-1](https://cloud.githubusercontent.com/assets/9959296/25887081/360eb7f8-357e-11e7-982d-48d6fff983bc.jpg)

is this nested droping option is possible?

[2017-05-10 09:05] abayob commented on #515
+1 - It would be nice if the grid can be instantiated without elements. I use the gridstack.js for creating a form. The user can drop new elements into the canvas.

I am using the draggable event of the elements outside the grid to add a min-height to the `.grid-stack` class on drag-start.
On stop, I remove the class to not break the grid itself.

[2017-05-10 13:12] mandys commented on #133
Did anyone find an update to this ? For layout designs once a widget is dragged, it would be helpful if it's not removed from sidebar.

[2017-05-10 13:17] radiolips commented on #133
@mandys That feature doesn't exist yet, but I'd be happy to add it to our plans for the future.

So that I'm sure that we'll be satisfying your need - you want the ability to clone a widget rather than move a widget in particular instances. Is this correct?

[2017-05-10 13:19] mandys commented on #133
That is correct @radiolips. I think I found that to be one of the most requested features (across some GitHub tickets). Has anyone written a patch for it yet ? Even if it's not available in the core and there is a patch it would be helpful.

[2017-05-10 13:23] radiolips commented on #133
No one has yet written a _conditional_ patch, though a few people have made attempts at alterations.

You can see the near-term plan for gridstack [here](https://dylandreams.com/2017/04/26/gridstack-10-coming-soon/). It doesn't include this feature and I'm unsure if it'll be available for version 1.0. The changes for 1.0 are necessary for the library to mature, but I agree that there have been man

[2017-05-10 13:25] chdeshpc commented on #651
Hey @radiolips ,

Thank you for the suggestion. I will try something in this direction and update you.

[2017-05-11 01:51] shijistar opened #661 "How to preserve the original one when drag an item from one grid to another?"
Lets see this official sample: http://troolee.github.io/gridstack.js/demo/two.html
I want to know if it's possible to preserve the original item when we drag one from left grid to the right? i.e. copy from left to right. I didn't see it from api options.
It's really important to me. Any help is so much appreciated! Thanks.

[2017-05-11 03:26] radiolips commented on #661
Hi, @shijistar ! Preserving the original widget isn't currently possible. However, due to an overwhelming request for it, we plan on adding it very soon. #133 has some requests for this feature as well.

For the time being, you can find upcoming features mentioned in our blog post [here](https://dylandreams.com/2017/04/26/gridstack-10-coming-soon/). We need to work to figure out what we can move t

[2017-05-11 08:25] trongletps commented on #219
Everything work well except this case but it's very important with user experience, so uncomfortable when drag and drop item from sidebar to main grid (drag item from sidebar below the other items in main grid).

[2017-05-11 08:33] ronvanpol opened #662 "Show grid lines"
Does anyone have any idea of how to add grid lines to a gridstack? When working with bigger gridstacks, it helps a lot to place an item on the gridstack if grid lines could be shown (for instance like Excel)

[2017-05-11 09:44] shijistar commented on #661
Thank you @radiolips for your reply. I'm very happy to hear it's in the plan. I hope it appears in v1.0 :-)

I love gridstack so much, as it provides fantastic user experience that layout the reports like building blocks.   Thank you guys for the such wonderful work!

[2017-05-11 16:20] radiolips commented on #396
This will be available in some form or another in `v1.0.0`. Please check [my blog](https://dylandreams.com/) for more information. I'll post in the next few days about how this will work.

[2017-05-11 16:25] radiolips commented on #480
@griphi I hope you were able to accomplish what you wanted. If not, I've put together a tutorial that you can follow to add charts to widgets.

[Charts and Dashboards tutorial](https://dylandreams.com/2017/05/06/of-charts-and-dashboards/)

[2017-05-11 16:26] radiolips commented on #661
@shijistar I've been able to create a working example. As with the multi-grid features, it'll be experimental until everyone has had some time to test it, but it'll be in version 1. Continue to monitor [my blog](https://dylandreams.com/) for more information. I'll post in the next few days about how this will work.

This also is requested in #396 #499.

[2017-05-11 16:29] radiolips commented on #644
Closing due to inactivity. Please reopen with more information if necessary.

[2017-05-11 16:29] #644 closed

[2017-05-11 16:29] radiolips commented on #647
@EpsilonOrionis Any update on this?

[2017-05-11 16:29] radiolips commented on #595
Closing due to inactivity. Please reopen with more information if necessary.

[2017-05-11 16:29] #595 closed

[2017-05-11 16:30] radiolips commented on #608
Closing due to inactivity. Please reopen with more information if necessary.

[2017-05-11 16:30] #608 closed

[2017-05-11 17:28] mandys commented on #660
Actually there is some code in gridstack.js wherein you can comment out fixcollisions function and then the above happens. But, the result is very buggy.

a) All have same z-index so whichever is dropped or created in the end, has a higher z-index ( and you can place that on top of others ). Can live with it.

b) Responsive layouts are messed up on mobile ( everything comes one below the other ).

[2017-05-11 17:35] mandys commented on #661
@radiolips i had requested this yesterday as well :) Would you be kind enough to share your solution ?

We are trying to solve it in a round about way ( eg: When the drag start happens we copy the html of the widget into their parent container so while the move is happening a copy of widget is left behind. This isn't the exact jquery clone way. But, imagine it as a pack of cards. When you pick the

[2017-05-11 18:29] radiolips commented on #661
@mandys Sure. For the time being, I am NOT focusing on getting it to work grid-to-grid. If you check the two grid example, there's a widget on the top-left. It's not actually in a grid. That widget will be able to be cloned.

Will that satisfy your requirements? I assume it will - it's actually slightly simpler than needing multiple grids, because I assume that for cloning you don't actually want

[2017-05-11 18:36] mandys commented on #661
Yes. We don't need the draggables in a grid. They will live in a sidebar and dragged onto the stage (grid).

[2017-05-11 18:39] radiolips commented on #661
Great. Are you on our Slack? If not, could you join? I could create a patch of the code when I'm done for you to test. If you don't want to, I can push the code to the `develop` branch when it's complete, but I'd prefer a bit more testers.

[2017-05-11 18:49] mandys commented on #661
Just joined

[2017-05-11 19:36] EpsilonOrionis commented on #647
No, I didn't try it anymore, because I have no time... But I will need it in the future I'm sure about this, so if you could put here a working example to let me try it so I can let you know. You could make an archive and the send me the link to the download. I know, maybe I'm asking too much, but if you could it would be great 👍

[2017-05-12 10:04] mohan4ghz opened #663 "How to get clientX, clinet Y position of gridstack while using HTML5 drag and drop?"
I am creating grid stack item using HTML5 drag and drop, while drop I am creating the grid stack item is creating, but I have to give predefined X, Y position, I want get drop position of gridstack, so I can pass that value to gridstack x,y

[2017-05-12 10:14] mandys commented on #660
@radiolips @troolee could do with some help on this one.
I understand that what I am asking for might break the responsive layout, but here is the scenario.

You have some widgets in sidebar [ button, photo ]

You drag and drop the photo widget on stage ( grid ).
Now, I would like to drag & drop the button widget on the photo. It's like a page builder.

The drag/drop needs to work in layers.

I tr

[2017-05-12 10:24] ronvanpol commented on #552
I too would very much like to see this feature being supported by gridstack

[2017-05-12 12:56] radiolips commented on #663
Hey, @mohan4ghz ! Thanks for using gridstack.js. I'd be happy to help you figure out how to get through this issue you're having.

In order to get started, could you provide a jsfiddle? I believe you want to use some of the great listeners available in gridstack. Maybe `dragstop`? You can view the reference [here](https://github.com/troolee/gridstack.js/blob/develop/doc/README.md#dragstopevent-ui)

[2017-05-12 13:08] radiolips commented on #662
Good question, @ronvanpol . You'll want to do this with CSS. Maybe someone better than I am at CSS will be able to offer you some assistance. If not, I'll spend some time looking into it when I have a chance. Thanks for using gridstack! You may want to check out the [gridstack Slack](https://gridstackjs.troolee.com/) to get a wider audience's attention as well

[2017-05-13 10:58] mandys commented on #304
@KevinSimple interested in this. can you share the pointers at least ?

[2017-05-15 01:16] diegotroitino commented on #613
I'm using Aurelia with Aurelia CLI and I had the same problem. So I created a repository to exemplify this.
https://github.com/diegotroitino/aurelia_gridstack

### Follow the "[Problem](https://github.com/diegotroitino/aurelia_gridstack#problems)" section on my README:

There is a problem with the drag and drop and the resize features.
The gridstack 0.3.0 need to refer `gridstack.min.js` and `grid

[2017-05-15 12:32] mandys commented on #81
@ascendantofrain @cspeer @troolee @radiolips does this still work ?
i made columns as 36, ran sass, used it in the code, the widths now use %s based on 36 columns, but drag/drop has undesired experience. I am unable to drag and drop in a 36 column grid, it keeps moving here and there. Did we need js changes as well ? Doesn't look like...

[2017-05-15 13:26] radiolips commented on #649
I'll take a look at this when I have a chance and provide an update.

[2017-05-15 14:40] radiolips commented on #649
I've got an update/fix (idea). It works.

The problem is that the containing `grid-stack-item-content` has a `z-index` of `0!important`. If you only have one widget with the dropdown, simply make the grid-stack-item-content element like this:
[code]
If you have multiple widgets with the dropdowns, you'll need to tap into the Javascript for opening a dropdown - when a dropdown gets opened, you'd wa

[2017-05-15 14:47] radiolips commented on #613
Thanks, @diegotroitino ! That'll be helpful for me to throw together and make sure I'm actually fixing it. I'm working on a few bugs/features simultaneously, but I will make sure that your example is *working* for version 1.0.0.

[2017-05-15 15:44] radiolips commented on #661
This works on the `develop` branch now. Please be sure to use `draggable` setting `helper: clone`.

[2017-05-15 15:44] #661 closed

[2017-05-15 15:45] radiolips commented on #396
This works on the `develop` branch now. Please be sure to use `draggable` setting `helper: clone`.

[2017-05-15 15:45] #396 closed

[2017-05-15 15:45] radiolips commented on #499
This works on the `develop` branch now. Please be sure to use `draggable` setting `helper: clone`.

[2017-05-15 15:55] damianofalcioni commented on #649
Hi
I've tested the solution proposed for multiple widget with dropdowns and it works perfectly.
Thank you very much :D ,
Damiano

[2017-05-15 15:57] sophanox commented on #649
It's working for me too. Only thing extra I had to do was to set overflow:hidden to any content in the widget that I didn't want to be displayed.

Thanks a lot radiolips!

[2017-05-15 15:57] #649 closed

[2017-05-15 17:42] radiolips commented on #494
This now works on the `develop` branch. Use `data-gs-resize-handles="e, s"` for east+south resize handles on one widget, for example. Thanks for the suggestion!

[2017-05-15 17:42] #494 closed

[2017-05-15 17:48] radiolips commented on #653
All the necessary information is available in the documentation. Please reopen with more information if you have a specific question.

[2017-05-15 17:48] #653 closed

[2017-05-15 17:49] radiolips commented on #652
Great, glad you were able to get it working!

[2017-05-15 17:49] #652 closed

[2017-05-15 19:24] radiolips commented on #613
@diegotroitino Can you get your example working, under any circumstance, with resize/drag? I'm trying to verify that a change I've made works, but I can't, because I can't actually get dragging to work. I'm unsure if this is because of code on my side or code in the aurelia project.

[2017-05-15 19:51] radiolips commented on #643
@jaapz also, do you want to put in a PR, or provide more example code?

[2017-05-15 20:13] radiolips commented on #611
Closing because the enhancement added hopefully voids this request. Please reopen if I'm incorrect. Thanks!

[2017-05-15 20:13] #611 closed

[2017-05-15 21:16] diegotroitino commented on #613
To resize/drag work we need the `gridstack.jQueryUI.min.js` file, right? But when aurelia bundle that, occurs the `Uncaught Error: Mismatched anonymous define() module` error to run the application.

I created this fiddle https://jsfiddle.net/troits/624t9shu/ with the same code, without Aurelia, and it works fine.

Right, my example don't throw errors because it only refers the `gridstack.min.js`.

[2017-05-16 06:49] jaapz commented on #643
I'll try to look into this some more later today, and see if I can find the time to put in a PR

[2017-05-16 12:03] radiolips commented on #537
Closing due to inactivity.

[2017-05-16 12:03] #537 closed

[2017-05-16 12:05] radiolips commented on #414
This now works in `v1.0.0` using `helper: clone`.

[2017-05-16 12:05] #414 closed

[2017-05-16 17:27] diegotroitino commented on #613
@radiolips I changed the way to refer the gridstack. I put the `gridstack.js` reference and the `gridstack.jQueryUI.js` separated. With this, began to occur errors of the references of components jQuery (`'jquery-ui/data', 'jquery-ui/disable-selection', 'jquery-ui/focusable', ...`)

I found the solution for this, that is to map the components to jquery-ui like [this answer in stackoverflow](stacko

[2017-05-16 18:06] arnonuem commented on #613
Awesome

[2017-05-17 05:38] mohan4ghz commented on #663
Hey, @radiolips  thanks for your response, actually dragstop will work after creating grid stack item in gridstack, but I am creating gridstack item in drag and drop itself, I have to get drop position while creating grid stack item

[2017-05-17 06:33] mandys commented on #658
@Matthew-Bonner this is actually possible with a bit of extra work.
See: https://github.com/troolee/gridstack.js#change-grid-width

Gridstack by default uses 12 column grid, but you can you use the below snippet mentioned at the link above to create a 24,36,48...column grid so drag/drop placements are much better.

The below sass code might need some updating based on the new gridstack.css ( I twe

[2017-05-17 07:01] mandys commented on #647
@EpsilonOrionis - there might have been some issue with the html you were injecting. Closing of a div tag. Anyways, I setup a jsfiddle with a working example to removeWidget.

Please take a look here:
https://jsfiddle.net/mandys/1jsj306g/2/

I agree, setting up a jsfiddle can be a bit of a pain :-)

[2017-05-17 08:27] mandys commented on #542
Faced the same issue.
However, fix mentioned by you is no longer working.

When I try and drag it outside the bounds of the grid, dropout gets triggered and I can drag/drop in the grid again nicely.

Without that, I get stuck and error is thrown.

[2017-05-17 08:28] mandys commented on #542
@nelsonad - forgot to tag you.

[2017-05-17 08:38] EpsilonOrionis commented on #647
Thank you @mandys (JSFiddle 😄)

[2017-05-17 09:31] mohan4ghz opened #666 "Convert mouse position into gridstack position?"

[2017-05-17 09:57] piernik commented on #570
0.3 is out but there is still lodash (with over 0.5MB). Is it necessarry?

[2017-05-17 11:04] radiolips commented on #647
Thanks, @mandys ! @EpsilonOrionis , can this issue be closed now?

[2017-05-17 11:57] EpsilonOrionis commented on #647
No please, I'll tell you as soon as I can try it 😄

[2017-05-17 14:00] vigor-vlad opened #667 "some issues with the side bar"
Hi there. First of all, thanks for your great library. However I've encountered a number of issues. I'm using it in an angular app. The app itself is a dashboard and a sidebar, the user should be able to drag'n'drop widgets between them. Here are the issues that I've encountered (jsfiddle: [https://jsfiddle.net/pyakphaa/9/](url) ):
1. It's hard to drop the widget from the dashboard to the sidebar.

[2017-05-17 16:01] Hardcorewithin opened #668 "Gridstack requirements"
Hi,
I am not raising an issue but just a clarification on the jQuery\jQuery-ui versions required by gridstack.
In the Requirements paragraph it says that the jQuery versions required are:
- jQuery (>= 3.1.0)
- jQuery UI (>= 1.12.0). Minimum required components: Core, Widget, Mouse, Draggable, Resizable

but the jQuery\jQuery-UI versions used in all of the examples [here](http://troolee.github.io/g

[2017-05-17 17:42] Matthew-Bonner commented on #658
The problem with that is I have to know in advance what resolution monitors will use the functionality on offer. I have a 4K monitor, have you ever tried gridstack in a 4k monitor with a grid designed to work in 1080?

[2017-05-18 05:11] mandys commented on #230
+1

Facing same issue.
Passing min-height is making resize not happen correctly.

[2017-05-19 03:21] KevinSimple commented on #304
@mandys @kschiffer , sorry guys, i left the company i worked on this feature, so i cant really do a PR any more, but i can tell you whats underhood happening, just calculate the grid item height/width ratio when grid initializing, then after, watch the grid container resize event, adjust each grid item to be the initial ratio, then its done.

[2017-05-19 11:25] mohan4ghz opened #670 "How to get grid-stack cursor position?"
https://jsfiddle.net/vxpkwpge/

I am creating grid stack item using HTML5 drag and drop, while drop I am creating the grid stack item, I have to give predefined X, Y position,but  I want get drop position of gridstack, so I can pass that value to gridstack x,y

[2017-05-19 21:07] fheidrich commented on #552
Same here, I would love to see that in grid stack.

In the meantime, I was able hack it for my simple use case (one row, disabledOneColumnMode, height=1)
To force all tiles 100px wide (all my tiles are width=1, it should not be hard to do for any width) :
In the CSS
`
    $tile-width: 100px; /*100px*/
    .grid-stack-item[data-gs-width="1"]  { width: $tile-width; min-width: $tile-width; max-width:

[2017-05-20 02:47] tm1000 commented on #570
@piernik doesn't look like it's going to happen. See https://dylandreams.com/2017/04/26/gridstack-10-coming-soon/

@radiolips any major reason why?

[2017-05-22 10:04] vigor-vlad commented on #667
a small update on the first issue. There we still some problems on dropping the item into the trash zone, for example when the width of the item is greater then the width of the  trash zone. And in "gridstack.jQueryUI.js" I found some strange code:
[code]
It prevents you from using advanced droppable options, like 'tolerance', 'greedy', etc. Here is how I fixed it:
[code]
I have the question. Did

[2017-05-22 16:19] radiolips commented on #667
Hi, @vigor-vlad ! I believe that the code is not intentionally exclusive; adding more user-defined options to `droppable` is not a problem. We may want to add different option parameters when defining the grid for trash, sidebar, and widgets. Feel free to add a PR if you'd like! Otherwise, I'll take a look at what you posted and some of the code and see if I can't get `droppable` options passed th

[2017-05-22 16:23] radiolips commented on #670
Hi, @mohan4ghz ! `gridstack.js` actually has a  drag-and-drop between grids and from a sidebar. Have you tried that?

[2017-05-22 16:26] radiolips commented on #668
Earlier versions of both jQuery and jQuery UI will not break. We don't use advanced features, but we have verified that it works with the newer versions of both.

[2017-05-23 11:25] Ruchir-zealous opened #671 "How can I add gridstack widget by injecting html markup to view?"
I know there is ```addWidget``` method but here I want to add HTML markup to view and make it gridstack widget @troolee

[2017-05-24 06:36] piernik commented on #570
@tm1000 thanks

[2017-05-24 10:30] lepinekong opened #673 "Touch support on Windows"
Hi, this lib is great. I just wonder if it really supports touch: when trying a demo on surface pro 4 with my finger I wasn't able to drag and drop.

[2017-05-24 10:38] sarat9 commented on #108
Thanks @pySilver . :)
@paladin0 , Here is simple answer to delete your widget .
Add these changes to your code.

Add the CSS to your <style>
[code]

Add this to your HTML inside your `<div class="grid-stack">`

[code]
Initialize in your <script>

[code]

Hope it Helps.. :)

[2017-05-24 13:25] radiolips commented on #673
Hi, @lepinekong ! Have you tried using jquery-ui touchpunch?

https://github.com/troolee/gridstack.js#touch-devices-support

[2017-05-25 21:25] radiolips commented on #671
@Ruchir-zealous You can use the `makeWidget` to convert existing HTML to a gridstack widget.

https://github.com/troolee/gridstack.js/tree/develop/doc#makewidgetel

[2017-05-25 21:25] #671 closed

[2017-05-26 08:26] tanobi92 commented on #396
Hi @radiolips , I tried to use setting helper: clone for draggable in example two.html, but failed. I downloaded new version 1.0.0. Help me! Thanks!

[2017-05-26 08:27] abayob commented on #396
@tanobi92 It works fine here! What is your code, how are you using it? What do you expect should happen?

[2017-05-26 08:40] tanobi92 commented on #396
Oh @radiolips , I use file gridstack.all.js in folder "dist" when it runs, and I use gridstack.js when it fail.

[2017-05-26 11:53] orbitboy007 opened #674 "ERROR TypeError: $(...).gridstack is not a function"
I am trying to use gridstack with angular2 i am using all possible way but this error not gone. can any one help me to figure it out??

ERROR TypeError: $(...).gridstack is not a function
    at my-grid-stack.component.ts:23
    at ZoneDelegate.webpackJsonp.627.ZoneDelegate.invokeTask (zone.js:398)
    at Object.onInvokeTask (core.es5.js:4116)
    at ZoneDelegate.webpackJsonp.627.ZoneDelegate.invo

[2017-05-26 14:09] sohaib-khan commented on #662
Hi @radiolips. Is there any update on showing grid lines lets say if a grid is initialized for 12 col and 12 rows to begin with?

[2017-05-26 16:17] pedrumj2 opened #676 "Max height not working"
based on the docs when we set height in the options it should limit the number of rows, however this feature is not working.

Reproduce: You can replicate this by setting overflow to true on the main grid stack div and constantly dragging items under each other.

Solution: Change this:

[code]

To this:

[code]

[2017-05-26 18:07] troolee commented on #676
We will check the issue, but `0` there for a reason. The idea behind this is, if we move node on the grid with no restrictions what would happen in result. Will it more than max height or not.

[2017-05-26 18:15] troolee commented on #666
You can use `cellHeight()` and `cellWidth()` to calculate grid coordinate from offset.

[2017-05-26 18:15] #666 closed

[2017-05-26 18:42] troolee commented on #666
also please check out `getCellFromPixel` method

[2017-05-28 16:42] radiolips commented on #674
Hi, @orbitboy007 . You should use the gridstack.js and gridstack.jQueryUI.js files in CDN rather than the ones you listed. That won't fix your problem, but is still necessary.

I don't have experience with angular, but if you could provide a jsfiddle we can try to help you diagnose the issue.

[2017-05-28 16:46] radiolips commented on #668
I want to also add that we plan on removing the jQuery UI dependency in version 1, which will hopefully hit beta next month. You can read more about version 1 at

[https://dylandreams.com/2017/04/26/gridstack-10-coming-soon/](https://dylandreams.com/2017/04/26/gridstack-10-coming-soon/).

There will be some additional changes, so be sure to subscribe to/follow the blog. I'll post another update wh

[2017-05-28 16:46] #668 closed

[2017-05-28 16:47] radiolips commented on #663
@mohan4ghz could you link to some code, preferably a jsfiddle? I can try to help you, but I don't know exactly what you need.

[2017-05-28 16:49] radiolips commented on #662
Hey @sohaib-khan . We haven't had a chance to look into that just yet. We're hard at work with some bugs and major [1.0 features](https://dylandreams.com/2017/04/26/gridstack-10-coming-soon/). When I have a chance to look into these grid lines, I'll update this ticket. Thanks for the ping. I'd love to one day make gridstack.js a full-time job, but for the time being, I'm devoting as much time as I

[2017-05-28 16:51] radiolips commented on #651
@chdeshpc just wanted to check in and see how you're doing! Have you been able to make some progress?

[2017-05-28 16:51] radiolips commented on #625
Closing due to inactivity. Please reopen if there's still an issue.

[2017-05-28 16:51] #625 closed

[2017-05-28 16:52] radiolips commented on #621
Closing due to inactivity. Please reopen if there's still an issue.

[2017-05-28 16:52] #621 closed

[2017-05-29 12:57] sohaib-khan commented on #662
@radiolips great! I will be following when this new feature kicks in. It will be a good visual cue for snapping divs to the grid.

[2017-05-29 14:19] stuartbloom commented on #613
Hi, sorry if I am late to the party, and this is a silly question.

I would like to make use of gridsatck in my solution, however, I make use of a build machine that performs an `npm install` every time a build is kicked off so I won't be able to make a change to the gridstack.jQueryUI file.

I don't currently need drag/drop or resize.  I am implementing this as a Aurelia application.  Is there an

[2017-05-29 15:01] radiolips commented on #613
Hey, @stuartbloom ! If you don't need drag/drop/resize, you are fine if you simply don't use the gridstack.jqueryui file!
[Dylan](https://dylandreams.com)

[2017-05-29 15:03] stuartbloom commented on #613
@radiolips Thanks Dylan

That's great to know.  I will hopefully spend some time over the next day or so implementing my new dashboard.  Do you have any simple Aurelia examples?

Thanks again

[2017-05-29 15:05] radiolips commented on #613
I don't, but maybe one of the people on this thread could offer some help? @diegotroitino @arnonuem @tipa @ZoolWay

[2017-05-29 15:12] stuartbloom commented on #613
folks, dont go spending any time on this, i have it figured out by using the repo @diegotroitino has the fix in :)  was simpler than I thought.

Thanks

[2017-05-30 00:24] diegotroitino commented on #613
I'm happy to tell you that I have fixed this issue in my project "_without any hack_"!!

I changed the package `jquery-ui-dist` to original `jquery-ui` and just refer to `data.js` file. With this, the aurelia-cli indentify the jquery-ui path and load the anothers dependencies before bundle the files.

I just updated [my repository](https://github.com/diegotroitino/aurelia_gridstack)

Even so, i'm

[2017-05-31 05:07] BlackNL opened #677 "How to use API?"
Hello,
I'd like to lock my widgets using the locked API. I just don't get how to use API with javascript... This might look stupid but i'm a big noob ^^'

[2017-05-31 07:45] vineetk68 commented on #101
+1

[2017-05-31 08:04] stuartbloom commented on #613
@diegotroitino Hey Diego I am now trying to implement Gridstack in my solution, however, the line `$('.grid-stack').gridstack(this.options);``fails with the following exception:
![image](https://cloud.githubusercontent.com/assets/7871566/26621844/150edf48-45e0-11e7-979e-370e35c220d6.png)

I have gidstack included in my packages and aurelia json files and have `<require from="gridstack/gridstack.mi

[2017-05-31 08:25] izzud1655 opened #678 "How to add widget + nested programatically"
**Hi, I have an issue where I can't add widget with nested in the sametime.
The output, just parent widget was defined as gridstack.
There is my code for that.**
parent = qI05
nested = q1051
[code]

[2017-05-31 12:17] radiolips commented on #101
What exactly are you trying to do? I can try to weigh in on this, but I'm not certain of what the goal is.

[2017-05-31 18:18] diegotroitino commented on #613
@stuartbloom, did you add the import of gridstack like [this](https://github.com/diegotroitino/aurelia_gridstack/blob/master/src/app.js#L2) in your dashboard class?

![image](https://cloud.githubusercontent.com/assets/5686833/26646988/2dc5a84e-4614-11e7-8cea-3c96abada32f.png)

[2017-05-31 20:41] troolee commented on #677
Please look at this example http://troolee.github.io/gridstack.js/demo/serialization.html
There is a sample how to use API methods

[2017-05-31 20:41] #677 closed

[2017-06-01 02:58] izzud1655 commented on #678
Ok, I have found a solution.
First I create a parent widget.
Then I add this code $('#q105' .grid-stack').gridstack(); before create a nested widget.

[2017-06-01 02:59] #678 closed

[2017-06-01 07:19] stuartbloom commented on #613
@diegotroitino of course, thank you so very much :)

[2017-06-01 08:33] stuartbloom opened #679 "Loading separate views"
Hi there

I have now the grid loading wonderfully with static content, however, I need to render different views from within my application in each widget.

Do you have any ideas on how to accomplish this?

Thanks

[2017-06-01 08:49] stuartbloom commented on #679
Found the answer [here](https://github.com/aurelia/templating/issues/35)

[2017-06-01 08:49] #679 closed

[2017-06-03 14:49] ahmedfekry commented on #101
I have the same problem, i am trying to create static bootstrap html using gridstack. how to export the html into static ?
@radiolips

[2017-06-03 17:41] radiolips commented on #101
As troolee mentioned, you can simply use the HTML and CSS without actually doing all of the Javascript. That should accomplish what you're trying to do. What's the specific thing you're trying to do that you're unable to do?

[2017-06-03 20:19] alexiade opened #680 "addWidget creating widget always with max height (when auto-position is off)."
I'm not very good at JS so I failed making a JSFiddle but I have really odd problem with trying to serialize/deseralize the gridstack setup. The code is the example with a custom service for storing the config in the database. It sort of works, except that the height of the widgets that I pass on load with addWidget is ignored and max height always appiled. The boxes on the screenshot are all heig

[2017-06-03 20:27] radiolips commented on #680
I got an email notification from "Alexia Death," so I'm inclined to help ASAP.

What's the code you're using to add the widgets? Have you tried hardcoding the height to see if it works?

[2017-06-03 20:46] ahmedfekry commented on #101
I have tried to use the html and css but the "data-gs-y" and "data-gs-height" properties fails to load tries to search for it in the css but did not find it.

[2017-06-04 09:39] alexiade commented on #680
How nice :) This is the code. The non-js bits in the middle are python. this lives in the view template of web2py. From JS prespective height is hardcoded... I can also paste the code that reaches the browser, if that' s more helpful.

[code]

[2017-06-04 09:47] alexiade commented on #680
hardcoding has no effect...

![screenshot_20170604_124643](https://cloud.githubusercontent.com/assets/1458504/26760539/e8e64086-4923-11e7-8ce3-9e42e521d041.png)

[2017-06-04 09:56] alexiade commented on #680
This partial fiddle contains most of it: https://jsfiddle.net/L6y28qzf/ I just failed to find a way to debug it. It probably contains some obvious mistake somewhere.

[2017-06-04 16:04] alexiade commented on #680
Messing with the fiddle I figured out that this happens if the widget declares height:100% in it's style. then this anomaly appears :) Thanks. I think I've figured out what's up :)

[2017-06-04 16:04] #680 closed

[2017-06-04 16:06] alexiade commented on #680
https://jsfiddle.net/L6y28qzf/6/  final fiddle :)

[2017-06-04 23:34] radiolips commented on #680
Glad you got it working! Let me know if you need anything else.

[2017-06-06 06:46] sivajisanapala opened #681 "Set "grid-stack-item" height based on the content with in"
How do i make the ".grid-stack-item" height to auto set the height of the content with in it. Because it helps to save once time to get a responsive design.

[2017-06-06 13:18] radiolips commented on #681
https://github.com/troolee/gridstack.js/issues/404

[2017-06-06 13:18] #681 closed

[2017-06-06 13:18] radiolips commented on #673
Closing due to inactivity. Please reopen if there's still an issue.

[2017-06-06 13:18] #673 closed

[2017-06-06 13:19] radiolips commented on #670
Closing due to inactivity. Please reopen if still an issue.

[2017-06-06 13:19] #670 closed

[2017-06-06 13:19] radiolips commented on #659
Closing due to inactivity. Please reopen if there's still an issue.

[2017-06-06 13:19] #659 closed

[2017-06-06 13:19] radiolips commented on #663
Closing due to inactivity. Please reopen if still an issue.

[2017-06-06 13:19] #663 closed

[2017-06-06 13:20] radiolips commented on #651
Closing due to inactivity. Please reopen if there's still an issue.

[2017-06-06 13:20] #651 closed

[2017-06-06 14:08] fcoedno opened #682 "Grid with width higher than 50 cols make widgets overlap each other"
I am changing the width of the grid dynamically by generating the necessary css styles in javascript. It works fine until a certain limit. When it reaches about 50 cols the widgets start overlapping each other.

Here it is the generated CSS for a grid with 52 cols:
`<style id="gridStyle">#gridBoard > .grid-stack-item[data-gs-width="1"]  { width: 1.9230769230769231%; }
#gridBoard > .grid-stack-item

[2017-06-06 22:42] ahmedfekry opened #683 "Question: Does the grid have overlapping option ?"
I want to know if it is possible to make the items to overlap each other ?

[2017-06-07 03:27] pootpootman commented on #526
This will get you the updated values.
`$(this).data('_gridstack_node');`

[2017-06-07 03:33] pootpootman commented on #577
This will get you the updated values.
`$(this).data('_gridstack_node');`

[2017-06-08 12:44] radiolips commented on #577
@pootpootman In what context would you do that? Using the event is the best way to get the size of the resized widget.

[2017-06-08 12:45] radiolips commented on #526
https://github.com/troolee/gridstack.js/issues/577

[2017-06-08 12:46] radiolips commented on #683
The widgets cannot overlap, but if you only want overlapping widgets, you can likely achieve your goal using just jQueryUI or another dragging/resizing library.

[2017-06-08 12:46] #683 closed

[2017-06-08 12:49] radiolips commented on #682
Without looking into the problem, my guess is that this is a mathematical issue. `gridstack` CSS is set in percentages. If you work out the numbers, my guess is that it's not feasible to get to that size. With a wider container, are you able to have 52 columns that don't overlap?

[2017-06-09 06:22] sivajisanapala commented on #681
Thank you @radiolips for the info

[2017-06-09 11:21] tipa commented on #613
Still unable to get the problem solved. Diegos repository didn't help too, unfortunately (but maybe I am just too silly).
This is the line where it crashes when I try to use v0.3.0:

![image](https://user-images.githubusercontent.com/2863198/26973340-556f8686-4d16-11e7-8254-e17cdfd5cac6.png)

[2017-06-09 12:05] billkim84 opened #687 "Resizing all widgets"
Is there any way to resize all widgets on the grid??

[2017-06-09 12:46] radiolips commented on #687
@billkim84 You can loop through each widget and call `resize` - https://github.com/troolee/gridstack.js/tree/develop/doc#resizeel-width-height

[2017-06-09 13:00] billkim84 commented on #687
Thanks for replay. I wonder is there any way user can do it not by programmatically

[2017-06-09 14:05] profesDevelopment commented on #687
@billkim84 You mean something like selecting multiple (or all) widgets and resize all selected widgets?

[2017-06-09 14:14] billkim84 commented on #687
@profesDevelopment yes

[2017-06-09 18:58] troolee commented on #687
@billkim84 No, there is no way to do this

[2017-06-09 18:58] #687 closed

[2017-06-11 03:35] riotgearw8 opened #688 "Knockout data-bind observable array question"
Just want to start off by saying this library is awesome. I'm trying to modify the Knockout2 example by including a simple h1 tag into the template like below.

[code]

How do I go about changing the text of the h1 tag and having it reflected in the UI? Let's say for starters that I wanted the h1 text to be random numbers updating every second. How do I go about doing that?

I've tried adding the

[2017-06-12 17:19] perthblank opened #689 "Not compatible with npm jquery-ui package (Angular 2)"
Hi, when I'm using angular2 to import the package, like
[code]
I have to manually modify the jquery-ui paths in that file, from jquery-ui/data to jquery-ui/ui/data and everything, to make the widget draggable and resizable work.

Is there an official way to solve this problem? I'm really new at npm and angular2.

[2017-06-13 11:02] carlsch commented on #655
I had a similar problem and solved it by moving the element before removing it.
`grid.move($elem, 0, 0);`
`grid.removeWidget($elem);`

[2017-06-13 11:37] fcoedno commented on #682
The container (scrollable) also grows in width based on the number of widgets in parallalel. So i don't think that's the problem.

The first example that i showed, i had widgets of 4 cols (fixed). With 48 cols (12 widgets) everything worked fine, and started overlap on the 13th widget. But, i tested again with widgets of 3 cols, the widgets started overlap again in the 12->13 widgets limit.

That

[2017-06-13 11:55] PrincessOfSecret commented on #655
Thank you, @carlsch , this trick has solved my problem, too. :)

[2017-06-13 22:07] cjkoski opened #690 "How to Calculate size of Grid Item for Full Screen View"
I feel like this is probably an obvious question but I am lost finding a solution.

I have a grid of charts and I want to add a button to open any into full screen viewing mode.

Right now I am doing:

this.grid.resize(this.activeGadgets[gadgetID], $(window).width(), 31);

And I am wondering how do I calculate the height so the grid stack item will take up the entire window and ideally would also

[2017-06-14 19:16] tedhuang commented on #689
I'm having the same issue. Tested with npm 5.

[2017-06-15 04:07] joshmn commented on #585
[code]

[2017-06-15 19:39] cjkoski commented on #690
Hi I was able to get this working.

For reference I ended up using something like this:

let cell = this.grid.getCellFromPixel({top: ($(window).height() - 60), left: 0});
this.grid.resize(this.activeGadgets[gadgetID], $(window).width(), (cell.y -1));

[2017-06-16 13:48] fcoedno commented on #682
Just some more info about this problem. As said before, i am increasing the size of the container, depending on the grid width.

Let's say that i have widgets of 2, 3 and 4 cols.

If i set the *width of the grid* higher than 24 all widgets of 2 cols start to overlap (their width grows). when i set the *width of the grid* for a number higher than 36 cols all widgets of 3 cols start to overlap (ther

[2017-06-16 14:15] fcoedno commented on #682
Just found out the problem. in the gridstack css files the min width i set to a percentage higher than the one necessary to acomplish the grid width i wanted. By now, i simply overrided this option in my own css file (set to 0).

Also, in the scss source file, this property is set to:

`$gridstack-columns: 12 !default;`

...

`min-width: 100% / $gridstack-columns;`

[2017-06-16 23:35] leandroz commented on #689
I just saw the same issue but additionally I can't make the basic example work