[2017-06-16 23:42] #690 closed

[2017-06-17 06:38] Illizian commented on #416
A temporary fix for this (that doesn't require amends to library files) follows:

[code]

[2017-06-17 08:09] m3ldro opened #692 "Set resizable status dynamically"
I'm testing the demo responsive way (responsive.html).

Inside the script code i've got that code...

[code]

I need to set "data-gs-no-resize" property true or false depending from widget i'm adding.
How can i do that?

I tried with something like that but it doesn't works.

[code]

Thanks a lot.

[2017-06-17 08:57] m3ldro commented on #692
I found the solution, i write it down for who needs:

[code]

[2017-06-17 08:57] #692 closed

[2017-06-17 18:11] stalniy opened #693 "Replace lodash with ES6 methods and functions"
This will allow to use native methods in modern browsers and use polyfills for old one. The main benefit is reduced bundle size and -1 dependency.

**Update**: I can provide a PR if you agree to proceed with this

[2017-06-17 18:43] stalniy commented on #689
guys, just add `alias` in webpack

[code]

[2017-06-18 15:24] jordihuertas commented on #550
Thank you!

[2017-06-19 10:23] satishsahani10 opened #694 "Export Dashboard"
Is there any way to export gridtstack dashboard as pdf ?
or can we integrate any other plugin to export it as a pdf. Please suggest.

[2017-06-19 13:36] trevisanweb opened #695 "Nested grids move outside"
Hi, I'm trying to make a nested match with two grids:

![screenshot 1](https://user-images.githubusercontent.com/3501138/27287362-b93e1932-54d9-11e7-818a-c51d777ab56b.png)

I noticed that the `.grid-stack-item` class does not let it be moved out of the box, any idea how to do this?

Ex: https://codepen.io/trevisanweb/pen/JJWNVY

Thank you!

[2017-06-19 20:33] trevisanweb opened #696 "Bugs Two Grids"
Hi, when you move an element from `#grid2` to `#grid1`, it does not scale any more. Another bug is when you quickly throw one element into the other grid-stack.

![bugs](https://user-images.githubusercontent.com/3501138/27304714-56d63004-5515-11e7-8ef6-c1a1ab771e2a.gif)

[2017-06-20 05:14] 24hours commented on #689
@stalniy I would like to add that in the case of angular-cli, user has no access to webpack config.

[2017-06-20 20:29] trevisanweb commented on #695
I found a solution in the file gridstack.jQueryUI.js change code line 69 `containment: this.grid.opts.isNested ? this.grid.container.parent() : null,`  -> `containment: this.grid.opts.isNested && !this.grid.opts.outside ? this.grid.container.parent() : null,` and add option plugin `.gridstack({ outside: true})`

[2017-06-22 18:49] drgnlrds opened #698 "Locked items can sometimes move"
Using the demo at: http://troolee.github.io/gridstack.js/demo/two.html

In a dev console run the following to lock all the items:

`$(".grid-stack").each(function (idx, gsEl) { $(gsEl).data("gridstack").locked(".grid-stack-item", true);});`

Drag an item from the left grid over the top left item in the right grid.  You will see that it will push it down even though it should be locked.

[2017-06-26 18:49] benoitvb commented on #525
Is there any improvement regarding this issue ?
For the records changing this line improves performance but breaks the layout.

Thanks a lot !

[2017-06-27 10:47] ianformanek opened #699 "staticGrid option no longer enough to disable drag/resize"
After upgrading from 0.2.5 to 0.3.0 we got a regression in the behavior of grids with isStatic: true as these became draggable/resizable.

Whereas in 0.2.5 (and also according to the [docs](https://github.com/troolee/gridstack.js/blob/develop/doc/README.md#options) ) this should be enough

[code]

It seems that in 0.3.0 it is now necessary to specify the options as
[code]

Note that this is also a

[2017-06-28 07:37] BeLPHeX opened #700 "Grid without vertical indents"
Hi!
Is it possible to make grid without vertical indents?
![screenshot_17](https://user-images.githubusercontent.com/27439302/27625559-b150bade-5bed-11e7-8eaf-1a2f443e112e.png)

[2017-06-28 12:51] ZoolWay commented on #613
@tipa You seem to be the only other one here using Aurelia with JSPM like me :)

Actually, SystemJS has by default a problem to fill in the `GridStackUI` object for the plugin which itself then fails to register. The `GridStackUI` object I get in `gridstack.jQueryUI.js` with just an empty object without any prototypes. GridStack itself has also registered itself to the `window` object.

This is a

[2017-06-28 13:15] BeLPHeX commented on #700
Sorry, I found solution a bit later

[2017-06-28 13:15] #700 closed

[2017-06-30 13:34] andrewhinde commented on #698
I've come across this issue as well.  A locked grid item can be moved if a moveable item is dragged above it.

[2017-07-03 03:04] umesh53 opened #701 "Page breaks in between grid stack items doesn't work"
Suppose if I want to break the page after a gird item and render the rest of the grid items in other page while printing, adding CSS in between the grid items or on the grid item doesn't work.

[2017-07-05 09:14] ZoolWay commented on #613
Okay, looks like I can provide a solution to use **0.3.0** with SystemJS 0.20 without hacking any code.

In my SystemJS configuration (e.g. `jspm.config.js`), I added this `meta` information:

[code]

Within my aurelia component, I just import all things like this:

[code]

Key seemed to be that both modules had to be set to format `amd`. That way the submodule got the parent module correctly inje

[2017-07-05 19:45] radiolips commented on #701
@umesh53 Do you have an example of this I can look at? I haven't tested printing grid items but it's on my list, and if you've got an example I can work off of, that'd be very helpful.

[2017-07-05 19:51] radiolips commented on #696
@trevisanweb Hey there. I've noticed this bug but haven't had the chance to look into it. And you're working on the latest dev version, right? I see you have some commits - do they fix these bugs?

[2017-07-05 19:51] radiolips commented on #696
I'm referencing #695 here also.

[2017-07-05 19:52] radiolips commented on #698
Two grids is the bane of my existence. It's so fun but adds so many complications. I'll take a look, thansk @drgnlrds and @andrewhinde .

[2017-07-05 19:57] radiolips commented on #693
I'm so torn. When I updated jquery-ui I got some pushback and I'm still getting pushback from jQuery. ES6 is becoming more ubiquitous of course.

@stalniy I don't want to waste your time, but could you put together a PR? Last time I check for lodash functions, it looked like we were using around 75 of them, and it seemed burdensome to remove. I was initially planning on removing them in favor of J

[2017-07-05 20:04] radiolips commented on #613
@ZoolWay You are amazing. Great job figuring that out!

So, um, I don't know. Is it a bug? Is it not a bug?

[2017-07-05 21:37] ImTheKeyMaster opened #702 "Removed Widgets Reappear when browser narrows to single column"
Hi,
Awesome library!!!

I'm looking for some advise.  I'm creating the grid-stack and items via a partialview in a .NET MVC project.  So, the items are not added dynamically.

I can successfully remove an item using the remove_widget() and it disappears from the DOM.  But, if I resize the browser so Bootstrap shifts to single column mode, the widget reappears (but as the last item).

I've also use

[2017-07-06 08:21] stalniy commented on #693
@radiolips  done

[2017-07-06 13:07] ZoolWay commented on #613
@radiolips That's what I am asking myself, too 🍶

Should the modules be autodectected to be AMD? Maybe, maybe not because GridStack wants to provide multiple module formats? I am not sure as understanding JavaScript module formats and loading still gets my headaches. I tried to get to know more on Gitter but @guybedford was not around while I solved the problem. Maybe he can give a small hint and

[2017-07-06 13:43] umesh53 commented on #701
Yeah I do.
`<style>
	@media print {
		.page-break {
			display: block;
			page-break-after: always;
		}
	}
</style>

<body>
	<div class="grid-stack">
		<div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="12" data-gs-height="2">
		      <div class="grid-stack-item-content" style="background-color: red;">GRID1</div>
	        </div>
	        <div class="page-break"></div>

[2017-07-06 15:18] nolanvance opened #704 "Widgets in first column drag correctly, other columns cause issue."
I have been creating a drag and drop tile system and so far gridstack has been great!

Unfortunately, when I drag and drop from the first column the copy follows the mouse as expected. However, when dragging from the second or any other column the copy stays locked into that column wile the "landing zone" moves around the grid.

This is not breaking the drag and drop functionality but is confusing

[2017-07-06 16:36] nolanvance commented on #704
Had this issue for a couple days, decide to post then I figure it out. Sorry!

When overriding the CSS for **.grid-stack-item[data-gs-x="1"] ... .grid-stack-item[data-gs-x="6"]** it was not using the left: parameter I set so I added an !important. This was forcing the item to stay at the same left value.

I fixed by removing the !important and targeting **.grid-stack > .grid-stack-item[data-gs-x="

[2017-07-06 16:36] #704 closed

[2017-07-06 21:11] adamlytics opened #705 "New widgets are added at the beginning with autoPosition = true"
When adding a new widget with autoPosition = true, it adds it at the very beginning of the items from a display standpoint, at x=0 and y=0.  This messes up the entire format of what has already been done.  I can fix this by looking at everything before I add a new item, however, I'd really like to be able to have an option that has it add items to the end so it does not mess up any current formatt

[2017-07-07 03:24] TheoZaff opened #706 "How to get data-custom-id?"
Hi,
I added some `data-custom-id` to my grid elements and I need to replace these IDs with something like `document.getElementById(myID).data-custom-id = myReplacementID`. I've done it already for the ID but it's simple compared to it.
Any suggestion?

Thank you :)

EDIT: Nvm, you can close

[2017-07-07 08:05] 123Rofiq opened #707 "how to save database data with knockout.js ?"
i will save data like http://troolee.github.io/gridstack.js/demo/knockout.html in database?
any can help me?
thanks
![boxku](https://user-images.githubusercontent.com/5044384/27948901-b4f2294a-6325-11e7-9938-f0f673b5e01d.png)

[2017-07-07 14:00] Pinthiya opened #708 "Facing the issue in the Height while loading the chart widget dynamically inside the layout"
Hi,

I have been working the gridstack using angular2.

In the application, i set dynamic value for the position(data-gs-x, data-gs-y, data-gs-width, data-gs-height) as well as content(inside the layout).
Here I faced the issue as before loading the data-gs-height value, container was loaded. so i got the container height value as "0px".
For the above issue, I applied some conditions as, after loa

[2017-07-08 11:00] guybedford commented on #613
The configurations added in https://github.com/troolee/gridstack.js/issues/613#issuecomment-313048250 could be included in the package.json of this project on the next publish (optionally under a "jspm" prefix) or put directly in the jspm registry to make it work today. Happy to take a registry PR on that @ZoolWay if you're interested.

[2017-07-10 07:29] aviralgarg0996 opened #709 "TypeError: $(...).gridstack is not a function"
This is my sequence of scripts>please suggest a solution as soon as possible.

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudfl

[2017-07-10 09:05] perea1 opened #710 "sort items in 1 column mode vertical"
Hi,

how can i make the sorting of items vertically (in 1 column . responsive mode)?

Example: vpos/hpos
box1 1/1-  box2 1/6 - box3 1/9
Box4 5/1 - box5 5/3 - box6 5/9
box7 9/1 - box8 9/6 - box9 9/9

Sort in 1 Column Mode:
box1
box5
box9
box5
box2
box8
box3
box6
box9

Thx

[2017-07-10 12:33] huangzh123 commented on #133
{draggable:{ revert: true, helper: "clone" }}

JqueryUI has this function, but it doesn't work here

[2017-07-10 18:11] AlamBique opened #711 "Integrating collapsible and closable panels in Gridstack dashboard"
Using the projects:

1-gridstack [LinkForGridstack.js](troolee.github.io/gridstack.js/)

2-Creating Collapsible Bootstrap Panels with jQuery [LinkForTutorialExample](www.jqueryscript.net/layout/Creating-Collapsible-Bootstrap-Panels-with-jQuery.html)

I'm trying to create a dashboard. Here is a simplified demo of what I was able to do:
[CodePen_Demo](https://codepen.io/AlamBique/pen/eRQGOm)

**The

[2017-07-10 21:51] juminoz opened #712 "What's your algorithm for auto layout? It seems very random"
I was trying out the auto layout option and it seems completely random. Is it not best-fit? The first 2 pods I tried with both have with of 12 (100%), but the last 4 pods with width/height 4/3, 4/2, 4/1, 4/3 ended up on top. Then the rest of the page are all jumbled up. Is there an option to also honor the order of the elements?

I used version 0.3.0 when I ran the test. I was hoping the library t

[2017-07-11 15:51] gooeyideas opened #713 "Custom Responsive Sort Order"
I am having a hard time finding documentation for how to control the responsive grid.

How can I keep built-in responsiveness without the having the framework reorder the markup?

The markup structure that I am using gridstack with is already in the order that I want the stacked responsive grid to be in. The logic that gridstack does to sort the responsive tiles is undesirable.

[2017-07-12 11:15] vigor-vlad commented on #709
1. You include both "underscore" and "lodash". You should probably include only one of these libraries...
2. "gridstack.min.js" is a minified version of "gridstack.js". There is no need to include both of them, just select the one that you need.
3. make sure that the location "../dist/gridstack.js" is correct. The relative path is used here, and it depends on the url (unless the <base ...> is defi

[2017-07-13 10:43] shani759 opened #714 "Widgets squeezing instead of shifting them down to another row"
Hi @troolee,,
I am new to gridstack, and it is a fun library. I came across an issue that i need to address and maybe someone can provide best approach to do that.
Currently when you increase the size of a widget then other widgets in same row gets shift down, what if instead of shifting down you need to keep them in same row and gets shrink until their min width gets hit ??
Any suggestions would

[2017-07-13 12:12] aviralgarg0996 opened #715 "Gridstack is not working in marionette"
I use Gridstack in simple javascript code it is working fine but when i use the same in marionette.js it is not working.Please suggest me a solution for this.if code is required then i use  https://jsfiddle.net/wmLk2ey7/7/ this,It is working fine but when i am transforming this same to marionette it is not working .
Draggable & resizable functions are not working & it is not showing any error.

[2017-07-13 12:45] #709 closed

[2017-07-13 22:32] gokhancs opened #716 "Float Grid Items to Stick to Positions"
Hi,

I am using gridstack layout on a large display system (~8x2meters, 15120x3840pixels). Therefore I can have hundreds of containers as gridstack items on my display at the same time. My use cases include moving items in the free space, create floating groups of items on my visual analytics software. My problem with gridstack is the following:

Say, I have 25 containers in the middle of the scre

[2017-07-14 04:29] garthgoodson commented on #159
I have this issue in 0.3.0.  Looks like the fix went into the 0.2.x branch, and the code in the 0.3.0 is sufficiently different.

I'm using the gsresizestop callback and need to use a settimeout to get the new height/width using jquery (not ideal).

[2017-07-16 20:37] anonimo9 opened #717 "Nested gridstack height (Like content)"
Hi,

Is it possible that .grid-stack-item that has inside .grid-stack would be same height as content ?
Because now the .grid-stack-item has scroll. I was search all internet, don't find any solution for this.

![nested](https://user-images.githubusercontent.com/13675696/28251135-8a0c706c-6a7f-11e7-93db-0bc0f8304946.png)

[2017-07-18 08:49] andelizondo opened #718 "'acceptWidgets: true' generates duplicate 'ui-resizable-handle' element and breaks resize."
Hello, I've been trying to use the option **'acceptWidgets: true'** but as soon as I move a 'grid-stack-item' to another grid, the item **gets a second 'ui-resizable-handle' div element** that breaks the resizability of the item. After deleting the duplicated div, the item becomes resizeable again.

Reproducible on **two.html** demo.

Thanks.

[2017-07-18 08:53] andelizondo commented on #705
I use it like this and works fine:

`$('.grid-stack').data('gridstack').addWidget($('<div><div class="grid-stack-item-content"></div></div>'), null, null, null, null, true);`

[2017-07-18 10:54] DonnchaC commented on #418
I'd also like to be able to set a strict CSP policy and disable inline-styles. Is there any plan for Gridstack to change from using custom styles and to use DOM modification instead? :+1:

[2017-07-18 13:05] OutOfNutella opened #719 "Add tolerance parameter for droppable div"
According to jQuery UI, you can add specifics tolerances on the droppable div
For example, tolerance pointer allows the user to drop any item on specific zone only if the mouse points inside the droppable div
Source: http://api.jqueryui.com/droppable/

You can see an example i've created on codepen: https://codepen.io/OutOfNutella/pen/QgRByB

So I tried to do this with gridstack, by updating the s

[2017-07-19 13:20] ZoolWay opened #720 "Containment cannot be set"
Is is not possible to limit move/size operations with the jQuery-UI plugin with the `containment` setting. Also there is the option `draggable` to override jQuery-UI parameters for this it will ignore the parameter `containment`. If you look at issue #695 or [gridstack.jQueryUI.js:69](https://github.com/troolee/gridstack.js/blob/develop/src/gridstack.jQueryUI.js#L69) you can see that containment i

[2017-07-19 17:43] garthgoodson opened #721 "widget jumps up on drag start when page is scrolled"
I have a container that is taller than the page.  If I have a set of 3 tallish widgets stacked on top of each other (~height of 5) and partially scroll down the page so that the middle widget is fully on the page, but the top and bottom widgets are slightly off of the page and then grab that middle widget it will immediately jump up above the widget above it.  It looks like the scroll position may

[2017-07-19 17:58] garthgoodson commented on #721
It may be related to a jquery ui bug:
https://stackoverflow.com/questions/5791886/jquery-draggable-shows-helper-in-wrong-place-after-page-scrolled
I'm using latest jquery-ui 1.12.1.  Position absolute is set and I've tried making parent overflow auto.

[2017-07-20 08:18] kindLee-alasikoo opened #722 "i use vue&&element-ui，how can I use gridstack.js"
i had jquery already.
[code]
[code]

[code]
[code]
gridstack doesn't work ....what shoud i do?

[2017-07-21 00:47] jinma1978 commented on #235
I would like to reopen this ticket to ask the same question. Once a widget had been sized, changing the screen resolution and browser size will automatically move the and resize the widget. How can I disable that automatic move/resizing? Basically, I only want the widget to be moved and resized from direct user input to the widget not from external condition like screen browser window size change.

[2017-07-21 12:07] kool-kat opened #723 "horizontalMargin option to match verticalMargin we have today"
Hoping this is an easy one.

Reading the api docs I see a parameter **verticalMargin**.

Setting this to zero removes the vertical 'Y-axis' gaps between grid items but horizontal gaps remain.

I did a quick scan through all parameters etc but couldn't locate an option to drop margins on x-axis.

Pointers please.

[2017-07-21 15:04] shani759 commented on #36
Hi @troolee
I have tried the code provided by @tomasjurasek  and turns out he was right. Even when i **resize** the widget over that widget (whose locked = true) that widget still leaves its place and goes below.
But if i hardcoded the **locked: true** in **gridstack.js** then it works fine.
Please look into it.....

[2017-07-22 03:21] kool-kat commented on #723
Update:

Manually changing the LEFT and RIGHT values for the CSS classes:

[code]

Allows for some changes in horizontal guttering between grid items but not as easy to change as with function options.

Also the visual result is different as the gutters are applied differently. Vertical margin doesn't apply any gutter at bottom or top of grid, but the classes create insert gaps at left and right o

[2017-07-22 04:17] kool-kat opened #724 "RTL demo - wont delete added widgets"
re: RTL Demo file (RTL.html)

You can't delete any widget you add using the [Add new widget] button.

Also widgets added will typically overlap existing item positions and prevent 'deletion' of previously removable widgets.

Not sure if this is just the proof of concept code being light-on or if issue with add and delete functions in general.

[2017-07-24 13:15] nolanvance commented on #716
Hey Gokhancs,

I have seen/tried a couple of options. First thing I tried was to add the 'data-gs-no-move="true"' to my widgets on "dragstart" and removing it on"dragstop". Unfortunately this has not worked for me but I would recommend trying it yourself. I also tried using grid.movable(el, isMoveable) on dragstart but this does not seem to fire until after I am done dragging, which is confusing..

[2017-07-24 21:45] TheoZaff opened #725 "Non movable items can be moved by other items"
Hello,
I have 2 different type of widgets. They both are `locked` and one also has `movable: false`. But, my non movable items can actually be moved by my movable items when I'm dragging a movable item above a non movable item for example. Sometimes the non movable item even gets deleted. I've tried to set `auto-position` to false without any success.
Did I miss something or is that a bug?

Thank

[2017-07-25 05:26] kool-kat commented on #425
It is picking up the change in verticalMargin for me in build 0.3.

Outer grid is verticalMargin=3 and inner grid is verticalMargin=0.

[View Screenshot](https://drive.google.com/open?id=0BzZCxcWL5OdXZjJJN1FGZkNFZVU).

BUT changes of vertical margin between parent grid and child are affecting widget height calculations.

I expected the inner grid to stretch/adjust vertically to absorb the vertical

[2017-07-25 06:59] kool-kat opened #726 "Nested grid looses verticalMargin setting when parent grid item moved (inherits parent setting)"
I have a nested grid with its own verticalMargin setting, which differs to the parent (wrapper) grid.

Moving a parent grid widget results in the nested grid being redrawn with the parent margin setting not its own.

Movie showing this is attached.
[nestedloosemargin.zip](https://github.com/troolee/gridstack.js/files/1172241/nestedloosemargin.zip)

My grid code:
[code]
My function and options:
[co

[2017-07-25 14:07] nolanvance commented on #725
I am having this exact issue as well seems to be a bug ( #698 )

[2017-07-25 20:26] nolanvance commented on #721
I was having a similar issue except when items were more than 10 rows apart. I fixed by updating this line in gridstack.js `self._updateStyles(maxHeight + 10)` to `self._updateStyles(maxHeight + 20)`. It was only generating the CSS for items within 10 units of the selected item.

[2017-07-25 21:10] TheoZaff commented on #725
The only difference between our issues is that you are using two grid and I'm using only one grid.

[2017-07-26 04:03] tanobi92 opened #727 "How to create more than one gridstack use knockout?"
I tried to register two ko component different. But it fail. Error: "Uncaught ReferenceError: Unable to process binding "click: function (){return addNewWidget1 }"
Message: addNewWidget1 is not defined"
My demo: https://codepen.io/TaNoBi/pen/dzPweY
Help me, please! Thank you!

[2017-07-26 18:10] shani759 commented on #714
Hi @troolee,
I kind of a able to get the desired behavior (stop widget from moving down on resize) using **locked** property. But method exposed by API is not working properly so i have to set **locked: true** in **gridstack.js** file.
After doing that resize is not behaving properly, i.e. If i resized a widget towards another widget (provided there is free place to resize) it came back to its ori

[2017-07-26 21:02] sooqua commented on #477
The the...? OP clearly asked about **horizontal** margin, not vertical. I need this too.

[2017-07-27 06:02] kool-kat commented on #717
Saw this myself. Nested grid should ideally inherit the 'wrapping' parent grid element cell width and height and as such fit perfectly.

Scroll bars shouldn't appear but they do. On my grid when first loaded/initialised there are no vertical scroll bars visible on the nested grid, but as soon as I hover over or move any parent grid elements they appear and then sometimes remain on screen even thou

[2017-07-27 06:35] kool-kat commented on #723
Would be great to have the gutter/margins between grid elements on X and y-axis styled and applied the same way.

Add horizMargin parameter please and apply the margins on inside of the grid (like you did with verticalMargin). We can set grid left, top, bottom and right margins as we need in CSS.

Thx

[2017-07-27 15:01] krilllind opened #728 "Fixed grid-size inside dynamic width/height (flexbox)"
Hi!
I have been looking all over the place for a solution to this problem, but I just can´t seem to find it.

Is is possible to generate a grid-stack area with given x and y columns inside a fluid width/height flexbox div? So when the window resizes the grid changes width and height but keeps the same amount of x and y columns. From my experience I can only get the width to become fluid, but the h

[2017-07-27 15:35] demedos opened #729 "gridstack is overriding my data-gs-y attribute"
Hello, I am trying to achieve this layout on click of a button:

[code]

the function is in my React component is

[code]

I can see the change in the `.gridstack-grid` container but the result is totally messed up:

![1](https://user-images.githubusercontent.com/16702156/28678583-07f2b6de-72f1-11e7-80d1-d2a929429555.PNG)

Also, i set the `data-gs-x` and `data-gs-y` via a property loaded through J

[2017-07-27 15:46] demedos commented on #729
nvm, I've found that the grid stack container **must** be named `grid-stack`, then everything is working as expected (it seems that I was flipping the axis?). Next time I'm gonna get a [rubber duck](https://en.wikipedia.org/wiki/Rubber_duck_debugging)

[2017-07-27 15:46] #729 closed

[2017-07-27 18:10] jeffbeagley commented on #718
When I delete the second one, the item becomes re-sizable, but it doesn't keep its new size and just reverts right back to what it was before

[2017-07-27 18:21] jeffbeagley commented on #718
I wrote a function that is called via the change event.

`			$( "#grid-home > .grid-stack-item" ).each(function() {
					$( ".ui-resizable-handle", this).each(function(index) {

						if (index > 0) {
							$( this ).remove();

						}

					});

			});`

[2017-07-29 00:30] kool-kat opened #731 "Logic for vertical (y-axis) positioning differs to horizontal"
There are more creative possibilities available for positioning grid elements on the x-axis (horizontal) than on the y-axis.

The logic used for down/up row movement doesn't match that used with left/right grid element placement.

Vertical positioning appears to be restricted and dictated by the bottom/top positions of positioned grid pieces NOT by whether there is room for the piece to fit in the

[2017-07-31 09:21] krilllind commented on #728
Manage to solve this by calculating the cellHeight when the grid is initilized, and then use the same method to recalculate the cellHeight when my grid "wrapper" changed height.

The only problem now is that **IF** a widget is for example 12 out of 12 cells in height, it will not resize when the grid does, it get stuck in the bottom of the grid and it's not updating the height. This might be some

[2017-07-31 11:20] krilllind commented on #105
I have written a directive for Angular.IO  generating a grid with specified options and resize event working. Hope to see this implemented in gridstack soon so I don't have to write everything myself.

[2017-07-31 18:35] Leonavas commented on #385
+1

[2017-08-01 00:12] adumesny commented on #731
@kool-kat try using float: true when creatign the grid (see official http://troolee.github.io/gridstack.js/demo/two.html)

[2017-08-01 00:18] adumesny commented on #723
I too find it weird we only have **verticalMargin**. I will soon need **horizontalMargin** (to set both to 0 or 1px for tight layout parent grids (inside more roomy grids)).

[2017-08-01 20:33] adumesny commented on #718
@jeffbeagley thanks for the heads up workaround!
would be great to get an actual fix submitted for review though.

[2017-08-02 05:43] JohnWSeeker commented on #725
I have same issue about it. Widget_A (locked: true) can be changed location by others widget hover it.

[2017-08-02 08:03] demedos commented on #728
You should probably throttle or at least debounce the resize event to prevent it from firing too many times causing the app to become unresponsive; the resize event can easily fire hundreds of times on a single resize action.

Based on yours, I'm using a very similar approach in my React component (simplified for clarity) with the extra throttling:

[code]

I found using lodash much easier and fas

[2017-08-02 09:35] krilllind commented on #728
@demedos Good thinking! But I don't feel like using lodash in my Angular IO (4) application, and I am already using Rxjs Observables. So with your comment in mind, I tweaked my solution to debounce the amount of event.

Here is my code reworked with Rxjs!

[code]

Thank you for pointing it out to me, I totally forgot about it! :)

[2017-08-02 22:31] #706 closed

[2017-08-04 07:55] jeoy opened #734 "Question: Can the widgets overlap each others while dragging ?"
I know the widgets cannot overlap from this issue : https://github.com/troolee/gridstack.js/issues/683

but can they overlap while dragging (before mouse up)?

[2017-08-08 06:16] eagoo opened #735 "anyone has reactjs using gristack example"
while https://github.com/pitrho/react-gridstack is not working

[2017-08-08 16:22] DoctaWorm commented on #735
As much as I like gridstack and have been using it for about two years, if you're in a pure react environment I'd recommend looking into this one: https://github.com/STRML/react-grid-layout

[2017-08-09 13:30] ivansborn commented on #405
Hi, I have one problem. I have to change dynamically verticalMargin, and if I do that, items increases height. How can I use this formula and where? I need to have same items size,  but different size of verticalMargin. How can I do that if I have similar code like @parthbhagat jsfiddle? Thanks.

[2017-08-10 02:48] robertwong68 opened #736 "non Responsive in Mobile"
I have arranged the item well on PC and I want to keep the same layout when using mobile. Can I may it non-responsive ?
Thanks.

[2017-08-14 20:03] derwaldgeist opened #738 "peerDependencies instead of dependencies"
Would it be possible to change this library to use peerDependencies instead of fixed dependencies? In some build environments, dependencies will cause the libraries to be loaded more than once, if you already use them in your other code.

[2017-08-14 20:06] derwaldgeist commented on #735
Unfortunately, react-grid-layout doesn't work well on mobile (touch) devices. Is there another alternative? I also like gridstack, but the (fixed) dependencies on jQuery and jQueryUI are a problem for me.

[2017-08-15 19:24] rashcms opened #739 "change height"
Is it possible to change height step ?
when data-gs-height is 4, height is 300px,

[code]
and when it's 5 , height is 380px

[code]
I need 80px per every step

[2017-08-16 08:48] rashcms commented on #739
found it! simple !
[code]

[2017-08-16 08:48] #739 closed

[2017-08-16 10:54] krilllind commented on #736
@robertwong68 You can set the `disableOneColumnMode` to `true` if you don't want a one column layout. Please visit the [dosc](https://github.com/troolee/gridstack.js/tree/develop/doc) before posting an issue.

[2017-08-17 01:54] justintoth opened #740 "Persistence support?"
Does this library allow persisting the state of the widgets, e.g. in a cookie? If so, is there an example of that somewhere? Moving the widgets around isn't very useful if it doesn't persist across page loads.

[2017-08-17 06:12] Ghumwala opened #741 "Increase width of widget"
How do I increase width of widget? I have used below code
if (grid == null) {
                          grid = $(componentInfo.element).find('.grid-stack').gridstack({
                                width:12,
                                auto: false,
                                float: true
                            }).data('gridstack');
}

When I inspect in browser, data-gs-width="2" is

[2017-08-18 15:50] MohammedAbdulMateen opened #742 "Sub-divide columns (items - .grid-stack-item) as we can do in Bootstrap 3.x"
Hi! @troolee, @radiolips,

There is a particular division that can be done in Bootstrap 3 to sub-divide a particular column into exact divisions for e.g. Let's say we have two columns col-md-9 and col-md-3

we can sub divide col-md-9 (considering it as col-md-12) into two col-md-6 as shown in the below fiddle

[https://jsfiddle.net/ypfochko/4/](https://jsfiddle.net/ypfochko/4/)

but if we have to

[2017-08-18 22:40] idxEAGLE commented on #573
I am not sure, if it is important and actual, I faced with similar issue today and found out that in my case it is not depend on single the element in grid or not. In my case when height size > 1 then size of element is:
elemenHeight = cellHeight * cellSize + (cellSize - 1) * verticalMargin. So, if verticalMargin in options is set as 0 - the issue is resolved for the result size of widget. So, I t

[2017-08-21 06:23] kool-kat opened #743 "Set StaticGrid behaviour 0.3"
Hi,

I have done a trawl through issues past and present and see a few tickets referring to StaticGrid option not behaving as expected.

I have created a 2 piece grid and initialised it as **staticGrid=true**

I know it is seeing this parameter as **it is applying the CSS class grid-stack-static** to the wrapper grid DIV.

BUT each piece in the grid is still moving and resizing. I know I can manua

[2017-08-21 11:09] umesh53 commented on #701
Hi @radiolips,
Is there any update on the above issue? I think that data-gs-height is not allowing to page break.

[2017-08-21 14:05] Stratofish opened #744 "Items lose "data-gs-y" styles when any item is resized horizontally."
This seems to happen only when the resized item is the only one on it's row. Resizing it vertically resets them.

https://jsfiddle.net/ad2e0hvm/12/

As far as I can see this is due to the fix for #600. _updateStyles() is meant to be incremental but that fix flat out deletes all the styles and only recreates the top (item height + 10) rows

[2017-08-21 19:45] ingale88s opened #745 "gsresizestop event never triggers"
I am trying to get height of updated div using following event but this event never triggers after resize stop.

[code]

[2017-08-22 02:11] kool-kat commented on #716
+1 for a solution to this. I agree widgets should move aside on collision but equally should resume original position if the items being dragged and dropped are no longer colliding or threatening their space/position.

[2017-08-22 07:24] luckylooke commented on #743
I can confirm that option staticGrid does not take any effect. Tested on very basic example:
[code]

[2017-08-22 07:53] luckylooke commented on #743
Workaround for now is to call setStatic method right after init.

[code]

[2017-08-22 12:50] luckylooke opened #746 "Unexpected behaviour of option width (applies also on attribute)"
Setting width to 3 causes that grid items takes only part of a grid root element and positioning items partialy acts like it is a full width.

Lates take basic example:
[code]
1. Start drag item
2. drag it to the x:2 y:0 position
3. as you can see drop place holder is on x:1 y:0 position instead
4. to drop it into x:2 y:0 you need to drag proportionally, related to root element

Hope you understan

[2017-08-22 13:06] luckylooke commented on #746
Ok, I have found in docs the solution ;) https://github.com/troolee/gridstack.js#change-grid-width

[2017-08-22 13:06] #746 closed

[2017-08-23 05:39] kingsgobi opened #750 "multiple drag is possible"
i want to drag 2 box same time

[2017-08-23 09:33] kamran924 commented on #743
This will not work if you have nested grids. Inner grids are not static.

[2017-08-23 09:57] kamran924 opened #751 "Gridstack slow rendering in Internet Explorer."
First of all congratulations and thanks for the authors of GridStack plugin, its awesome!!

I am using nested grids to make a form and I noticed quiet slow performance in IE ( I am using Ver. 11).

I have added the  [jsFiddle](http://jsfiddle.net/Kami924/4sqLx31f/7/).

The page loads relatively fast in FireFox and Chrome as compared to IE.

[2017-08-23 13:14] ZoolWay commented on #751
IMHO we should not put much effort in improving performance on absolutely outdated browsers. Even MS discontinued it. It works but for full performance go to Chrome, Firefox or Edge.

[2017-08-23 18:16] ingale88s commented on #745
This is not a issue. I didn't realize that this event is added in v0.3.0.

[2017-08-23 18:16] #745 closed

[2017-08-24 05:01] VinodLouis commented on #540
Any one got workaround for this ?

[2017-08-24 14:43] codelinks opened #752 "appendTo: Body not working at all"
Hi,

I am trying to use GridStack in an container set to overflow: auto.  If overflow is not set to auto, gridstack behaves as documented. When set to overflow: auto and fixed height, the widgets do not cross the container they tend to extend the height/width of overflow container.

To get around this, I am using appendToBody when setting up draggable option of gridstack, as mentioned in the fix h

[2017-08-25 03:10] kool-kat commented on #743
@kamran924

The work around will also work on inner grids. Remember to call the setStatic(true); function for each grid group.

`$('.grid-stack').data('gridstack').setStatic( true );
$('.grid-inner').data('gridstack').setStatic( true );

The first one sets the main grid. The second one locks the inner grid which is identified within the HTML code with class name "grid-inner"
`

[2017-08-25 03:53] jeoy commented on #722
which version of gridstack.js do you use?

if it‘s higher than 0.2.6 (like 0.3.0),

you should include  ```gridstack.jQueryUI.js``` as well or just  include ```gridstack.all.js```.

ref:    https://github.com/troolee/gridstack.js :  Migrating to v0.3.0

[2017-08-25 14:53] VinodLouis commented on #540
I tried something in case if anyone is interested https://github.com/VinodLouis/polymer-gridstack

[2017-08-28 09:25] jishanshaikh opened #753 "Need Callback function"
It will be great if we can have callback functions facilities after updating/resizing/adding new widget/deleting widget etc.

I am trying to get the latest height and width of widget after resizing it with update function but i cant get correct height and width unless i use setTimeout.

[2017-08-28 12:57] n5320 commented on #582
Not working 'data-gs-max-width' in two grid, when dragging

[2017-08-28 15:45] torrao commented on #725
@TheoZaff @JohnWSeeker @nolanvance ,

if you put your _non movable widgtes_ as `data-gs-locked`, `data-gs-no-move`and `data-gs-no-resize`, they cannot be displaced by other moving widgets.

Hope it helps!

[2017-08-29 15:57] ISNIT0 opened #754 "Gravity Parameter"
Would be really nice to have a 'gravity' option (top/bottom/left/right) for the direction packNodes moves the tiles.

Currently it's only possible to have no gravity (float:true), or the default which is up/top.

[2017-08-30 09:05] michaellwatson commented on #101
I understand how you could pass the width values into bootstrap column values, but what about the height properties? Did anyone get a solution to this? Hardcoding the height values might make responsive problems

[2017-08-30 15:10] testuserx opened #755 "Gridstack widgets can't be moved after new widgets are added"
Application made with RactiveJS, Redux and Gridstack.

When new widgets are added, all is fine and widgets are movable/resizable as well. But when I delete all widgets and add, for example, two new, then:

    1. widgets can't be moved and can't be resized.
    2. when try to delete widget it disappear, but other widgets change their position.

You can see this in [jsFiddle](https://jsfiddle.net/b

[2017-08-31 04:00] tonywr71 commented on #689
To get around this problem, in my webpack.config.js file, I put:
[code]

Mind you, I have also included
'gridstack/dist/gridstack.min.css',
'gridstack',
'jquery',
'jquery-ui',
'lodash',
in my webpack.config.vendor.js file.

Also, it appears that you will need lodash version 3.5.0. It will be so good when lodash and jquery are no longer necessary!

[2017-08-31 04:05] tonywr71 commented on #674
I've managed to get it working with webpack and angular 2.
To do this, in the webpack.config.vendor.js file, I put:
'gridstack/dist/gridstack.min.css',
'gridstack',
'jquery',
'jquery-ui',
'lodash',

In package.json, your lodash version will need to be "3.5.0"

In your webpack.config.js file, you need to add an alias to the jquery-ui objects that were moved into a "ui" folder. This is because jquer

[2017-08-31 09:52] ZoolWay commented on #754
If you take a look at the blog post, https://dylandreams.com/2017/04/26/gridstack-10-coming-soon/ , that's a 1.0 feature. It highly awaited ;)

[2017-08-31 13:38] michaellwatson commented on #95
Putting this hear in case anyone needs it, adding nested widgets
https://codepen.io/michaellwatson/pen/EvGEgM

[2017-09-01 00:19] tonywr71 commented on #753
You should be able to use the "change" event to detect changes:
[code]

The example for serializing is [here.](http://troolee.github.io/gridstack.js/demo/serialization.html)

It's save grid function looks at the node list. So my variation of this which returns json string data, which can then be stored in a cookie, is:
[code]

BUT be warned. I am investigating an issue at the moment where it appea

[2017-09-01 00:22] tonywr71 commented on #740
Repeating a reply I made elsewhere:

You should be able to use the "change" event to detect changes:

[code]
The example for serializing is [here.](http://troolee.github.io/gridstack.js/demo/serialization.html)

It's save grid function looks at the node list. So my variation of this which returns json string data, which can then be stored in a cookie, is:

[code]

BUT be warned. I am investigating

[2017-09-01 00:30] tonywr71 commented on #578
You would be better off using a standard javascript array sort if you want a custom sort.

e.g. (note, this is my own custom object type, but you should be able to get the idea. blocks is an array)
[code]

[2017-09-01 03:47] tonywr71 opened #756 "Bug: Serialization failing"
Hi there,

I have a particular circumstance where the serialization is not consistent with what I am seeing on the screen.

I have built a plunker to demonstrate this. This plunker is based on the original serialization demo. The plunker may be found [here.](https://plnkr.co/edit/mAYD9XMwMnxuS6p85A5y?p=preview)

The plunker shows 5 blocks displayed in a single gridstack. At start up, it uses makeW

[2017-09-01 12:56] petegibbins commented on #542
Looks like I'm experiencing the same thing - dragging a widget off a flyout menu into the gridstack, works the first time but not the second time. Unless you drag the widget right to the top of the screen, in this case it's under the top menu.
Will this one get fixed?

[2017-09-01 15:03] nelsonad commented on #542
@petegibbins did you try making the change i posted above? It's still working for me

[2017-09-01 15:30] petegibbins commented on #542
@nelsonad Hi - yep tried that but no luck for me. I'm using v1 of the framework, could you be using an older version where this works? See that @mandys says it's "no longer" working.

[2017-09-01 15:36] nelsonad commented on #542
@petegibbins oh, ya maybe that's it, i'm using v0.3.0 =/

[2017-09-01 16:13] petegibbins commented on #542
@nelsonad Tried on v0.3.0 still no dice unfortunately. The 'dropover' event does not get fired 2nd time around.

[2017-09-01 17:16] AaronRobson commented on #542
I have the same issue, do we know in which revision the workaround stopped working?

[2017-09-03 18:40] vadus1 opened #757 "How to get coordinates, which actually changed"
When I change the position of the widget, such as drag two widgets. Using the event 'change' to get these updated widgets.
I make a condition, which checks the changed position.
so . `if (stack_item.data('gs-x') != items[i].x || stack_item.data('gs-y') != items[i].y) {`
I reload the page. Change position of the widget, and nothing happens. Then again change the position of the same widget and I ge

[2017-09-05 15:09] radiolips commented on #755
@testuserx Hey there. It looks like even resizing is weird prior to deleting the widgets. When I have some more time I'll try to take a closer look. I haven't worked with Ractive but hopefully I'll be able to figure out what's going on here. I don't think it's a bug in Gridstack, but rather something odd going on in combination with your setup.

[2017-09-05 15:11] radiolips commented on #754
Thanks, @ZoolWay . I have lots of excuses for why version 1 wasn't released yet, but I'll save myself some face and just say: shoot. I missed a deadline badly. I'm working on a plan to increase transparency so that it's more obvious to see the status of all gridstack features. Look for a blog post soon - I'll get into a regular cadence with that as well.

[2017-09-05 15:11] radiolips commented on #754
(but, yes, it's one of the features in the [uuuugh as-yet-unreleased] version 1.0.

[2017-09-05 15:14] radiolips commented on #753
Thanks, @tonywr71 ! I'm double-investigating.

@jishanshaikh If you want the coordinates of the particular widget you're changing, use `gsresizestop` rather than `resizestop` - `jqueryui` likes to steal our functions and report wrong (well, in our case wrong) coordinates.

[2017-09-05 15:18] radiolips commented on #752
@codelinks Are you saying that when you use `clone` you have issues as well? I was only able to successfully get it working using clone with version 1, but if there's a reason you can't use clone I'm sure we can figure out a workaround.

[2017-09-05 15:22] radiolips commented on #751
@kamran924 In the upcoming version 1, there will be better performance when dragging widgets. _However_, we have some limitations. For now, the full widget, including its contents, is rendered when dragging. If you have many widgets or nests, that can put a strain on the browser. Even on a great laptop running Chrome, you'll likely experience slowness in those situations.

I'd recommend breaking u

[2017-09-05 15:22] #751 closed

[2017-09-05 15:23] radiolips commented on #750
@kingsgobi This feature is inherently out-of-scope for gridstack. However, you can certainly use some simple Javascript code in combination with gridstack to move two widgets simultaneously. If you make an attempt, I'm sure someone here will help assist you in reaching the finish line.

[2017-09-05 15:30] radiolips commented on #744
This is bizarre. If you resize vertically and don't let go of click, you can still resize horizontally and it works fine. In my projects, I don't have this issue. I'll investigate, but I can't think of a good reason (which only means that it's a bad reason...but aren't all bugs bad?).

[2017-09-05 15:49] codelinks commented on #752
@radiolips - Thanks for looking into this.

Yes, even with helper: 'clone' the placeholder jumps around.

I forked the previous plunker to just use **helper: 'clone'**. Here is the new plunker:
https://plnkr.co/edit/PMwvIjq5R0EFF4IIo0du?p=preview

Try to drag the first green box from the first grid and you will see that placeholder jumps to bottom.
Also I can not drag the grid-items to trash icon

[2017-09-05 16:34] radiolips commented on #743
Holy smokes. I don't know at what point that broke, but it's definitely broken. Thanks for letting us know, @kool-kat . I'm glad there's a workaround, but this issue needs to be fixed. It'll be resolved in the dev branch shortly and will be part of the next release.

[2017-09-05 16:40] radiolips commented on #757
As seen in this fiddle https://jsfiddle.net/9tga7oam/39/ , both widgets are returned for every resize/move rather than just the affected widget.

[2017-09-05 16:44] kingsgobi commented on #750
@radiolips thanks

[2017-09-05 16:46] radiolips commented on #742
@MohammedAbdulMateen I believe your initial example is incorrect. From what I understand of bootstrap,
[code]

[2017-09-05 16:46] #742 closed

[2017-09-05 16:48] radiolips commented on #741
`data-gs-width` is for sizing widgets. The code you pasted is for the actual grid. I'll need more code to help you with your problem, but without seeing the code I am guessing that you're initializing a widget without a width (or with a width of two).

[2017-09-05 16:51] radiolips commented on #740
I'm closing this issue, as it's been brought up before and will not be part of the `gridstack` library. It's very easy to persist data in a file, in a database, in application cache, or wherever else data could be stored.

You can use the serialization function, such as @tonywr71 provided (again, thanks!) and simply store it wherever you'd like.

@justintoth if you make a pass and are having probl

[2017-09-05 16:51] #740 closed

[2017-09-05 16:53] radiolips commented on #738
Thanks, @derwaldgeist . I'll take a look. We should be able to make the adjustment.

[2017-09-05 16:53] #736 closed

[2017-09-05 16:57] radiolips commented on #735
@derwaldgeist The dependencies will be removed in version 1. This has been delayed for no particularly good reason, but the dependencies _will_ be removed. The resize/dragging functionality will need to be supplemented (I've only been working with one other plugin but any plugin should work - you'll also be able to roll your own if you'd like).

@eagoo shoot. I'm sorry. I think there are a few oth

[2017-09-05 17:00] radiolips commented on #734
@jeoy Thanks for the question - Unfortunately, no, they can't overlap while dragging. The way the core functionality of gridstack works, the space is taken when it's available. I believe you'd run into some strange interface issues if this was not the case, but, either way, it's not possible to overlap while dragging.

[2017-09-05 17:00] #734 closed

[2017-09-05 17:01] radiolips commented on #731
Thanks, @adumesny . That's right on both counts - `float: true` will enable 4 to touch 5, and version 1.0 will add gravity.

[2017-09-05 17:01] #731 closed

[2017-09-05 17:03] radiolips commented on #726
@kool-kat I believe there's an existing ticket that mentions this. If I can find the ticket, I'll mention the link here and close this ticket. If not, I'll keep this open. Thanks again for logging all of these bugs - if we're unaware of the issues, we can't make the fixes.

[2017-09-05 17:07] radiolips commented on #723
@adumesny @kool-kat I'll add `horizontalMargin` to the list of features to add. I recall there being a reason why we didn't implement it, but for now consider it planned!

[2017-09-05 17:09] radiolips commented on #722
Thanks, @jeoy !

@kindLee-alasikoo if you're still having problems, I know that you can find a ticket or two (maybe closed) in here where this has been discussed. I'm closing this issue, but let me know if you are unable to find what needs to be done.

[2017-09-05 17:09] #722 closed

[2017-09-05 17:11] radiolips commented on #714
@shani759 Thanks. Could you provide a jsfiddle? I'm not sure what you mean when you say that `locked` isn't working - if you could provide a fiddle I could take a look. Thanks!

[2017-09-05 17:12] radiolips commented on #713
@gooeyideas Are you talking about one column mode - when the window is small (ie on a mobile device), the widgets go into a single column. Is that what you're referring to?

[2017-09-05 17:13] radiolips commented on #712
@juminoz Thanks for logging this! There's actually another ticket that mentions this as a problem. It'll be fixed, I promise. It's certainly a weird thing.

[2017-09-05 17:13] #712 closed

[2017-09-05 17:17] radiolips commented on #711
Hey there, @AlamBique ! I'd be happy to help you.

What you're trying to do is actually a little tricky. You can create a listener to resize the widget's height, but it won't get the animation. Will that work for you?

[2017-09-05 17:19] radiolips commented on #710
Hey, @perea1 ! If I'm understanding you correctly, the way to achieve that is to manually reorder them when you get into one column mode. You can check for one column mode, or you can add a listener that will check for the same condition the one column mode does (`return (window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth) <=
            this.opts.minWidth;`)

[2017-09-05 17:19] #710 closed

[2017-09-05 17:20] radiolips commented on #708
Hi there, @Pinthiya ! Happy to help you out.

Could you provide a jsfiddle for me to take a look? I believe we can figure out a way to fix your problem.

[2017-09-05 17:21] radiolips commented on #707
@123Rofiq Which part specifically do you need help with? Essentially, what you need to do is grab the widgets and send their x, y, width, and height to a database (in addition to their content).

[2017-09-05 17:22] radiolips commented on #705
@adamlytics There's an open issue about this. It's a bug that will be resolved for version 1. Sorry for the inconvenience.

[2017-09-05 17:22] #705 closed

[2017-09-05 17:23] radiolips commented on #702
Hey there, @ImTheKeyMaster ! Your issue is very strange. Could you provide a jsfiddle?

Also, I'd highly recommend using `removeWidget` rather than `remove_widget`, as the underscored functions will be removed in version 1.

[2017-09-05 17:23] justintoth commented on #740
Yes I was able to get it working, thanks!

[2017-09-05 17:24] radiolips commented on #699
Thanks, @ianformanek . There's an issue posted more recently (apologies, I know I'm going through these in reverse order) that I've commented on. Thanks for letting us know - this will be resolved in version 1.0, and will be in the 1.0 dev branch soon.

[2017-09-05 17:24] #699 closed

[2017-09-05 17:28] adumesny commented on #723
maybe it should be a single **margin** field to control them both (not sure why you would want one but not the other... for now I'm able to control horizontal margin using CSS (while vertical is in code!)

[2017-09-05 17:37] gooeyideas commented on #713
Yes. One column mode removes the widgets and re-orders them when they are added back to the Dom to display for mobile. I would like this to be configurable. I am building an app that allows for a mobile configuration of a layout that is somewhat independent of the desktop layout.

[2017-09-05 19:14] AlamBique commented on #711
Of course it will work. When I started with my project, I did not know anything about javascript or jquery. I ended up giving it up. But if it works it would be great.

[2017-09-05 21:46] savannahchoy opened #758 "Front Page issue"
There's a Blog Page which is set up on the FrontPage when I click it to my portfolio. Anyone knows how to set it as a work page (my graphic work ) instead of the blog page?
![screen shot 2017-09-05 at 2 43 58 pm](https://user-images.githubusercontent.com/31672741/30084844-ef42d80e-9248-11e7-9ff0-e66b5568fd77.png)
please help :( Thanks everyone

Savannah

[2017-09-05 23:11] adumesny commented on #95
bummer, as I'm gonna need to nest grids sometimes soon, and dynamically... didn't look past the nested demo yet.

[2017-09-05 23:18] radiolips commented on #713
I see. Well, if you're trying to accomplish that, you can handle that yourself. You can check to see if the grid is in one column mode, and you can store the information separately. Then, when you load (or modify) the grid, you could set the location using those values. Because gridstack is dynamic, it intentionally tries to exclude movement in one column mode.

[2017-09-05 23:18] radiolips commented on #711
Are you going to try again? If so, I can try to help you. If not, I'll close the ticket.

[2017-09-05 23:19] radiolips commented on #758
Hey @savannahchoy - I'm not sure what you're asking. Could you clarify for me?

[2017-09-06 05:51] luckylooke commented on #227
Example usage should be:
$('.grid-stack').data('gridstack').setGridWidth(2); // set number of columns to 2.
but it is buggy.. there should be a method for global fix of collisions because some grid changes causes items to overlap. :/

[2017-09-06 11:24] testuserx commented on #755
Thanks! I will wait for more information from you!

[2017-09-06 15:34] #743 closed

[2017-09-06 15:34] radiolips commented on #743
@kool-kat Fixed in dev branch now.

[2017-09-06 15:35] radiolips commented on #699
@ianformanek This has now been merged into the dev branch. Let me know if you still have any issues.

[2017-09-06 15:36] radiolips commented on #517
@nicolasecolman  @sumikoabe It looks like this broke quite awhile ago. It also looks like I may have fixed it at one point, but it was definitely still broken this morning. I put in a fix - in the dev branch you can now find `staticGrid` will work and `disableDrag` and `disableResize` won't be necessary (unless desired separately).

[2017-09-06 15:37] radiolips commented on #481
@artknight I have no idea if this was fixed Aug 16, 2016, but it should be fixed now. `setStatic` was working, but `staticGrid` was not. And now it does work.

[2017-09-06 15:43] artknight commented on #481
this is fixed now. Thanks!

[2017-09-06 15:53] gooeyideas commented on #713
You are misunderstanding the problem. The layouts can be configured easily. It is the display using gridstack that is problematic. I have written a fair amount of code to accommodate it but I believe that this extra code should not be necessary given what I am trying to accomplish.

This problem is that Gridstack assumes that the one-column order should always be determined by the widget's relativ

[2017-09-06 16:53] ianformanek commented on #699
Great, thanks, will give it a try

[2017-09-06 16:54] radiolips commented on #713
@gooeyideas Thanks for putting the work into explaining what you're trying to do. It's extremely helpful.

How would you like to see this as part of the gridstack library? I don't think there's a logical way to implement it, but if you have an idea, I'm not entirely against the feature.

[2017-09-06 17:26] gooeyideas commented on #713
I would like to see a oneColumnModeSort option for sorting that also respects the existing `rtl` property.

`oneColumnModeSort: "row | row-reverse | column | column-reverse | none"`

- `none`: Sort by the order the widget's appear in the markup
- `row`:  (default) Sort first by **y** values (low to high) then sort widgets with the same y value by their **x** value (based on the `rtl` setting)
- `r

[2017-09-06 17:31] efx opened #763 "[internal] [help wanted] migrate linting to use eslint"
[eslint](https://eslint.org/) has superceded [jscs](http://jscs.info/). Eslint has also become the defacto ES linter. Because of this, it makes sense to rely upon eslint instead of jscs and jshint.

# todo

- [ ] identify equivalent eslint style guide, include as extends dependency
- [ ] add eslint lint command, dependency
- [ ] remove jscs, jshint inline directives
- [ ] other stuff?

[2017-09-06 17:33] radiolips commented on #713
@gooeyideas Good idea! I can do this, but I'd love if you took a stab at it yourself and put in a PR for it, if you'd like.

[2017-09-06 18:23] gooeyideas commented on #713
I would not be able to work on it for a couple of weeks. I have a code cut-off I am currently up against at work. But I will definitely give this a shot.

[2017-09-06 18:30] silverwind opened #764 "Static grid min-height option"
It would be quite handy to have a option to stop gridstack from auto-sizing the container height to the last element. I have somewhat implemented this in my personal fork, but decided to not PR it because I encountered unresolved item overflow issues caused by the collision detection code.

Basic example: Imagine a shelf, 10 rows high, 1 unit wide. The user can drag up to 10 items in from a second

[2017-09-06 19:05] radiolips commented on #764
Hey, @silverwind ! I'm not exactly sure what you mean. Are you saying you want the height to be the height of ten rows and you don't want it to get bigger or smaller?

[2017-09-06 20:07] radiolips commented on #758
I'm going to close this because I'm pretty sure it belongs in another repository. Feel free to reopen if I'm mistaken.

[2017-09-06 20:07] #758 closed

[2017-09-06 20:20] silverwind commented on #764
Yes, exactly. It should never change. If for example I define a `fixedHeight: 10` option, the container should always be that height. This means it should reject additional items if there's no space left, too (by aborting d&d event handling once it's full.

[2017-09-06 20:25] radiolips commented on #756
This is the craziest thing. What on earth is making 5 move up?

[2017-09-06 20:33] radiolips commented on #756
Holy smokes. I think you just exemplified https://github.com/troolee/gridstack.js/pull/672 , which I had just asked for an example of. I'm not positive, but I can say for sure that it's erasing the y-values for the CSS, so the widget appears moved _but it isn't actually moved_ *dun dun dunnn*. I'll try to see if the PR fixes the issue when I have a chance.

[2017-09-06 22:49] radiolips commented on #764
You should be able to pass `height: 10` as an option when you initialize the grid. That's not working for you?

[2017-09-06 22:49] radiolips commented on #764
https://github.com/troolee/gridstack.js/tree/develop/doc#options for more information on that.

[2017-09-07 00:26] radiolips commented on #756
@tonywr71 Can you try using the src dev branch and see if this works any better? Via https://github.com/troolee/gridstack.js/pull/672 I've tested against my own project and it does fix the weird reordering. I don't know if it'll fix your actual serialization problem but maybe it was just caused by this other issue.

[2017-09-07 02:00] tonywr71 commented on #756
That version is all good! See new plunker [here.](https://plnkr.co/edit/uzlFqrBh6Ckt656zFbEz)

I didn't realise that I could already access your new version. I'll have to create a scripts folder and import it from there instead of npm.

[2017-09-07 02:28] radiolips commented on #756
Awesome! - Actually, you can still access it from npm.

https://stackoverflow.com/questions/39732397/install-specific-branch-from-github-using-npm

Just remember to stop using the `develop` branch when the new one is out. So glad that this fixes your issue!

[2017-09-07 02:28] #756 closed

[2017-09-07 03:37] adumesny commented on #756
but npm install git://github.com/github.com/troolee/gridstack.js#1.0.0-dev --save
won't be always getting the latest code since the rev isn't increasing and I assume it gets cached locally, no ?

[2017-09-07 09:32] jiann4321 commented on #251
Need this function as well jquery.resize() listen is not helping either.

[2017-09-07 13:39] athamsnajeeb1 opened #766 "Overlapping widgets after dragging"
The initial code is
var options = {
                cellHeight: cellHeight,
                disableResize: true,
                disableDrag: false,
                handle: '.ibox-title',
                float : false ,

            };
            $('.grid-stack').gridstack(options);

And every grid-stack-item have settings data-gs-auto-position="1"

when it dragging sometimes it comes over other

[2017-09-07 14:08] radiolips commented on #766
Hey, @athamsnajeeb1 ! Hope you're doing well today.

Could you provide a jsfiddle or some other method for us to take a look at your code and whatever issue you're experiencing?

[2017-09-07 14:13] radiolips commented on #753
I assume that this question has been answered conclusively. @jishanshaikh Let me know if you're still having an issue.

[2017-09-07 14:13] #753 closed

[2017-09-07 14:14] radiolips commented on #251
@jiann4321
https://github.com/troolee/gridstack.js/tree/develop/doc#gsresizestopevent-ui

[2017-09-07 14:18] radiolips commented on #715
@aviralgarg0996 Could you please provide a jsfiddle where you're using marionette? gridstack should work fine alongside marionette.

[2017-09-07 16:49] #578 closed

[2017-09-07 17:08] silverwind commented on #764
I'm not sure what`height` actually does, in my tests it neither sets a minimum nor maximum height. Let me show you some examples:

1) Current release with `height` on left grid: https://jsfiddle.net/silverwind/xqf4awsr/
2) My fork with `height` and `staticHeight` on left grid: https://jsfiddle.net/silverwind/tzppdsyv/

Start dragging some items from the right to the left stack. Note the empty spac

[2017-09-07 17:16] radiolips commented on #764
Ah, I think that's actually a bug with the two grids. When you use one grid, `height` sets the max amount of rows. It should also prevent you from increasing that amount when dragging in a widget from a second grid, but it's not.

[2017-09-08 06:39] tonywr71 commented on #756
I can confirm that using the dev branch causes issues with npm. The sooner this product is released and versioning started, the better. Thanks for this awesome product!

[2017-09-09 20:22] radiolips commented on #744
@Stratofish Could you try again with the latest develop branch code? I believe that an old PR that I just merged will fix this for you.

[2017-09-09 22:08] #628 closed

[2017-09-09 22:08] radiolips commented on #628
Hey @vbinithyanandamv ! I believe I've fixed the issue with the latest `develop` commit. Could you pull in the latest code and test it? It was a very little thing but gave me hours of grief. Let me know if it's fixed now, please! And, please, if you find any more issues, make sure to log them!

Thanks,
[dylan](https://dylandreams.com)

[2017-09-10 06:36] vbinithyanandamv commented on #628
Cool sure :)

[2017-09-11 10:55] creage commented on #513
Redefining **alias** affects other jQueryUI plugins which are used in the project, if any, which is not acceptable.

[2017-09-11 15:34] creage opened #768 "Dropout handler error after simple steps"
1. Go to [Two grids demo](http://troolee.github.io/gridstack.js/demo/two.html)
2. Drag the **Drag me** box within its **green** container.
3. Reposition any widget within any of two available grids.
4. Try to drag the **Drag me** box again

[code]

For some reason the *dropout* event gets fired on the container, while it has nothing to do with it.

[2017-09-11 18:23] adumesny commented on #768
good news is that it's fixed in the latest code (including my soon to be taken PR). I was able to repro in the link above, but no error in my local copy.

[2017-09-11 18:24] radiolips commented on #768
Thanks @adumesny ! It's actually already merged. @creage I'm going to close this ticket, but if you pull the latest from the `develop` branch and you still have an issue, please reopen and let us know.

[2017-09-11 18:24] #768 closed

[2017-09-11 18:38] #718 closed

[2017-09-11 18:39] radiolips commented on #718
Fixed! Thanks to @adumesny and everyone who participated in getting the fix tested!

[2017-09-11 18:41] adumesny commented on #718
fix in https://github.com/troolee/gridstack.js/pull/769

[2017-09-11 19:59] adumesny commented on #586
you can use https://github.com/troolee/gridstack.js/blob/develop/demo/two.html to test your fix using grey box (float grid) and it fixes the issue. Even dragging green 'Drag me" onto float grid shows the issue.
![twogrid](https://user-images.githubusercontent.com/3496166/30294183-175bec52-96f1-11e7-93a7-8aab1723fbae.png)

[2017-09-11 20:12] #586 closed

[2017-09-11 21:51] AlexandreBonneau opened #771 "Setting the `height` option to `1` breaks dragging and animations"
Hey there, I'm trying to replicate [this behavior](https://codepen.io/AnotherLinuxUser/pen/JRvqpd) (the horizontal rearranger) with gridstack, but it seems that setting the `height` option to `1` break the ability to drag any element (except when dragging them either at the start or the end of the element list).

You can see this faulty behavior in that [codepen](https://codepen.io/AnotherLinuxUse

[2017-09-12 16:04] Metal101 opened #774 "Resizing elements triggers window resize event repeatedly"
Hello,

I'm having an issue when resizing elements via dragging. The window's resize event appears to be triggered repeatedly for every mouse movement, causing some slow down in my application. I have replicated this on a gridstack demo page by logging to console on window resize.

http://gridstackjs.com/demo/responsive.html

Do you know if there is a workaround for this please?

[2017-09-12 18:46] radiolips commented on #774
Hey, @Metal101 ! Try out lodash's `debounce` method.

http://jsfiddle.net/rifat/ZDPaV/

and

https://lodash.com/docs/#debounce

Let me know if there's anything more I can help with!

[2017-09-12 18:46] #774 closed

[2017-09-13 09:59] ashw1984 commented on #774
hi @radiolips. this solution is only ok if you are writing everything from scratch. if i have an existing application 100's of handlers on windows resize are you expecting all of these to be re-written. Ultimately the window isn't resizing so surely this event should not be triggered. Are you able to re-open this bug?

[2017-09-13 11:29] erkather commented on #766
Hi,
I am also running into the same issue. I have created a jsfiddle[https://jsfiddle.net/cLdzzL8p/2/] where you can reproduce this issue.

Steps to reproduce:
1. Drag "Widget 3" a few inches left side.
2. Now "Widget 12" will be overlapped on "widget 1" and also few widgets will not be displayed. They are also displayed behind "Widget 12" similar to "Widget 1".

Thanks in Advance.

[2017-09-13 13:56] Metal101 commented on #774
@ashw1984 has directed me to this page.

https://stackoverflow.com/questions/7494378/jquery-ui-resizable-fire-window-resize-event

It's suggested you catch the element resize event and stop propagation before it bubbles up to the window event.

[2017-09-13 14:13] efx opened #776 "[internal] remove `dist/` from versioning, add needed release steps"
Versioning `dist` adds unneeded changes for contributor PRs. Ideally `dist` should not be versioned and instead only as part of `npm publish` or a release process.
# todo
- [ ] add to .gitignore
- [ ] modify `Gruntfile.js` with publish task, incorporate into other steps

[2017-09-13 14:30] adumesny commented on #776
Agree, it's also error prone to have 2 source of truth.
it's already part of 'build' steps and 'publish' should do that as pre-req.

[2017-09-13 15:03] radiolips commented on #774
This is a jquery-ui "bug," not a gridstack bug. We're working to move away from jquery-ui, but in the meantime, you can check `event.target` as the SO mentions.

[2017-09-13 21:02] PokeRwOw commented on #637
Hey @radiolips, I restart this topic because i'm interested to have a fixed header in widgets. How do you think achieve a simple header fixed ? I tried some things but it was unsuccessful (css position fixed....)

[2017-09-13 21:13] radiolips commented on #637
@PokeRwOw I don't understand the question. What exactly are you trying to do, and how does gridstack impact what you're trying to do?

[2017-09-13 22:44] PokeRwOw commented on #637
Sorry, I will reformulate. So I just want to add a fixed header in all of my widgets.
Firstly I tried to add a fixed header between the class `grid-stack-item` and `grid-stack-item-content` but it failed, gridstack didn't recognize the widget anymore (can't resize or move).
Next I tried to add a fixed header in the `grid-stack-item-content` with css property `position: fixed` and `width: 100%`, bu

[2017-09-13 22:52] radiolips commented on #637
Could you put together a jsfiddle? I think we'll be able to figure this out but it's hard without actually seeing it.

[2017-09-14 05:18] kingsgobi opened #779 "additional feature"
i need "Undo" functionality...

[2017-09-14 14:28] radiolips commented on #779
Hi, @kingsgobi ! For the time being, we don't keep track of changes in gridstack, but you can do so yourself without much difficulty. An event is triggered for every change and records every changed widget. You can keep a stack of every state of the grid and revert to any particular state in there. If you try to get it working and are having problems, let me know and I'll try to assist you.

[2017-09-14 14:28] #779 closed

[2017-09-14 17:09] efx opened #781 "[internal] npm run test needs to call bower install"
## Subject of the issue
In a fresh clone of the repo, running`npm run test` will fail due to unresolved dependencies.
<img width="1200" alt="screen shot 2017-09-14 at 1 05 42 pm" src="https://user-images.githubusercontent.com/472721/30443541-e8725e44-994d-11e7-8537-198b1102f096.png">

## Your environment
* version of gridstack.js
* which browser and its version

## Steps to reproduce
Tell us how t

[2017-09-14 19:10] adumesny opened #782 "expose gridstackjs.com/demo on gridstackjs.com - lack of interesting samples"
Took me a while to find the wonderful examples that are under the source code demo (like demo/two.htlm and demo.nest.html) showing more advanced interesting cases.

Yes the github readme page has this listed somewhere buried, or you can sync the source code + build + run but for most casual people looking for what's available they will miss it. recommend the main site exposed that from most (like

[2017-09-14 20:07] #776 closed

[2017-09-15 11:17] brendonboshell commented on #766
It looks like this issue is resolved on the develop branch, so I assume it will come with the next release. In the meantime, you can cherry pick a38d78e on top of v0.3.0. This patch solved the problem for us.

[2017-09-15 14:08] emonnet commented on #766
Just tried it and it solved this exact problem. I'm using the 0..3.0 release. Thanks !

[2017-09-15 14:09] radiolips commented on #766
Great! I'll close this issue, but @athamsnajeeb1 please reopen it if this doesn't solve the original problem.

[2017-09-15 14:09] #766 closed

[2017-09-15 20:06] jtheberge commented on #735
@eagoo I'm currently using React with this right now, and I prefer it over react-grid-layout because it uses absolute positioning rather than transformations to move things around, meaning any children with fixed positions aren't thrown off position.

The way you want to set it up is by letting React mount your initial widget(s) to the DOM first through its render, then with the lifecycle method c

[2017-09-15 23:25] PokeRwOw commented on #637
Here we are : https://jsfiddle.net/Lqv19pw7/6/
As you can see I fixed every headers of widgets, but now, the header don't take 100% of the width. If I add `width: 100%` it will take more than the widget.
So, I just want the header fixed at the top of her widget, and when I'm scrolling down the header stop moving with.

[2017-09-16 19:37] blandman commented on #736
I have been trying to use `disableOneColumnMode` without any luck. Could there be issues with the implementation? I'm using [Ember-Gridstack](https://github.com/yahoo/ember-gridstack).

[2017-09-17 19:38] radiolips commented on #637
@PokeRwOw That's happening because the content section needs a specified height. Add `.panel-body: { height: 200px; overflow: scroll; }` and you'll see it working the way you want. The tricky part is that the `panel-body` section needs a height of the height of the widget minus the height of the panel.

[2017-09-17 19:43] radiolips commented on #771
@AlexandreBonneau Hey there, thanks for logging this.

There's a problem with the current dragging algorithm that prevents this sort of behavior. Unfortunately, this means you cannot currently replicate that behavior. However, it's one of the functionalities we hope to achieve in the upcoming gridstack 1.0.

I'm closing this ticket because there are a variety of open tickets that discuss this beha

[2017-09-17 19:43] #771 closed

[2017-09-17 19:47] radiolips commented on #781
@efx For this, you're saying that we need to update
```"test": "grunt lint && karma start karma.conf.js",```
to be
```"test": "bower install && grunt lint && karma start karma.conf.js",```
?
If so, do you want to put in a PR for this?

[2017-09-18 06:17] erkather commented on #766
Thanks @brendonboshell . The version you have mentioned solved the issue.

[2017-09-18 10:37] efx commented on #781
updated @radiolips . I enjoyed the PR template as well!

[2017-09-19 02:07] adumesny opened #787 "grid items to take entire parent height (simulate % rows, like columns do)"
I'm using nested grids to create compound widgets - tight group of widgets, that can be used as opaque widgets inside other grids (moved as a unit, edited separately). As such I need a nested items to take entire space (width AND height) given by the parent gridItem, which will have user resizable heuristics.

Ideally I would have a `grid.cellHeight = 'dynamic'` mean take entire height of the pare

[2017-09-19 09:48] eagoo commented on #149
Widget swapping – A much-requested feature, we’re working on a way to make widgets swap places so that widgets may still be moveable even in a full grid.

will this devloped in next version?

[2017-09-19 15:35] vishalnarkhede opened #788 "Positioning of widget on dynamically adding on small screens"
I'm facing some issue [gridstack.js][1]. As per documentation, we use [`addWidget()`][2] function to dynamically add widget to grid. We provide the x and y position as parameters to this function. On large screens this works perfectly fine, as in widget gets added at exact location given by x and y values. But on small screens, it is getting added on bottom of stack always, even if I provide x and

[2017-09-19 20:04] adumesny commented on #788
@vishalnarkhede looks like you are doing nested grids - does that problem happens with 1 grid ?
Also looks like you are running into 1 column mode (speudo 'responsive' implementation) when with  < 768px or so, which you can control with `opts.disableOneColumnMode` or `opts.minWidth`

[2017-09-19 20:17] adumesny commented on #764
Yes I have the need for a `minHeight` as grids will collapse to 0px height when you remove the last item in them (can see in demo apps), making it impossible for users to drag it back in. I worked around it (applying a custom CSS style on remove event only as it messes things up otherwise. But it's UGLY and seems basic.

The current 'height' being supposedly for maxHeight is confusing IMO.

Should

[2017-09-19 20:33] vishalnarkhede commented on #788
@adumesny Simplifying nested grid didn't solve the issue. I'm not sure why, but `disableOneColumnMode` is also not working for me.

Here is the updated codepen: https://codepen.io/vishtree/pen/WZrmmp

I'm using following this version of gridstack.js on codepen: https://cdnjs.cloudflare.com/ajax/libs/gridstack.js/0.3.0/gridstack.min.js

[2017-09-19 20:54] adumesny commented on #788
with your latest sample, notice how it goes from 3,2,1 to 1,2,3 as it turns into 1 column layout - looks like it's resorting the items based on their dom position ? @radiolips would know the inner working, but that doesn't look right.

[2017-09-19 20:57] vishalnarkhede commented on #788
@adumesny Yeah, when I resize the window from small to large (and the to small again), positions of widgets get fixed.

[2017-09-19 21:00] adumesny commented on #788
FYI with latest 1.0.0-dev code `disableOneColumnMode` does get used (must be new feature) and when off, 1.0.0-dev does NOT re-order the items to 1,2,3, BUT adding new items do go to the bottom so you get 3,2,1,4,5

[2017-09-20 14:30] krilllind commented on #728
So does anyone have anything new about this?

The main problem is still how to calculate a fixed grid-item height with a `verticalMargin `of `10px`
on `12 rows`, so you can limit the amount of grid-items that can fit in one column.

[2017-09-20 14:34] radiolips commented on #728
@adumesny Aren't you doing something similar with the height? I assume the x problem is easy because the grid already isn't changing number of columns, only rows.

[2017-09-20 14:46] krilllind commented on #728
@radiolips Okey so here is a full explanation of what I am trying to do...

I want to be able to change the amount of columns and rows of my gridstack area from (lets say two simple inputs). As an example I will start of with a 12x12 grid. Then I am generating a stylesheet with the right amount of column.
This is done from this code:
[code]
Then listen for a window resize and recalculate the cellH

[2017-09-20 15:18] demedos commented on #728
I'll go for a quick example, since it's something I need to do too.

![example](https://user-images.githubusercontent.com/16702156/30651777-f374dd0c-9e26-11e7-87c0-a6a0f0df64ed.png)

So, my page is always 100vh (viewport height), and will **never** exceed that height.
Now, let's say I move _item 3_ **below** _item 4_, I would need the grid to vertical resize all the items to fit in my view, like s

[2017-09-20 15:45] adumesny commented on #728
@radiolips thanks, yes this is very similar to what I'm trying to do in #787 - other than my grid being nested inside another grid-item, but I also want it to take 100% height and adjust `cellHeight` to fit, including during drag&drop changes. Nested grid seem to have more side affect as I'm seeing parent cellHeight apparently also changing!

[2017-09-20 15:50] adumesny commented on #787
related to #728 #118 #404 and probably many others... would be ideal to have `cellHeight = "dynamic"` as a way to support grid taken 100% of parent height (triggering resize events on parent might not be trivial and container specific. in my case it's another griditem/div, but it could be outer window/div.

[2017-09-20 17:03] krilllind commented on #787
@argument Or you could set the height to X amount of rows and then gridstack would use the height of itself or parent to split into X rows. That way it would work the same way as width does now.

Then only specify verticalMargin if you want spacing between each row. For auto expanding height behaviour, you could set height to "auto" instead?

[2017-09-20 18:17] adumesny commented on #787
@krilllind if you have fixed # of column (12) and rows then you can't really add/remove content without sizing them down and you still have an absolute max. `height` today should really be `maxHeight` (or `maxRow') as it specifies the max number of rows you can have, so it sort of does what you suggest.

This and the other request are to have grid fill the available height provided by parent, but

[2017-09-20 19:41] gentle9 commented on #711
I am trying to do the same thing. I have tried to do a resize on the component to the min height so it is collapsed and this seems to work. But when I want to open the collapsed panel and resize it to the real size and there is a panel right under the collapsed panel they change the position so that the panel that was under the collapsed is now above.

[2017-09-21 06:58] savannahchoy opened #790 "Front Page Question"
This is my Front page, Is there any ways to make two side even?(left and right have white part) Thanks! I will reply asap!!! Thank you so much!
![screen shot 2017-09-20 at 11 44 03 pm](https://user-images.githubusercontent.com/31672741/30682235-aca79cc0-9e5d-11e7-96ac-50671c4e7470.png)

[2017-09-21 12:17] vishalnarkhede commented on #790
Question description is not sufficient to be honest. Try to follow guidelines for posting issue as shown below, it will help people to understand the issue and help you.

<img width="738" alt="screen shot 2017-09-21 at 2 15 39 pm" src="https://user-images.githubusercontent.com/11586388/30695167-74bcc48c-9ed7-11e7-82aa-5bef9451817c.png">

[2017-09-21 12:21] savannahchoy commented on #790
Ok let me organize it
On Thu, Sep 21, 2017 at 5:17 AM Vishal Narkhede <notifications@github.com>
wrote:

[2017-09-22 13:16] iantiktaktoe commented on #385
Hi

I'm having this issue too - I've uploaded jing caps:

https://www.dropbox.com/s/m9q82cco5pk8x81/widgets.swf?dl=0
https://www.dropbox.com/s/xi22jvf5tfjd5ii/overlaps.swf?dl=0

Seems when i have full width item and move it, everything jumps around

[2017-09-24 12:51] metalheadz opened #791 "Gridstack and vueJS"
Hi !

I want to know if there's a way to correctly use this grid using vueJS capabilities...

Because of the way DOM is generated, it looks like I cannot add any vue component when I add a widget, even a simple javascript function would not be recognized... It work only with plain HTML, which is useless for me..

I also tried to hide some widgets with a v-if but when theyre showed, it render a sta

[2017-09-25 06:33] athamsnajeeb1 commented on #766
thanks mate @erkather to help me by providing a jsfiddle, and Thanks @brendonboshell for helping to  solved the issue.

[2017-09-27 15:37] ramigg commented on #735
@derwaldgeist thanks for your effort releasing V1.0. I'm working on a project based on react. Is it possible to use the develop branch right now without the jquery dependency?

[2017-09-27 20:47] derwaldgeist commented on #735
@ramigg I'm not the maintainer, just a potential user :-)

[2017-09-28 01:06] OutbackMatt opened #792 "Resize gridstack containers, doesn't resize highcharts graphs in the containers."
Resize gridstack containers, doesn't resize highcharts graphs in the containers.

## Your environment
* version of gridstack.js
* which browser and its version

## Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo, you can use [this template](https://jsfiddle.net/dweiss/dqyvh6vr/) as a base.

## Expected behaviour
Tell us what should happen

## Actual behaviour

[2017-09-28 06:08] ramigg commented on #735
@derwaldgeist my mistake :)
I meant @radiolips - thanks for your efforts, please answer my question above.

[2017-09-28 19:21] metalheadz commented on #791
I finally succeeded! Using this method for the one interested : https://codepen.io/nyoung697/pen/BperoZ

[2017-09-29 07:16] leowns opened #793 "Positioning bug when having more than 10 items"
## Subject of the issue
When having a one column gridstack with more than 10 items the dragging or resizing of the first element causes the last item of the grid to jump to the first position. Especially when I try to resize the first element the order gets completely messed up.

## Your environment
* gridstack.js 0.3.0
* Google Chrome Version 61.0.3163.100

## Steps to reproduce
I created a JsFid

[2017-09-29 13:43] DnJealt commented on #793
Can confirm.
I've been able to reproduce this issue in our production environment with a three-column Gridstack.
It's not a big problem for us since grids like those would never occur.
But nontheless: this is unexpected, error throwing behaviour.

![image](https://user-images.githubusercontent.com/7311113/31018547-d828549a-a52c-11e7-8f0d-371ab9e2a7d8.png)

[2017-09-29 17:10] MSDevYT opened #794 "Removearea doesn't work when jQuery.show() is applied"
Hi,
I want to make a removearea which only apears while you move a widget.
But when I apply jQuery.show() on the removearea it doesnt remove the widget.
Without .show() the area works fine.

Also there are no errors in the console.

My code:
[code]

I'm using the newest version with Chrome.

I reproduced it in the [fiddle](https://jsfiddle.net/w32nx02p/).

[2017-09-29 18:41] metalheadz opened #795 "Auto-repositionning?"
Is there a way to auto reposition all the element after using the resize function without manually reposition each nodes? When I resize a node making it bigger in width, it always push the next node at the bottom even if theres enough space.

[2017-10-02 05:11] tonywr71 commented on #793
I have an idea that @radiolips solved this in the 1.0 dev branch, as per issue #756 .

[2017-10-02 05:31] vishakaw1 commented on #520
Hi, I pulled out the latest commit from github(#786) and build a grid with 6 widgets. I want the same kind of behaviour.
100%
[1,2,3]
[4,5,6]

50%
[1,2]
[4,5]
[3,6]

one column mode
[1]
[2]
[3]
[4]
[5]
[6]

When resize, the items are collapsing to expected #of columns. But order, #of rows and positions are all wrong like following.

100%
[1,2,3]
[4,5,6]

50%
[0,2]
[3.5]
[  ,1]
[  ,4]

one column m

[2017-10-02 14:38] DnJealt commented on #795
Do you mean adding `float: false` to the Gridstack options?

[2017-10-03 04:23] adumesny commented on #794
yeah I can see that. would be good to update demo app (two.html) with this auto-show behavior once this gets fixed...

[2017-10-03 04:28] adumesny commented on #795
I don't think that's what he means... http://gridstackjs.com/demo/two.html if you resize the first one and make it wider, it doesn't push the 2 mopre to the right to fit, it pushed #2 down... I'm guessing he wants push right, then next row if doesn't fit... (grid on right has float on, but behaves same way here)

[2017-10-03 10:16] sculptsoft-devs opened #796 "Move/Drag Tiles like iPhone Icons"
Actually, I want to drag/move tile horizontally only.So, Tiles should always move to right "n+1" position.So whenever I try to move tile and drop, the next tile shift to +1 position.

Ex. If I have 3 columns and 3 rows and tiles numbered as A,B,C,D,E,F,G,H,I. Now, when I drop Tile-E between B and C then new formation will be like   A B E , C D F, G H I. so each tiles after B should be  shifted rig

[2017-10-03 14:30] metalheadz commented on #795
I found a way to do it... I remove all the nodes from the grid with removeall keeping them in the DOM... I after add manually each component using the autoposition paramaters... Not so elegant... Would be nice if another option exists to do that... Pushing nodes at the bottom is very bad when you dont want to loose precious space

[2017-10-03 14:31] #791 closed

[2017-10-03 15:36] adumesny commented on #795
you want a left-right gravity, where right now it's a top only gravity - there has been suggestion to support multiple style by others (and @radiolips mention this might make it in 1.0 release but I wouldn't bank on it).

[2017-10-04 12:12] metalheadz commented on #795
I want a mix of the 2 in fact, when theres not enough space at the right, its ok to push the node at the bottom, begining at the left again.

[2017-10-04 12:21] otakueadwine commented on #725
Same issue here. Widget A keeps correct position until Widget B is completely dragged over Widget A.

[2017-10-05 07:54] chrisjwilliamsuk81 opened #797 "Drag to bottom of column with zero vertical margin"
## Subject of the issue
The functionality to drag a widget to the bottom of a column seems to now be impaired since the introduction in v0.3.0. From the release notes it says

"remove placeholder when dragging widget below grid (already worked when dragging left, above, and to the right of grid)."

Running the setup with a zero vertical margin, if you have 2 items in a column and try and drag the

[2017-10-09 08:36] andrewgunn commented on #721
I was having the same issue so tried @nolanvance's fix and it did the trick. I imagine it'll break again at some point - maybe if I keep adding widgets to increase the vertical scrollbar!?

[2017-10-09 19:07] funkytek commented on #735
@jtheberge can you provide a gist or simple example repo of this working would be helpful

[2017-10-10 08:37] Gigiman opened #799 "When new widget added it's y position is huge"
## Subject of the issue
Describe your issue here.
I am trying to add widget without knockout.js. It works. I am adding a widget on 'added' event. So grid creates a new widget when user drags widget-b from other grid.

The issue is that gridstack puts new widget on position y = 600 something, eventhough I am placing the widget in that way:
grid.addWidget(el, null, null, width, heigth, true);

## Yo

[2017-10-10 09:31] #799 closed

[2017-10-10 09:32] Gigiman commented on #799
Sorry own mistake. When I use addWidget on 'added' event recursion happens. Thanks gridstack for good library.

[2017-10-12 01:53] ensemblebd opened #800 "minHeight dynamically based on inner content container"
Just sharing this in case someone is in the same boat, or if someone knows of a better way perhaps it'll end up here too.

Issue:   Inner content container is larger than the jqueryUI allowed resized-to size (display:block, no abs or float even).  Resulting in a .grid-stack-item smaller than the contents displayed, with overflow:visible showing contents outside the container.

Intended solution:

[2017-10-13 06:37] leapit commented on #736
When i set one column,the widgets in mobile view will not keep the same order with pc view,and disableOneColumnMode = true,that's ok. why name the feature as "disableOneColumnMode",a little strange @krilllind @radiolips

[2017-10-13 07:50] krilllind commented on #736
@leapit That's because by default the grid will rearrange the items to flow in one line (or column) so that a user can view all items in an easy way by scrolling down. But if you do not like this behaviour you can choose to set `disableOneColumnMode` to `true` and then the items will keep their position.

[2017-10-13 13:24] leapit commented on #736
@krilllind thanks,got it.

[2017-10-15 19:57] radiolips commented on #797
@chrisjwilliamsuk81 Are you saying it worked prior to v0.3.0 or it worked on v0.3.0?

[2017-10-15 19:58] radiolips commented on #795
Oddly enough, #796 requests that exact feature.

[2017-10-17 01:48] louman opened #801 "Can you have a one line draggable grid?"
## Subject of the issue
Hi, is it possible to have a one row draggable grid?

I can drag but can't drop an item. If I change the height to two, I can then drag them horizontally but it also allows the user to use the second row, which I don't want to.

## Your environment
gridstack 0.2.5
chrome latest

## Steps to reproduce
https://jsfiddle.net/cjq3k2k0/2/

[2017-10-17 04:01] louman commented on #801
It also happens on 0.3.0

https://jsfiddle.net/5ecjtd76/

I noticed that if you remove one widget, leaving three of them with width = 3, then you get one more slot and then you can move the widgets around.

It seems that the grid needs room to move the other widgets around when you start dragging. Is there any way to work around that?

[2017-10-18 05:57] macgyver76 commented on #433
Any updates on this?

[2017-10-18 09:49] krilllind opened #802 "CSS !important"
## Subject of the issue
Multiple css rules is set to `!important` and becomes extremely hard to override.

## Your environment
* version of gridstack.js: 0.3.0
* which browser and its version: All browsers (but tested in Chrome 61)

## Steps to reproduce
Class-selector: `.grid-stack > .grid-stack-item > .grid-stack-item-content` has a z-index property of `0 !important;`

## Expected behaviour
Remo

[2017-10-19 08:47] DnJealt commented on #802
I've removed the !important from the rules in question and everything still seems to be running smoothly.  Maybe the author @radiolips can shed some light on in this issue? :)

[2017-10-19 09:48] AmandaZYJ opened #803 "an exception happens when I drag one widge to another(acceptWidgets :true)"
## Subject of the issue
i can drag widge between two placeholder,it seems fine on browser but actually an exception happens
this is the exception
gridstack.js:885 Uncaught TypeError: Cannot set property '_grid' of undefined
    at HTMLDivElement.<anonymous> (http://localhost/datav/base/plugins/grid/gridstack.js:885:32)
    at HTMLDivElement.dispatch (http://localhost/datav/base/common/js/jquery-2.

[2017-10-20 09:33] kosirm commented on #713
This is excelent idea, hopefully you will implement it. What about multiple configs based on screen size? I would prefer to serialize/save completly custom order for various screen sizes (maybe also hide some elements, etc), and load this configuration automaticaly based on screen size, like in this excellent [example](http://gridstackjs.com/demo/serialization.html). My 0.2$

[2017-10-20 15:41] notnow123 opened #804 "Catch animation finished event"
I am creating a grid and then updating pane (node) positions from stored JSON data.  I am using batchUpdate and grid.commit() to change the positions of panes in the grid after it has been created.

My code for the re-positioning is as follows:

    jQuery.update_grid = (view_data, animate_option) ->
      grid = $('.grid-stack').data('gridstack')
      grid.setAnimation(animate_option)
      grid

[2017-10-23 06:15] sculptsoft-devs commented on #796
Yeaa, should be auto-repositioning in sequence.Also, hide/show widget should be needed auto repositioning.

[2017-10-23 15:11] yehhor opened #805 "Items are being stuck in some moment"
## Subject of the issue
In some case items becomes stuck, so I cant move it to another position, after trying mulitple times/resizing it or etc, it becomes unstuck, but I can not understand the dependence.

## Your environment
* gridstack version from your github
* testeing only in Chrome 56 - 62 both Linux and Win.
* I have project built with angularjs 1.5.11 with plain gridstack library (not ang

[2017-10-23 19:08] bpottle opened #806 "Use of reserved word "float" will break YUI and other compressors"
## Subject of the issue
The reserved word 'float' is used in dangerous context. The use of 'float' as a dot-notation property instead of a bracket-notation property will cause compressors to break and some validation checks to fail. The library needs to either assign float using obj['float'] or assign the .cssFloat property instead.

## Your environment
* gridstack 0.3.0
* Browser-independent bug

[2017-10-24 02:58] vishakaw1 opened #807 "Grid is not responsive when resizing"
Hi, I pulled out the latest commit from github(#786) and build a grid with 6 widgets. Following scenario shows the expected behaviour.
100%
[1,2,3]
[4,5,6]

50%
[1,2]
[4,5]
[3,6]

one column mode
[1]
[2]
[3]
[4]
[5]
[6]

But when resizing, widget order, Number of rows and positions are all wrong like following.

100%
[1,2,3]
[4,5,6]

50%
[0,2]
[3.5]
[ ,1]
[ ,4]

one column mode
[0]
[2]
[3]
[5]
[1]

[2017-10-25 08:56] ViktorQvarfordt opened #808 "Hide resize handle, keep resize functionality"
## Subject of the issue
I want to hide the resize handle that appears on hover on the grid, but keep the

## Your environment
* version of gridstack.js: 0.3.0
* which browser and its version: latest chrome

## Steps to reproduce
Example: https://jsfiddle.net/dqyvh6vr/4/

I have enabled resize on all edges, but I don't know how to get rid of the resize icons.

[2017-10-25 16:10] mlbaquerizo commented on #808
You can set opacity of `.ui-resizable-se` to 0?

[2017-10-25 17:02] mlbaquerizo opened #811 "float: true pushes widgets down before releasing moved/resized widget"
Moving/Resizing a widget should not affect surrounding widgets until that widget is released.

In the case where a widget is expanded or moved and then placed back to its original position (made smaller or placed out of the way) before releasing it, I would expect the surrounding widgets to move back to their original positions as well. This doesn't seem to be the case as affected widgets are push

[2017-10-26 10:55] luckylooke commented on #227
setGridWidth seems to be working now, it had to be different problem causing items to overlap 🤔

[2017-10-26 11:10] ViktorQvarfordt commented on #808
That should work. `display: none` would probably be even better.

[2017-10-26 12:48] ViktorQvarfordt commented on #808
I went for
[code]
Because I have an button in the lower right corner, and I dont want the resize handle to be in the way.

[2017-10-26 12:48] #808 closed

[2017-10-27 13:55] tglines commented on #14
Still seeing this issue.  Looking at the CSS for the item that jumps up to the top it doesn't have a rule  that matches its y value even after this fix.

[2017-10-27 14:31] Alanrafferty commented on #805
I have this issue too, it occurs randomly but on a regular basis.

[2017-10-27 14:44] yehhor commented on #792
Highchart's graph renders 1 time on initialization and is not watching sizes of parent container in real-time. So, in order to redraw the chart you should manually call the method
` hChart.setSize(container.width, container.height, false);`
where hChart - is Highcharts object
`hChart = new Highcharts.chart(...options);`

[2017-10-27 15:04] poluda commented on #805
I also have that size restriction on parent container, I add items on gridstack initialization, but I also have this issue.
Seems like it is connected to float option.

[2017-11-01 09:04] joemorcullo8 commented on #225
@troolee Hi, on the latest Gridstack.js that I downloaded there is no lodash.js or underscore.js, but still I'm getting an error.

[2017-11-03 17:20] dslinnard opened #812 "Items overlap and move unexpectedly"
Items overlap and move unexpectedly
<img width="659" alt="screen shot 2017-11-03 at 11 26 05 am" src="https://user-images.githubusercontent.com/9345703/32387029-90182abc-c099-11e7-81cd-6e2aa64347ab.png">
<img width="721" alt="screen shot 2017-11-03 at 11 26 17 am" src="https://user-images.githubusercontent.com/9345703/32387038-959dffde-c099-11e7-8120-c0ca6c8fb3e1.png">
<img width="770" alt="screen

[2017-11-04 07:43] abdullahseba commented on #225
Hi I know this is old but why dont the docs mention this?

[2017-11-05 16:24] DoesntMatter commented on #812
Can confirm weird grid item alignments on version 0.3.0.
I used a "float"ing grid and got overlapping items while dragging, especially if there are items on the bottom of the page.

In version 0.2.7-dev everything works as intended and I was not able to reproduce this behavior.
Tested with following commit:
https://github.com/gridstack/gridstack.js/tree/eebc0b15a6a7e18790c33417c56eae9aee995fc3

[2017-11-05 21:29] dslinnard commented on #812
Thank you DoesntMatter, will try out with 0.2.7 until the issue is fixed in a future version.

[2017-11-08 18:39] KennethanCeyer commented on #797
@radiolips
it doesn't worked at `v0.3.0` and prior to `v0.3.0` either.

[2017-11-09 12:49] joemorcullo8 opened #813 "alwaysShowResizeHandle for one grid-stack-item only?"
Hi, is there a possibility to apply the alwaysShowResizeHandle option on one grid-stack-item only? :)

[2017-11-09 20:28] nissimpradhan opened #814 "How to auto arrange nested items in grid after resizing the container of the nested items?"
## Type of Issue
[  ] Bug
[  ] Feature Request
[ X ] Question

## Subject of the issue
Is it possible to manually trigger re calculation of item position? (similar to when dragging an item, and other items make way for the item being dragged)

I am working on nested grids and I have successfully managed to correct the number of columns in a nested grid, if the nested grid's container's size was ch

[2017-11-10 11:02] fekkyDev opened #815 "Last grid-stack-item at bottom of the window doesn't resize"
## Subject of the issue
Resize is not working at bottom of the window

## Your environment
* version of gridstack.js 0.3.0

## Steps to reproduce
Basically  re sizable is not registering to scrollbar while resize  the gridstack item
(https://jsfiddle.net/winstonchang/dfqtt/) as a base.

## Expected behaviour
Scroll bar should move and able to resize the gridstack item

## Actual behaviour
Doesn't

[2017-11-10 15:34] nissimpradhan commented on #787
Have you made any progress on this issue? I have this problem as well as several others. Here's the new issue that i made. # #814

[2017-11-12 23:52] tonywr71 opened #816 "After removeAll with autoPosition=true, adding new Item is not positioned at 0,0"
## Subject of the issue
I added a whole lot of grid items. I executed removeAll(true), which removed all grid items from the screen. Then I add some new grid items, but they are positioned well down the screen, after the last of the original removed items

## Your environment
gridstack 1.0-dev branch
chrome

## Steps to reproduce
Add a number of items. Execute removeAll(true). Add a whole lot more

[2017-11-13 03:34] tonywr71 commented on #816
never mind, it turns out it was caused by my own array I wasn't clearing which I discovered when I was creating a plunker.

[2017-11-13 03:34] #816 closed

[2017-11-13 11:04] joemorcullo8 commented on #478
Hi, just a clarification, what's the final answer in this issue? does the nested grid will add rows on drag or not?

[2017-11-13 13:07] joemorcullo8 commented on #478
Hi, where are we on this issue? I'm also having a problem for the floats of nested grids especially for the last row.

[2017-11-13 16:12] tomdagz commented on #812
the same thing happened to me. new version is gonna solved this issue??

[2017-11-14 07:31] joemorcullo8 opened #817 "Nested Grid clickable icons"
@troolee @radiolips  Hi, is there a options to enable the icons to be clickable inside a nested grid?

I have an icon on the parent grid and it's working fine, but when it comes to the icons inside nested grid it's not working anymore. When I click it nothing happens.

![image](https://user-images.githubusercontent.com/22418211/32768614-796c58d4-c953-11e7-98b0-fe05255a53aa.png)

[2017-11-14 08:26] DnJealt commented on #817
Maybe this has something to do with your z-index?

We cannot help you unless we know the code, would you be so kind to provide a fiddle?

[2017-11-14 08:31] #817 closed

[2017-11-14 08:32] joemorcullo8 commented on #817
Sorry the problem is not in nested grid :) I just found out that it's not working on the widget that is added using addWidget() :) will be posting separate question for it.

[2017-11-14 08:35] DnJealt commented on #815
You made it a resizable item, gridstack is not loaded in that fiddle. So I think you should look for a jQuery UI solution.

[2017-11-14 14:57] illusx commented on #354
I am having the same issue here.
Tried the below on resize, but I still have a larger height i.e the aspect ratio is not maintained.

Could you please advise if this is the right way to calculate the height?

[code]

[2017-11-15 09:55] akansal1 commented on #812
you may refer #766 , discussing something similar in my opinion

[2017-11-15 15:45] luckylooke commented on #171
@nousacademy how did you solve the issue? I came to same error calling `gridstack.destroy(false)` which inside calls removeAll() method.. getting the error on android tablet Huawei M2-801W android 5.1.1, it is the oldest device I am using for tests. All newer devices are OK

[2017-11-16 08:30] joemorcullo8 opened #818 "gsresizestop on nested grid is affecting the parent grid"
@troolee @radiolips

Hi, I have an issue regarding the gsresizestop for the nested grid and the parent grid.

When I'm resizing the nested grid, the gsresizestop event is repeating for the parent grid.

I want to get the size after resizing the nested grid/parent grid but not at the same time.

https://jsfiddle.net/60yu4p9t/7/

[2017-11-16 08:50] joemorcullo8 commented on #577
Hi I'm having an issue regarding this gsresizestop.

#818

[2017-11-16 08:50] joemorcullo8 commented on #745
Hi I'm having an issue regarding this gsresizestop.

#818

[2017-11-16 14:55] joemorcullo8 commented on #395
is this fixed already?

[2017-11-19 19:50] Educ8IT commented on #101
I'm using gridstack to allow DnD form creation from available DB fields. I'm also looking into creating a converter to a BS grid layout but in the short term I am using gridstack to render the forms and disabling the DnD through the gridstack options.

The conversion process will probably require nested rows and columns when some items are more than 1 unit high which seems like a rather complicate

[2017-11-22 09:13] BrkCoder opened #819 "gridstack rtl mode"
## Subject of the issue
When moving to rtl mode, the layout doesn't organize in rtl direction rather in ltr direction although I have set the flag of rtl options to true.

## Your environment
version of gridstack is 1.0.0

## Steps to reproduce
in-order to reproduce the problem all we need is the configure the following options for gridstack:
options = {
            cellHeight: 100,
            ve

[2017-11-23 05:48] smrazavian opened #820 "Auto position setting"
## Subject of the issue
How to set auto position align element from  right to left and from top to bottom

## Your environment
* version 1.0.0-dev
* chrome and Firefox

[2017-11-23 09:50] krilllind commented on #693
Doing a quick search inside of the src/gridstack.js gives me abouth 50 hits on lodash.
Functions that are used:
* chain
* sortBy
* isString
* find
* bind
* each
* defaults
* filter
* clone
* without
* map
* reduce
* first
* throttle

Have anyone heard anything new about this? I feel like importing the entire lodash lib for these functions, gives a lot of overhead. Would be grate to get rid of it!

[2017-11-27 09:01] #815 closed

[2017-11-29 01:17] cyrilis commented on #803
Got this error too, anybody knows why this occurs?

[2017-11-29 13:56] koupeng opened #821 "transform it to Bootstrap3 grid system code"
When I get the widgets values,such as
`[{x: 0,y: 0,width: 6, height: 6},{x: 6,y: 0,width: 6, height: 6}]`
How can I transform it to Bootstrap3 grid system code...............

[2017-11-29 14:05] koupeng commented on #821
I used stackgrid.js to layout my page........

[2017-12-01 14:31] Yarisrespect commented on #604
I wonder if you found out solution!

[2017-12-05 06:16] Shiva4393 opened #823 "Finding Drop event while moving widget from one grid-stack-container to another"
## Subject of the issue
I'm having multiple grid-stack-container's, now my requirement is to get event after dropping widget from one container to another.

## Your environment
* gridstack.js 1.0.0-dev
* Chrome Version 61.0.3163.100

[2017-12-05 08:12] PalanivelLakshmi opened #824 "[New Feature][Enhancement] Grid Item Expand/Collapse"
## Grid Item Expand/Collapse Feature
As a User can able to expand/collapse of the Each Grid if We've More that 20 Grid's.

[2017-12-05 14:17] Shiva4393 opened #825 "Restrict Height of Grid Stack container when grid container is full with widgets"
## Subject of the issue
I have Created gridstack of 4*4 matrix. When gridstack is full with widgets(16 widgets). When i drag widget, Grid stack height is updating.

## Expected behaviour
Is there a way to  restrict height of gridstack?

[2017-12-05 17:07] artknight commented on #821
if you need the layout not to have absolute positions and actually conform to the content you will have to write your own solution. I did write my own some time ago.. i am wondering if i should start a repo with that?

[2017-12-07 09:59] shubhandra commented on #459
Hi,

![image](https://user-images.githubusercontent.com/34337050/33709250-c6494b8c-db62-11e7-823d-311be14f8036.png)

As you can see in the image that in Mozilla Firefox there is an inline style "position: relative" applying on all the grid-stack-item s please fix this asap because its a blocker issue. Thanks

Regards,
Shubhandra Gupta
Senior UI Developer

[2017-12-11 13:13] VladasC commented on #825
Same here. I create a grid of one single row, using "height" option (I tried data-gs-height="1" too). But it ignores it and still places widgets onto second row if doesn't fit (creates a second row). Thanks.

[2017-12-11 13:19] VladasC commented on #606
Same here. I create a grid of one single row, using "height" option (I tried data-gs-height="1" too). But it ignores it and still places widgets onto second row if doesn't fit (creates a second row). Thanks.

[2017-12-12 19:04] VladasC opened #826 "Force to only single row using data-gs-height or height option doesn't work"
## Subject of the issue
I created a grid of one single row, using "height" option and data-gs-height="1" set  too. But it ignores it and still places widgets onto second row if it doesn't fit (creates a second row). When you try to move an item from second grid to first, also creates new line, when it should simply decline it and don't create second line.

There's a similar issue I believe, but wi

[2017-12-13 08:14] siecj opened #827 "auto scroll doesn't work when inside a container with scroll bar"
## Subject of the issue
I'm trying to let the grid stack auto scroll the container (not browser body but a DIV with scroll bar) and it doesn't work.
I already set the draggable: { scroll: true }.

## Your environment
* v0.2.6; v0.3.0

## Steps to reproduce
I directly modified on the **demo/float.html** by adding the following part.

1. Change the grid stack option like below and the auto scroll wo

[2017-12-13 08:32] DnJealt commented on #827
Can you provide a jsfiddle?

[2017-12-15 02:02] siecj commented on #827
@DnJealt
Here is a demo in Plunker: https://embed.plnkr.co/fTujnLQlpPVibNezqouU/
Please add enough widget in grid stack to reproduce the issue.
![image](https://user-images.githubusercontent.com/4181646/34023278-e8be2500-e13b-11e7-98ea-0e2296faed3a.png)

[2017-12-15 15:17] AGuyCalledGerald opened #828 "Cannot read property 'item_class' of undefined"
## Subject of the issue
I try to use gridstack and get the error "Cannot read property 'item_class' of undefined"
Can someone tell me where the problem may be?

Error occurres in gridstack.js:

        var GridStack = function (el, opts) {
             var self = this, one_column_mode;
             this.container = $(el);
             opts.item_class = opts.item_class || 'grid-stack-item'; //error

[2017-12-15 19:51] candrewtemenoscom opened #829 "How to resize widget to final size after animation is done"
I should apologize. This is not an issue. I just want to see if I can some help from this forum. I would like to know how I can make the gridstack item always resize to its nearest placeholder dimension when the resize stop. I found that when it is resized very quickly, the content within the widget did not get resized correctly even though I had code to resize the content accordingly when resize

[2017-12-16 14:46] mgifford opened #830 "Accessibility Review Required"
## Subject of the issue
The demo has basic accessibility issues, and I assume the code does too

## Your environment
Just testing with Firefox and your demo

## Steps to reproduce
Try to navigate without a mouse

## Expected behaviour
One should be able to tell where one is and also move the blocks around without using a mouse

## Actual behaviour
You can't.

See the discussion here https://www.dr

[2017-12-17 22:36] digitalml opened #831 "Dragging Doesnt work properly when scaled via css transform"
When you scale the div that contains gridstack via css scale transform the mouse x and y drag positions are not correct. This happens with all draggable components and the css scale transform.

Ive tested with normal jquery ui draggables and can fix this issue with the following code but i dont know how to implement it within gridstack.js.

if anyone can help i'd be willing to pay as I need this c

[2017-12-17 23:15] fabianvelizok commented on #725
We have a fixed item (button) on the first place, so we use the following workaround:
onDragStop event, compare fixed item position (0, 0) with new item position (0...X, 0...Y) and if they are the same, then return new item to original position (look at the properties).
I hope it could be helpful :)

[2017-12-18 11:48] #828 closed

[2017-12-19 00:36] steacktartar commented on #723
In my case, simply including a left:0px in the grid-stack-item-content div element did the trick.

[code]

[2017-12-21 10:29] itdavidhan commented on #831
I have similar problems.I set width to 100 (default 12).
When you drag it, x increases or decreases depending on the width of the browser.

[2017-12-27 19:37] reinaris commented on #792
Call `$('.your-highchart-element').highcharts().reflow()` on the Highchart element

[2018-01-02 17:16] AGuyCalledGerald opened #833 "Changing positions of tiles dynamically does not work properly"
## Subject of the issue
I want to change the position of elements dynamically for certain screen sizes.

## Your environment
* version of gridstack.js 0.3.0
* google latest

## Steps to reproduce
On small devices, the grid elements should be arranged differently. For this, I do the following in $(document).ready

`var elements = $('.grid-stack-item');`

`for (var i = 0; i < elements.length; i++) {

[2018-01-05 08:30] mengxin-FE opened #834 "How to drop the nested widget to another widget?"
## Subject of the issue
Hello, Excuse me, Could you please tell me how to drop the nested widget to another widget?
eg, I want to drop a widget into another widget, and the widget can flexible.
now on the nested demo,I can't drop the pink widget out of the grid or to the left side grid . I don't konw what options restrict it. Dose gridstack.js support it? or can I use another way(HTML5 drop)to sov

[2018-01-05 18:13] adumesny commented on #834
I've played with nested grids a bit and ran into many issues right away and punt on it for now - as you mentioned moving a widget from one grid to another is problematic... I would like to solve it eventually though.

[2018-01-05 18:23] adumesny commented on #693
I'm looking at taking this pull request locally as I too need to remove the large dependency on lodash... it's one the biggest lib we are importing now that should be removed. Would be nice to have that taken.

[2018-01-09 01:32] shijistar opened #836 "Release a new version?"
Since this project had many code fixes and improvements in the past months, can we release a new version in bower? We have verified that the recent commits resolve some of my problems, but we can't use them for now, otherwise I have to folk this project and release a variant of this project in bower. Thanks.

[2018-01-10 17:47] kerryj89 opened #837 ""Loaded" initial event"
Can we have a "loaded" event that fires once gridstack has fully loaded in?  I am trying to calculate the heights of some elements within the grid/card and they return 0, yet if I wrap said code around a setTimeout or paste the chunk of code into the console it will see it just fine.  These elements within the grid/card are not loaded in dynamically but are actually part of the markup.  I tried do

[2018-01-11 09:27] DnJealt commented on #836
I think @radiolips is dead man. No word from him or the other author since September..

[2018-01-11 09:29] DnJealt commented on #837
Why don't you calculate the height _after_ you load gridstack in?

[2018-01-11 14:47] kerryj89 commented on #837
Changing the order of the statements worked (had height calculation code before loading in Gridstack), but will Gridstack always load into place completely before the height calculation comes into play for those with complex dashboard setup?  I am not the best at JavaScript but I've ran into issues where the DOM isn't completely ready due to JS concurrently building a portion of it in the past, bu

[2018-01-11 20:30] kerryj89 commented on #836
It seems he has sudden bursts of commits and then disappears for a few months, maybe he'll be back soon.

[2018-01-12 07:31] yangxiaolin commented on #674
import 'gridstack'
work for me! @tonywr71

[2018-01-16 05:58] Shiva4393 commented on #149
@eagoo @h-nazzal @radiolips
Just a small remainder... When this feature is available?

[2018-01-16 18:18] campaignium commented on #101
I too am looking for a conversion to a static bootstrap layout. I use gridstack as a DnD designer to create a dashboard layout, however when viewing the dashboard live, it will be static (no DnD), but it will need to rely on bootstraps responsive functionality to respond to different viewports appropriately.

[2018-01-17 14:50] Thodor20 opened #838 "Grid items not getting a height with makeWidget and cellHeight auto"
## Subject of the issue
I'm trying to render a grid using a Marionette collectionview, this collectionview is responsible for loading all the grid panes and putting them in the DOM, afterwards all the panels are added as widgets to gridstack.

However as soon as everything is done the panes have no height set to them. They are all 0 pixels high. I'm using `cellHeight: 'auto'` for height calculatio

[2018-01-18 06:26] adumesny commented on #836
last burst of 'commits' (other people fixes, including some myself) was when I got involved and try to open it up for other contributors. but @radiolips and the original author never did open it up... just renamed to more public name and took pending commits. shame because I now have created a local branch and npm publish I need to maintain for fixes/features. Afraid this code is dead open source.

[2018-01-18 07:39] rahulawasthi opened #839 "How to get the information of Rows and columns."
## Subject of the issue
I need to get the track that how many elements are there and also the how many are there in row 1 and how many are there in row 2. Based on that i need to generate a pdf. The structure of pdf and the structure of the gridstack elements must be same. Do gridstack provide such kind of functionality. I came to know one method in gridstack i.e getCellFromPixel, will that functi

[2018-01-18 09:46] DnJealt commented on #836
If you fork it and open it up, I'll be happy to contribute.

[2018-01-18 15:17] adumesny commented on #836
may have to do that... just not sure how to do it and also expose it here for others to start contributing and getting that published.

[2018-01-18 20:07] linusg commented on #836
I would love to see an active fork... please make this happen guys! :heart:
@adumesny @DnJealt

[2018-01-19 09:27] sathis810 opened #840 "How to know next free space in grid stack"
How do we get x,y axis of next free space in gridstack

[2018-01-23 05:18] Ruchir-zealous opened #842 "gs.removeWidget() not removing node from gs object"
## Subject of the issue
In application I have a feature to add and remove widget dynamically. But when I remove the widget I noticed the error in console
[code]
While debugging I found that, when I removed the widget from gridstack using
[code]
it removes the widget but the node is still there under
[code]

I tried passing true to detached node but it still keeping all old widgets under node.

##

[2018-01-23 09:40] Ruchir-zealous commented on #842
Resolved by using JQuery Object
[code]

[2018-01-23 09:40] #842 closed

[2018-01-24 06:41] sailajachellu opened #843 "Grid-stack horizontal swap"
Horizontal swap in 2*2 is bringing controls down

gridstack version: 0.3.0

1. Created 2*2 grid stack:
first row:      1 2
second row: 3 4
this.serializedData = [
                { x: 0, y: 0, width: 6, height: 3 },
                { x: 6, y: 0, width: 6, height: 3},
                { x: 0, y: 3, width: 6, height: 3 },
                { x: 6, y: 3, width: 6, height: 3}
            ];
2. I have dis

[2018-01-24 06:46] sailajachellu commented on #149
I am having the same issue. Can anyone let me know whether this is resolved. if yes, please let me know the version to take.

[2018-01-25 13:11] Prasanthcs29 opened #844 "Floating Not working properly"
## Subject of the issue
Floating not working properly

Windows 10
* gridstack.js 0.3.0
*Chrome 63

While dragging the First DOM to second DOM it works fine. But again i tried to move first DOM to original x and y value second DOM not moved and i have white spaces. In that case i try to resize the DOM it calculate the empty spaces and set height as huge pixel.

Thanks,
Prasanth

[2018-01-26 11:52] JohnArcher commented on #836
I tried to reach out to Dylan at Twitter but no response. :-/ So I would be interested in a maintained fork, too. @adumesny Well, as you already forked that, "just" commit your new code to your own repo and I think people who are looking for a new version will find your fork, e.g, through this issue. Or am I getting you wrong?

[2018-01-26 17:53] Antimated commented on #606
Same issue here when I set my column width it doesn't work (properly)

[2018-01-31 04:06] h-nazzal commented on #149
@Shiva4393 @sailajachellu im not working on this anymore.
as i have said before i moved to my own custom solution.

[2018-01-31 10:10] jamdav16 commented on #149
Keen to see this feature too if someone else can develop a solution.

[2018-02-02 12:12] mvkampen opened #845 "Performance IE 11"
## Subject of the issue
Initial layout rendering of stack-items takes very long on IE 11.
Even when the number of items is not very big, e.g. 20
Not expecting miracles for older IE versions, but 11 should be doable.

## Your environment
gridstack.js 0.3.0
jquery 3
jquery-ui > 1.12
lodash > 4
IE 11

## Steps to reproduce
This attempts to reproduce the issue, because its very minimal and doesnt cont

[2018-02-02 13:46] ramblingsoliloquy commented on #829
I'm having the same problem.
I call "gsresizestop" to refresh my charts to the new item-size but the item has the width and height from the resize-action of the user and not the actual one on the grid. **I think this is a bug**, since the gsresizestop should be called after the item has snapped to the grid.
A temporary solution could be setting a timeout and calculate the new width and height afte

[2018-02-02 14:20] krilllind commented on #836
Been talking a bit to @radiolips on email, said he has been extremely busy with other things, and that he would roll out some new updates soon. This was over a month ago tho..

So I wrote to him again and no response, my guess is that this lib might need a need a new fork and someone a bit more active.

[2018-02-02 23:24] adumesny commented on #836
I don't think depending on one person (whoever that is) is the right way. I suggested to @radiolips before, is to open it to so anybody can check stuff in, but require maybe 2 other people to approve any CR before they can go in. Decentralize it, but not make it completely wild west either. I don't know if github support something like that.. or even opening a branch for anybody to submit to (what

[2018-02-05 10:41] DnJealt commented on #845
Aside from the website loading quite slowly overall, I'm not getting any noticeable differences between Firefox and IE11. Are you sure IE11 isn't throttling on loading the actual JavaScript?

[2018-02-06 15:50] crazyfx1 commented on #840
You might need to iterate through the x and y positions of your grid and check each position with the [isAreaEmpty](https://github.com/gridstack/gridstack.js/tree/develop/doc#isareaemptyx-y-width-height) method until it returns true.

[2018-02-06 18:24] NaFreitaz commented on #416
I am still experiencing this issue, as is your demo: http://gridstackjs.com/demo/two.html.

Why has this been closed?

[2018-02-08 22:37] kerryj89 commented on #837
As gridster is loading in, it looks a little janky (see attached).  If we had a "loaded" event we can hide it from appearing until gridster finishes its layout calculation and is rendered in fully.  Or is there a way to do it without a "loaded" event?

![2018-02-08_16-33-52](https://user-images.githubusercontent.com/1977804/36001936-dea46f42-0ced-11e8-9f85-4f54baefad3f.png)

[2018-02-10 11:41] crazyfx1 commented on #839
You can use jQuery to get all items from gridstack.
[code]

And for each element in that list you can get the respective data elements to get the x, y position and the size of the elements.
[code]

So you can get them with
[code]
etc..

[2018-02-10 11:49] crazyfx1 commented on #829
It depends on what you try to measure: The actual height in pixel of the height in cellHeight units.

As far as i can see the fix only contains the correct "height in cellHeight".

So basically in the gsresizestop function:
* The "height in pixel" (e.g. if you get the height of `.grid-stack-item` with jQuery) is definitely wrong. You can't rely on that.
* The "height in cellHeight" stored in data-

[2018-02-10 13:57] MrMowji commented on #81
@mandys I think it's because of core gridstack.css styles. You must override them:
`**.grid-stack >** .grid-stack-item {

    $gridstack-columns: 200;

    @for $i from 1 through $gridstack-columns {
        &[data-gs-width='#{$i}'] { width: (100% / $gridstack-columns) * $i; }
        &[data-gs-x='#{$i}'] { left: (100% / $gridstack-columns) * $i; }
        &.grid-stack-item[data-gs-min-width='#{$i

[2018-02-12 11:56] ramblingsoliloquy commented on #829
Thanks, @crazyfx1, calculating via cellHeight works fine! One needs to additionally subtract 4px due to the box-shadow, though, so:
`((gridItemHeight * gridCellHeight) + ((gridItemHeight - 1) * gridVerticalMargin)) - 4`

For the width I use `clientWidth` without any problems.

[2018-02-12 13:11] MrMowji commented on #819
Unfortunately that's not the only behavior. Re-sizable handlers should be on the left side of `grid-stack-item`.

[2018-02-12 13:19] MrMowji opened #848 "Resizing by borders, not the handle"
## Subject of the idea
It would be more useful to let user resize items using their borders, instead of their handle. That way, there is no need to think about `rtl` options for this specific feature.

[2018-02-12 15:27] radiolips commented on #848
Hey, @MrMowji . I'm unfamiliar with the issue you're insinuating - why is `rtl` an issue for this?

[2018-02-12 15:29] radiolips commented on #844
@Prasanthcs29 hey there. Sorry you're having a problem. Could you provide an example?

[2018-02-12 15:30] radiolips commented on #845
@mvkampen What other browsers did you test with? I don't have IE11 currently accessible, but will get access if need be. It sounds like @DnJealt saw consistent results, though.

[2018-02-12 15:32] radiolips commented on #843
Hi, @sailajachellu ! Horizontal swaps aren't currently possible, but are on the roadmap. There are several open tickets for this already, so I'm closing this ticket. To answer your question succinctly: there is no current way to achieve this, but that'll be rectified in a future release.

[2018-02-12 15:32] #843 closed

[2018-02-12 15:39] radiolips commented on #840
Hey, @sathis810 . @crazyfx1 is right (thanks!), you'll want to use `isAreaEmpty` and/or `willItFit`.

[2018-02-12 15:39] #840 closed

[2018-02-12 15:40] #839 closed

[2018-02-12 15:43] radiolips commented on #838
@Thodor20 I don't have this same problem. Are you able to get it to work without Marionette and without using `cellHeight: 'auto'`? I want to be sure that the code will work in a plainer situation.

[2018-02-12 15:46] radiolips commented on #837
`gridstack` is synchronous. @kerryj89 could you provide a little jsfiddle to show the issue you're having? Calculations after the grid is initiated should be okay.

[2018-02-12 15:49] MrMowji commented on #848
Hey @radiolips . When using `rtl` option for loading the `gridstack`, handles' position doesn't change. They stay at the **right-bottom** corner. As someone who works with rtl languages, it would be more user-friendly to let items grow from left-bottom corner too, or better, grow in four directions.

Actually gridstack's [rtl example](http://gridstackjs.com/demo/rtl.html) is not right.

[2018-02-12 15:50] radiolips commented on #836
Agree with @adumesny . I'm going through the open issues as quickly as I can, and will then work on some automated rules for PRs to eliminate key dependencies on any humans.

@krilllind , @JohnArcher , my apologies for not responding. It wasn't just gridstack that I was gone from, but I'm fully back now. I'll even get through my tweets at some point...oof!

I'm leaving this ticket open for now. I'

[2018-02-12 15:51] radiolips commented on #831
@digitalml I'd love to help you out. Could you create a jsfiddle or something where I could see what you're referring to? There's no doubt in my mind that we can get this working.

[2018-02-12 15:54] radiolips commented on #830
@mgifford Thank you for bringing this to our attention. I'm unfortunately ignorant to this issue, so please help inform me - what's needed to get this up-to-code? There's no reason this library shouldn't be able to pass an accessibility review. Let's make it happen.

[2018-02-12 15:55] radiolips commented on #829
@candrewtemenoscom I'm going to close this because it sounds like @crazyfx1 's got your back. Feel free to reopen if you're having continued issues.

[2018-02-12 15:57] adumesny commented on #836
Great to hear @radiolips . I've picked up the lodash removal CR that was posted a while ago, with some tweaks to match latest code, and it works great and remove yet another big dependency. We wanted to do that as well... great someone went through 98% of the effort.

[2018-02-12 15:58] radiolips commented on #827
@siecj What am I looking at here? You want the div to scroll down? If so, can't you use a line of Javascript?

[2018-02-12 15:58] mgifford commented on #830
Just try to navigate your site without using your mouse:
http://gridstackjs.com/

There are probably other issues, but right now I can't find a way to move the blocks without a mouse.

[2018-02-12 16:00] radiolips commented on #825
Hey there, @Shiva4393 , @VladasC . Unfortunately, the way `gridstack` is built, there's no way to do a horizontal flip, which is needed for @VladasC 's case and also prevents swapping widgets in a full grid. There are a few earlier open issues, so I'm closing this one, but both of these features are on the roadmap.

[2018-02-12 16:00] #825 closed

[2018-02-12 16:01] radiolips commented on #826
Hey @VladasC  - I responded to you in the other issue you mentioned, but tl;dr: there's no way currently to flip horizontally, nor is there a way to rearrange a full grid. There are some open issues for this, so I'm closing this issue, but these features are on their way.

[2018-02-12 16:01] #826 closed

[2018-02-12 16:02] radiolips commented on #824
@PalanivelLakshmi Thanks for logging this issue! Actually, I believe that this is not something the library should be responsible. It's a feature that you could certainly implement in your own code, but it's a very specific thing that won't impact enough developers.

[2018-02-12 16:02] #824 closed

[2018-02-12 16:03] radiolips commented on #823
We can add this feature.

[2018-02-12 16:05] radiolips commented on #821
@koupeng I don't understand what you're asking. You want the widgets to have breakouts for different resolutions?

[2018-02-12 16:06] radiolips commented on #820
@smrazavian Right now, if you pass the `rtl` parameter, it still positions elements left to right?

[2018-02-12 16:07] radiolips commented on #819
Sounds like #820 might be this same issue? This might be tricky, but it's a reasonable request.

[2018-02-12 16:08] radiolips commented on #820
I see from #819 that this is definitely an issue. Closing, but please follow #819 for updates.

[2018-02-12 16:08] #820 closed

[2018-02-12 16:10] radiolips commented on #813
Well, you could simulate this by just putting the handles into CSS and use a special class for the single item you want. I'm closing, but reopen if you have continued issues.

[2018-02-12 16:10] #813 closed

[2018-02-12 16:11] radiolips commented on #812
@dslinnard have you tried using the `develop` branch? I'm curious to know if it's currently fixed on `1.0.0-dev`.

[2018-02-12 16:21] radiolips commented on #848
@MrMowji You can actually set where those appear, including the bottom left, but it should default to bottom left hwen you use rtl, definitely.

[2018-02-12 16:40] MrMowji commented on #848
@radiolips Yes. But it's more about the functionality. The functionality of handles must move with them too, so we can grow items from left-bottom corner. I still recommend attaching handles to borders **and** corners :) Thanks.

[2018-02-12 16:44] radiolips commented on #848
You can already extend widgets from the bottom-left. And from the left side, too! If that's all you're asking for, you can certainly do this already. ```$('.grid-stack').gridstack({
    resizable: {
        handles: 'e, se, s, sw, w'
    }
});```

[2018-02-12 16:49] MrMowji commented on #848
@radiolips That's exactly what I wanted.

[2018-02-12 16:51] radiolips commented on #848
🎉

[2018-02-12 16:51] #848 closed

[2018-02-12 17:09] crazyfx1 commented on #829
@radiolips glad you're back ;) i don't know if there is an open issue which addresses the bug that the event is triggered before the jQuery-Element has actually animated to the final size. This bug should be fixed nonetheless.

[2018-02-12 17:57] radiolips commented on #836
(for those following my conversation with @adumesny , we've moved it to Slack! If you're reading this and you're not on Slack, join us! https://gridstackjs.troolee.com/ )

[2018-02-12 19:13] radiolips commented on #829
I misunderstood. I could have sworn `gsresizestop` fixed the issue, but I must be mistaken. I'll take a look.

[2018-02-12 20:14] radiolips commented on #802
Wish I could! I'm not sure who originally set that. Could one of you two @DnJealt @krilllind put in a PR to not use !important and I can test the branch out and make sure it's fine? I'm guessing whoever put it in was just a bit nervous.

[2018-02-12 20:17] radiolips commented on #805
I just used your demo and resized 30 times. I definitely want to help, especially if it's affecting many of you, but I haven't experienced it yet myself. I'll leave this open - when someone gets some more information about how to cause the issue, I'll take another look.

[2018-02-12 20:20] radiolips commented on #806
`float` is technically reserved, but has not actually been used since `ECMA3`. If you feel strongly about this, @bpottle , put in a PR to update the usage. Otherwise, I'll change it when I have some time, but this one is going to have to be low priority for now.

[2018-02-12 20:22] radiolips commented on #801
Hey, @louman . This is a known issue. There are several open issues with it, so I'm closing this one. This will be fixed in a newer version.

[2018-02-12 20:22] #801 closed

[2018-02-12 20:25] radiolips commented on #793
Either #756 or another PR from around that time should fix it. @DnJealt or @leowns , could you try with the 1.0 dev branch?

[2018-02-12 20:26] radiolips commented on #790
I don't really understand this question. I'm going to close this issue out, but if @savannahchoy or anyone else better understands what this should be, I'll reopen it.

[2018-02-12 20:26] #790 closed

[2018-02-12 20:27] radiolips commented on #795
I'm closing this in favor of #796, but please watch 796 if you'd like to keep in the loop.

[2018-02-12 20:27] #795 closed

[2018-02-13 14:58] belchandan opened #849 "how to get items in order they are sitting in the grid"
## Subject of the issue
Want to get items array in the order they are displaying, i.e. current position of all items to save those and reuse when load later.

Any suggestion please?

## Your environment
* version of gridstack.js = 0.3.0

[2018-02-13 15:51] radiolips commented on #849
Hey, @belchandan . You can actually achieve this with basic Javascript. Attributes are set directly on the widgets. You can view the source of this example for more information: http://gridstackjs.com/demo/serialization.html

[2018-02-13 15:51] #849 closed

[2018-02-14 00:04] dslinnard commented on #812
Checking now

[2018-02-14 00:20] dslinnard commented on #812
Yes it does fix it and a fiddle using V1.0 dev can be found here https://jsfiddle.net/dslinnard/u4r2082s/12/

[2018-02-14 01:43] radiolips commented on #812
@dslinnard Great! If you're able to, you can use that branch for now. I'm going to close this ticket out, since it's resolved in 1.0-dev. If you have any problems, reopen this issue and let me know.

[2018-02-14 01:43] #812 closed

[2018-02-14 05:02] sathis810 commented on #840
Thanks @crazyfx1. working fine

[2018-02-14 06:05] belchandan commented on #849
thanks @radiolips for response and sharing demo, I found that and applied similar as well :-)

[2018-02-14 11:23] mvkampen commented on #845
I updated jquery from 2 to 3 to make sure to rule out outdated dependencies. Disabled animation in the options to rule that out. Also spend some time in browser profilers to get more detailed explanation.

I tested on Firefox 58.0.1 and IE 11 in Virtualbox. Start profiler and reloaded the page and stopped the profiler after the grid was rendered. I tested the live example and the jsfiddle, and ano

[2018-02-14 12:28] mvkampen commented on #845
So updateStyle removes the generated stylesheets more often.
But also [this for loop](https://github.com/gridstack/gridstack.js/blob/ba681fc4642cdf6dee733d476a6524c7f6f7d65b/src/gridstack.js#L1007) seems to get executed everytime? As if this._styles._max variable is not set. Would explain the amount of insertCssRule calls, but I havn't debugged that so far to confirm.

[2018-02-15 17:42] akiross commented on #573
This also happens to me. It happens with many elements as well, not just one.

I think what is happening is that height of the parent item is larger than the height of the area your mouse is moving into (the screen). When I start dragging the handle to resize, **if** the height of the parent is larger than the screen (i.e. overflows), then I get errors in the computed grid heights. If the parent h

[2018-02-16 11:42] DnJealt commented on #793
I can't find the 1.0-dev branch anymore.. :(

[2018-02-16 14:14] radiolips commented on #793
@DnJealt The branch is called `develop`. Hope that helps :)

[2018-02-19 10:23] DnJealt commented on #793
Allright goodmorning everyone, hope you've had a great weekend.
I can confirm that this issue is no longer present in the v1.0.0-dev branch.

If you're still in v0.3.0 and just want this bug fixed, [you can find the fix here](https://github.com/gridstack/gridstack.js/commit/2037a70f264fd17cead83506f812ae0e025ba8c7). This is what we actually did because we were too afraid to update the rest back th

[2018-02-19 14:31] JanRune opened #851 "Resizing gives error: Uncaught Error: cannot call methods on draggable prior to initialization; attempted to call method 'disable'"
## Subject of the issue
When resizing with Chrome's toggle device toolbar, error appears in console:
"Uncaught Error: cannot call methods on draggable prior to initialization; attempted to call method 'disable'"
 GridStack.onResizeHandler (gridstack.js:642)

## Your environment
* gridstack.js 0.2.6
* Chrome

## Steps to reproduce
Resizing browser with toggle device toolbar (Chrome)

## Expected be

[2018-02-19 17:58] roborto444 commented on #805
After a grid item was dragged out of bounds there were extra node being added to the grid. This caused the node to get stuck.
See video: https://youtu.be/QJj6hi7lnDU

[2018-02-19 19:25] radiolips commented on #805
@yehhor @Alanrafferty @poluda can you all test the 1.0 dev branch, please? I've merged in @roborto444 's PR and would love confirmation that the issue has been resolved.

[2018-02-21 01:57] devginie opened #853 "draggingElement and placholder problem."
## Subject of the issue
When it is 'dropover', 'ui.draggable' element is hard to change.

## Your environment
* 1.0.0-dev of gridstack.js
* Chrome  64.0.3282.167(64bit)

## Steps to reproduce
1. A outer element drag into gridstack.
2. The 'dropover' event triggered.
3. Placeholder is calculated by handler.

## Expected behaviour
I want to use helper element as placeholder at 'dropover' event.

##

[2018-02-21 09:15] nickxbs commented on #744
I have the same problem, it seems fixed with the last dev version

[2018-02-22 02:57] radiolips commented on #744
Thanks, @nickxbs . I'm going to close the ticket - Let me know if you still have a problem, @Stratofish .

[2018-02-22 02:57] #744 closed

[2018-02-22 09:41] Senthil880 commented on #397
Hi @radiolips  Still Disappearing issues facing in gridstack1.0 while widget moving from one grid to another. Please do need full.
and im using gridstack-angular .Thanks in advance

[2018-02-22 14:21] radiolips commented on #397
Hey @Senthil880 . Use #451 for commenting, please. Also, we don't directly support gridstack-angular, so if you have issues specific to that, you'll want to post on that github.

[2018-02-23 04:23] Senthil880 commented on #397
#451  Thanks. Even though we using gridstack.js using Jquery while we dragging the item from one grid to another for 5-10 times some of items are get disappear from the grid
i.e Grid1 has 5 items as well Grid2 has 5 item while we playing around from one grid another some of items disappear finally we have 8 or 9 items in both grids.Please look in this example http://gridstackjs.com/demo/two.html
T

[2018-02-23 16:55] mvkampen commented on #845
The insertCssRule being called 2808 times seems correct. The Firefox number is indeed a sample and does not reflect the absolute number of calls.

In the updateStyle, the following rules are defined.
- an initial min-height.
maxHeight = the sum of all rows of widgets stacked in tallest column. (e.g. 60)
-  for each row height, 4 css rules are inserted
   (y, height, min-height, max-height)

12 wid

[2018-02-23 21:37] ricktee76 opened #854 "addWidget has no drag/resize"
I have implemented an image upload which drops the image on to the grid after upload. This seems to work.

 var el = $('.grid-stack').append('<div class="grid-stack-item widget" data-gs-x="2" data-gs-y="2" data-gs-width="4" data-gs-height="3"><div class="grid-stack-item-content"><img src="uploads/pages/'+imagename+'"><div class="edit" style="display: none;"><a href="#" title="Click and Drag Widget

[2018-02-28 22:06] acbrandao opened #855 "How to save /load contents of widgets?"
## Subject of the issue
What's the process to save and load the contents (hmtl) of the widgets, in the serialization example:
this.serializedData = [
			{x: 0, y: 0, width: 2, height: 2},
			{x: 3, y: 1, width: 1, height: 2},
			{x: 4, y: 1, width: 1, height: 1},
			{x: 2, y: 3, width: 3, height: 1},
			{x: 1, y: 4, width: 1, height: 1},
			{x: 1, y: 3, width: 1, height: 1},
			{x: 2, y: 4, width:

[2018-03-06 03:02] WebPro9369 opened #856 "Show Resize handler only when hovering on handler itself"
Hello, there.
I would like this feature:
Currently, resize handlers are visible whenever hovering on the grid, and can I show it only when hovering on handler(at the corner of grid) itself?

Thanks.

[2018-03-11 11:51] Prashik123 commented on #662
Hi we can try following css workaround for now(try manipulating background-size based on ur requirement):

    .grid-stack {
       /* background-color: #eeeeee; */
    background-image: linear-gradient(#e0e0e0 1px, #00000000 1px), linear-gradient(90deg, #e0e0e0 1px, transparent 0px), linear-gradient(rgba(255,255,255,.3) 5px, transparent 100px), linear-gradient(90deg, rgba(255,255,255,.3) 5px, tra

[2018-03-14 09:10] mxx-lxg commented on #478
Having the same issue. Is there a workaround for this?

[2018-03-15 09:38] sathis810 opened #857 "Set Header fixed in widget"
How to set widget Header as fixed and content can be scroll-able if exceeded the data-gs-height.

[2018-03-19 17:34] luissmg commented on #743
@radiolips is this fixed on production? Cause I have the most recent version and it still does not work.

[2018-03-19 17:36] radiolips commented on #743
Hey, @luissmg . The release branch has yet to be updated, despite how long ago this was fixed. So, no, it's not yet fixed in production, but you can use the develop branch to remedy the problem for now.

[2018-03-19 17:40] luissmg commented on #743
@radiolips Thanks for the response. I will keep an eye on the production branch and test the dev to see if it is ok. Do you have a release scheduled?

[2018-03-22 08:06] JanRuneHenriksen opened #858 "Gridstack resize error"
![2018-03-22 09_08_53-gridstack](https://user-images.githubusercontent.com/37361675/37758512-c7db6494-2db0-11e8-95a4-810fc639306d.png)
## Subject of the issue
Gridstack resize error

## Your environment
* 0.2.6
* Chrome

## Steps to reproduce
Resizing browser with Chrome Toggle Device Toolbar from no resize to mobile (iphone) size

## Expected behaviour
No errors should appear in console

## Actua

[2018-03-24 09:30] hkrawczyk2 opened #859 "API not working on rendered DOM"
## Subject of the issue
I'm trying to use API to set minWidth for each node dynamically. So far no success :(

## Your environment
Latest Chrome / Latest FF
Gridstack: 0.3.0

## Steps to reproduce
`$('.grid-stack').data('gridstack').movable($('.grid-stack').data('gridstack').grid.nodes[0], false);`
or
`$('.grid-stack').data('gridstack').minWidth($('.grid-stack').data('gridstack').grid.nodes[0], 10

[2018-03-24 10:04] #859 closed

[2018-03-26 14:40] filmtablette opened #860 "two gridstack grids with different widths"
## Subject of the issue
I'd like to have two gridstack grids with different widths.
I set the widths via CSS, like mentioned here: https://github.com/gridstack/gridstack.js#change-grid-width.
One grid with 3 columns
`.grid-stack-item[data-gs-width="3"]  { width: 100% }
.grid-stack-item[data-gs-width="2"]  { width: 66.66666667% }
.grid-stack-item[data-gs-width="1"]  { width: 33.33333333% }

.grid-s

[2018-03-27 21:50] filmtablette commented on #860
ok. I figured it out. the selector doesn't work when the attribute starts with a number.

[2018-03-27 21:50] #860 closed

[2018-04-02 09:25] jinich opened #861 "Calling cellHeight(val) not update styles"
## Subject of the issue
I faced this issue when using gridstack on develop branch: the grid didn't update it's styles when i called `cellHeight(val)` to update grid cell height,

I checked`_updateStyles` function and this `if` statement always `true`:
[code]
This is because  `this._initStyles()` was moved below that `if` check, as compared with gridstack v0.3.0:
[code]
Was the ability to update ce

[2018-04-02 15:54] murugan92 commented on #414
@radiolips is there an working example for clone?

[2018-04-02 16:16] murugan92 commented on #414
var zone_options = {
                width: 4,
                height: 2,
                animate: true,
                cellHeight: 100
            };
            $(editor).gridstack(zone_options);
        });

        var grid_options = {
            width: 1,
            height: 6,
            animate: false,
            cellHeight: 100,
            draggable: {
                helper: 'clone'

[2018-04-04 15:50] lauantai commented on #542
Same issue...

[2018-04-05 12:51] Crease29 commented on #414
:+1: need also help on the same scenario as @murugan92

[2018-04-06 12:55] mxx-lxg commented on #861
Oh, damn. I hope this is a bug. I need this feature.

[2018-04-06 13:27] radiolips commented on #542
I thought this had been fixed in a merged PR on v1. @petegibbins you're using the newest version in the develop branch and still having this problem?

[2018-04-06 13:30] radiolips commented on #861
@jinich can you provide an example? What styles aren't being applied?

[2018-04-06 13:31] murugan92 commented on #414
@radiolips yes, im using the dev branch. if you can draw an example that would be very helpful for us. :)

[2018-04-07 08:08] jinich commented on #861
Hi @radiolips, i created codepen demo for it:
* This demo use gridstack 0.3.0: https://codepen.io/jinich/pen/pLKzaG
* And this use gridstack on develop branch: https://codepen.io/jinich/pen/aYQWxR

When clicked Resize button, you can see that cellHeight(val) worked with gridstack 0.3.0, but it does not work with gridstack from develop branch

By saying styles aren't being applied, i meant `_update

[2018-04-09 19:33] vbsatheeshkumar opened #862 "Resize not working when element dragged from another gri"
## Subject of the issue
Resize not working when element dragged from another grid

## Your environment
* version of gridstack.js --> Latest version
Chorme 65

## Steps to reproduce
Enter http://gridstackjs.com/demo/two.html
Drag the "Dragme element on to Yellow section and then on to green section"
Try to resize the element

## Expected behaviour
Should be able to resize

## Actual behaviour
Resiz

[2018-04-12 08:11] tlebreton commented on #862
Hi

Encounter the same bug this day.

In the console i see there is now two resizable handle div element on the recent drag element.

The other divs can be resized
![gridstack](https://user-images.githubusercontent.com/24650214/38664401-c1859bac-3e39-11e8-916a-884aa4031ab7.png)

[2018-04-17 05:51] benjamincfaustino commented on #542
Same Issue.

Please fix this issue. Thanks

[2018-04-17 05:57] polenginlabu commented on #542
Same issue please fix thanks!

[2018-04-17 06:08] mishavthomas opened #863 "i need to resize widget to smallest height and weight than now."
## Subject of the issue
i need to resize widget to smallest height and weight than now.

## Your environment
* version of gridstack.js:gridstack.js 0.2.5
* chrome

## Steps to reproduce
Tell us how to reproduce this issue. resize it to  min.then height is 60 amd width is 75.i need more lesser size
## Expected behaviour
Tell us what should happen

## Actual behaviour
Tell us what happens instead

[2018-04-18 09:35] Shiva4393 commented on #149
@h-nazzal Can you please share your custom solution with an example which fixes this issue?

[2018-04-18 18:59] P1llus opened #864 "Please delete, wrong section"

[2018-04-20 07:10] mishavthomas commented on #568
hi  @edlisten i just want widget with smallest size.can you pls help me

[2018-04-25 07:57] JHoerbst commented on #416
Still occurring.

[2018-04-25 16:08] radiolips commented on #416
As stated above @NaFreitaz, use #451 .

[2018-04-25 22:12] Angelger83 opened #865 "widgets gets stacked in 1 column after enable()"
## Subject of the issue
I'm loading the position of the widgets with a serialization stored on local storage, by default on load I'm disabling the grid with disable(); I have a link that ones you click you enable the grid to be modified with enable(). That works correct, the only thing is that when I enable the grid all the components get stack in a single column losing the correct position

## Yo

[2018-04-26 05:15] JHoerbst commented on #416
@Illizian doesn't work  on me

[2018-04-26 06:49] Illizian commented on #416
@JHoerbst I just ran the event listener code within the demo (http://gridstackjs.com/demo/two.html) and it worked perfectly.

- Try adding breakpoints within the callback
- Check the selector is correct for your circumstance (e.g `#grid` becomes `.grid-stack` for the demo above, perhaps you've a different id/class too?)

[2018-04-26 11:14] Joozty opened #866 "Webpack jquery-ui -> jquery-ui/ui"
I am trying to use gridstack npm package but there is some problem with paths:

My webpack.config.js looks like:
[code]
I am receiving this error:
[code]

I tried to change alias but it didn't help:
[code]

Thanks in advance.

[2018-04-26 11:16] Joozty commented on #866
Similar issue here:
https://github.com/gridstack/gridstack.js/issues/524

[2018-04-26 11:54] Joozty commented on #866
I found a solution. I need remove `jquery-ui` from `sharedEntry` and everything works fine.

[2018-04-26 11:54] #866 closed

[2018-04-27 09:10] JHoerbst commented on #676
@pedrumj2 Sorry doesn't work on me

[2018-04-27 17:41] Angelger83 commented on #865
instead of using:

                $(parentcard).attr('data-gs-x', node.x);
                $(parentcard).attr('data-gs-y', node.x);
                $(parentcard).attr('data-gs-width', node.width);
                $(parentcard).attr('data-gs-height', node.height);

I use:

grid.resize(parentcard,node.width,node.height);
grid.move(parentcard,node.x,node.y);

and Issue was fixed

[2018-04-27 17:41] #865 closed

[2018-04-29 08:07] Pycckoe opened #867 "Resize height block"
I have blocks with content and i need to resize block by the size of the content

[code]

And when on display block where many divs that block have scroll

[2018-04-30 13:11] #864 closed

[2018-04-30 13:13] radiolips commented on #863
@mishavthomas gridstack is a cell-based system. You can make things smaller by modifying properties such as `cellHeight`.

[2018-04-30 13:13] #863 closed

[2018-04-30 13:14] radiolips commented on #867
Hey @Pycckoe . You can accomplish this with some standard Javascript. In a tutorial I wrote for putting highcharts into gridstack, I mention some resizing. You can do something similar here. Here's the link:

https://dylandreams.com/2017/05/06/of-charts-and-dashboards/

[2018-04-30 13:14] #867 closed

[2018-04-30 18:17] StefanM98 opened #868 "Gridstack movement and resizing is constrained to the y-axis"
Firstly, I would like to thank the developer(s) of gridstack for providing such an awesome and useful plugin! Great work!

I will greatly appreciate any help!

Thanks,
Stefan

## Subject of the issue
When moving or resizing an item, the placeholder acts as expected, while the gridstack item seems to be constrained to only the y axis. This is most likely an issue with my code and not gridstack.

##

[2018-04-30 18:52] radiolips commented on #868
@StefanM98 I believe I can help you out! I looked in your example, and I see that in `gridstack.css`, we have the following:
[code]

[2018-04-30 19:34] radiolips commented on #868
I haven't tested it myself, but you should actually be able to override those values in your own css, so you should be able to use as many columns as you want.

[2018-04-30 19:49] StefanM98 commented on #868
I have attempted overriding those values in my css but the issue still occurs. Perhaps I'm doing it wrong? This is the css I added:
[code]
2% is less than any of the `data-gs-min-width` or `data-gs-width` my items have.

Another thing I found interesting is that when a item has `data-gs-x` set to 0, the problem does not occur until it is changed to another value. Not sure why this happens but I th

[2018-04-30 20:01] radiolips commented on #868
Oh! My mistake. Turns out there were two problems. The change you made should be fine, but there's something else causing the item to only move vertically. I'll give you an update when I know what's going on!

[2018-04-30 20:03] StefanM98 commented on #868
Sounds good! Thank you very much for your support!

[2018-05-01 16:12] radiolips commented on #868
@StefanM98 I have an answer for you! Stop using `!important` :P. You're overriding the inline styles that change the coordinates of the widgets when they're being dragged.

[2018-05-01 16:15] radiolips commented on #855
@acbrandao This is something that you'll need to do on your own. There are some closed out tickets that may have some explanation. In the serialized example, you can also loop over the widgets and store the HTML to a database or local storage - or you could store meta information about that HTML so that you can reconstruct it later.

[2018-05-01 16:15] #855 closed

[2018-05-01 16:49] StefanM98 commented on #868
@radiolips I removed `!important` from all the css rules and I've updated the [pen ](https://codepen.io/StefanM98/pen/ZoeBVX) accordingly. That did solve the problem with the item only moving vertically, but it caused another issue. Now at various points in the left side of the grid, the placeholder is completely off as shown in the image bellow.

![issue](https://user-images.githubusercontent.com

[2018-05-01 16:56] radiolips commented on #868
It could be related to the first issue I had noticed yesterday; I'm seeing that the widths of the widgets are set by `gridstack.css` and not your pen css. It's got a more exact match (`.grid-stack > .grid-stack-item[]` vs `.grid-stack-item[]`). Perhaps getting your CSS more specific will fix these problems? I didn't put together the SCSS, but I think it probably needs to be updated to make it more

[2018-05-01 17:09] StefanM98 commented on #868
That was the problem! I adjusted the SASS to more directly reference the gridstack item and that resolved the issue. Bellow is the updated SASS if you would like to update your README with it ;)

[code]
Thanks a lot for helping me figure this out! 👍

[2018-05-01 17:09] #868 closed

[2018-05-01 17:49] radiolips commented on #868
No problem. You should put in a PR with an update to the README, @StefanM98 !

[2018-05-01 17:51] StefanM98 commented on #868
Will do! :)

[2018-05-01 17:53] radiolips commented on #858
Hey @JanRuneHenriksen . Could you provide a fiddle, or some more information, to help me work through this with you? I haven't seen this error before, but what you've pasted here isn't enough for me to get it tracked down. Are you able to make it happen with any of the gridstack demo pages?

[2018-05-01 17:59] radiolips commented on #857
Hi, @sathis810 ! Welcome to our unfortunately long list of open issues.

Regarding your own - you can do that with your own code with ease. You can create a div, as normal, and give it a header and body. Set a height and `overflow-y: scroll` on the body, and it should work as you'd like. It's nothing that's gridstack-specific.

[2018-05-01 17:59] #857 closed

[2018-05-01 18:08] radiolips commented on #856
Hey there, @WebPro9369 ! Yep, you can actually do this easily, with your own CSS. In a project I have, we set `.grid-stack > .grid-stack-item.ui-resizable-disabled > .ui-resizable-handle, .grid-stack > .grid-stack-item.ui-resizable-autohide > .ui-resizable-handle` to `display: none` and later change that `display` css attribute.

[2018-05-01 18:08] #856 closed

[2018-05-01 18:28] #844 closed

[2018-05-01 18:28] #838 closed

[2018-05-01 18:28] #837 closed

[2018-05-01 18:30] radiolips commented on #827
@siecj This will be available, at least in the `develop` branch, by the end of the week.

[2018-05-01 18:30] #821 closed

[2018-05-01 18:30] #831 closed

[2018-05-01 18:31] radiolips commented on #853
@devginie What are you trying to do? I think we should be able to allow you to pass options to `dropover`, but I'm not positive that that's what you need.

[2018-05-01 18:33] radiolips commented on #861
@jinich Thanks. I'll take a look.

[2018-05-01 19:12] radiolips commented on #861
(Note: https://github.com/gridstack/gridstack.js/pull/672 is why this change was made. I've verified that in my own code I see the same problem. I'll try to resolve this while not breaking the initial fix).

[2018-05-01 19:43] radiolips commented on #861
Great catch, @jinich . I don't have enough information right now to understand why that change was made initially. I'm reverting it. I'll try to understand why it was made and how we can better fix it, but, for now, setting `cellHeight` on-the-fly should work.

[2018-05-01 19:52] #861 closed

[2018-05-01 19:57] radiolips commented on #851
Same as #858 .

[2018-05-01 19:57] #851 closed

[2018-05-01 20:25] #802 closed

[2018-05-01 20:41] radiolips commented on #797
@chrisjwilliamsuk81 @KennethanCeyer Not sure what happened here, but there are some problems in the example. I've verified that it works fine when these problems have been rectified. Namely, width and height cannot be larger than 12.

[2018-05-01 20:41] #797 closed

[2018-05-02 13:04] #750 closed

[2018-05-02 13:05] #741 closed

[2018-05-02 13:07] radiolips commented on #727
@tanobi92 You might want to try our Slack community to see if anyone can help. I don't write any KO myself, so I won't be a good resource for you here.

[2018-05-02 13:07] radiolips commented on #727
I'm also closing this, as it isn't actually an issue at this time, but let me know if there is a specific issue (vs just question).

[2018-05-02 13:07] #727 closed

[2018-05-02 13:09] radiolips commented on #735
Closing this ticket, but if someone gets in touch with me with a good react example, I'd be happy to link to it in the README. @ramigg this is obviously a very late response, but the 1.0 code isn't here. There will be a 0.x release probably this weekend, and I'll begin to get back on the 1.0 bandwagon.

[2018-05-02 13:12] radiolips commented on #716
I don't know that this is intuitive. As you drag the widget, the other widgets are being interacted with. @gokhancs could you be more succinct about your problem, or is @kool-kat correct in what the issue is? You want to be able to move  widgets, but you don't want the tangential widgets to persist in their affected location unless necessary?

[2018-05-02 13:14] radiolips commented on #719
This is resolved in v1.0 via the PR merged and referenced in this ticket.

[2018-05-02 13:14] #719 closed

[2018-05-02 13:25] radiolips commented on #725
Closing this in favor of #698 . It's a separate grid, but I believe it's the same problem.

[2018-05-02 13:25] #725 closed

[2018-05-02 13:26] radiolips commented on #694
Hi, @satishsahani10 . I don't really know. I'm closing this, as it isn't actually an issue. If you do find any information about this, please let us know on Slack, and I'll post a README update.

[2018-05-02 13:26] #694 closed

[2018-05-02 13:27] radiolips commented on #688
I don't know enough KO to help, and given that it's been nearly a year and you haven't received help, I'm closing this. If you're looking for more assistance, I'd recommend messaging us in the Slack community.

[2018-05-02 13:27] #688 closed

[2018-05-02 13:28] radiolips commented on #682
I'm closing this. You can override SCSS and set it to whatever you'd like when you're using more columns. That should work for you (and it looks like it has).

[2018-05-02 13:28] #682 closed

[2018-05-02 14:01] #715 closed

[2018-05-02 14:02] #568 closed

[2018-05-02 14:02] #566 closed

[2018-05-02 14:03] #585 closed

[2018-05-02 14:03] #582 closed

[2018-05-02 23:16] kool-kat commented on #716
@radiolips Best way I can explain it is as follows:

Dragging a widget is a **mouse click and hold** event.

In the process of dragging/moving the widget being dragged may collide or intersect with space occupied by other widgets. This results in a **collision event**.

The widgets touched/intersected with now move and release the space they are occupying to make room for the widget being moved th

[2018-05-02 23:41] kool-kat commented on #731
@adumesny Could have sworn I had tried that option too, but so long ago will have to go back to it. Thanks for suggestion though. To be honest I found the impact of some API options unclear, even when looking at example files. Maybe us users of Grid can help with writing docs?

[2018-05-02 23:42] radiolips commented on #731
Yeah, I think the docs could use a rewrite.

[2018-05-03 01:29] gokhancs commented on #716
@kool-kat is right, great description. Following the same wording, I am fine with containers interacting with each other in case of a collision as the dragged item moves through the other containers while the mouse is pressed but not released. So "moving out of way" is intuitive, and I have no problem with that.

The problem is that, it is also intuitive to expect that those interacted containers

[2018-05-03 12:49] kool-kat commented on #716
On triggering a collision (**on start collision**) gridstack needs to: 1] capture and memorise the boundary area of the element collided with (either single widget or widget group), 2] the order and sequence of each element within the parent boundary and 3] the XY position of each element... so that:

**On exit collision** (with no drop) the elements moved can be returned to their original positio

[2018-05-03 14:28] JHoerbst opened #872 "Resizing Items causes other items to collaps"
## Subject of the issue
When i resize one of the item above the half of the height of the grid the other grid items collapses
![gridstack](https://user-images.githubusercontent.com/14820570/39582690-c7e698aa-4eee-11e8-8ac7-187dbcb2ded2.gif)

## Your environment
* 3.0
* Chrome 66

## Expected behaviour
Items should alway stay at the same position because of data-gs-locked
## Actual behaviour
Items

[2018-05-04 17:42] rviana97 opened #873 "Maintain widget's aspect ratio when resizing"
Hi, i would like to know if this feature is being worked on or if there's a solution for it.
Great work btw!

[2018-05-07 06:10] JHoerbst commented on #872
@radiolips https://jsfiddle.net/9pm38z47/1/
Here you go, thanks!

[2018-05-08 12:39] #873 closed

[2018-05-08 16:33] StefanM98 opened #875 "Gridstack movement/resize doesn't work in Electron"
## Subject of the issue
When `gridstack.jQueryUI.min.js` is imported, this error is produced: `Uncaught TypeError: Cannot read property 'registerPlugin' of undefined`. This problem seems to be similar to issue #613.

## Your environment
* gridstack.js - 0.3.0
* jQuery - 3.3.1
* jQuery-UI - 1.12.1
* Underscore.js - 1.9.0
* Electron - 2.0.0

## Steps to reproduce
I've created a [repository](https://

[2018-05-09 04:47] 1995navinkumar opened #876 "Gridstack Animation(transition top) not working with jQuery versions 3.3.x"
## Subject of the issue
When jQuery version 3.3.x is used animation doesn't work - Seems like transition left occurs but transition top doesn't.
Note : Works well with jQuery versions up to 3.2.1

## Your environment
* version of gridstack.js  - 0.3.0
* jQuery version - 3.3.1

## Steps to reproduce
(https://jsfiddle.net/dqyvh6vr/29/)

## Expected behaviour
Animation should work normally with the t

[2018-05-09 23:02] P1llus opened #878 "Resizing the bottom object when a window scrollbar is in place quickly minimize the size to smallest height."
## Subject of the issue
When resizing an item/object it will force the browser window to quickly scroll to the top of the page, and make the item as low as possible in height.

## Your environment
Can be done in demo environment (float grid demo)

## Steps to reproduce
Create a few widgets and place them at any given location, but ensure that at least one object is at the bottom of your page, or c

[2018-05-10 07:19] vishalkrv commented on #823
Any updates on this?

[2018-05-10 12:06] 1995navinkumar opened #879 "Grid Items overlaps one another on resizing or reordering"
## Subject of the issue
Gridstack with more than 10 grid items causes overlapping on reordering or resizing

## Your environment
* version of gridstack.js - 0.3.0

## Steps to reproduce
1) Add more than 10 widgets.
2) Reorder the items such that only one widget is on top.
3) Now resize or reorder the top widget to see bottom widgets appear overlapping on top
    Reproduce - https://jsfiddle.net/dw

[2018-05-10 13:08] radiolips commented on #879
@1995navinkumar can you try this with the dev branch? I believe a bug was fixed there that will resolve this for you.

[2018-05-10 13:16] radiolips commented on #875
Hey, @StefanM98 . I don't have experience with Electron. Have you tried making the changes that ZoolWay put into the ticket you referenced?

[2018-05-10 13:17] radiolips commented on #872
Hey @JHoerbst  - Could you try using the dev branch and see if the 1.0-dev fixes it? I don't think it will, but it's possible.

[2018-05-10 13:37] 1995navinkumar commented on #879
Thanks radiolips. It is working fine now. Will test it and update the same

[2018-05-10 13:37] notnow123 commented on #804
That would be fantastic if you could do that.

I have worked around the issue by implementing a Javascript wait function
for a number of seconds but it is a hack.

Thanks

Evan Brown

On 10 May 2018 at 14:22, radiolips <notifications@github.com> wrote:

[2018-05-10 13:38] 1995navinkumar commented on #879
BTW, Any update on #876 ? about jQuery version change

[2018-05-10 13:41] radiolips commented on #794
Hi, @MSDevYT . I think you are mistaken. `show` is fine. There are two problems with your example. Firstly, when you use `position: fixed`, it won't work. You can remove the `show` and it will still not work. Secondly, you are hiding the remove element on drag stop - so there's no collision. You should be hiding the box after the element is removed. If you do that, it will work. I made changes to

[2018-05-10 13:41] #794 closed

[2018-05-10 13:45] radiolips commented on #876
I just read through the jQuery changelog and nothing sounds like it'd impact gridstack. I'll update my jQuery, test it out, and hopefully get something figured out for you.

[2018-05-10 13:46] #879 closed

[2018-05-10 15:03] reinaris commented on #792
@OutbackMatt and you can find that blogpost here https://dylandreams.com/2017/05/06/of-charts-and-dashboards/

[2018-05-10 15:10] radiolips commented on #792
@reinaris  Thanks for covering my behind when I blatantly forgot to link to my own website. Womp.

[2018-05-10 16:01] #702 closed

[2018-05-10 16:02] #711 closed

[2018-05-10 16:02] #708 closed

[2018-05-10 16:02] #707 closed

[2018-05-10 16:03] #714 closed

[2018-05-10 16:05] #781 closed

[2018-05-10 16:06] #793 closed

[2018-05-10 19:36] radiolips commented on #788
Is there something wrong with the codepen? I'm not having this problem, but I thought I was in the past.

[2018-05-10 19:37] #353 closed

[2018-05-10 19:42] radiolips commented on #385
@pmoradei Is this working for you? I'm trying to replicate it now in our demo, but it isn't working - so maybe it works now?

[2018-05-10 19:42] #385 closed

[2018-05-10 19:44] #474 closed

[2018-05-10 19:47] radiolips commented on #522
This is now a default feature in the latest dev branch.

[2018-05-10 19:47] #522 closed

[2018-05-10 19:48] radiolips commented on #525
I'd love faster rendering, but this improvement won't work. Making the change listed causes a problem in floating widgets. I'm closing this, but if anyone has any more good ideas that can make gridstack more efficient, I'm happy to take a look.

[2018-05-10 19:48] #525 closed

[2018-05-10 19:52] radiolips commented on #540
@VinodLouis Can you create a PR with changes such that gridstack would work as a web component?

[2018-05-10 19:54] radiolips commented on #552
You can set `cellHeight` to whatever you want, and you can use Javascript to determine dimensions before creating a container and passing options to gridstack. In this fashion, you can set whatever ratio you want and even set specific pixel-based widths and heights.

[2018-05-10 19:54] #552 closed

[2018-05-10 20:00] radiolips commented on #573
I believe this is resolved in the dev branch. I'm unable to recreate it. I'm closing this issue, but if someone is still having this issue and can provide a codepen for me, I'd be happy to take another look.

[2018-05-10 20:00] #573 closed

[2018-05-10 20:02] radiolips commented on #592
@graemechapman I think the fiddle might be busted? If you're still having a problem, could you please provide for me a working fiddle and I'll take another look?

[2018-05-10 20:12] radiolips commented on #613
@guybedford This is obviously very late, but could you put in a PR? I don't fully understand the request, but if I have a PR to look at, I'm sure I'll be able to better recognize what's going on.

[2018-05-10 20:14] radiolips commented on #643
@jaapz Have you had any time for this? I spent awhile on it but got very lost. I'm not great at this exporting code.

[2018-05-10 20:14] #647 closed

[2018-05-10 20:14] #654 closed

[2018-05-10 20:16] #655 closed

[2018-05-10 20:18] radiolips commented on #658
You can build the CSS to work for any number of columns. If you build it out for up to, say, 500 columns, you could then dynamically determine the number of columns to use by checking how much screen real estate you have access to in the client.

[2018-05-10 20:18] #658 closed

[2018-05-10 20:19] radiolips commented on #660
In some experimental (until I have time to get it working better) features of gridstack, you can drop a widget from one grid to another.

[2018-05-10 20:19] #660 closed

[2018-05-10 21:03] StefanM98 commented on #875
Hey, @radiolips . I'm trying to implement said changes now. It's not exactly the same solution due to the fact that `SystemJS`, and `JSPM `aren't used in this scenario. I have to figure out a similar solution using `webpack`. It's essentially the same problem which is why I referenced it, but the solution is going to be different with `webpack`. I'll post an update when I figure it out for others

[2018-05-10 23:57] StefanM98 commented on #875
I've fiddled around with my webpack config with no luck so far. @radiolips do you, or any other members of this community, have any experience with webpack and how to get it to work with gridstack? Essentially, `gridstack.jQueryUI.js` needs to load as `AMD` with `jquery-ui` as a dependency. That should solve this issue.

I'm not very experienced with webpack so I'm struggling to figure this out. A

[2018-05-11 05:14] 1995navinkumar opened #882 "Widget with locked,no-move,no-resize set true is still moved by other widgets"
## Subject of the issue
A grid-item supplied with attributes "data-gs-locked=true data-gs-no-move=true data-gs-no-resize=true" is still moved by other widgets when dragged on top of it.

## Your environment
* version of gridstack.js - 0.3

## Steps to reproduce
Drag the first widget on *top* of the second widget (locked)
Use this fiddle - https://jsfiddle.net/dqyvh6vr/30/

## Expected behaviour
Th

[2018-05-11 09:58] JHoerbst commented on #872
Doesn't change anything. Sorry.
Does maybe the array cause problems?

[2018-05-11 14:34] 1995navinkumar commented on #876
I just met with a case that gridstack animation works fine when it is initialized for the second time. I'm using gridstack inside an ember component.

1)   When I switch to another route - ember component gets destroyed but gridstack data object still lives
      i.e  ($('.grid-stack').data( )).
2)   If I come back again to the same route the component is initialized again and gridstack animation

[2018-05-11 20:37] #882 closed

[2018-05-11 20:37] radiolips commented on #882
Fixed in new `1.0.0-dev`.

[2018-05-12 13:28] radiolips commented on #37
Note to my future self: We will add an option to allow for moving and resizing widgets in one column mode, but these changes will _not_ persist into multi-columns. We'll maintain separate sets of information for single-column mode.

[2018-05-12 13:51] radiolips commented on #395
This is the same as #386

[2018-05-12 13:51] #395 closed

[2018-05-12 14:14] radiolips commented on #520
Unfortunately, this won't make 1.0, but hopefully I'll fix up the responsive code shortly thereafter.

[2018-05-12 14:29] radiolips commented on #543
Closing this in favor of #386 which I believe to be the same.

[2018-05-12 14:29] #543 closed

[2018-05-12 14:37] #549 closed

[2018-05-12 14:45] #674 closed

[2018-05-12 14:48] radiolips commented on #676
This is working for me. Please reopen if you're still having a problem with the new version.

[2018-05-12 14:48] #676 closed

[2018-05-12 14:50] radiolips commented on #695
Duplicate of #386.

[2018-05-12 14:50] #695 closed

[2018-05-12 14:53] radiolips commented on #696
This is fixed in released v0.4.0

[2018-05-12 14:53] #696 closed

[2018-05-12 14:55] radiolips commented on #698
This is fixed in v1.0.0-dev in the `develop` branch.

[2018-05-12 14:55] #698 closed

[2018-05-12 15:10] radiolips commented on #782
There's a link more prominently on the homepage now. I'll make it a bit flashier when we redo the demo pages.

[2018-05-12 15:10] #782 closed

[2018-05-12 15:15] radiolips commented on #796
Duplicate of #149 .

[2018-05-12 15:15] #796 closed

[2018-05-12 15:16] #800 closed

[2018-05-12 15:17] radiolips commented on #803
This is resolved in current `v0.4.0`.

[2018-05-12 15:18] radiolips commented on #807
Duplicate of #520

[2018-05-12 15:18] #807 closed

[2018-05-12 21:54] radiolips commented on #721
Could someone put together a fiddle for this?

[2018-05-12 21:59] radiolips commented on #667
At least some of this was resolved in `v0.4.0`. I'm closing this - let me know if you have further problems.

[2018-05-12 21:59] #667 closed

[2018-05-12 21:59] radiolips commented on #546
This is resolved in released `v0.4.0`.

[2018-05-12 21:59] #546 closed

[2018-05-12 22:02] radiolips commented on #478
Duplicate of #219

[2018-05-12 22:02] #478 closed

[2018-05-12 22:03] radiolips commented on #451
All of these should be resolved in released `v0.4.0`.

[2018-05-12 22:03] #451 closed

[2018-05-12 22:09] radiolips commented on #433
When dragging from one grid to another, while still dragging, the held widget will only move unlocked widgets in released `v0.4.0`.

[2018-05-12 22:09] #433 closed

[2018-05-13 20:48] radiolips commented on #764
I understand this to be fixed by #775 . Please let me know if this is not the case.

[2018-05-13 20:48] #764 closed

[2018-05-14 05:42] radiolips commented on #876
I've verified that, even with jquery 3.3.x, and with gridstack 0.4.0, your example doesn't show animation for dragging the widget. I tested it on a personal example, and it did work. I don't know why that's happening. I've been busy with 0.4.0 and with 1.0.0 (which I hope to be in beta soon), but I'll try to spend some more time in the morning to investigate your issue.

[2018-05-14 07:14] 1995navinkumar commented on #876
Thats nice to hear @radiolips . Out of other frameworks, I found gridstack to be easy and efficient but I'm stuck with this wierd issue. I'll be happy if you fix this soon. Thank you.

[2018-05-14 12:38] nicoesiea opened #886 "Responsive behavior"
## Responsive behavior
As fare as I know, the responsive behavior is working on three different possible actions:
- Reduce the font size
- Show or hide component
- Reorganize the div in the page.

In order to manage the last point, I'm using bootstrap but this library, used for the widget layout, does not work like that. Only the minimal width, where the widgets are on top of each other, is workin

[2018-05-14 15:06] adumesny commented on #764
I think they are slightly different. CSS min-height in px will work, but having minHeight=10 (rows) as a property would be easier to use. Also having a maxHeight=10 would make it fixes number of rows which is what @silverwind  was asking for I believe.

[2018-05-14 23:11] radiolips commented on #876
@1995navinkumar I don't want to leave you in the dark - I'm going to need a little more time to look into your issue.

[2018-05-15 08:18] tran4o opened #887 "onResizeHandler never released"
onResizeHandler is attached to jquery resize event but the listener is never released. Memory leak and dummy callback persist after destroy.

[2018-05-15 08:33] tran4o commented on #887
My mistake, the github search did not show the off location..

[2018-05-15 09:47] nicoesiea commented on #886
Hello,
I discovered https://packery.metafizzy.co, it seems to work like expected with this one...
Nobody able to help me?
Regards,
Nicolas

[2018-05-15 11:26] radiolips commented on #886
I have not heard of the library you linked to, but you may certainly use it. I do not think that it has a responsive mode, so I don't think you'll be successful in doing what you're trying to do.

Using gridstack.js normally will allow for a transition to a single column mode. The responsive mode doesn't work too well yet, but we have plans to enhance it. This bug has been reported in #520 .

[2018-05-15 11:26] #886 closed

[2018-05-16 20:00] jimmathew999 opened #888 "How to add MVC partialview as widgets and save the layout?"
## Subject of the issue
I'm trying to build and application similar to this http://mvc.jdash.net/dashboard/index/2134
I've tried GridStack.js and its amazing which meets my requirment. I was able to store the layouts in localstorage and load from it. My requirement is how can i add multiple widgets (for eg: weather, calendar etc etc..) using ASP.net mvc/webform and save it.
What is the best approa

[2018-05-16 23:10] graemechapman commented on #592
Hi @radiolips it looks like the issue is still present - if you watch the data-gs-y attribute when you initialise the grid, they all get set to 0.

I have updated the fiddle slightly to hopefully make it a bit easier to see what's going on.

[2018-05-17 03:59] ShashankRama commented on #10
add this ' data-gs-no-resize="true" data-gs-no-move="true" data-gs-locked="true"' to grid-stack-item-content div

[2018-05-17 13:02] cursor-cko opened #889 "Tiles in stacked mode can not be resized until switched to grid mode and back again"
## Subject of the issue
If starting in stacked mode, no tile can be resized. Even calling Grid.instance.enableResize(true); does not  help. After resizing the browser window or containing frame, the grid turns into grid mode. Shrinking the width back again, it turns into grid mode - and now, tiles are resizable as expected. But calling  Grid.instance.enableResize(true); makes them unresizable agai

[2018-05-17 16:47] radiolips commented on #889
Thanks. I was able to replicate. We'll take a look.

[2018-05-18 07:00] JHoerbst commented on #872
Works now with v0.4

[2018-05-18 08:11] jimmathew999 commented on #888
Thanks for your response.
1. I have multiple DIV's with id. on save i want to save  id of each div and load each div based on saved id. How can i achieve it? currently i am saving whole html content which is not good for dynamic db
 contents.
Each div is a ASP.NET MVC  partial view.

2. I tried " id : el.attr('data-custom-id')" but no luck. What is that "data-custom-id"?

3. or Is there any other

[2018-05-20 16:59] pcanog opened #890 "Problem with vue webpack"
## Subject of the issue
I dont know how to configure the webpack by default from vue with gridstack. What I'm trying to do is:

1) vue init webpack example (Typical install, use vue-router without test libraries...)
2) npm i --save gridstack, jquery, jquery-ui, lodash.... (the requirements of gridstack)
3) my main.js:
--------------------------------------
import Vue from 'vue'
import App from './

[2018-05-20 19:29] saroque opened #891 "gridstack.js:153 Uncaught TypeError: Cannot read property 'scrollTop' of null"
## Subject of the issue
Console error when dragging the rectangle to the top side of the page

    at Object.updateScrollPosition (VM282 gridstack.min.js:1)
    at HTMLDivElement.t (VM282 gridstack.min.js:1)
    at $.(/anonymous function).(anonymous function)._trigger (https://code.jquery.com/ui/1.12.1/jquery-ui.js:697:13)
    at $.(/anonymous function).(anonymous function)._trigger (https://code.

[2018-05-20 21:54] radiolips commented on #891
Thanks - this should be fixed in the dev branch in the next few days.

[2018-05-22 12:11] kreintjes commented on #404
@SimonOrdo @radiolips in my tests Math.round indeed works better. With Math.ceil the item always becomes a bit larger than expected when doing a manual resize. Not sure why though. I couldn't find any situation where the item is not large enough when using round, so I'm going for round! Thank you both for your suggestions.

[2018-05-22 17:16] StefanM98 commented on #875
So I haven't quite figured out how to fix this problem using webpack, but I have found a workaround that works in my case. Since Gridstack already uses jQuery, I decided to make use of `jQuery.getScript()` to only load `gridstack.jQueryUI.min.js` once `jquery-ui` has finished loading.

[code]
This isn't an ideal solution, but it works without stalling the entire application. I'm updating the boile

[2018-05-22 17:16] #875 closed

[2018-05-22 18:46] radiolips commented on #875
I'm glad you were able to figure it out, @StefanM98 , even if it's just a temporary workaround. When you do get it solved, let me know (I wish I could figure it out, but I'm really not great with the loaders), and I'll update docs or the code.

[2018-05-22 18:59] #891 closed

[2018-05-22 19:09] radiolips commented on #890
@pcanog I don't have experience with Vue, but I believe there was an issue posted that listed this problem along with a solution. It may be set to closed, so be sure to search both.

[2018-05-22 19:11] StefanM98 commented on #875
Thanks @radiolips , will do!

[2018-05-22 19:16] radiolips commented on #889
This has since been fixed. gridstackjs.com is using version 0.2.7 of gridstack - we're up to 0.4.0 now. Unfortunately, you'll find that you won't be able to resize in one column mode, so though the experience will now be consistent (resizing big/small won't be different if you start small), I don't think you'll find yourself very satisfied. I am planning on updating the responsive mode in the futu

[2018-05-22 19:16] #889 closed

[2018-05-22 19:17] radiolips commented on #888
@jimmathew999 How do you mean? In my project, I save off meta data about widgets such that they can be fully recreated at a later time. Any time there's a change, I push the changed widgets to MySQL. Is that what you're trying to do?

[2018-05-22 19:26] radiolips commented on #872
@JHoerbst I just want to double check - when you say it works, do you mean that the problem is resolved, or do you mean that your issue still exists in 0.4?

[2018-05-22 19:27] radiolips commented on #858
Closing due to inactivity. Please reopen with a response to the comment if you're still having issue.

[2018-05-22 19:27] #858 closed

[2018-05-22 19:28] pcanog commented on #890
Thanks for the quick response, I think the problem comes because when I perform the import of 'gridstack', it does not load "gridstack.all.js" in reference to the point of its documentation "Migrating to v0.3.0".

I tried to load it by hand, that is, directly the file "gridstack.all.js", but it gives me a very strange error, say me that dont detects JQuery, but in really in my code i load JQuery l

[2018-05-22 19:54] #823 closed

[2018-05-22 19:54] radiolips commented on #823
This now works in the `develop` branch. Check the docs for event info.

[2018-05-24 08:33] JHoerbst commented on #872
@radiolips The problem is resolved in 0.4! Thanks for the help.

[2018-05-24 08:33] #872 closed

[2018-05-24 11:23] Leoluch opened #897 "Resize widget"
## Subject of the issue
I don't know if it's possible to block the width of cell instead of block the numbero of columns.

## Your environment
Laste gridsize version
Any rowser

## Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo, you can use [this template](https://jsfiddle.net/dweiss/dqyvh6vr/) as a base.

## Expected behaviour
I want to block the width of ev

[2018-05-24 12:06] Leoluch commented on #897
i mean that if i set 100 px of grid stack item i want that it modify columns and not resize the items

[2018-05-24 13:54] radiolips commented on #897
Could you provide an example?

[2018-05-24 22:12] Jokenbol opened #898 "Update grid Options (Is it possible?)"
## Subject of the issue
Hi. I'm trying to update the grid options. First I create a grid with the disableDrag and disableResize options set to true. Then I want to change the options so that the grid will be draggable and resizable.

## Your environment
* version of gridstack.js : 0.3.0
* which browser and its version : chrome version 66.0.3359.181

## Steps to reproduce
(https://jsfiddle.net/joke

[2018-05-24 23:54] alexwel opened #899 "aspectRatio question"
Setting resizable: { aspectRatio: "true" } sets it for all tiles in the grid; however, I can't figure out how to set this for only one of the tiles/widgets is this posible?.

[2018-05-25 07:20] ausonduweb opened #900 "Unable to move a widget at the bottom between two grid"
## Subject of the issue
Unable to move a widget at the bottom between two grid

## Your environment
* All
* Chrome

## Steps to reproduce
http://gridstackjs.com/demo/two.html
Take one widget on the left grid and try to move it under the last widget og the right grid.

## Expected behaviour
It must be add a the p:aceholder under the last element

## Actual behaviour
Nothing

[2018-05-25 15:48] alexwel commented on #899
problem solvd

[code]

[2018-05-25 15:58] radiolips commented on #899
Great! Glad you were able to solve that. Please feel free to log another ticket if you have any more issues.

[2018-05-25 15:58] #899 closed

[2018-05-25 16:01] Jokenbol commented on #898
I find the answer. At least it's working for me. I use [this](https://github.com/gridstack/gridstack.js/tree/master/doc#enable) function to make each element with class (.grid-stack-item) movable or not movable.
`$('.grid-stack').data('gridstack').movable('.grid-stack-item', true);`
`$('.grid-stack').data('gridstack').resizable('.grid-stack-item', true);`

Exemple here : https://jsfiddle.net/joken

[2018-05-25 16:03] radiolips commented on #898
Hey, @Jokenbol ! It depends on how you disable the grid. The grid itself can be completely frozen/unfrozen, or you can deal with individual elements. It sounds like you may have done it with individual elements, as your update to make everything moveable and resizable are based on individual elements. Glad you were able to get it worked out!

[2018-05-25 16:03] #898 closed

[2018-05-28 13:36] 1995navinkumar commented on #876
Any update on this? @radiolips

[2018-05-28 13:50] kreintjes commented on #655
Had the same problem over here with GridStack 0.3.0, even without having nested grids (just a simple single grid; problem only occurred in specific configurations of widgets though). I can confirm the fix of @carlsch was working (thanks!).

However, when upgrading to GridStack 0.4.0 everything just works, even without the hack. So I would suggest upgrading to 0.4.0 as well @PrincessOfSecret and @c

[2018-05-28 14:14] kreintjes commented on #404
@SimonOrdo @radiolips at first I thought Math.round indeed works better. With Math.ceil the item always becomes a bit larger than expected when doing a manual resize. At first I couldn't find any situation where the item is not large enough when using round. However, after some more testing I ran into some issues when using round instead of ceil where the height wouldn't be large enough, thus resu

[2018-05-28 14:45] radiolips commented on #520
This library is very much still in progress. The responsive feature is on the road map, but probably won't be included in the next release (which we hope to be version 1). We'll be working on the responsive grid as quickly as we can, but eliminating dependencies and tightening up grid movement currently have higher priority.

[2018-05-28 14:48] radiolips commented on #876
I've been swamped with gridstack work, so I haven't had a chance to look more into your issue. I apologize for not finding the time for you. I'm still working at it and will have an update as quickly as I can - sorry it has taken so long.

[2018-05-29 03:33] 1995navinkumar commented on #876
Just take your time @radiolips. No worries 👍

[2018-05-29 08:46] dhruvangg opened #902 "How to use GridStackUI.Utils.sort(nodes[, dir[, width]])"
Any Use of GridStackUI.Utils.sort(nodes[, dir[, width]]) or any example related this..

[2018-05-29 14:00] toine2one opened #903 "Gridstack to work in nuxt project :'("
## Subject of the issue
Gridstack not/half working in my nuxt project

## Your environment
0.4.0 (Installed with NPM)
Chrome Versie 66.0.3359.181

Hello,
I spend already more than a day to get 'gridstack' to work in my NUXT project.
I got to this point where i can in "initiate a gridstack object" and it looks like its responding to my 'options object' (add least to cellHeight)
see: [](http://prnts

[2018-05-29 14:17] bistin commented on #876
Hi, I have the same problem after upgrading from 0.2.6 to 0.3.0 in my project.

After tracing the code, I found

https://github.com/gridstack/gridstack.js/blob/v0.3.0/src/gridstack.js#L944

this line may cause this problem.

When I comment out this line, the transition css worked as expected.

[2018-05-29 14:57] luicephillips opened #904 "addWidget doesn't accept value more than 5 for data-gs-x"
Here is my code

var i;

var x = 0, y = 0;

for (i = 0; i <= array.length; i++) {
  **grid.addWidget($('<div>'+array[i][0].outerHTML+'</div>'), x, y, null, 2, false);**

   x++;
  if(x > 7){
     y+=2;
     x = 0;
  }
}

[2018-05-29 15:03] dhruvangg commented on #904
yes, I have facing same problem. X not increment after 5

[2018-05-29 18:57] eeldivad opened #905 "How to animate each item?"
I see on the homepage of gridstack, the animation is smooth when dragging the items around.  The items even move around the item I'm dragging smoothly.  But when I try the samples, none of them are animating.  I saw in the doc to set the options for animate = true, so I did that and now the item I'm dragging animates smoothly but the items around the dragged item doesn't animate like it does on th

[2018-05-29 19:17] Kingmaddi opened #906 "willItFit doesn't Work"
## Subject of the issue
Since I updated to lodash 4.* the willItFit function says, there is no more free space in the grid. But it is.

## Your environment
*  Gridstack 0.4
* Safari 11.1

## Expected behaviour
willItFit function should return true or false, then there is / is not free space in the grid for a new element.

## Actual behaviour
There is always a false return from the function.

[2018-05-30 10:40] #904 closed

[2018-05-30 19:06] jibboo commented on #295
This is still occurring.  I'm using the setTimeout call as a workaround :(

[2018-06-01 15:06] n1ghtie opened #907 "(Suggestion) addWidget to accept object instead of bunch of parameters"
Hi, first of all THANK YOU for amazing plugin, loving it so far.
Working on a project that allows to create custom dashboards and need to create widgets dynamically (grid-stack-items).
I would be great that instead of putting each parameters separately, maybe to do an object so addWidget would look like this?

[code]
Why? Well lets say that if i want to have min-height, with current structure I ne

[2018-06-04 10:19] mrpia commented on #905
see #876, maybe this helps you?

I've noticed gridstack 0.4.0 breaks animations in my case
also jquery 3.3.x plus gridstack 0.3.0 animations broken (but this time only in chrome/firefox)

so my current setup is gridstack 0.3.0 + jquery 3.2.1

[2018-06-04 14:58] eeldivad commented on #905
@mrpia Thanks I guess this is a duplicate issue so I'll close it and use other one

[2018-06-04 14:58] #905 closed

[2018-06-04 15:03] eeldivad commented on #876
I'm still using jquery 2.1.3 and animation isn't working.  I see radiolips will be fixing this for the latest version of jquery so I'll wait for his update before upgrading jquery to latest.  Thanks everyone!  Keep up the good work Radiolips.  This is a great plugin and we appreciate your commitment.  I was sad to see gridster no longer updated but was so happy you guys picked up where it left off

[2018-06-04 19:30] filmtablette opened #908 "el.el.context = undefined"
## Subject of the issue

I have three widgets in the grid and after the user have moved them around and clicks "save," I iterate over the widgets and collect data, saved in el, like position, height, etc. I also get the style-data of every widget, stored in el.el.context
`gsHeadingMedia : $.map(gridItemsHeadMedia, function(el,k){
                            return {
									x: el.x,
									y: e

[2018-06-06 10:50] pmoradei commented on #385
Sorry im late, I will test it, Thx

2018-05-10 21:42 GMT+02:00 radiolips <notifications@github.com>:

--
*Pierre MORADEI*

[2018-06-07 23:33] Jokenbol commented on #902
Exemple here : https://codepen.io/delagics/pen/ezgryg
I am not the auhor but it help me. Line 14 of the JS file.

The only thing it does is that it put all the nodes you specified in the order you want.
In the exemple :
{ "id": "title", "x": 0, "y": 0, "width": 8, "height": 1 },
{ "id": "slug", "x": 8, "y": 0, "width": 4, "height": 1 },
{ "id": "content", "x": 0, "y": 1, "width": 8, "height": 1 },

[2018-06-14 13:02] danirueda opened #909 "Move widget to a grid bellow"
## Subject of the issue
In the [two grids demo](http://gridstackjs.com/demo/two.html) you can move widgets from a grid to other.
Now I'm working with various grids I realize you can move widgets between grids form left to right, right to left, bottom up but... Form a grid to other grid that is bellow you can but the moved widgets don't work after that. Is there any way to fix this?

## Your enviro