[2018-06-14 18:48] roborto444 commented on #451
![gridstack-dissapearing-components](https://user-images.githubusercontent.com/29983427/41431690-b21584d0-700b-11e8-9fca-52f11f02696c.gif)

I am experiencing disappearing components using v0.4.0.

[2018-06-14 20:02] andrei-gheorghiu commented on #451
Here's a fiddle displaying the issue, using:

- Gridstack 0.4.0
- jQuery 2.2.4
- jQuery.UI.1.12.1
- Bootstrap 3.3.7
- lodash 4.17.10

https://jsfiddle.net/websiter/vubf817p/6/

[2018-06-20 09:04] jun1432 opened #911 "on change event"
This is the first time I'm submitting and issue on a particular project on github. I dunno if this is the right place to ask the below confirmation.

I just want to confirm about the on change event on the documentation as it says "Occurs when adding/removing widgets or existing widgets change their position/size" because I experienced that the event is triggered thrice. I just put a console.log t

[2018-06-23 01:05] oyeaussie commented on #911
I've been experiencing the same issue. I am digging through my code to see what could be calling it more than 1 time.

[2018-06-23 17:08] radiolips commented on #909
Just to confirm–you're saying that if you have two grids as so:
A
B
...you cannot move a widget from grid A to grid B. You can, however, move from B to A. Is that correct?

[2018-06-23 17:11] radiolips commented on #451
Wow, that's really strange. Thanks for letting me know. I'll take a look and will take a look at your PR. Could you open a new ticket for this? You can reference this ticket, but it'll be easier to identify that most of the issues here are fixed (just not all).

[2018-06-23 17:13] radiolips commented on #911
That's very weird. Could you provide a fiddle or other example of this? Maybe one of the recent PRs introduced this.

[2018-06-23 17:48] danirueda commented on #909
That is!!! Because of the dynamic grid height. If you set a concrete height you can. But if you put height: 0 you won't be able.

[2018-06-24 00:49] oyeaussie commented on #911
In my case this seems to be an expected behavior as when I add a new widget, I resize it right after I add it, which causes 2 on change trigger. I'm using 0.3.0 and haven't tried it on latest dev release. @jun1432 see if you are adding another change trigger in your code.

[2018-06-25 03:57] jun1432 commented on #911
Hi Guys,

Forgot to include the version that I used and its gridstack.js 1.0.0-dev. I'm still tracing the code that might caused the triple call on the change event. I will try to set up a fiddle and update you on the progress.

Thanks,

[2018-06-26 11:28] jun1432 commented on #911
Hi Guys,

Just an update it might be that it was caused by the drop function inside droppable grid where it parses the  json text. It added the widget ( trigger 1 ) and remove the clone widget ( trigger 2 ) with the draggable helper: clone and also having the on change event ( trigger 3 ) passes the items to the serializeWidgetMap which serializes the widgets available in the dashboard.

[2018-06-27 13:34] edirectorios commented on #453
Hello, where exactly must this vertical margin be set?
Maybe you mean margin.top?

[2018-06-27 14:23] edirectorios opened #912 "Question : avoid reordering of the widget when deleting"
## Subject of the issue
I'm trying to specify the gridstack as a template fo printing purposes.
After adding the widgets i wonder if there is a way to avoid that after deleting one of the intermediate widgets all the widgets bellow comes up.

Regards

[2018-06-27 16:49] artknight opened #913 "URGENT - collisions are not handled properly in v3.+"
I have tried upgrading my site's grid. The grid items are not handled correctly b/c they are allowed to occupy the same space. Attaching a screenshot.

<img width="874" alt="screen shot 2018-06-27 at 12 47 19 pm" src="https://user-images.githubusercontent.com/157762/41987894-956ff156-7a08-11e8-827e-baa2b6a107ed.png">

[2018-06-27 19:00] artknight commented on #913
@radiolips I am wondering if it has to do with lodash 3. I am seeing in the docs that version 0.4 needs lodash 4+. Other than that, i simply downloaded the 0.4 release and ran the demo files.

[2018-06-27 19:17] radiolips commented on #913
Ah, that definitely could be the problem. Could you try updating lodash, just as a test, and let me know how that goes?

[2018-06-27 19:36] artknight commented on #913
Yes, upgrading to lodash 4.17 solves the issue! Unfortunately I can't upgrade my project to lodash v4 just yet. Do you think you could make igridstack 0.4 work with lodash 3?

( I am good on jquery, its upgraded to 3.1 )

[2018-06-27 19:56] radiolips commented on #913
There's a very small change that could be done to make lodash 3 work. I was trying to avoid a patch release if people didn't need it, and you're the first person that has had a problem. We have a couple of options: I could tag a new release and just include that (I believe there are a couple more bug fixes that could go in there). It could wait until jQuery and lodash are removed (currently just w

[2018-06-27 20:14] artknight commented on #913
Yeah, not worth the hassle.. for sure. If you could just let me know what to change to make lodash 3 work, that would be fantastic. I think that would require the least amount of effort. Thanks :)

[2018-06-27 20:22] radiolips commented on #913
Try changing this:
[code]
to this:
[code]

[2018-06-27 20:44] artknight commented on #913
My friend, you are da man!!!!!

[2018-06-28 15:01] natalan commented on #913
Unfortunately, this means Gridstack 0.4 is not compatible with Underscore instead Lodash

[2018-06-28 15:20] #913 closed

[2018-06-28 20:34] natalan commented on #913
I don't think this issue should be closed. There is a legit compatibility problem with the Gridstack v0.4 and the latest Underscore v1.9.1. @radiolips we should either remove this from README:

Or make `sort` backwards compatible.

[2018-06-28 20:39] artknight commented on #913
I will let @radiolips make the call on this one. I am not sure if underscore.js should even be supported at this point. It hasn't had a release in forever.

[2018-06-29 06:05] jun1432 opened #914 "How to change the default width and height of grid stack placeholder?"
I'm referring to the dashed line when your dragging a widget.

[2018-06-29 07:45] jun1432 commented on #914
The below instance. The default value for now is data-gs-width="2" and data-gs-height="3". I want to change this to value. I'm thinking of having the value of grid stack item.

.grid-stack>.grid-stack-item[data-gs-width='2']

[2018-07-02 06:48] rafael-trevisan commented on #582
I have the same issue using v0.4.0. Has anyone found a fix? I'll try to create a jsfiddle.

[2018-07-02 11:02] jun1432 commented on #914
Hi Guys,

For more info on the issue, below is a screenshot on the element that has this default value that I want to change.

http://www.screencast.com/t/OV3B53WBS

[2018-07-02 13:08] radiolips commented on #914
The value is the size of the widget. What are you trying to change it to?

[2018-07-02 13:14] jun1432 commented on #914
I want to change the default value of data-gs-width="6" and data-gs-height="4"

[2018-07-02 13:15] radiolips commented on #914
Those values are set to that because they're the values of the widget you're moving. The placeholder will always reflect the size of the widget.

[2018-07-02 13:16] jun1432 commented on #914
Thanks @radiolips.

[2018-07-04 12:01] aureality commented on #720
I was looking for exactly the same Zoolway.
But it seems you made a mistake in your replacement. it should read
containment: this.grid.opts.isNested ? this.grid.container.parent() : (this.grid.opts.draggable.containment || null),

If I do that, the containment works!

[2018-07-05 12:09] jun1432 opened #915 "Is there a way to track the changes of width and height before and after a widget is resized?"
1. I'm trying to check the available data but I couldn't find maybe I'm not checking the right data. I want to have it like the x and y value while dragging that I could check the _beforeDragX and _beforeDragY.
I want to check the value of width and height before resize and compare it to the value after resize.

2. I also notice that the node x and y values are not the same when I try to drag the

[2018-07-06 20:28] Doopin commented on #515
+1 @barryceelen
I used a "ghost" element as suggested have this this issue solved.
I set it height to the maximum height of the grid element then I set the content `backgroud-color` to be transparent, `no moved` and `locked` then I push it to the right left.
Code of my ghost element
`<div class="grid-stack-item" data-gs-locked="true"
                                                        data-gs-

[2018-07-09 10:13] jun1432 opened #916 "Possible bug"
I just checked it on console the value for x and y when dragging a widget [_gridstacknode]. But I notice that when I try to drag the widget out of the grid it revert back animate to its original position but the value outputted on the console doesn't seem right. Check below screenshot.

http://www.screencast.com/t/paoFHtco1Yq

[2018-07-09 16:08] JQProgrammer opened #917 "Link on gridstackjs.com that points to gridster.net is redirecting to a malware site"
## Subject of the issue
Please update your site so that it does not backlink to a malware site.

## Your environment
*  All browsers

## Steps to reproduce
Navigate to gridstackjs.com and click "Inspired by gridster.js" link.

## Expected behaviour
Should take you to their gitHub page.

## Actual behaviour
Sends your browser to a malicious malware site.

[2018-07-10 15:50] rafael-trevisan opened #918 "How to set a predefined height or width for “grid-stack-item” with acceptWidgets"
I'm using gridstack with `acceptWidgets `to drag-and-drop widgets from a left side panel to the main panel, kind of similar to http://gridstackjs.com/demo/two.html

In my case, I want to set height, width and other item attributes to my "**grid-stack-item**" so then when they're dropped they'd have some pre-defined height and width. However, setting up those attributes won't affect when the item i

[2018-07-11 19:15] ygalanter opened #919 "Widgets overlap"
## Subject of the issue
When widgets are resized moved - they could overlap each other

## Your environment
* version of gridstack.js: 0.4
* Chrome for Windows v67

## Steps to reproduce
Attached screenshot with issue. Using standard Gridstack setup

## Expected behaviour
Dragged/resized widgets should push others out of the way

## Actual behaviour
![image](https://user-images.githubusercontent.c

[2018-07-12 07:53] Tropicalista commented on #791
I have used this approach: https://codepen.io/Tropicalista/pen/PmKajR

[2018-07-13 01:38] Luzemin opened #920 "cellHeight"
default,$(".grid-stack-item") element height=cellHeight+3*verticalMargin
why 3???

[2018-07-13 01:39] Luzemin opened #921 "cellHeight"
default,$(".grid-stack-item") element **height=cellHeight\*rows+3\*verticalMargin**
why 3???

[2018-07-13 01:40] #920 closed

[2018-07-13 02:05] rafael-trevisan opened #922 "How to change the default width and height for new widgets using acceptWidgets?"
I have a 12 columns grid and whenever I drag/drop a new widget over it the widget gets its width set to 5. I tried to manually specify a different data-gs-width but it changes automatically to 5 when I start dragging it.

[2018-07-13 08:19] #921 closed

[2018-07-13 11:51] PratikBali opened #923 "how to use in angular or jhipster"
## Subject of the issue
Describe your issue here.

## Your environment
* version of gridstack.js
* which browser and its version

## Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo, you can use [this template](https://jsfiddle.net/dweiss/dqyvh6vr/) as a base.

## Expected behaviour
Tell us what should happen

## Actual behaviour
Tell us what happens instead

[2018-07-17 07:26] danirueda opened #924 "Refresh all widget properties when dropping it into other grids"
When you drop a widget from a grid to other Gridstack only sets the basic properties: `data-gs-x, data-gs-y, data-gs-width and data-gs-height`. But if the widget has other properties like `data-gs-min-height` or `data-gs-locked` these properties aren't cloned.

It would be useful to have a funcion called refreshWidget or similar for refreshing all the properties.

I've forked this repository and d

[2018-07-17 19:15] ygalanter commented on #914
Maybe related - how to change the granularity of "snap to" when resizing a widget?

[2018-07-19 10:54] Wynthorpe opened #925 "Json from a database."
Loading from DB using MVC C#

Im really having issues / struggling what to do to load a returned Json object back into gridstack,

Im loading via a method -

`    public ActionResult LoadGridLayout()
      {
        var currenUserId = _dataHelpers.GetUserId();
        var getCompany = _dataHelpers.GetUserCo(currenUserId);
        var query = db.DashboardSettings.Where(b => b.UserID == currenUserId

[2018-07-19 14:38] lwwells opened #926 "WYSIWYG Export"
## Subject of the issue
Export possibilities for gridstack items

## Your environment
* 0.2.6
* Chrome

## Steps to reproduce
I have build a dashboarding tool using gridstack, and now I need to be able to export the dashboard to PDF or Word, WYSIWYG.  Have you done any experimenting with exports like this?

## Expected behaviour
Tell us what should happen

## Actual behaviour
Tell us what happens

[2018-07-20 09:45] blubbll commented on #926
simply clone the innerHTML and add stylesheet-sugar?
You could also just canvas-screenshot the content :P

[2018-07-23 06:59] BakaaToTest commented on #101
Hello everyone i'm trying to do quite the same in php but i'm kinda stuck with the nested row. Did someone managed to do this ?
Thanks :)

[2018-07-23 07:08] michaellwatson commented on #101
@BakaaToTest I did this nested example if that helps https://codepen.io/michaellwatson/pen/EvGEgM

[2018-07-23 07:11] BakaaToTest commented on #101
thanks you very much but that's not what i'm talking about. I'm trying from a gridstack json like

`'[
    {
        "x": 0,
        "y": 6,
        "width": 8,
        "height": 6,
        "index": "1"
    },
    {
        "x": 8,
        "y": 0,
        "width": 4,
        "height": 4,
        "index": "3"
    },
    {
        "x": 8,
        "y": 4,
        "width": 4,
        "height": 2,

[2018-07-23 07:20] BakaaToTest commented on #101
For exemple from this
![gristackjs](https://user-images.githubusercontent.com/24891198/43062509-5f7d7dd8-8e59-11e8-9c8e-acdaa8c8f2df.PNG)

I will store the json in database.

And then from the json i want to autocreate the bootstrap grid who will look like this

![gristackjs2](https://user-images.githubusercontent.com/24891198/43062510-5f94bd0e-8e59-11e8-956e-bfc9dbeaa467.PNG)

Don't mind it's jus

[2018-07-23 11:58] Wynthorpe opened #928 "Widgets loading into wrong place from DB"
Managed to get widgets loading from a DB but have strange behavior when they load in, they have the right height and width just not in the right positions, code is below -

`$(".grid-stack").gridstack(options);

function loadData() {
    jQuery.post( "/Dashboard/LoadGridLayout", function(data) {
      jQuery.each(data,
        function(key, value) {
          var nodes = value;
          var items

[2018-07-23 11:59] #925 closed

[2018-07-23 16:12] jessenieminen commented on #629
Any update on the date of the new release without the dependencies?

I'm stuck using a really old version of underscore and jQuery UI with a bunch of non-compatible custom extension built on top and would love to see this being made available.

[2018-07-27 07:37] Wynthorpe commented on #928
@radiolips Are you able to help at all? Thanks

[2018-07-30 07:50] Wynthorpe commented on #928
Fixed this issue by doing the following -

`var el = $.parseHTML(`<div id="${node.Id}" class="grid-stack-item" data-gs-x="${node.x}" data-gs-y="${node.y}" data-gs-width="${node.w}" data-gs-height="${node.h}" data-gs-auto-position="false"> <div class="panel panel-default grid-stack-item-content"> <div class="panel-heading"> <span class="glyphicon glyphicon-remove-circle pull-right"/></span> <span c

[2018-07-30 07:50] #928 closed

[2018-07-31 06:35] Hedva commented on #924
Always do a pull request if YOU think it's good enough, if it works and if it is an improvement.

If THEY think it doesn't fit in their code, they should add comments at your lines of code of your pull requests, for you to improve it. At that moment it's their responsibility to explain why your code isn't accepted (when that's the case), because only then it can be truly improved for a new pull re

[2018-08-01 04:36] kerryj89 commented on #837
I found a CSS workaround for this.  We are using the AngularJS implementation and for certain actions need to redraw the entire gridstack.  By looking at all the attributes I was able to safely hook into the `data-gs-current-height` attribute and trigger styles for when it is dynamically set to 0.

[code]

[2018-08-01 15:15] omayhemo opened #929 "gridstack doesn't play nice with Parcel"
## Subject of the issue
Using Parcel, gridstackjs fails to initialize.

## Your environment
npm latest
all major desktop browsers tested

## Steps to reproduce
I started a simple project that has a single index.html and a single index.js.  I pulled in gridstack and sass flexbox grid with npm and ran parcel index.html

Check out the entire project.
[parcel_with_gridstack.zip](https://github.com/gri

[2018-08-01 20:22] vhdm opened #930 "export position as json"
@hairyheron
hi,
how to  i can export current position as JSON format, then show by this json.

[2018-08-02 06:25] hairyheron commented on #930
I am not a maintainer of this project. Even if I were, I do not understand your question.

[2018-08-03 02:45] quzefeng opened #931 "The iframe is placed inside the control of gridstack"
Hello
The iframe is placed inside the control of gridstack. The control inside the iframe can be clicked and the corresponding event can not be clicked now. How can I achieve this function?

[2018-08-03 09:49] zhanazhan commented on #930
If you want to persist layout of gridstack on the page, here is a short example:
[code]

[2018-08-04 13:12] kstan79 commented on #757
I think this callback check DOM variable which is not immediately effect, i'm overcome this by delay 50ms:

$('.grid-stack').on('resizestop', function(event, ui)
				{
                	var element = event.target;
                	var uuid=$(element).find('.bi2_element_body').attr('id')
                	// need wait a while
                	setTimeout(function()
                		{

[2018-08-04 13:15] kstan79 commented on #915
You may refer ticket #757

[2018-08-04 15:36] spitzbubchen opened #932 "'resizestop' event not catching current 'data-gs-height'"
I am using the latest version of gridstack and it seems that:

    $(document).on('resizestop', '.grid-stack-item', function() {
	     console.log($(this).attr('data-gs-height'))
    });

catches the old 'data-gs-height'

[2018-08-05 14:54] kstan79 commented on #932
refer thus #757

[2018-08-07 07:33] Hedva opened #933 "Predefine the size of dragable elements in sidebbar of Two Grids Demo"
I can't figure out how to predefine the size of the items in the sidebar of [Two Grids Demo](http://gridstackjs.com/demo/two.html)

So as long they're in the sidebar, i'm fine with the items begin a fixed size like 150x150px. But when I drag them into a grid, I want them to be a predefined size. Like 2x2 or 1x1.

At this moment it seems they're always 2x2.

It this possible? Using `data-gs-width="

[2018-08-07 12:45] Hedva commented on #914
@radiolips That doesn't seem true when you use the 'sidebar' of [Two Grid Demo](http://gridstackjs.com/demo/two.html)

How can you change the size in that case?

[2018-08-08 18:58] ermcgrat commented on #914
@Hedva Also curious about this. That "drag me" item doesn't have any sizes specified, but becomes a 2x2 when dropping into either grid.

[2018-08-08 19:31] ermcgrat commented on #914
Given that sidebar example of the two grid demo, I'm wondering if it is possible to achieve something similar to the Azure Portal. That is, the widget that you start dragging could be a different size than what it occupies in a grid. For example, all of the items are 1x1 in the sidebar but occupy something larger in the grid. Here is a screenshot for example, notice how the Clock item while being

[2018-08-08 21:08] lauantai commented on #914
We do this in our application. It’s entirely possible, but I’m on vacation
so I have no way to access our code. I kind of remember we do the resizing
on the gridstack ‘change’ event, when the widget is added to the grid.
Sorry for the vague answer 😅

On Wed, 8 Aug 2018 at 21:31 ermcgrat <notifications@github.com> wrote:

[2018-08-08 21:16] bendada3 opened #934 "Fast resizeing stops, when widget contain iframe"
Hi,
I have iframe in my widget. When I fastly resize widget, mouse moves and hover iframe and resizeing stop. So I cant fastly resize widget, I have to resize slowly and keep mouse on resize btn. Is there any way how to fix it please?

Thank you
Daniel

[2018-08-10 20:28] ermcgrat commented on #933
Definitely in for this. Haven't had any success getting it to work. Even if I specify the data-gs-width and data-gs-height attributes (as you said) they seem to get ignored and the element always becomes a 2x2.

[2018-08-10 20:52] ermcgrat opened #935 "Disappearing grid items"
In the two-grid example, it is easy to make all of the elements in the two grids start disappearing by simply re-positioning them.

Go to the official demo to try: http://gridstackjs.com/demo/two.html
This happens in Chrome, Firefox, Edge, etc

On the two-grid demo:
1) Change the position of an existing item in the first grid. Keep it in the first grid. (Example, move the first 2x2 green block to

[2018-08-13 10:36] Guite opened #936 "Automatic item height based on content"
## Subject of the issue
I would like to determine the height of the items automatically instead of explicitly assigning a height argument. So the more height is required by the content of an item the more height it should get. Of course this means that also the `top` value can not be set to fixed values anymore. So probably this can not be done using the current absolute positioning of items.

Is

[2018-08-13 12:10] Hedva commented on #914
@lauantai I would be really grateful if you can provide an example in the near featuer. Can't figure it out yet

[2018-08-13 18:00] ermcgrat commented on #933
It's not looking real promising for us Hedva, as this seems to be a pretty common thing with no solution as of yet:

[How to change the default width and height for new widgets using acceptWidgets? #922](https://github.com/gridstack/gridstack.js/issues/922)

[How to set a predefined height or width for “grid-stack-item” with acceptWidgets #918](https://github.com/gridstack/gridstack.js/issues/918)

[2018-08-14 21:02] nolanvance commented on #845
disabling the initStyles call in updateStyles helped my speed a lot for IE11. @mvkampen can you share your changes?

[2018-08-15 19:12] ermcgrat commented on #933
I found a hacky workaround after reviewing the library's source. The library is trying to be smart when you drag outside widgets into the grid (using acceptWidgets). It determines the width and height of the grid, and then calculates what the width of each column/cell in that grid should be (note this changes on the two grid demo depending on how wide the viewport is). Then it looks at the width (

[2018-08-16 18:04] ermcgrat opened #937 "Animate doesn't work"
Animate doesn't work. You can try any* of the demos and add animate: true to them, and animation will not work. It doesn't matter whether you use the configuration object, data-gs-animate, or setAnimation() api.

*Adding animate to the two-grid demo does work. Animate works as long as you have two or more grids on your page, see details below.

## Your environment
Gridstack v 1.0.0-dev
Firefox, Ch

[2018-08-17 10:32] airflyer13 commented on #935
Can confirm this bug in Safari 11.1.1

[2018-08-18 15:33] kylehovey commented on #907
In the mean time, here is a snippet that I use in my code:

[code]

[2018-08-21 18:42] ermcgrat commented on #935
Apparently this was already reported:

https://github.com/gridstack/gridstack.js/issues/451

I'm not sure why that ticket was closed if it is still an issue.

[2018-08-22 14:14] mdehaan51 commented on #919
Did you ever find a fix for this issue?

[2018-08-23 10:34] iSteveZissou opened #938 "Events not firing in programatically generated grids"
## Subject of the issue
I have an application using gridtack where I need to add new grids programatically - while everything works fine when adding/deleting widgets from newly generated grids - none of the events are triggered when adding, moving or deleting widgets etc. I can load/save grids as expected my only issue is the Events not being triggered.

## Your environment
Gridstack v 1.0.0-dev
C

[2018-08-24 08:08] IntarsVascenkovs commented on #919
I have same problem. Widgets overlap each other.
![image](https://user-images.githubusercontent.com/12292251/44572751-80ec5780-a78d-11e8-99ae-f5edf7bbdb46.png)
I tried to create my own and copy from gridstack Demo page, result is same.

[2018-08-24 13:12] samisin commented on #919
I get this issue when I drag a new widget to a grid. The new widget can be placed over other widgets, while the widgets that were loaded from start in the grid behave correctly. This happens with 0.4.0, but if I revert to 0.2.7-dev which is used in the Two grid demo (http://gridstackjs.com/demo/two.html), then it behaves as it should, i.e. widgets move when the new widgets is placed on top.
![bild

[2018-08-24 13:42] samisin commented on #935
It seems to happen for me when there is a fixed height. If I remove fixed height, no more disappearing acts.

[2018-08-24 13:49] samisin commented on #919
I can confirm now it also happens with current widgets in the grid, but under certain conditions, which are that when a widget appears later on in the code, then that widget can be placed over a widget earlier on in the code. I.e. I have three widgets (a, b, c). When a is dragged over b and c, then b and c are changing position. When b is dragged, a is not changing position, but c is. When c is dr

[2018-08-29 09:31] Hedva commented on #933
Great solution! Thanks for sharing, really appreciate it!

[2018-08-30 07:26] Hedva commented on #933
@ermcgrat although the sizing for the items works, in some situations the placeholder width/height doesn't correspondent with the width of the placed items. It seems that after 1 drag and drop the `data-gs-width` and `data-gs-height` changes back to some default values (1 and 2)

First drag/drop from sidebar:
[code]

Second drag/drop from sidebar:
[code]

To prevent this; put the @ermcgrat code in

[2018-08-30 08:41] Hedva commented on #933
Just found out that if you have an item with a `min-width', and you resize it smaller than the min-width, the placeholder is able to resize smaller than the given min-width but the item itself is not.

So redragging the item gets you a item with the right size, but with a smaller placeholder.
This is probably a separate issue

[2018-08-30 12:02] Hedva commented on #933
Also found a partial fix for this. It doesn't work in all cases.

Add the following lines in the library's source at `onStartMoving`:
https://github.com/gridstack/gridstack.js/blob/7d9ac26847b89c593ab5ee5d778185091267d4d4/dist/gridstack.js#L1215-L1240

[code]

So it looks like this:
[code]

As said earlier, this doesn't fix all cases(new drag/drop gets old placeholder sizes), but it does fix it fo

[2018-08-30 14:43] Hedva commented on #764
I agree with @adumesny

Having a minHeight / maxHeight for the grid makes more sense. Using amount of cells as value.

Currently the `height` doesn't make much sense, because if the height is 8, and the lowest cell is 4, the grid will collapse to 4. Makes more sense to rename it to `maxHeight`, and add another option; `minHeight`.

Currently i just use this to make it work:

[code]

[2018-08-31 08:35] Hedva opened #939 "contentEditable attribute doesn't work in gridstack"
Just wanted to point out that `contentEditable="true"` in gridstack behaves weird.
I only have tried it to use it in Two Grids Demo.

It doesn't work.

[code]

It works partially when settings `$(this).focus();` on a `onclick` event;

[code]

This makes the content editable. But it makes it only able to put yourr mouse pointer in front of the text Can't put the mouse curser in between characters,

[2018-09-06 10:02] jun1432 opened #940 "Issue on droppable area grid"
Setup:
I'm using "1.0.0-dev" from the develop branch.

I have a column for the plugin/widget that I will drag onto the grid, so basically I use the jQueryUI for droppable and draggable.

Just discovered an issue while resizing and dragging of items around and after awhile trying to drag another into the grid generates and error "Uncaught TypeError: Cannot set property '_grid of undefined" line 933

[2018-09-06 14:36] slaterjack commented on #919
Hi there, I have been having this same issue giving me grief when I was using grids with custom content. To fix the issue I rolled back my version to 0.3.

Hope this helps!

[2018-09-07 20:06] cavid90 commented on #459
How did you solve this problem ?

[2018-09-12 03:54] giotto95827 opened #941 "How to refresh data how to make the position change data is not reordered"
Is there a way for gridstack to save the current drag position, and other changes (such as page refresh) do not change the position that has been dragged at this time

[2018-09-13 12:13] jun1432 commented on #940
Still trying to fixed this issue. "ui-draggable-dragging" sticks to its 'parent' element set up through containment: 'parent' and changed the appendTo option to '.grid-stack' instead of the 'body' tag.

Set up:
1. A slide in elements that holds all the draggables
2. The droppable grid which accepts the draggables.

Is there anyone that experienced this kind of behavior?

[2018-09-14 20:50] Montfrooij opened #942 "Removed event does not show the ID of the div that has been removed"
## Subject of the issue
I am trying to use the 'removed' event to get the ID selector of the div that was just removed (this ID tells which item it was from my database).
The event gets fired, but the object that is returned does not show the id selector (other than the id the widget got)
To my best knowledge I can't see any of the original html of the widget. (but I might be missing something)

#

[2018-09-14 21:08] Montfrooij commented on #942
I have found a workaround.
In the 'addWidget' method you can add your own id (last parameter)
That is stored as a property of the returned object.

[2018-09-14 21:08] #942 closed

[2018-09-17 12:31] jun1432 commented on #940
Just an update on this issue. Issue is still recurring, issue occurred every after dragging of widget.

[2018-09-18 05:03] jun1432 commented on #542
I'm still experiencing this one see #940 every after dragstop and try adding a new widget on a flyout menu it triggers and error " Uncaught TypeError: Cannot set property '_grid of undefined" line 933 "node._grid = self; "

[2018-09-21 11:45] filipevb commented on #386
Hi there,

Any news about this enhancement?

Thank you.

[2018-09-24 07:16] mishrarajesh commented on #386
Hi,
I still see this issue in the gridstack version 0.4.0. Any updates?

[2018-09-25 13:28] michalcode8 commented on #827
Hi, this does not seems to work
https://embed.plnkr.co/fTujnLQlpPVibNezqouU/
when i change gridstack linkto version 0.4.0 it still does not scroll on portlet drag :(

[2018-09-25 13:38] rpionke commented on #643
@jaapz Can you please provide example code how this works and what you have changed?

[2018-09-26 05:07] Skarnivorous commented on #936
As a work-around idea - perhaps you could just read the height of your content on insert (e.g. boundingClientRect) and then set the tile/grid item height accordingly?

[2018-09-26 06:00] Guite commented on #936
This would be a foundation possibly. But there is more functionality required, at least a resize handler updating all heights and top positions.

[2018-10-04 09:56] #938 closed

[2018-10-04 18:33] ygalanter opened #943 "How to disable widgets automatically moving out of the way during drag?"
Currently if I move a widget on top of another it moves up, down or sideways to make space for the widget I am dragging into that spot (the behavior isn't always consistent).

How do I disable this - if I move widget onto a spot already occupied by another widget - do not allow drop - other widget has to be moved out of the way to make space first.

[2018-10-04 18:44] ygalanter commented on #943
Never mind, should've RTFM, data-gs-locked attribute does it.

[2018-10-04 18:44] #943 closed

[2018-10-05 06:48] sociablesasha opened #944 "Data save & load"
## Save & Load
I save the data like this.
[{
    "gs_x": "0",
    "gs_y": "0",
    "gs_width": "6",
    "gs_height": "4",
    "gs_max_width": "6",
    "gs_min_width": "2",
    "gs_max_height": "6",
    "gs_min_height": "2",
    "gs_title": "adadadafafa"
}, {
    "gs_x": "2",
    "gs_y": "4",
    "gs_width": "4",
    "gs_height": "2",
    "gs_max_width": "6",
    "gs_min_width": "2",
    "gs_max_he

[2018-10-08 07:31] jaapz commented on #643
So, during a run of dependency upgrades (bootstrap 3 -> 4, jquery to latest version, you know the drill) I  came across this issue and decided that after more than a year my "later today" has finally come ;)

I fixed the issue on the latest version of develop and opened a pull request. I'm currently using that fixed repository in our browserify build which seems to work fine.

Would be great to ge

[2018-10-08 12:50] #944 closed

[2018-10-09 11:33] jun1432 commented on #444
I just stumbled on this issue. I can confirm that it doesn't work on iphone 6 iOS 12.0.1

[2018-10-15 11:44] rpionke commented on #643
@jaapz Thanks for your response and help! I'm using `"gridstack": "AdvancedClimateSystems/gridstack.js#develop"` in our package.json and `require('gridstack')` in our main JS file but this still leads to a `Uncaught TypeError: $(...).gridstack is not a function`. How do you use gridstack with browserify?

[2018-10-17 07:30] gillns opened #947 "How can I resize the grid to 100% width ?"
## Subject of the issue
Describe your issue here.

## Your environment
* version of gridstack.js
* which browser and its version

## Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo, you can use [this template](https://jsfiddle.net/dweiss/dqyvh6vr/) as a base.

## Expected behaviour
Tell us what should happen

## Actual behaviour
Tell us what happens instead

[2018-10-18 08:04] kimwiii commented on #940
This issue also happen to me. Hope this will be fixed soon.

[2018-10-18 08:40] ghost opened #948 "acceptWidgets option does not work when setting grid stack item droppable"
First of all, thanks for the great library!

## Subject of issue
I want to drop an external element into a droppable grid stack item but i can not do that because gridstack also accept that element and move other grid stack items to make room for the new widget

## Your environment
* version of gridstack.js: 0.4.0
* which browser and its version: Google Chrome 69.0.3497.100

## Steps to reproduce

[2018-10-18 08:54] #947 closed

[2018-10-18 09:38] jun1432 commented on #940
@kimwiii,

Kindly explain your set up. Give us the picture or explain your use case.

I just fixed mine by not making the second grid position fixed on a slide in animation on top of the active grid.

[2018-10-19 00:00] dshastry commented on #609
Struggling with this as well. @ArtisanTinkerer, would love your help to figure this out.

I have my data object set as such:

gridStack:{
originalLayout:[],
currentLayout:[],
hasChanged:null
}

The originalLayout is pulled in via ajax on mounted. Currentlayout is the array that i'm storing data in so i can save to db via a save method.

I have a <grid-item> component that goes into the main grid v

[2018-10-19 00:02] dshastry commented on #609
Forgot to mention, I have an array of objects in those layout arrays that look like this:

{height: 1, positionx: 2, positiony: 0, width: 5}

and it's bound like this:
<cr-grid :data="gridStack">
		<cr-griditem  v-for="(item,index) in gridStack.originalLayout" :width="item.width" :height="item.height" :positionx="item.positionx" :positiony="item.positiony" :key="index">

(cr-grid is my custom Vue

[2018-10-25 11:00] rwankar opened #949 "Resizing a card messes the whole Layout"
## Subject of the issue
Resizing a card causes the layout to mess up.

## Your environment
* gridstack 0.3.0
* Google Chrome 70.0.3538.77

## Steps to reproduce
Open https://jsfiddle.net/atharva1/jh967t2b/1/
1. From Settings choose the layout with output to the right and then increase the size of the output as much as possible.
2. Increase width of topmost card (drag to the right)

## Expected beh

[2018-10-29 16:15] ygalanter commented on #919
Can confirm too, downgrading to 0.3 I am getting the same behavior as on main GridstackJS demo page. But was getting overlapping and chaotic unpredictable movement both in 0.4 and 1.0dev. Any update on fix making it into 1.0 release?

[2018-11-01 16:29] 73R3WY opened #950 "style="position: relative;" is added to grid-stack-item div upon adding of widget"
## Subject of the issue
There is an unusual position style added to each grid-stack-item div when loading new widgets using addWidget.

## Your environment
I am using gridstack.js version 0.3.0 since 0.4.0 causes overlapping of widgets and an error that xxx.Top when dragging a widget to the topmost part of the div, so I followed what others suggested to downgrade to 0.3.0 and everything works fine

[2018-11-03 16:41] jeremy-ingenuity commented on #950
I traced the culprit back to jquery-ui. apparently the `_setPositionRelative` method of the draggable class is called when the `helper` is set to "original" which is the one by default. Now, every time a grid-item class is initialized to a draggable, an element position style is set to "relative" and causes the grid to be distorted unless it is removed and defaults to position: `"absolute"`. The s

[2018-11-07 14:39] singhrajbeer opened #951 "how to Change Gridstack column width in JavaScript"
## Subject of the issue
I want to change Grid Column width in java script or jQuery

## Your environment
* version of gridstack.js
* which browser and its version

## Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo, you can use [this template](https://jsfiddle.net/dweiss/dqyvh6vr/) as a base.

## Expected behaviour
Tell us what should happen

## Actual behavio

[2018-11-13 11:12] josubg opened #952 "Widgets added with .addWidget are not dragable"
## Subject of the issue
Widgets added with .addWidget  are not  dragable

## Your environment
* Version of gridstack.js: 1.0.0-dev
* Chrome version 70.0.3538.102 (Official Build) (64-bit)

## Steps to reproduce

https://jsfiddle.net/s1c97gku/

## Expected behaviour
The new widget is dragable.

## Actual behaviour
It is not dragable.

[2018-11-13 22:30] ataft commented on #723
Setting the `grid-stack-item-content` css to `left:0` makes the resize handle appear 10px inside the left box. It seems like this logic needs to be fixed in the code base for all things to work properly together...

[2018-11-14 10:40] josubg commented on #952
The div passed to the `addWidget` function should have this structure to work correctly:

[code]

do I overlooked this in the documentation, or is not described?

[2018-11-14 10:40] #952 closed

[2018-11-15 11:51] nsgalib opened #953 "How can I save and restore drag position ?"
## Subject of the issue
Describe your issue here.

## Your environment
* version of gridstack.js
* which browser and its version

## Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo, you can use [this template](https://jsfiddle.net/dweiss/dqyvh6vr/) as a base.

## Expected behaviour
Tell us what should happen

## Actual behaviour
Tell us what happens instead

[2018-11-16 11:21] rsmarsh commented on #913
Thanks for this, turns out this was the cause of my issue too.
Dynamically added widgets would ignore all pre-existing widgets, and only move out of the way for widgets created after their own creation.
Upgrading lodash from 3.x to 4.17.11 fixed this.

[2018-11-19 21:27] hpd71 opened #955 "A few questions about functionality..."
Hi,

Looking for a grid designer and this is as good as I have found, but have a few questions.

1 - Can we put text into each of the 'boxes' so we can have a label. In the demo there are numbers in the top of each box, but can we use text here and can it be centred in each box ?

2 - Can each box have a color ?

3 - Can we define a fixed height and width of the 'surface'. I have like a shelf that

[2018-11-23 05:58] rwankar commented on #949
I understand this is an Open Source, Free for use project and I can't expect instant responses. But is this being actively maintained? I haven't seen a response for almost a month now.

[2018-11-28 21:43] MikeGsus commented on #923
Maybe [this](https://github.com/gridstack/gridstack.js#gridstackjs-for-specific-frameworks) could help you.

[2018-11-30 14:44] TheCutter commented on #919
I think the bug was introduced by this commit:
https://github.com/gridstack/gridstack.js/commit/ae6daac248580c9e5e2b486c25ca0d0718b50ab3

If you change the line .take(i) with
`.filter(function (o) { return o !== n})`
it is working again.

[2018-12-03 07:09] RanjitSRaut opened #956 "Gridstack - Maximize and minimize button on widget"
## Subject of the issue
Gridstack - Maximize and minimize button on widget

## Your environment
Latest Gridstack version

## Steps to reproduce
https://jsfiddle.net/ranjitraut/481zvcep/5/

## Expected behaviour
Hello,
I have put two button on every widget like 'Maximize' and 'Minimize in' in widget header section. I want a functionality like when I click on minimize button, my widget will minimize

[2018-12-05 12:54] mishrarajesh commented on #542
I am still experiencing this issue in v0.4.0

[2018-12-10 09:00] mukeshmishra996 opened #957 "How to restrict to drop widget from one grid to another grid"
## Subject of the issue
I have multiple grid and I am trying to restrict user to drag and drop from one grid to another grid

[2018-12-10 10:12] dirkheijn commented on #823
Any chance of this being included in an upcoming release? I consume gridstack via npm, the latest version available does not include this event.

[2018-12-10 10:18] dirkheijn commented on #957
I have an identical requirement and was hoping to imlement this by utilizing the 'dropped' event which triggers when dropping a widget from one grid into another, however this is not available for consumption in the currently released build of Gridstack :(

[2018-12-10 13:20] mukeshmishra996 commented on #957
Thanks.. Can you please help me to implement same.

[2018-12-10 13:38] dirkheijn commented on #957
I'll outline the solution I'm working on:

When constructing your page:
- Decorate grid elements with data attributes which contain an identifier unique to the grids between which items that belong to them are allowed to be moved

In the 'removed' event handler:
- Identify the item being moved (working under the assumption that only one item can be moved simultaneously) by selecting all items with

[2018-12-10 15:04] dirkheijn opened #958 "acceptWidgets option - Discriminate which items are accepted"
## Subject of the issue
I have multiple instances of GridStack running on one page. Groups of grids are divided into columns. It should be possible to move items between grids which are within the same column, but not between grids across columns.

Right now I've got a slipshod implementation using the 'removed' event which performs a check and reverts the move if the check fails (In part due to t

[2018-12-19 15:23] mathiastm opened #959 "Create item with drag and drop"
Hi everyone,
I would like to know if that's possible to create an item with drag and drop fonctionnality?
For exemple: When I click on a toolbar with minified items and drag one on a gridstack instance, i would like to create a new item.

PS: I don't want to clone the minified item. I want to create a new one.

[2019-01-02 06:48] kavishagoel opened #960 "a widget has bootstrap modal pop up making my serialized data to null"
A widget has bootstrap modal pop up making my serialized data to null

In my gridstack container, i have one of the widgets' which opens up a bootstrap modal on click of the button .
Before the opening of the pop up, i can trace and check the coordinates of the grids, but after pop up i couldn't trace the coordinates by using:
	var coordinates=  _.map($('.grid-stack > .grid-stack-item:visible:not(

[2019-01-04 07:14] iyerananth opened #961 "Get updated positions of all widgets in dragstop event"
## Subject of the issue
How can we get updated positions of all widgets in dragstop event. Getting the updated positions in change event, but change event is firing for gridstack on adding widgets dynamically. I was using the change event to save grid layout. Hence looking at getting updated positions in dragstop event.

## Your environment
Using version 0.3.0
* which browser and its version
Chrom

[2019-01-14 11:09] aamir1754 commented on #961
You can use this method to get updated positions

$('.grid-stack').on('dragstop', function (event, ui) {
      GetLayout();
});

function GetLayout() {

    var Positions = [];

    $('.grid-stack-item.ui-draggable').each(function () {
        var $this = $(this);

        Positions.push({
            x: $this.attr('data-gs-x'),
            y: $this.attr('data-gs-y'),
            w: $this.attr('da

[2019-01-14 11:11] aamir1754 commented on #959
Why don't you use default event of addWidget? On drag stop, get your selected item's properties and create a new item with those properties through addWidget Event

[2019-01-14 11:16] aamir1754 commented on #955
Hi, You can add or create boxes with your custom html inside the boxes, with that html you can do whatever you want, add content, labels, styles and much more. like example below:

   var html = '<div><div class="grid-stack-item-content">';
    html += '<div>';
    html += '<label> some text </label>';
    html += '</div>';
    html += '</div></div>';

  var grid = $('.grid-stack').data('gridstack

[2019-01-14 11:59] aamir1754 commented on #951
Hi, you can add custom height or width to boxes while creating them, as shown below code

  var grid = $('.grid-stack').data('gridstack');

      grid.addWidget($(html), 0, 0, 3, 1, false);

in grid.AddWidget first parameter is for custom html which you want to add. 2nd paramter indicates box position in x-axis. 3rd parameter indicates box position in y-axis. 4th paramter indicates the width of bo

[2019-01-14 12:02] aamir1754 commented on #941
You can save positions, layout in cookies or local storage. reload gridstack with existing layout and positions

[2019-01-15 06:45] iyerananth commented on #961
@aamir1754 thanks for the reply. Will try it.

[2019-01-16 06:38] chen-ABC commented on #791
I have a problem with this example
![image](https://user-images.githubusercontent.com/30097790/51230818-5600db00-199c-11e9-963d-3c19680061db.png)

[2019-01-16 10:50] Cookiewookie87 opened #962 "Uncaught TypeError: t.data is not a function"
## Subject of the issue
Describe your issue here.

## Your environment
* version of gridstack.js
* which browser and its version

## Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo, you can use [this template](https://jsfiddle.net/dweiss/dqyvh6vr/) as a base.

## Expected behaviour
Tell us what should happen

## Actual behaviour
Tell us what happens instead

[2019-01-16 10:50] #962 closed

[2019-01-17 08:47] mathiastm commented on #959
because I want to see the new item on Drag

[2019-01-18 16:34] nws-jstorm commented on #937
I just removed the line 1003 you mentioned in your post. Now the grid is behaving like it should, but i dont know what else is affected by this line. Did somebody the same and has experience with this?

[2019-01-19 07:16] baradhili commented on #530
@radiolips are you able to drop a small example here? Thanks

[2019-01-22 00:14] baradhili opened #963 "Uncaught TypeError: Cannot read property 'addWidget' of undefined when loading serialized data from getJSON"
## Subject of the issue
can't load serialized data via getJSON?

## Your environment
browser independent, gridstack 0.3.0

## Steps to reproduce
https://jsfiddle.net/baradhili/mr1a79fe/1/

## Expected behaviour
Grid should load

## Actual behaviour
browser complains "Uncaught TypeError: Cannot read property 'addWidget' of undefined"

[2019-01-22 15:29] burgoyne opened #964 "Re-size widgets in increments of 2"
I am creating a dashboard, and I do not want to be able to size my widgets in a 1x1 square. I would like 2x2 to be the smallest. Then, when increasing the size, I do not want the widget to snap to an odd number. For example, when making my 2x2 widget longer, I don't want to be able to stop 3x2, I want 4x2 to be my next option. Same if I were to resize the height.

[code]

That div shows my widget

[2019-01-22 15:49] burgoyne commented on #964
I should have read the docs better, but I solved the minimum widget size by using the `min-height` and `min-width` option.

Increasing size by increments of 2 is still stumping me though.

[2019-01-24 01:07] myzhibie opened #965 "When will the v1.0 release?"
when will v1.0 version realease and some breaking changes?

[2019-01-27 21:31] stap123 opened #967 "Drop Position Placeholder Displaying Incorrectly"
When dragging an item it seems the further to the right you go the further out the placeholder becomes and therefore the harder to use correctly it becomes. See the codepen below:

[https://codepen.io/stap123/pen/aXNRoL](https://codepen.io/stap123/pen/aXNRoL)

Anyone got any ideas?

#566 sounds like a similar problem.

[2019-01-29 13:37] mousumipaul commented on #404
I am trying to check that gridstack panel takes height based on its inner container height. I was using the code of responsive.html file which I downloaded from gridstack.
I just put some new line in the div to see if it is expanding or not. My changed code is:
[code]
But the div is not at all expanding. I did not understand how I will use the solution provided by @radiolips .  Where shall I chang

[2019-01-30 06:16] sociablesasha commented on #951
It can be handled by a function in the built-in gridstack.

[2019-01-30 06:16] sociablesasha commented on #964
It can be handled by a function in the built-in gridstack.

[2019-01-30 13:01] mousumipaul opened #968 "How grid-stack-item will take height from its inner content and create a collapsible panel"
I want to create a dashboard with multiple collapsible panel. But grid-stack-item is asking height. Therefore it is not expanding based on the content inside of grid-stack-item-content. Inside of item content I used the following code to create a collapsible panel.
[code]

Here on the onclick event I want to toggle the panel. But I am only able to hide and show the panel_content div but grid-stack

[2019-01-30 20:02] Artemy-Matvienko opened #969 "How to use bootstrap grid responsiveness with grid-stack-item?"
## Subject of the issue
If you change the browser window size, the grid items will only start stacking on top of each other when reaching the "col-md" equivalent of viewport width. I'd like to customize when the grid items start stacking. For example, some items I'd like to stack when reaching the "col-lg" viewport width.

## Your environment
* version of gridstack.js - 0.4.0
* which browser and i

[2019-02-02 09:35] iyerananth commented on #961
@aamir1754 apologize for the delayed response. Tried your solution. It did not give the updated position of the widgets that were moved. I called the change event within the dragstop event and that gave the updated positions. I don't know if it is the right way but issue is resolved. Thank you @aamir1754.

[2019-02-04 19:32] kylietmo commented on #527
I'm seeing a similar issue where I set the minWidth to be 1280, refresh the page, and the drag/drop functionality disables around 1100 and the column mode does not enable until a width of about 685. Overall inconsistent based on the minWidth value. Only seeing this issue when refreshing the browser - once the screen has been made wider and and brought back down, it disappears.

[2019-02-04 19:43] suffyanaziz opened #970 "How to save Widgets in grid layout on Server side?"
Hi, I want to save the user specific layout of widgets on server side. So far, the widgets layout is being saved in local storage but I am having difficulty in figuring out how we can do this also on server side.

Thanks

[2019-02-05 13:40] pagadalasrikanth commented on #625
Hello @radiolips : can you please reopen this. I am using[ Ngx-gridstack](https://github.com/ramyothman/ngx-grid-stack) where users can drag and drop the widgets from one div to another. After dropping the widget, we can use the mouse co-ordinates to calculate the cell positions.
But the problem is data-gs-current-height is set to 1 and because of this, no matter where i drop the widgets, it ends

[2019-02-06 14:54] kashifasif commented on #970
you have to calculate gridstack widgets coordinates and width, height of every widget. gridstack provide a method where you can get all widgets setting/styling like

` var serializedData = _.map($('.grid-stack > .grid-stack-item:visible'), function (el) {
                el = $(el);
                var node = el.data('_gridstack_node');
                return {
                    x: node.x,

[2019-02-06 15:00] kashifasif commented on #968
The best way of doing is to first minimize widget height like say 3 but store original height in data attributes on same widget to restore that widget in original height on toggle.

[2019-02-06 15:06] kashifasif opened #971 "Grid stack become too slow when rending multiple widgets that have too much data."
## Slow Grid Stack on Resizing and Moving

grid stack is too slow on resizing and moving. my widgets have too much data and widgets are around about 15 on single page and i am using angularjs. please help me to resolve this issue.

## Your environment
Version 0.4.0

## Expected behaviour
It should be fast on moving, resizing when i render from database.

[2019-02-06 22:04] #643 closed

[2019-02-06 22:12] radiolips commented on #971
Hey @kashifasif. How much is in the DOM for these widgets? If you only have 15 widgets, it should be very fast.

[2019-02-06 22:14] radiolips commented on #970
@suffyanaziz I think there may be a few references throughout this repo, but you'll want to store the information however you'd like into whatever database you're using. If you're using MySQL, you could store the x, y, width, height, and DOM data individually into rows. For NoSQL, you probably could store it in a simpler fashion. I'd imagine that you should be able to store the widgets in a databa

[2019-02-06 22:14] #970 closed

[2019-02-06 22:19] radiolips commented on #968
There's some example code I wrote somewhere in the issue tracker that shows how you can resize a widget to the size of its content, which I think is what you're looking for. Try searching through the closed issues.

[2019-02-06 22:19] #968 closed

[2019-02-06 22:27] radiolips commented on #964
@burgoyne glad you found the `min-` options. I can only think of a couple of ways to change the increments. Firstly, you could change the number of columns–if you have six columns, the change will be twice as much as if there were twelve. The other way would be to intercept any change and essentially revert the change if the width/height are odd.

[2019-02-06 22:31] radiolips commented on #963
Hi, @baradhili ! I see that you're binding `this`, but it still seems like context must be lost if you're getting that error. Prior to the jQuery function, does anything return with `this.grid`?.

[2019-02-06 22:32] radiolips commented on #961
@iyerananth Using the `change` event is definitely the best way to identify coordinates after a widget has changed position.

[2019-02-06 22:32] #961 closed

[2019-02-06 23:46] baradhili commented on #963
Sorry fogot I had this open.. Stackexchange solved it for me..
correct answer should have been something like

`this.loadGrid = function () {
  this.grid.removeAll();
  debugger;
  const URL = `//${window.location.hostname}/dashboard/getDashboard`;
  const context = this;
  $.getJSON(URL, function (items) {
    _.each(items, function (node) {
      context.grid.addWidget($('<div><div class="grid-s

[2019-02-06 23:46] #963 closed

[2019-02-07 02:57] iyerananth commented on #961
Thank you @radiolips :+1:

[2019-02-07 06:49] kashifasif commented on #971
Actually, I'm creating a BI tool like Power BI. I have different types of CanvasJS Charts + Tables + Google Map. and each charts is rendered by 4 Million record. and google map have almost 4000 Marker. each of widgets is coming from database.

[2019-02-07 17:02] radiolips commented on #930
Thanks, @zhanazhan . That looks like a good solution.

[2019-02-07 17:02] #930 closed

[2019-02-07 17:03] radiolips commented on #926
I think these are suitable answers. There's a variety of ways to export it, but it'd be just like exporting any other HTML.

[2019-02-07 17:03] #926 closed

[2019-02-07 17:05] radiolips commented on #923
Thanks @MikeGsus . Yeah, I don't maintain the angular repo, but if you've got questions about it, I'd head over there. If that doesn't work, feel free to reopen this or open a new issue. Wish I could help, but I don't have the direct experience.

[2019-02-07 17:05] #923 closed

[2019-02-07 17:08] radiolips commented on #919
I know that there are weird problems in a multi-grid scenario, but could someone let me know how I can replicate the issue with just one grid? I haven't had overlapping widgets, but if several of you are, there's certainly an issue. Let me know some more information and I'll take a look.

[2019-02-07 17:09] radiolips commented on #917
Yeah, I saw that, thanks. The internet is a wild world. I'll leave this open until it's removed.

[2019-02-07 19:30] radiolips commented on #912
https://github.com/gridstack/gridstack.js/tree/develop/doc#grid-attributes `float` allows widgets to "float" in space rather than go up-left. I think this is what you're looking for.

[2019-02-07 19:30] #912 closed

[2019-02-08 09:23] singhrajbeer commented on #574
Hello, I am having the same issue. It was working fine a day ago but now I have same issue.

I am using gridstack for a dynamic dashboard where user can drag & drop controls, can save layout in the database. I am setting positions from database

[code]

but for two controls I am setting position as :

[code]

i believe the error is caused by any of these functions. I would be very thankful if you

[2019-02-08 09:34] singhrajbeer opened #972 "Maximum call stack size exceeded error, when loading element positions from database"
![jserror](https://user-images.githubusercontent.com/37385324/52469867-97903a80-2b84-11e9-8a0b-02aa89e89169.png)

Before posting my question here, i have seen all posts regarding this issue as others also have same issue but I couldnt get my problem fixed.

I am using gridstack for a dynamic dashboard where user can drag & drop controls, can save layout in the database.

I am setting positions fro

[2019-02-10 02:21] suffyanaziz opened #973 "How to save Dashboard name and Serialized data in a database as well?"
I am using grid stack in ASP.NET Core razor page to save widgets in locals torage. The same thing I want to do for on server side as well. For that purpose I want to store the dashboard name as key and serializedData as value in database for each user. How can this be done? Thanks

Following is the code :

     this.saveGrid = function () {
                    this.serializedData = _.map($('.grid-

[2019-02-13 06:23] armujahid commented on #972
I am also getting same error with different call stack.
Demo: https://jsfiddle.net/armujahid/v6d9t8Lg/
![image](https://user-images.githubusercontent.com/3725386/52691147-b8d89880-2f81-11e9-94c2-2fb50ec6bd95.png)

[2019-02-13 07:58] kamleshKumarVerma commented on #934
Added this CSS $('iframe').css('pointer-events','none'); in resizeStart event and add this $('iframe').css('pointer-events','auto'); in resizeStop event.
it will work. i have tested that

[2019-02-13 14:14] andreo-k opened #975 "commonjs export issue is not fixed completely"
## Subject of the issue
There are fixes in 'development' branch which try to fix commonjs export issue (you assign scope.GridStackUI there). However there is still issue

currently:
try { GridStackUI = require('gridstack'); } catch (e) {}

should be added (in bold)
try { GridStackUI = require('gridstack')**.GridStackUI**; } catch (e) {}

Pls see the fix in my fork of the project
https://github.com

[2019-02-13 16:54] andreo-k commented on #950
faced same issue, thanks for workaround

[2019-02-18 16:19] kenneylo2113 commented on #919
Here's an example I took it from an other issue to try in my solution and when changing between 0.3.0 and 0.4.0 version there is a difference in the dragging functionality.

Dragging B over A overlaps in 0.4.0 the same action in 0.3.0 moves A underneath B.

[code]

Code copied from here :
https://github.com/gridstack/gridstack.js/issues/743#issuecomment-323941968

[2019-02-19 07:20] TheCutter commented on #919
As I wrote above, the problem was introduced by the commit "Avoid collision check of node with itself".
A simple take will not always work if the order of the nodes is not "correct", so some nodes are missed out to detect collisions. If the lines are changed to `.filter(function (o) { return o !== n})` all nodes except the node itself are checked for collisions.

[2019-02-21 08:16] bfheythem opened #976 "When you scroll down while dragging a widget, you can keep scrolling endlessly"
## Subject of the issue

When I drag the widget to the bottom of the page and start scrolling down without releasing the widget.The page keeps getting extended for as long as you scroll.

## Your environment
* version of gridstack.js : 0.2.6
* which browser and its version
Google Chrome
Version 72.0.3626.109 (64 bits)

## Steps to reproduce
Simply pick any widget and drag it to the bottom of the p

[2019-02-22 15:27] stevenliebregt commented on #219
What is the status off this issue?

[2019-02-23 08:27] candrewtemenoscom opened #977 "How to disable the responsiveness of gridstack"
How to disable responsiveness of the Gridstack when resizing the container

Currently, when the container of the gridstack is resizing, the gridstack items will resize accordingly as well. I would like to disable this resizing of the gridstack item when the container change size completely in order to maintain the size each div items but I would still like to be able to drag and resize each item i

[2019-02-24 20:57] stevenliebregt commented on #973
You could make a POST AJAX request before/after you set the localStorage item.

[2019-02-26 06:49] churchi98 commented on #414
we did it this way and it works

            $('.sidebar .grid-stack-item').draggable({
                revert: 'invalid',
                helper: "clone",
                handle: '.grid-stack-item-content',
                scroll: false,
                appendTo: 'body'
            });

you just have to make an css and a small sidebar with fix elements.
hope i can help you

[2019-03-04 17:16] ADobrianskiy commented on #935
Any news about the issue?

[2019-03-04 17:59] ADobrianskiy commented on #965
Any news?

[2019-03-12 11:08] LiamEngland opened #979 "TwoColumnMode"
OneColumnMode is good however when using it at a wide viewport it doesn't look too good, as I've tried setGridWidth but on resize it's not functioning well at all, so was wondering if there'd be a possibility to add a twoColumnMode so it'd be able to be manipulated at certain viewports to add more responsiveness.

I'm using gridstack via NPM v 0.4.0
Browser being used is Opera 58.0.3135.79

[2019-03-12 15:33] gooeyideas commented on #979
You can easily achieve this yourself with css:
[code]
[code]

Here is a codepen demo: https://codepen.io/GooeyIdeas/pen/ywPNQG?editors=0110

[2019-03-13 09:13] LiamEngland commented on #979
That is a perfect solution to that, that's brilliant thank you.

[2019-03-13 09:13] #979 closed

[2019-03-28 13:07] #693 closed

[2019-03-29 16:52] adumesny commented on #919
@kenneylo2113 I copied your example into two.html and made sure to use gridstack 0.4.0 (yarn add gridstach and copied the files over my dist folder) and I cannot reproduce this moving B over A on Chrome,FF,Edge windows10.

We will be release 0.5.0 soon so maybe you guys can try if still reproduce, but neither @dweiss nor I can see this issue.

[2019-03-30 06:02] daya-s commented on #538
hi. Thanks for the help. but my content inside **<div class="grid-stack-item-content"> </div>** not rendering after Load from localStorage.

[2019-03-31 19:15] radiolips commented on #977
gridstack automatically changes width based on the size of its container. The widgets are all based off of a 12-column grid by default (this can be changed), and expanding/contracting the container size will change the overall width, but not the number of columns.

[2019-03-31 19:15] #977 closed

[2019-03-31 19:16] radiolips commented on #975
Hey @andreo-k ! Could you put in a PR for this update?

[2019-03-31 19:17] radiolips commented on #973
As @stevenliebregt said, just send some data to the server when you're also setting local storage.

[2019-03-31 19:17] #973 closed

[2019-03-31 19:18] radiolips commented on #972
Could you provide a codepen or jsfiddle for this? I'd be happy to take a look.

[2019-03-31 19:20] radiolips commented on #971
I'm not sure if this is fixable with gridstack in its current state. Maybe if changes were made to the shadow DOM, we might be able to speed it up, but because all of the changes are made to the live browser, the browser is rerendering everything. It's also presumably holding a lot in memory if you've got 15 * 4 million data points.

[2019-03-31 19:21] radiolips commented on #965
Hey guys! We're working hard to push out a 0.5.0 release early this week (hopefully April 1–I promise it is not an April fool's joke :)). 1.0.0 will almost definitely be based off of 0.5.0, and I'll push hard to get that done ASAP. I'll provide an update as soon as I've got a better estimate of when things will be ready.

[2019-03-31 19:22] #964 closed

[2019-03-31 19:34] radiolips commented on #956
You can use Javascript to make it so that maximize and minimize adjust the width or height of the widget. The grid will always automatically rearrange itself, as long as `float: true` isn't set in the grid options.

[2019-03-31 19:34] #956 closed

[2019-03-31 19:35] radiolips commented on #951
@singhrajbeer thanks for using gridstack and logging an issue. Are you trying to change the number of columns, or are you trying to change the width of a widget?

[2019-03-31 19:36] radiolips commented on #953
The community and I would be happy to try to help, but you didn't provide any description of what it is you're trying to do.

[2019-03-31 19:36] #953 closed

[2019-03-31 19:37] radiolips commented on #955
Hey @hpd71 ! You can certainly do everything you asked about :).

[2019-03-31 19:37] #955 closed

[2019-03-31 19:39] radiolips commented on #949
Hey @rwankar – sorry for the delay in response time. Are you seeing this issue in the demos? Without spending too much time digging into the fiddle, I would guess that there's something going on with the CSS.

[2019-03-31 19:39] #941 closed

[2019-03-31 19:47] armujahid commented on #972
@radiolips you can jsfiddle provided in my previous comment.

[2019-03-31 20:03] radiolips commented on #972
Hey again–it doesn't look like you're setting a width or height on any of the widgets, and it also looks like you're using CSS to set the width, which will override the values in the library and cause issues.

[2019-04-01 11:43] radiolips commented on #960
@kavishagoel Could you provide a fiddle or codepen?

[2019-04-01 14:37] singhrajbeer commented on #972
Thank you, in my case I was saving those positions in a wrong way. Now its working alright.

[2019-04-01 14:41] singhrajbeer commented on #951
Here I am trying to change the width of a grid column ?  I am using 12 column grid system.

[2019-04-01 15:10] radiolips commented on #951
I'm a little confused. The width of the actual grid column is automatic based on its container. Each column will be 1/12 the allowed size. If you want to change the actual number of columns, you can use
https://github.com/gridstack//gridstack.js#change-grid-width

[2019-04-01 19:47] adumesny commented on #713
thanks for adding this sorting capability (instead of just top->bottom, left->right) but wondering if this is the right long term approach. To support responsive design you really need multiple layouts based on screen size, but also hide certain panels.
Even with just 1 column <-> full layout you will want to hide some panels, not sure hard code the sort order...

[2019-04-01 19:49] burgoyne opened #987 "Removing Gridstack Tile"
So I am attempting to remove a tile, but can't figure out how to properly do it. I have a button, and when pressed, my grid area becomes editable (moving, resizing, and deleting tiles). But for some reason, the X button (to remove a tile) only appears on the first tile in the grid. Also, if I remove that one tile, then close the editing process, an X appears on the next tile when not in editing mo

[2019-04-01 20:13] radiolips commented on #987
IDs should only be used once per page. Instead of using the id "closeTile" use the class "close" (you already have it in your example). I tested it using your example–the x shows up for each widget if you do that :)

[2019-04-01 20:41] gooeyideas commented on #713
@adumesny, I believe that what you are asking for is really separate issue altogether. I felt that the existing oneColumnMode feature was unfinished and needed to be configurable. But I do agree that a conditional  layout configuration strategy would be nice.

[2019-04-01 23:05] adumesny commented on #713
fair enough.

[2019-04-02 12:28] #987 closed

[2019-04-02 12:31] burgoyne commented on #987
That was it. Thank you!

[2019-04-03 13:23] burgoyne opened #988 "Saving / Loading Grid System"
After setting up my grid, I have a button that can save the placement of the tiles. It takes in the x/y coordinates, and the height/width and saves them as a json string. Then you can move the tiles around, and press the load button to bring them back to how they were saved.

Here is a fiddle to show my program:
https://jsfiddle.net/xqLfr4ja/

Reproduce problem:
Click Edit UI, then click Chart 1,

[2019-04-03 14:48] radiolips commented on #988
When you're saving, you should be saving the contents, I assume? I need a little more clarity on this. I'm also a little concerned that this one is bordering on asking someone to do your homework for you...

[2019-04-03 14:56] burgoyne commented on #988
Not homework, I've just been stumped for a while and haven't been able to get it properly working. I have been searching, and trying different things, but I can't get it to load the contents.

In my  example, I load a default tile (just says default tile), and then I give the user the option to add two other tiles, both with different contents. One says chart 1, the other says chart 2. If the user

[2019-04-03 14:59] radiolips commented on #988
In this function, you can use all normal DOM manipulation:
[code]

[2019-04-03 15:18] burgoyne commented on #988
I pass in `defaultTile` to my load function on line 80. Would that need to be changed as well? I guess what my question would be is:
Since I pass defaultTile in my load function, my save function, and while parsing the json, should I be retrieving/ saving the id not in that json string, and passing it in separately?

[2019-04-03 17:04] burgoyne commented on #988
If I add `id: n.id,` to the second return line in that method, and add `id` to line 150 in JS, the load button doesn't work.

How I originally had it, this is the json returned (for 3 widgets):
[{"x":0,"y":4,"width":2,"height":2},{"x":0,"y":2,"width":2,"height":2},{"x":0,"y":0,"width":2,"height":2}]

So I would need to add the id to each of those widgets in that json string, right? I would also ne

[2019-04-03 19:02] burgoyne commented on #988
Just thought I would say that I have resolved my issue.

in the `addTile` function, I changed the `addWidget` line to this:
`gridObj.addWidget(tile, x, y, w, h, null, null, null, null, null, defaultTile);`

Then in the `save` function:
`var gsId = $(v).data('gs-id');
 return n ? { x: n.x, y: n.y, width: n.width, height: n.height, gsId } : null;`

Then the `load` function:
`$.each(data, function (k

[2019-04-04 15:31] JamesFitch3 commented on #414
Still not getting this to work on this end.  The item from the "sidebar" (Called a "Well" in my code) ends up reappearing someplace weird ad partway into the other grid.  Anyone know what I'm doing wrong?

[2019-04-04 15:37] JamesFitch3 commented on #414
Still not getting this to work on this end. The item from the "sidebar" (Called a "Well" in my code) ends up reappearing someplace weird ad partway into the other grid. Anyone know what I'm doing wrong?

extra styles just to put in some boxes:
[code]

Markup:
[code]

and js:
[code]

[2019-04-05 14:26] vishal1025 opened #989 "Dynamically created widget containing a button, with click event is not working Need Help"
Button events are not working for the newly added gridstack item
Describe your issue here.
I am using gridstack.js in a angular project
When I am adding a button in the widget its click event is not working.

Here, the code,

  AddingWidget(fieldType: any) {

    var fieldTypeString: string = '';

    switch (fieldType) {
      case 'Text': fieldTypeString =
        `<div class="grid-stack-item">

[2019-04-11 10:48] stefan2595 commented on #542
@mishrarajesh @jun1432 @polenginlabu @benjamincfaustino
The fix for me was:
https://github.com/jquery/jquery-ui/pull/1181/commits/2228050b2c3312267ade756168419b972721f157

[2019-04-11 16:27] SergioMSCosta opened #990 "No dist directory"
There's no dist directory in the project which is kinda annoying for some users.

[2019-04-11 20:57] adumesny commented on #990
/dist files always merged conflicted which was a pain as a developer/contributor, and likely reason people didn't want to redo their pull request over time.
Pretty easy to generate them yourself, or just use the source .js file - if you are not using the npm package (which I suspect most users do anyway).

Please close.

[2019-04-11 20:58] #990 closed

[2019-04-18 13:46] JohnArcher commented on #37
#713

[2019-04-18 13:49] JohnArcher commented on #37
What I don't get why it is possible to resize in one-column-mode in this example: http://gridstackjs.com/demo/responsive.html

Is it because it is 0.2.7-dev? So this would mean that this feature was (accidently) removed from 0.4.0 (I am just talking about resizing, not resort)!?

[2019-04-19 07:59] shavidze commented on #891
This error is still active

[2019-04-22 09:41] aamir1754 opened #991 "Widgets are not moving properly"
Hi,
I've created dynamic form with gridstack, but dragging is not working properly as shown in the video: https://www.screencast.com/t/Yzzamca3VN

[2019-04-23 19:57] ygalanter opened #992 "Dragging widget into parent grid and nested child grid"
I am trying to create this behavior and not sure whether Gridstack supports it or not. I have 3 grids: Grid1, Grid2, and Grid3.  Grid1 is a standalone grid and Grid3 is nested inside Grid2. I need to be able to drag widgets from Grid1 both into Grid2 (outer grid) and into Grid3 (nested grid). Following samples I was able to drag widgets between 2 top level grids and create a nested grid, but not c

[2019-04-24 14:20] singhrajbeer commented on #972
in my case i don't give fix width, height and position in HTML :
<div class="grid-stack-item" data-gs-locked="true" data-gs-id="moni" id="moni">

instead I am trying to set those variables through database like this :

var str = '[{"x":"0","y":"0","w":"2","h":"2","id":"moni","cusId":"moni","v":false},{"x":"2","y":"0","w":"2","h":"2","id":"error","cusId":"error","v":true}]'

[code]
This generates U

[2019-04-25 08:10] #951 closed

[2019-04-25 21:03] foadshariat7 opened #993 "Angular 7: ERROR TypeError: $(...).gridstack is not a function"
## Subject of the issue
I'm trying to use this great feature in my Application, but I get "ERROR TypeError: $(...).gridstack is not a function", I tried all the solutions in other reported issues but none worked for me.

## Your environment
gridstack.js 0.4.0
Chrome 73

## Steps to reproduce
This is the code I added to scripts section in angular.json:
"scripts": [
                            "./no

[2019-04-30 10:54] nsgalib opened #994 "Cannot Load elements as Maximum call stack size error displayed."
## Subject of the issue
Trying to create a dynamic dashboard with drag/drop and resize functionality. I want to add ASP server controls to 'grid-stack-item-content' and update them through Ajax after every 10 seconds.

## Your environment
* version of gridstack.js 0.4.0
* Google Chrome Version 74.0.3729.108 (Official Build) (64-bit)

## Steps to reproduce
https://jsfiddle.net/kLeu7y0h/

## Expecte

[2019-05-02 14:23] Aliraminkarimi opened #995 "Gridstack: Widgets not moving other widgets out of its way"
Hi, i've been using gridstack.js for a while now, and the widgets are moving automatically like they should and i was wondering if there's a problem with my code.

`  $(function () {

      $('.grid-stack').gridstack({
          animate: true,
          cellHeight: 10,
          float: true,
          verticalMargin: 10,
          resizable: {
              handles: 'e, se, s, sw, w'
          }

[2019-05-02 14:24] Aliraminkarimi commented on #995
<div class="grid-stack">
<div class="grid-stack-item>
<div class="grid-stack-item-content">
1
</div>
</div>
<div class="grid-stack-item >
<div class="grid-stack-item-content">
2
</div>
</div>
</div>

[2019-05-02 14:26] #995 closed

[2019-05-03 17:56] JamesFitch3 commented on #909
I was able to mitigate this somewhat by enclosing the top stack in a div which had enough bottom margin to accommodate the inner gridstack gaining a row without moving the lower one.  Gridstack seems to get confused when its TOP changes midway through a drag, and then difficult-to-predict results come about.

[2019-05-07 10:17] piernik opened #996 "Gridstack requires whole lodash"
Gridstack imports whole `lodash`. I suppose Your'e using only few functions. Can You make some adjustements so that not whole lodash will be imported?

[2019-05-08 09:44] geopamplona commented on #723
Is this parameter not yet added?
How could I achieve similar functionality?
Thank you

[2019-05-08 11:03] JohnArcher commented on #996
#980 removed the lodash dependency completely. But this is "just" in the develop branch currently.

[2019-05-09 06:16] piernik commented on #996
When can we expect new version?

[2019-05-14 21:20] alexsaalberg049 opened #997 "max-height (and possibly max-width) doesn't work correctly"
## Subject of the issue
If you drag a tile past it's max-height the 'shadow' will grow past the `max-height` and push objects. When you release this 'shadow' the tile will behave as though it is taller than it appears.

It seems like this can only happen if the `height` is less than `max-height` when you begin resizing the tile.

## Your environment
* version of gridstack.js - 0.4
* which browser

[2019-05-23 01:55] johnbatters commented on #993
Hi Foad, just wondering if you found a solution to this, I've run into the same problem

[2019-05-27 09:14] liuyisnake opened #998 "quick move the item between different grid-stack will assert error"
## Subject of the issue
quick move the item between grid-stack will assert exception

## Your environment
* version of gridstack.js
1.0.0(develop) and 0.3.0(master)
* which browser and its version
chrome

## Steps to reproduce
use the demo of gridstack two.html could duplicate the issue
1.create tow grid-stack(grid-stack1 and grid-stack2) and several items
2.move one  item from grid-stack1 to grid

[2019-06-06 09:52] Revo86 commented on #845
@mvkampen i'm also highly interested in it

[2019-06-07 11:29] sello-rex commented on #919
Hey Guys,

I'm having the same issue, using cdn 0.4.0 now downgrading to 0.3.0, fixes this.

Here's a video showing what is happening.
https://www.mediafire.com/file/71lobdycbbjco7t/new.mp4/file

[2019-06-10 04:21] umutto commented on #919
Having the same issue with cdn 0.4.0 version. Here is a [JSFiddle for float demo](https://jsfiddle.net/umutto/f5rb2ge4/1/) using cdn.

Later widgets can overlap over prior widgets.

[2019-06-10 04:32] mishrarajesh commented on #919
Please check 1.0.0-dev version. All overlap issues seems to be fixed. I could not find any till now.

[2019-06-11 08:31] miroslav-peterka opened #999 "wrong counting of minHeight for resizable widget"
At line

https://github.com/gridstack/gridstack.js/blob/17fcce8dc2808a941e683c9123e40664440bc819/src/gridstack.js#L1281

is some mistake, IMHO because you forgot to take in equation vertical margin.

example:
cellHeight = 80px and vertical margin = 20px
item height is 3, minHeight is 2

minHeight in pixels should be 80 x 2 + 20 = 180px. but at pointed line is counted number 188px

80*3 + 2*20 = 28

[2019-06-12 18:05] nichols12 commented on #499
The `helper:"clone"` work's on 0.40 version?

[2019-07-03 18:34] otionstem commented on #723
.grid-stack .grid-stack-placeholder > .placeholder-content {
  left: 2px;
  right: 2px;
}
.grid-stack > .grid-stack-item > .grid-stack-item-content {
  left: 2px;
  right: 2px;
}

[2019-07-11 08:24] ulissepress opened #1000 "How to add zoom support?"
Editing small grid stack area, will need a zoom factor...

[2019-07-15 14:50] Altraya commented on #149
+1 Do you have any news for this issue ?

[2019-07-16 13:42] hadasnet commented on #444
Hey, can you please upload the code for this to codepen or jsffidle or any other ? please --> http://hhh.imasik.cz

[2019-07-18 19:47] jonathangriguol opened #1001 "Can't resize from bottom handler when the grid item is at the bottom of page/container"
##Can't resize from bottom handler when the grid item is at the bottom of page/container

I want to resize from the bottom border a Grid Item which is placed at the bottom of the Grid container (and screen o parent of this grid container)
Even the grid is initialized with height = 0 and draggable.scroll = true the item collides with the lower edge and the Grid doesn't increase it's heigth size
I t

[2019-07-18 20:20] jonathangriguol commented on #976
Hello,
you should use

draggable: {
          scroll: false,  // or delete this property because false is the default value
        }

More info: https://github.com/gridstack/gridstack.js/tree/develop/doc#options

[2019-07-19 10:29] adriver-kwiboo opened #1002 "Knockout breaks with latest version of gridstack"
## Subject of the issue
I am using gridstack with knockout, adding widgets causes the browser to hang.

## Your environment
gridstack 1.0.0-dev

## Steps to reproduce
See fiddle:
https://jsfiddle.net/n7mtjp6f/1/

Add four or move widgets and see the browser hang

## Expected behaviour
Widgets continue to add

## Actual behaviour
Gets to about 3/4 widgets and then hangs the browser

[2019-07-19 20:11] william-e-schroeder commented on #225
It is even older, and still not mentioned.

[2019-07-23 07:58] Altraya commented on #935
I have the same issue when I get back an item from JSON file (so I use make method for the item), after that, when I drag and drop an item into the grid, I have a strange behavior.
I can move the item into the grid, but all other item react like the first one was always at the previous place.

[2019-07-23 08:08] Altraya commented on #992
I think you can take a look at this  #issue133. I think you need to play with the property "AcceptWidget" and css selector to achieve this.

[2019-07-23 08:14] Altraya commented on #965
Hello, any news about this new release ? I am currently using the develop version with some own merged things, but for my soul, it would be better to use a real release ! Nice job between, good luck for all.

[2019-07-25 09:38] xingguo3 commented on #804
Hi, Any updates?
Im also using ajax to load grids in async mode (out of performance consideration ). However, those grids 's position will be rendered by ajax finishing sequence rather than its coordinates. Is there a solution for this?

[2019-07-26 17:32] rob101 commented on #661
@radiolips Could you possibly show an example of how to set this in the options? E.g. should I use

[code]
I get an Uncaught ReferenceError: clone is not defined when taking this approach.

[2019-07-26 21:33] mbosajin opened #1003 "Is it possible to have one row which it can grow horizontally ."
## Subject of the issue
Hi,I need to have a grid which contains one row and grows horizontally when new item gets added.

![image](https://user-images.githubusercontent.com/53353489/61982870-1ca0cc00-afcc-11e9-831a-6e65ed6f75fe.png)

## Your environment
* version of gridstack.js
0.3.0-dev
* which browser and its version

## Expected behaviour
Tell us what should happen

## Actual behaviour
The gri

[2019-07-27 12:00] rob101 opened #1004 "Draggable helper clone does not clone item attributes and uses child object to drag."
## Subject of the issue
Draggable helper clone does not clone item attributes and uses child object to drag.

## Your environment
* version of gridstack.js 1.0.0-dev
* which browser and its version: Chrome 75.0.3770.142

## Steps to reproduce
Drag item 1 from left to right; from the blue pallet to the yellow canvas. https://codepen.io/alias51/pen/QeGMYm

## Expected behaviour
Item 1 should be clon

[2019-07-27 12:11] rob101 commented on #1004
Looking further at this, I think the issue arises because the dragstop event triggers when the item leaves the grid but before the item is dropped. This means the clone picks up the last position at data-gs-x="4" data-gs-y="0"`.

[2019-07-28 01:23] manueltimita commented on #858
It is actually quite an insidious little bug. It occurs when one loads the jQueryUI libs (including `gridstack.jQueryUI.js`) but then instantiates GridStack with the options:
[code]
If GridStack's method `destroy()` is called at a later stage, the error is caused inside [`JQueryUIGridStackDragDropPlugin.prototype.draggable`](https://github.com/gridstack/gridstack.js/blob/release/v0.3.0/src/gridsta

[2019-08-07 09:15] skillnull commented on #891
解决方法：![image](https://user-images.githubusercontent.com/19986684/62610761-dab24700-b936-11e9-9edf-d082344a8fa4.png)

[2019-08-12 20:02] rami-alloush commented on #584
I know this might not be the cleanest snippet! but this is what finally worked for me. using v0.3.0 (I had to use this version due to the overlap problem in v0.4.0
`$gridstack-columns: 24;

@for $i from 1 through $gridstack-columns {
    &.grid-stack>.grid-stack-item[data-gs-width='#{$i}'] { width: (100% / $gridstack-columns) * $i;  min-width: (100% / $gridstack-columns) * $i;}
    &.grid-stack>.g

[2019-08-12 20:23] rami-alloush commented on #81
I had to add the `min-width` as well for it to work on version 0.3 (which I use to solve the overlapping problem btw.)

[code]

[2019-08-13 14:27] agenceKanvas opened #1005 "[Question] Custom grid"
Hi,
Not an issue but some questions.
Once I've generated the grid that I like. Do you have a way in mind to "convert" it to a real CSS grid based on the blocks ?
Thanks !

[2019-08-13 22:22] rami-alloush commented on #839
I prefer accessing the grid nodes and get whatever info I need
                    var grid = $('.grid-stack').data('gridstack');
                    var grid_nodes = grid.grid.nodes;
                    var grid_count = grid.grid.nodes.length;
The `grid_nodes` var has EVERYTHING you might need and more.

[2019-08-18 11:38] carnilino commented on #876
I figured it out. Problem was in the CSS. You need to set default top and left values for all divs `.grid-stack-item` for the CSS transition to work properly. So just add this in your CSS:
[code]

[2019-08-19 08:14] agenceKanvas commented on #936
Hi ! Any update on that ? thanks !

[2019-08-19 09:43] abrorabdukadirov commented on #998
hi liuyisnake did you solve this problem? I have the same problem

[2019-08-21 04:42] vlory73 commented on #444
I can confirm that the grid from link http://hhh.imasik.cz is working on iOS

[2019-08-21 10:54] arturmamedov commented on #919
v1.0.0-dev are not tagged how we install it with dependency manager?

[2019-08-21 10:58] mishrarajesh commented on #919
I just used v1.0.0-dev. Overlapping issue is fixed in it.

On Mon, Jun 10, 2019 at 9:51 AM Umut Karakulak <notifications@github.com>
wrote:

--
Thanks & regards,
Rajesh Kumar Mishra

[2019-08-21 14:47] #1005 closed

[2019-08-21 14:55] agenceKanvas opened #1006 "Fluid height for grid elements"
I've almost solved all my problems but the main one is the fixed heights of the elements.
Is there a way to work with fluid heights ?
Or maybe a tip to work with it ?

Thanks !

[2019-08-21 15:36] agenceKanvas commented on #1006
For more code, here is what I did :
http://wordpress-284843-881255.cloudwaysapps.com/demo/float.html
As a workaround, I used cellHeight to 1 but it seems that it's not a pixel unit.
Anyone with a workaround to calculate automatically the height ?
What's the height of a unit when we use 1 as a value for cellHeight ?

Thanks !!! :)

[2019-08-26 03:23] dahohawley opened #1007 "Error while following basic usage"
## Subject of the issue
Hello, im trying to following the basic usage ( [Here](https://stackoverflow.com/questions/57651385/gridstack-js-defaults-of-undefined) )

but i get these error

![image](https://user-images.githubusercontent.com/23535600/63663140-6ce99480-c7eb-11e9-8abb-2c2d1fb1e7ca.png)

im literally copy and pasting the code from the example.

[code]

## Your environment
![image](https:/

[2019-08-26 07:30] vrungov opened #1008 "Gridstack items misplaced after version update"
## Subject of the issue
Hi,

We have a dashboards application utilizing gridstack.js for the layout of widgets inside the dashboard container.
After gridstack.js version update from 0.2.4 to 0.4.0 all previously saved dashboards got misplaced.
This means all widgets in previously saved dashboards got different size and appeared in different location in the gridstack container making them hardly us

[2019-09-02 15:01] AlessandroNogueiraPorto opened #1009 "using drag and drop to create nested Grids"
## Nest items within items with drag and drop.
How can I nest items within items using drag and drop.

## Your environment
* Last of gridstack.js
* Chrome, Firefox and Edge

## Steps to reproduce
I need to drag menu items (grid-stack-item-content) into item (grid-stack-item-content), nesting parent and child items. The example is in:
https://github.com/AlessandroNogueiraPorto/gridstack

## Expecte

[2019-09-10 09:32] rmishragalvanize commented on #827
I still does not work in 1.0.0-dev

[2019-09-10 09:35] mishrarajesh commented on #827
It still does not work in 1.0.0-dev

[2019-09-10 15:49] JennaCulsh opened #1010 "Dashboard Gadgets/Items Jumping"
## Gadget are not saving in place within the dashboard and are jumping back to their original location
When changes are made to the dashboard and saved, frequently the gadgets are not saving and are moving back to their previous location

## Your environment
0.2.5 version of gridstack.js
Chrome (in the most recent version and previous version)

## Steps to reproduce
See recording: https://www.loom

[2019-09-11 13:34] JohnArcher commented on #713
@gooeyideas Hey there! Thanks a lot for you PR! I would also need that behaviour. @adumesny added some reviews on you PR code. Maybe you could have a look and respond or alter the code accordingly?

And @adumesny , could you help him with the question he as in the 3rd task to complete (about the README), if you know how to do it?

[2019-09-11 16:01] adumesny commented on #713
I've updated the review comments. Problem is @radiolips is the only who can accept changes, and he's dropped the ball...

[2019-09-13 16:34] sunlanterns commented on #754
Any update on this feature's eta?
I want to be able to have my grid items get pushed across the row as new widgets are added rather than be pushed down the page.

[2019-09-16 10:47] 0309620 opened #1011 "Is it possible to make certain sizes for the widgets"
Is it possible to change the widgets from Small, Medium to Large

So you go from data-gs-width="4" to data-gs-width="8" when dragging
instead of it going +1

[2019-09-16 22:11] viennaotf commented on #149
I too would like an update on this please

[2019-09-26 15:42] sebastianwebb opened #1012 "Using CSS grid for positioning items rather than top/left"
I see you use CSS rules to position the items, with position: absolute and top/left. Could these be substituted for CSS grid line coordinates without breaking the script?

Thanks for building and sharing an awesome tool!

Sebastian

[2019-10-01 19:09] aznarepse opened #1013 "refresh layout after deleting item/node"
I am deleting items in the grid by code and I would expect the grid to re layout and stack the item upwards if there is space; basically, the item that was below to occupy the space of the deleted item and so on. However, it does not happen and the space remains blank.

- I have tried with removeWidget(item, true) and removeWidget(item, false).
- I have tried with animate true and false
- tried wi

[2019-10-01 19:23] aznarepse commented on #1013
All right, I have finally created and exposed new method that calls:

- _packNodes();
- _notify();

and it works like a dream.
Am I reinventing the wheel? Is there already some 'official' way to do this?

[2019-10-01 19:58] roldeguz commented on #1013
If you want to use available spaces, you must set float (gridstack config) to false.

And when you're adding your items, when doing the addWidget call, set the autoposition option to true (it will ignore X and Y) and will just place the array items as long as it will fit, in sequence.

[2019-10-01 20:09] aznarepse commented on #1013
@roldeguz Thank you. Unfortunately, I have also tried setting the float property to false and to true and it does not make a difference.
I cannot use autopostion, since the items come with a coordinate and it must be respected.

It is working after I am using the 'custom' method. However, I would prefer an 'official' way. I am inheriting this project and suffering already some oddities within and

[2019-10-01 20:12] roldeguz commented on #1013
@aznarepse hmm, yeah it should behave the way you want it to since the default for the float option is false. Can you please tell me which gridstack version are you using? Thanks.

[2019-10-01 20:17] aznarepse commented on #1013
@roldeguz Scary! 0.2.5! As I said, inherited it...
Not sure I would lie to uplift and have something breaking...

[2019-10-02 16:44] rami-alloush commented on #845
I'm have serious performance issue! I build around 500 widgets on initialization (coming from DB).
It takes a whooping 30 seconds for the grid to be ready!
Not sure where exactly to optimize.
@mvkampen, any code snippets are appreciated.

[2019-10-11 21:56] ggenute opened #1015 "knockout Deleting widget issue (related with browser's resizing)"
## Subject of the issue
Deleting widget issue (related with browser's reducing to display widgets in one column)

## Your environment
* version of gridstack.js 1.0.0-dev
* Google Chrome Version 77.0.3865.90

## Steps to reproduce
http://gridstackjs.com/demo/knockout.html http://gridstackjs.com/demo/knockout2.html
1. Resize the browser **from displaying few gridstack columns to one column**. Don't

[2019-10-14 10:40] vendelinhnastavy opened #1016 "Grid collapses on itself when returned from one column view using knockout"
## Subject of the issue
The following procedure causes grid to malfunction

1. Use knockout bindings to control adding or removing widgets as shown in official sample
2. Change size of browser so one-column view is shown.
3. Resize browser to full size
4. Click delete Me

The grid repositions some widgets. Some widgets lose ability to be dragged. Somethimes widgets overlap.

## Your environment
Ca

[2019-10-14 10:49] SomMeri opened #1017 "Widgets initiated with undefined data-gs-x and data-gs-y glitch"
If the widgets do not have initial data-gs-x and data-gs-y specified, widgets are rendered with wrong size. They are also all located on one place.

## Your environment
* version of gridstack.js: 0.4.0 <- it worked correctly in previous versions
* which browser and its version: all of them

## Steps to reproduce + Actual behaviour
Working demo: https://jsfiddle.net/2p7a9wjg/

Both widgets are crea

[2019-10-14 14:17] pierrefoyard opened #1019 "Allow to resize widget to the left side"
Hello,
I'm able to resize my widgets by grabbing them from lower right side.
This is good to resize widgets towards the bottom and toward the right,
but when my widget is already at the far right side, I would like to resize it toward the left.
Is there an option to adapt resize direction please?
Many thanks,

Pierre.

[2019-10-16 03:38] crapthings commented on #723
i don't have horizontalMargin by default? what's wrong?

![image](https://user-images.githubusercontent.com/1147704/66886312-80ee8d00-f009-11e9-9a3d-b4582981b016.png)

[2019-10-16 06:48] crapthings commented on #1013
i have same issue

https://streamable.com/k039m

[2019-10-16 07:59] aznarepse commented on #1013
@crapthings I did not find a 'vanilla' way to solve it. I wrote and exposed a new method, refresh(), for the prototype that simply calls the already existing
    _packNodes();
    _notify();

and call it any time I need a refresh (e.g. after removing an item). It works well.

[2019-10-17 03:51] vikasKacholia commented on #235
I am also facing same issue , you got any solution for this ?

[2019-10-23 10:21] flozzel opened #1020 "Items become invisible/move when dragging"
I have a sidebar with dashboards from which you can drag the items to other dashboards.
And while dragging the items outside the sidebar, they get invisible and sometimes the already positioned items in the other dashboards behave strange and start moving as soon as you take an item and drag it.

Here is a short clip for better understanding of the problem (click it for fullsize):

![gridstack_pro

[2019-10-25 13:56] creage commented on #996
BTW, here is my solution to shrink the size of lodash required by gridstack. Since I'm using webpack for building my project, it allows me to replace a dependency with custom script, using `NormalModuleReplacementPlugin`.

First, we need a custom build of lodash, with required modules/functions only. So I went through the code of gridstack, and extracted all of them. Next, using `lodash-cli` we ca

[2019-10-25 16:41] agenceKanvas opened #1021 "Loading grid from previous generation"
Hi !

Question here.
Is there a way to load a grid from a previous backup ?
With a button I'm saving all the content I'm generating ,
$(".grid-stack").prop('outerHTML')

Now I'd like to import from this HTML the content of the grid.
Of course as is, my code is not working. Do I have to export something else ?

Thanks !

[2019-11-01 18:33] david-offord commented on #723
@crapthings I think one solution is to set this css:

.grid-stack > .grid-stack-item > .grid-stack-item-content {
    left: 4px !important;
    right: 4px !important;
}
 This can also be used to change the space between 2 items horizontally.

[2019-11-01 18:39] david-offord commented on #1000
@ulissepress I ended up creating another div, and either layering it over the gridstack/content position or 'd-none'ing the gridstack and replacing the entirety of it with the contents of the widget.

[2019-11-01 22:25] SoulesteDev commented on #882
I'm encountering this issue. Setting "yes" on all sibling widgets in dragstart, then setting to "no" in dragstop. It is setting them, however they are not working, they can still be pushed around when dragging the current widget over them...

Here is a link to my codepen where I am encountering this issue: https://codepen.io/Souleste/pen/wvvpGbE

[2019-11-05 18:12] radiolips commented on #1021
Hey there, @agenceKanvas ! You can actually find an example of how to store off then retrieve and redisplay a grid here: https://gridstackjs.com/demo/serialization.html . Good luck!

[2019-11-05 18:25] radiolips commented on #1021
Hey there, @agenceKanvas ! You can actually find an example of how to store off then retrieve and redisplay a grid here: https://gridstackjs.com/demo/serialization.html . Good luck!

[2019-11-05 18:39] radiolips commented on #1020
@flozzel this looks cool! Could you tell me–what version are you using? I don't know if it'll fix your problem, but the dev version should be released today (0.5.0, previously 1.0.0-dev).

[2019-11-05 18:42] radiolips commented on #1019
Hey @pierrefoyard ! Absolutely there is! https://github.com/gridstack/gridstack.js/tree/develop/doc#options check out the `resizable` option there. For reference, here is where you can see the options for handles https://api.jqueryui.com/resizable/#option-handles

[2019-11-05 18:42] #1019 closed

[2019-11-05 18:45] radiolips commented on #1016
Closing–duplicate of #1015 . Use that to track updates, please! Thanks for submitting.

[2019-11-05 18:45] #1016 closed

[2019-11-05 18:47] radiolips commented on #1013
@crapthings  are you also using 0.2.5? This should currently work, not sure about 0.2.5.

[2019-11-05 18:48] radiolips commented on #1011
Hey there, @0309620 ! Would it be an option to use a grid with fewer than 12 columns? For your example, it sounds like four columns might make sense?

[2019-11-05 18:52] radiolips commented on #1010
Hey there, @JennaCulsh ! Two questions: 1) Could you update to a newer version of gridstack.js, at least for testing purposes? 2) How exactly are widgets being saved and reproduced? That's not part of gridstack.js natively, so the code to save off those widgets must be custom.

[2019-11-05 18:56] radiolips commented on #1008
@vrungov do you have an example that I can look at? Though the API has certainly changed, I'd think that the widgets should still be placed in the same location. Just so you know, before long the old API will go away and the new will have to be used–but for your case, for now, it should still work fine.

[2019-11-05 19:09] radiolips commented on #1007
@dahohawley strange. Could you provide a fiddle for this so that I can check it out? I know on the SO page you linked to, someone suggested downgrading jquery–I'm surprised any version of jquery doesn't work. Anyway, if you can provide an example, I'd be happy to take a look for you.

[2019-11-05 19:10] radiolips commented on #1006
Hey there, @agenceKanvas ! I'm a little confused. What exactly is the problem? All widgets should be vertically resizable (changing height).

[2019-11-05 19:12] radiolips commented on #1003
@mbosajin gridstack uses a 12-column grid by default. I believe you're saying you need to add/remove columns on-the-fly. Is that correct?

[2019-11-05 19:21] radiolips commented on #999
@miroslav-peterka that may certainly be correct. Could you provide an example that I could take a look at?

[2019-11-05 19:23] radiolips commented on #998
Thanks @liuyisnake . I'll look into this.

[2019-11-05 19:39] radiolips commented on #996
@creage @piernik I'm hoping to get the dev version released today! Worst case should be tomorrow.

[2019-11-05 19:52] radiolips commented on #997
Thanks for reporting this, @alexsaalberg049 ! I'll take a look.

[2019-11-05 23:00] adumesny commented on #1011
actually 4/8/12 would be a 3 column grid which is supported, so just do that! look at doc on how to change # of columns and your widgets would be 1,2,3 sizes.

[2019-11-06 01:21] crapthings commented on #1013
after set autopos, its working

.addWidget(widget, x, y, width, height, autopos)

[2019-11-06 02:00] adumesny commented on #999
@miroslav-peterka you are absolutely right - here is the before when you can't drag smaller and after my fix (coming up) to take margin into account.

before
![two_grids_before](https://user-images.githubusercontent.com/3496166/68261810-19b76d80-fff6-11e9-9a01-dd2783757226.png)

after
![two_grids_after](https://user-images.githubusercontent.com/3496166/68261812-1c19c780-fff6-11e9-8a5b-b498bf601b7a

[2019-11-06 06:42] adumesny commented on #993
I'm using Angular 7 and Gridstack without issues (I created an angular wrapper around gridstack). these might help you:
1) in `vendor.ts` I have

import '@flyingdragon/gridstack/dist/gridstack-extra.min.css';
import '@flyingdragon/gridstack/dist/gridstack.min.css';

// tslint:disable-next-line no-unused-variable
import * as $ from 'jquery';

// import '@flyingdragon/gridstack/dist/gridstack.all.js

[2019-11-06 06:50] adumesny commented on #996
@creage whoa, that's a lot of work! thankfuly the 0.5.0 lodash free version (and buhc of fixes) I made should be out tomorrow. Stay tune!

[2019-11-06 06:57] adumesny commented on #965
radiolips is back in action and I should soon be able to merge/publish as well, so we're hoping for that 0.5.0 push any day now. Please submit merge request for any work you find other will benefit as we have 2 people now.

[2019-11-06 07:03] adumesny commented on #917
we should fix this soon! @radiolips please point me to website location/account info. Might as well add a "More Demo" to the samples we have as well as those are pretty hidden on github readme.

[2019-11-06 09:09] flozzel commented on #1020
@radiolips I am using the "gridstack.js 1.0.0-dev" version. But if you release a new version soon, I will try to update my version first and maybe it already fixes the problem.

[2019-11-06 17:09] dbcdiogo opened #1025 "Create resize button"
I have item with height=5 and width=5, i want to create a button inner item, when click, automatic resize to width=1 and height=1.

I can resize item, but when move position, return to old size

With resize handler works fine

[2019-11-06 19:45] #917 closed

[2019-11-06 20:27] adumesny commented on #996
I just published v0.5.0 which has that removed. enjoy!

[2019-11-06 20:27] #996 closed

[2019-11-07 14:31] roldeguz commented on #1025
On the click event of the button, you can grab the parent widget container and change the data attributes.

`$(widget).data("gs-width", 1);
 $(widget).data("gs-height", 1);`

[2019-11-07 15:57] jonas3344 commented on #939
I noticed that right-click also works, but opens of course the context-menu.

[2019-11-07 17:26] dbcdiogo commented on #1025
Tks a lot. Works fine

[2019-11-07 17:36] roldeguz commented on #1025
No problem :)

[2019-11-07 19:33] adumesny commented on #1025
@dbcdiogo you can use slacks to ask question instead of opening an issue. And please close this next time. thanks!

[2019-11-07 19:33] #1025 closed

[2019-11-07 21:31] adumesny commented on #1017
actually if you label them 'item 1' and 'item 2' you will see in rev3
[2]
[1]

while in your fix you get
[1]
[2]

I think ideally not specify a position should land you
[1] [2]
instead of both trying to go space (0,0) as you have...

the overlap and wrong size is incorrect in v0.4 and v0.5 (get inf loop error) so we NEED a fix, don't think this is best fix.

[2019-11-08 03:04] adumesny commented on #1011
re-open if this is still an issue given above solutions.

[2019-11-08 03:04] #1011 closed

[2019-11-08 06:57] vikasKacholia commented on #520
Hello ,

is there any update on this ?
I also see the ordering get changes on window resize.

i also have a a requirement where on resize instead of responsive behavior i.e changing the size of grid based on window size my grids should go to next row.
any idea how to achieve this?

[2019-11-08 07:08] vikasKacholia opened #1031 "GridStack responsive behavior customize"
Currently when we resize our window the grid width also get resize accordingly.
but in my case i want instead of resizing the grid they should move to next row and the size of grids remains same always.

## My environment
* version of gridstack.js - 0.4
* Google chrome Version 78.0.3904.70

i tried something as below on window resize -
[code]
but with this i am facing overlapping and sorting issue

[2019-11-08 08:18] flozzel commented on #1020
Tested the actual dev-version (gridstack.js 0.5.0), but I am still having the same issues.

[2019-11-08 13:00] radiolips commented on #1020
Thanks for testing that out. We'll take a look.

[2019-11-08 13:04] radiolips commented on #520
Hey @vikasKacholia . This is still in the works, but there are some other features that we're working on before this one. I'm still leaving this open, and I'll leave your other ticket (#1031 ) open as well, until we can look into that.

[2019-11-08 13:13] radiolips commented on #1017
@SomMeri Thanks for logging this and thanks for putting in a PR! @adumesny put in a slightly different version, which I think will help solve the problem. Try this out with our latest develop branch version! Please reopen or log a new ticket if your problem still isn't resolved.

[2019-11-08 13:13] #1017 closed

[2019-11-08 13:21] radiolips commented on #1031
Hey @vikasKacholia . Could you try unloading and reloading the grid? That might help get the widgets to look at the fact that things have been resized.

[2019-11-08 16:30] adumesny commented on #994
@nsgalib I tried your code (and see the inf loop error against 0.4.0) against the latest current code 0.5.1-dev and the inf loop error is GONE, but the grid doesn't load up so it's something you'll need to debug to see if it's your code at this point. check out this sample code that works
https://gridstackjs.com/demo/serialization.html (source on github under demo)

I attached the file here for re

[2019-11-08 16:30] #994 closed

[2019-11-08 17:49] roldeguz commented on #994
@nsgalib @adumesny The reason its not loading is because the "id" is not being passed in the addWidget function call and then in the saveGrid function, node.id is being referenced and at that point the value is undefined. It's just weird to use the actual div element as the id, moni1 instead of "moni1".

If you swap `id: node.id` with `id: el[0]`, it will work.

About the maximum call stack size,

[2019-11-11 08:56] vivekpandey343 commented on #828
getting same error. Can you please tell me how to fix?

[2019-11-11 15:17] adumesny commented on #828
@vivekpandey343  first of all, you should be using the latest build (which is 0.5.1, no lodash needed either) not some ancient build, which has the fix. Second if you look at the code above you can see it's referencing passed in param 'ops' so just need to pass {} to have a non null object.

[2019-11-11 20:41] radiolips commented on #1020
@flozzel this seems like it might just be a z-index problem? gridstack.js doesn't actually do anything with the item you're dragging until you're dragging it over a grid. In the advanced demo on gridstackjs.com and on the two grids example, it seems to work okay. Could you provide a code example that we could look at?

[2019-11-11 21:12] radiolips commented on #1015
Hey @ggenute . I was able to replicate the problem. When the original examples were written, they didn't take into account single-column-mode. I'll fix the demos when I have time, but for the time being, the issue is that when it attempts to remove the widget with `self.widgets.remove(item);`, it's comparing and `item`, which has single-column attributes, to an array of widgets with original specs

[2019-11-11 21:17] radiolips commented on #1007
gridstackjs.com uses the most recent version of jQuery and jQueryUI right now, I believe.

[2019-11-11 21:21] radiolips commented on #1004
Hey @rob101 . Thanks for logging an issue! I opened up your example, but I'm not exactly following. When a widget is moved from grid A to grid B, it can be placed anywhere in grid B-it doesn't automatically have coordinates.

[2019-11-11 21:23] radiolips commented on #1002
Hey @adriver-kwiboo ! I opened your fiddle, but I wasn't able to move any widgets. I *was* able to add a ton of widgets, though...?

[2019-11-11 21:37] radiolips commented on #991
Hey @aamir1754 ! The video seems to have been removed. Could you provide the information again, please?

[2019-11-11 21:39] #975 closed

[2019-11-11 21:39] #988 closed

[2019-11-11 21:40] #949 closed

[2019-11-11 21:41] #940 closed

[2019-11-11 21:44] radiolips commented on #936
Hey there! This is certainly possible. There's a closed out ticket which describes how, or one of the blog posts from my site (dylandreams.com - I think it might be the chart demo?) shows how to do it. It's actually not too much code to do it. At least for the time being, this is going to remain as an add-on with JS rather than being part of the core library. Good luck!

[2019-11-11 21:44] #936 closed

[2019-11-11 21:45] #934 closed

[2019-11-11 21:47] radiolips commented on #924
Totally! If I have some time soon, I'll try to put this in. @danirueda if you've still got your code, throw a PR our way! We'd love to merge your stuff in for this very valid use case.

[2019-11-12 01:15] radiolips commented on #908
@filmtablette do you have a fiddle I could look at? I know this response is very late, but I'd like to help you out.

[2019-11-12 01:16] #902 closed

[2019-11-12 01:16] #897 closed

[2019-11-12 01:17] #888 closed

[2019-11-12 01:23] radiolips commented on #876
@1995navinkumar I think I'm going crazy. I went back into your example, and animation seems fine now?

[2019-11-12 01:23] #853 closed

[2019-11-12 01:24] #788 closed

[2019-11-12 01:26] radiolips commented on #752
@codelinks I'm aware of how late this response is, but I've verified that this does work. For an example, check out gridstackjs.com (go to the advanced demo section). I hope you were able to find a satisfactory workaround. I know this is two years late, but feel free to reopen the issue if you still have problems.

[2019-11-12 01:26] #752 closed

[2019-11-12 09:05] adriver-kwiboo commented on #1002
looks like it's been fixed in 0.5.1-dev

[2019-11-12 09:05] #1002 closed

[2019-11-12 14:48] radiolips commented on #629
@jessenieminen lodash has been removed! jQuery and jQuery UI removals are coming, but...it's taking awhile...

[2019-11-12 15:06] #592 closed

[2019-11-12 15:09] #613 closed

[2019-11-12 15:10] #721 closed

[2019-11-12 15:17] radiolips commented on #738
Closing this now, because npm 3+ won't install the dependencies.

[2019-11-12 15:17] #738 closed

[2019-11-12 15:20] radiolips commented on #845
IE 11 is only around 3% of browser market share, so I'm closing this out. If someone has a PR that they can add to speed up IE 11 load time, I will happily check it out and merge it in.

[2019-11-12 15:20] #845 closed

[2019-11-12 15:23] radiolips commented on #965
Closing this up! As @adumesny  alluded to, we're pushing out pre-1 versions. The latest is v0.5.1, and I encourage you to use it! We're working hard to pump out more versions.

We'll provide ample notice before pushing out a breaking-change version.

[2019-11-12 15:23] #965 closed

[2019-11-12 15:23] #960 closed

[2019-11-12 15:25] radiolips commented on #950
Not sure if this has been fixed in jQueryUI, but because it lives with them and because there's an easy workaround, I'm closing this up. Hopefully we'll get rid of the jQUI dependency soon!

[2019-11-12 15:25] #950 closed

[2019-11-12 15:44] radiolips commented on #989
@adumesny is our resident Angular master. Got any thoughts?

[2019-11-12 15:45] #976 closed

[2019-11-12 15:46] radiolips commented on #993
@adumesny Pinging you for this one, too.

[2019-11-12 15:48] radiolips commented on #971
I'm going to close this, because I don't think that there's any way to make this work without cutting down the number of data points. Rendering and rerendering is done by the browser, so while I agree that it should be fast, it also depends on how CanvasJS and the browser are doing the actual rendering.

[2019-11-12 15:48] #971 closed

[2019-11-12 15:50] radiolips commented on #972
I'm closing this issue. It looks to be very specific to your code, not to the library. If you do find the problem to be with the library itself, please reopen.

[2019-11-12 15:50] #972 closed

[2019-11-12 19:02] adumesny commented on #989
@vishal1025 you can't add html and expect angular to bind to those properties after the fact (dynamically inserting). Nothing to do with gridstack.  I believe (never tried) you need to tell angular to parse that new HTML for things to bind..
closing for now. re-open if it is a gridstack issue per say.

[2019-11-12 19:02] #989 closed

[2019-11-12 19:05] adumesny commented on #950
might be worth adding a known JQ UI issue section to docs ?

[2019-11-12 19:14] adumesny commented on #845
might be worth adding a sample test that creates 500 widgets to profile in current browsers and see...

[2019-11-12 19:28] adumesny commented on #738
couldn't you use the yarn "resolutions":  section to specify a single version of a lib to use across all (assuming the range of each dependent match) and have just 1 copy ?

[2019-11-12 19:45] adumesny commented on #629
making the change is easy, the hard part is figuring out the lowest rev we can still run without errors... if someone could test and let us know that would be great!
Our focus is on removal at this point...

[2019-11-13 10:21] PSF1 opened #1037 "Install with composer"
## Subject of the issue
I require this library with composer, it has integration with npm and bower packages without these tools.

With version 0.4.0, we have the dist folder with a working copy of the library, but the folder was removed from 0.5.0 and 0.5.1 and that break the project because we can't install npm/bower on the environments.

Is possible to add the dist folder again?

Thx

[2019-11-13 13:15] radiolips commented on #1037
Thanks @PSF1 . `npm` is pulling the dist directory, but `bower` is not. I'll take a look.

[2019-11-13 14:54] adumesny commented on #1037
@PSF1 so you don't use npm (likely only thing we'll support) nor bower (which is obsolete) ? sorry not familiar with composer.

[2019-11-13 14:56] adumesny commented on #999
fixed in upcoming 0.5.2 release

[2019-11-13 14:56] #999 closed

[2019-11-13 15:03] PSF1 commented on #1037
Composer integrate both, but npm don't have 0.5.x versions. Is it possible that npm dont updated her packages?

[2019-11-13 15:05] adumesny commented on #1037
there definitely is a 0.5.1 npm package - https://www.npmjs.com/package/gridstack
it's even on some CDN the day we posted it. I don't know how composer works though.

[2019-11-13 15:09] radiolips commented on #1037
@PSF1 just to add to what @adumesny mentioned–the _develop_ branch isn't available on `npm`, but we're working hard to make sure to frequently release code now, and every release will be available on `npm`.

[2019-11-13 15:24] PSF1 commented on #1037
Wow :_ D I dont know why... Tomorrow I'll see it again.

Thx all

[2019-11-13 16:06] adumesny commented on #907
@n1ghtie I agree. We should add it soon.

[2019-11-13 21:49] adumesny commented on #907
in the upcoming 0.5.2 release

[2019-11-13 21:49] #907 closed

[2019-11-14 03:00] adumesny commented on #763
fixed now

[2019-11-14 03:00] #763 closed

[2019-11-14 07:09] PSF1 commented on #1037
Yes, today I can install the npm version 0.5.1, and yes it has the dist folder, It must be a propagation problem with npm.

The composer integration that I'm using is this: https://asset-packagist.org/

Thx all : ))

[2019-11-14 11:11] creage opened #1042 "Passing null values to addWidget() ends with exception"
this will fail if we pass `null` as a value of `x`, as `typeof null === 'object'` returns true.

_Originally posted by @creage in https://github.com/gridstack/gridstack.js/pull/1038/review_comment/create_

[2019-11-14 11:31] nikoskarakostas opened #1043 "Multiple Grids Problem on moving items"
## Subject of the issue
Lets say we have two grids: grid A and grid B.
Each grid has some items. Lets say grid A contains item1 and grid B contains item2.
Whenever I move an item on the first one it moves as it is supposed to.

We assume the following sequence of events:
event 1: I move item 1
event 2: I move item 2
event 3: I move item 1
event 4: I move item 2
(Moves take place inside each grid a

[2019-11-14 13:15] radiolips commented on #1042
Thanks, @creage . I'll fix this in the next couple of hours by also checking to make sure it's not null.

[2019-11-14 13:16] radiolips commented on #1043
Wow, that's brutal @nikoskarakostas . I'll take a look at what's going on–thanks for logging the issue.

[2019-11-14 15:09] adumesny commented on #1043
keep in mind that https://gridstackjs.com/demo/two.html is using a very old version of gridstack 2.7-dev - we need to fix that ASAP
but it sounds like you tested locally, and I just tried 0.5.2 and still there!

[2019-11-14 15:20] adumesny commented on #1042
@creage thanks for finding this! for now pass `undefined `instead of `null`. fixing now.

[2019-11-14 16:28] adumesny commented on #1042
fix in next release

[2019-11-14 16:28] #1042 closed

[2019-11-14 19:30] #1037 closed

[2019-11-14 19:31] adumesny commented on #1037
great, closing now. 0.5.2 is also out since yesterday...

[2019-11-15 07:21] nikoskarakostas commented on #1043
I assume you will update this thread if you have any news so I will keep track on it. Thank you.

[2019-11-15 13:11] flozzel commented on #1020
@radiolips I have created a test system for you in which you can play free around. I will send you the login details via an e-mail. For security reasons, I can not provide the test environment here public for everybody, but I will post the solution of the problem here.

I played around with the z-index, but I did not come up with a solution. Somehow I think the sidebar is the problem here, because

[2019-11-16 20:08] #1043 closed

[2019-11-16 20:10] radiolips commented on #1043
@nikoskarakostas Check out the code in the develop branch. Let me know if it doesn't resolve your problem. For my local tests, I was able to move widgets in either grid and move them back and forth. IT also fixed a few other strange issues (eg if you move a widget, without letting go of the mouse, from one grid to another, back and forth several times, an error was thrown).

[2019-11-17 14:13] radiolips commented on #937
@ermcgrat @nws-jstorm This is now fixed in the develop branch and will be deployed with the next release. Thanks for letting us know about the bug.

[2019-11-17 14:18] radiolips commented on #1013
@crapthings Great! I'm closing this out because you got it working, but also because @adumesny put in a fix that may help you in a recent version of gridstack.js Please reopen if you're having issues still.

[2019-11-17 14:18] #1013 closed

[2019-11-17 14:21] radiolips commented on #1007
@dahohawley Try the latest code snippet on gridstackjs.com. You should be able to copy-paste it in and have a working grid.

[2019-11-17 14:21] #1007 closed

[2019-11-17 14:28] radiolips commented on #998
@liuyisnake @abrorabdukadirov I believe this is resolved on the latest `develop` branch. Please give it a try. Reopen the ticket if you still have an issue.

[2019-11-17 14:28] #998 closed

[2019-11-17 16:54] radiolips commented on #451
@andrei-gheorghiu @Gnewbie This is resolved in the `develop` branch and will be included in the next release later this week.

[2019-11-17 16:59] radiolips commented on #906
@Kingmaddi I'm closing this because we've removed the lodash dependency, so this function presumably works again. Please reopen if I'm incorrect.

[2019-11-17 16:59] #906 closed

[2019-11-17 17:04] radiolips commented on #935
@ermcgrat This should be resolved in the `develop` branch and will be included in the next release.

[2019-11-17 17:04] #935 closed

[2019-11-17 17:05] radiolips commented on #919
I think there are a few different bugs listed here, but I also believe they're all fixed. If anyone here still has an issue, please open a new ticket.

[2019-11-17 17:05] #919 closed

[2019-11-17 17:09] radiolips commented on #876
Closing because there's a new fix in the `develop` branch that I believe resolves the issue. Please reopen a ticket if you still have a problem with it. It will ship in the next release, likely later this week.

[2019-11-17 17:09] #876 closed

[2019-11-18 04:40] adumesny commented on #993
closing due to lack of response. I gave the steps that work for me, re-open if still have an issue. thanks.

[2019-11-18 04:40] #993 closed

[2019-11-18 04:44] adumesny commented on #465
I don't think radiolips nor I are familiar with knockout, so if **can look at latest demo sample and make a PR with the changes for others that would be great**, so we could take it. thank you.

[2019-11-18 05:07] adumesny commented on #716
I think the implementation simply needs to save the initial state on drag start to the side, and on every moves checks for collision against **that** saved state for a temporary one (not used until released). This way if user pressed say Esc to cancel a move (do we even support that ?) or drops it outside, the initial state is restored properly.

In my app I have a widget maximize feature that mak

[2019-11-18 07:06] adumesny commented on #713
@JohnArcher the good news is radiolips and I are now co-maintainers now and great progress is being made.
The bad news is we both have full time jobs so we need the community to contribute PR we can review, as we're not getting paid for this :)

[2019-11-18 07:17] adumesny commented on #1009
related to #992

[2019-11-18 07:25] adumesny commented on #900
a little tricky because when you drop below grid B you are not dropping to that grid (from grid A) - how would we know you meant to grow and not just not drop on B ? Moving any objects inside a grid WILL grow that grid just fine...

[2019-11-18 07:36] adumesny commented on #393
that issue shown in the video is still there in 0.5.2-dev latest build (2 drop shadow showing, with one phantom left behind on drop).

[2019-11-18 07:51] adumesny commented on #755
still happens with latest code
https://cdn.jsdelivr.net/npm/gridstack@0.5.2/dist/gridstack.all.js
https://cdn.jsdelivr.net/npm/gridstack@0.5.2/dist/gridstack.min.css

**But** you are doing something wrong when removing a grid-item as the parent grid stays with data-gs-current-height="4" style="height: 240px;"

please check our working samples that removes (and adjust parent) dynamically...
closing

[2019-11-18 07:51] #755 closed

[2019-11-18 08:15] JohnArcher commented on #713
@adumesny I completely understand! We are in the same boat. :-) But it was not clear what happend to radiolips so I made sense to ask you to take it over then. But I am very glad that he is back and you both joined forces. I hope to provide some work here and there ...

[2019-11-18 15:37] radiolips commented on #1010
Closing this out as it's most likely an issue with how the library was used. The serialization can be done purely with DOM, so as long as coordinates are used, this shouldn't be a problem. Please reopen if you have more information.

[2019-11-18 15:37] #1010 closed

[2019-11-18 15:42] radiolips commented on #991
Closing this because there isn't information to actually show a bug in the library (vs implementation). Please reopen with that information if there's a bug in the library.

[2019-11-18 15:42] #991 closed

[2019-11-18 15:46] radiolips commented on #1000
I'm still a little confused, but adding css `zoom: x%` seems to work fine. I verified this by editing the grid on gridstackjs.com in-place. I'm closing this out. If I'm off-base on what you're asking for, please reopen with more context and I'll take a look.

[2019-11-18 15:46] #1000 closed

[2019-11-18 16:32] radiolips commented on #967
@stap123 You can follow the directions here to create grids smaller than 12 columns https://github.com/gridstack/gridstack.js#extra-css

I've verified, using your codepen, that if you include the gridstack-extra css file and add the `grid-stack-6` class to the `grid-stack` DOM element, your grid works perfectly.

[2019-11-18 16:32] #967 closed

[2019-11-18 16:42] radiolips commented on #1020
I was able to resolve this with @flozzel via email. Please reopen if you're still having problems, but in your demo I was able to successfully move the widget from the sidebar to the main screen.

[2019-11-18 16:42] #1020 closed

[2019-11-19 05:15] sjacobi opened #1054 "Bug in positioning on version 0.5.2"
Grid change my "y" positioning, but its strange default behavior. This can be reproduced with a large number of elements in the grid.

[2019-11-19 05:42] adumesny commented on #1054
@sjacobi can you post a sample code showing the issue ? you're report is so generic I have no idea what to look for. thank you.

[2019-11-19 09:34] RollingStone85 commented on #701
Hi @radiolips, is there a fix for this yet?

[2019-11-20 11:35] pixotri opened #1059 "Is it possible to limit value data-gs-height for grid-stack-item?"
Hello.
I can't find any options to restrict value for data-gs-height attribute..
I want to have all grid-stack-items with parameter data-gs-height not more then 4.
And for example, value of 1 is 25% of height, value of 2 is 50% of height and so on.

[2019-11-20 14:36] roldeguz commented on #1059
There is a max-height property that you can set when creating a widget.

https://github.com/gridstack/gridstack.js/tree/develop/doc#addwidgetel-options

[2019-11-20 15:07] #1059 closed

[2019-11-20 15:08] adumesny commented on #1059
and `data-gs-max-height`

[2019-11-20 21:18] pixotri commented on #1059
data-gs-max-height - solved my issue!

[2019-11-21 00:13] Arj4ns opened #1062 "How to prevent a widget from being dropped into a full grid?"
Sorry if the title isn't clear. Basically, I have 2 separate grids. I want to stop items from being moved into the second grid if the widgets within it already reach the maximum vertical constraint. No matter what i do though, it still allows the object to dropped into the bottom of the grid. I've tried making the grid static when a widget if picked up, disabled movement, and of course, tried to s

[2019-11-21 00:45] adumesny commented on #1062
couple issues:
1) your sample uses non default 12 columns, you need to *also* include `gridstack-extra.min.css` to get CSS right
2) you are using `columnn` and `maxRow` which I just added to 0.5.3 (released this morning). you are using 0.5.2 (there would need the old names...)

make those changes and let me know. maxRow should prevent grid from growing and therefore being dropped on.

[2019-11-21 00:49] adumesny commented on #1062
maybe I should rename it to `gridstack-column.css` or something. I too didn't know what it was for (and missed the doc which is why I updated couple sections) to maybe make it clearer...
The min.js/min.css should still have comments on top which i will later fix.

[2019-11-21 01:24] Arj4ns commented on #1062
Still doesn't appear to work. I added the changes like you said, or I believe I did at least. I have not heard of the gridstacks extra css file. I did add maxRow in, but i'm still able to bypass it when I drag and drop a widget into the grid.

https://jsfiddle.net/npsujfra/2/

It is very possible that I have the links wrong, so it may not even be loading the proper functions. That being said, I ge

[2019-11-21 05:26] adumesny commented on #1062
In your second sample, I still see `gridstack@0.5.2` in multiple places, no `gridstack-extra.css` and you using `height: 11` which is the old name (=== `maxRow` now). please fix if you want me to take a look.

[2019-11-21 06:12] Arj4ns commented on #1062
My bad, the fiddle didn't update correctly. That was the exact same example I showed in the first post.

This should be the correct example.
https://jsfiddle.net/udk80h53/

[2019-11-21 07:02] adumesny commented on #1062
nothing jumps at me right now, but bottom item resize the 12x4 really funky... jumps to 1 height.
`var grid = $('.grid-stack').data('gridstack');` would return a list of 3 grids by the way, then you access one of them... could be your issue.
I will try to look tomorrow.

[2019-11-21 10:46] pixotri opened #1065 "Column issue"
I initialize gridstack script as below:
[code]
When I move blocks in grid system it indeed has 3 columns, but why they are of standard width? Why each column does not have 1/3 of wrapper width?

In CSS I can change width styles how I want, but if it is needed to move anything it becomes a problem.

How it is possible to make grid column width 100%/column in JS?

[2019-11-21 12:21] radiolips commented on #1065
Hey @pixotri ! Have you included `gridstack-extra.css`?

[2019-11-21 14:34] pixotri commented on #1065
Much better. Thank you!
But I had to remove .grid-stack-1, .grid-stack-2 and so on classes. What are they for?

Is there a possibility to generate smth similar to this but for height(rows)?

[2019-11-21 15:22] roldeguz commented on #1062
On the 'dropped' event, determine if the grid is full, then if its true, you can always set the droppable feature of the grid to false.

`$(".grid-stack").droppable("disable");`

And everytime you remove a widget, set it back to true.

[2019-11-21 15:44] adumesny commented on #1062
seems like the lib should do that for you though.... there is already code to see if you can insert an object... canBePlacedWithRespectToHeight() checks for grid growing past max size. will have to reproduce issue first and debug...

[2019-11-21 16:06] adumesny commented on #1065
@pixotri please check the doc and samples as your 3 questions so far are all spelled out there - but let us know if something not clear!
Slack channel for Q might also take less time than dealing with opened 'issues' here.
Thank you for checking gridtstack!

[2019-11-21 16:06] #1065 closed

[2019-11-21 21:34] adumesny commented on #629
fixed in next release.

[2019-11-21 21:34] #629 closed

[2019-11-21 21:58] Arj4ns commented on #1062
Seems like roldeguz's suggestion worked. Thanks for the help guys!

Link to working example
https://jsfiddle.net/wdn35k87/

I have it set up so when dragStart event occurs, the left grid is checked to see if the grid is filled to the maxRow value. If it is, the grid's draggability is disabled.

[2019-11-21 21:58] #1062 closed

[2019-11-24 16:55] kizniche commented on #1054
I actually just started using gridstack yesterday and came across this behavior. I'm sorry I can't produce a JSFiddle, but I can describe the code I'm using to produce this issue.

#### HTML/Jinja2

[code]

#### Javascript

[code]

The endpoint /save_dashboard_layout saves the position and size information to the database, which is verified upon positioning the widgets:

[code]

#### Screenshot af

[2019-11-24 17:02] kizniche commented on #1054
I made an attempt at making a JFiddle, which I believe demonstrates this behavior, if zoomed far out: https://jsfiddle.net/yutomeq9/

[2019-11-24 18:13] kizniche commented on #1054
I've distilled the HTML down to a more straightforward example in [this JSFiddle](https://jsfiddle.net/kizniche/Lkobedv9/8/).

[2019-11-24 23:56] LouisSung opened #1068 "cellHeight(val) does not work properly on v0.5.3 (but OK on v0.5.2)"
## Subject of the issue
Seems like function [`cellHeight(val)`](https://github.com/gridstack/gridstack.js/tree/v0.5.3/doc#cellheightval-noupdate) doesn't work properly on `v0.5.3`.

E.g.,
1. not able to auto resize height while resizing (Browser) Window, and
2. (re)assign height by calling this function (although the one in constructor `$('.grid-stack').gridstack` can set up height correctly)

How

[2019-11-25 15:18] roldeguz commented on #1054
Hi!

I've encountered a similar problem before, what I did was:

- Sorting the widgets (at the query level) by Y, X coords, at the point that its saved to a JS array, it is already sorted

- then setting data-gs-auto-position="0" when generating the widgets

Hope this helps.

[2019-11-25 16:06] kizniche commented on #1054
@roldeguz, I don't think that solves my issue. Gridstack should be placing my items at the positions specified. Additionally, I already have the items in the JSFiddle sorted from top-left to bottom-right (which I don't believe should be necessary anyway, given proper sizes/positions that don't overlap). If I'm misunderstanding your solution, could you please demonstrate with a modification of my [

[2019-11-25 16:42] adumesny commented on #1054
I recommend you take a careful look at the serialize demohttps://gridstackjs.com/demo/serialization.html and/or simplify your sample way down. to just bare min with some CSS to tell the grid items apart.

2 things to keep in mind. grid with `float=false` (default) will push items to the top (gravity) when inserted, regardless on what you specify for Y. items without `data-gs-auto-position=true` wi

[2019-11-25 16:46] kizniche commented on #1054
I did [make a very simple JSFiddle with minimal HTML and Javascript](https://github.com/gridstack/gridstack.js/issues/1054#issuecomment-557913414).

[2019-11-25 16:48] kizniche commented on #1054
I see ```float: true``` fixes the layout issue, however I don't see why, even when sorted/inserted properly from top-left to top-right, the items become out of order when float is false.

[2019-11-25 17:05] kizniche commented on #1054
Thank you for the help. This is a great layout system. Perhaps I'm just misunderstanding how items are placed in the grid in relation to the order provided by the HTML.

[2019-11-25 17:17] adumesny commented on #1054
looking at your sample, something not right... let me debug this.

[2019-11-25 17:35] adumesny commented on #1054
I have a fix (bug was introduced in 0.5.2) and will be in 0.5.3 if you can wait a few days...

[2019-11-25 18:46] #1054 closed

[2019-11-25 18:47] adumesny commented on #1054
@kizniche  thank you for spending the time showing the issue!

[2019-11-25 20:58] kizniche commented on #1054
You're welcome. I appreciate detailed bug reports, so I try to be thorough when I can. Thanks for the timely responses and fix.

[2019-11-25 23:06] adumesny commented on #1068
thank for for the sample, I will take a look. I recently changed that method to take into account margin, so it's possible that broke this...

[2019-11-26 08:48] flozzel commented on #1020
The problem was an overflow-x: hidden and an overflow-y: auto on some of the outer elements containing the dashboard.

For the other problem with the moving items I am still looking out for a solution. radiolips suspects that this could be because of CSS too. I will inform you when I have found out something.

[2019-11-26 14:32] adumesny commented on #1020
@flozzel > other problem with the moving items I am still looking out for a solution

You could switch between 0.4.0, 0.5.0, 0.5.1, 0.5,3 and see if the behavior changes which might hint if the issue in the lib

[2019-11-26 16:42] adumesny commented on #1068
fixed in next release 0.5.4

[2019-11-26 16:42] #1068 closed

[2019-11-26 16:43] adumesny commented on #937
had to revert change until correct fix...

[2019-11-26 21:22] adumesny commented on #924
all data-gs- props are there (see updated two.html), but the resize/move feedback isn't totally in sync. Will file separate issue.

[2019-11-26 21:22] #924 closed

[2019-11-27 07:00] spidy10 opened #1076 "draggable handle option for particular widget"
## draggable handle option for particular widget

I have bunch of widgets load on page using grid stack js. It is working good as expected.
I need to implement draggable handle option for particular widget instead of all.
Is it possible with gridstack.js ?

## Using grid stack js with basic javascript and Jquery
* version of gridstack.js is 1.0.0-dev

[2019-11-27 07:22] adumesny commented on #1076
you mean to have some drag/resize while others don't ? sure - take a look at https://gridstackjs.com/demo/advance.html from the main site.

Also you list 1.0.0-dev, which actually is quite old. we've released 5 time since code was labeled as such.

[2019-11-27 07:27] spidy10 commented on #1076
@adumesny thanks for your quick reply.

My main problem is I have one widget and inside that widget one text area. Once user try to resize that text area the widget drag automatically. Because text area is inside widget.
I have tried one solution with lock widget once I lock widget and then resize text area but for me this is not feasible.

So can you please suggest me solution for it ?

Thanks

[2019-11-27 11:06] adhayward opened #1077 "Version 0.5.4 JQuery"
When attempting to install version 0.5.4 of this package JQuery downgrades from 3.4.1 to 3.0.0

I believe that
https://github.com/gridstack/gridstack.js/blob/a1f10874ab89cfea822785182147505b485dfdf0/package.json#L34

should be "^1.8 || ^2 || ^3"

[2019-11-27 12:06] spidy10 commented on #1076
* Fixed issue from my self.
Thanks for help :)

[2019-11-27 12:06] #1076 closed

[2019-11-27 16:21] adumesny commented on #1076
my widgets have only a title area (20pix on top) that can be dragged, the rest is for content interactions. You can also set the grid to not be editable to prevent payout changes if that makes sense, until an explicit mode (which I also do in some apps).
But sounds like you found a solution.

[2019-11-27 17:12] adumesny commented on #1077
'3' means any 3.x revisions, and I'm not seeing that issue. I just did a `yarn upgrade gridstack` and it went for 0.5.2 to 0.5.4 and it brought in jquery@3.4.1 (I had 3.2.1 before).

anyone seeing this issue and what did you do get gridstack ?

[2019-11-28 02:23] adumesny commented on #1077
I just pushed 0.5.5 by the way (but didn't change above dependency).

[2019-11-28 11:39] adhayward commented on #1077
I'm running a PHP project so I'm installing the npm package via composer (https://asset-packagist.org/package/npm-asset/gridstack).

I don't have much experience with package.json files so that was just a guess seeing as that line had been changed going into 0.5.4.

However 0.5.5 has now installed correctly so I'm going to assume that something was going wrong with how composer/npm communicate the

[2019-11-28 11:39] #1077 closed

[2019-12-02 15:09] jploch commented on #803
I have the same issue, even with the newest version (v0.5.5)

[2019-12-03 18:01] bimarc opened #1082 "Gridstack on MS Surface - drag&drop and resize not working"
## Subject of the issue
Drag and resize events on MS Surface not working.

## Your environment
* gridstack.js last version
* Chrome last version

## Steps to reproduce
Go to gridstackjs.com and try to work with gridstack demos

## Actual behaviour
In tablet mode (touch) - Drag and resize on gridstack item not working using MS Surface

[2019-12-03 18:54] adumesny commented on #1082
from the [doc ](https://github.com/gridstack/gridstack.js#requirements) it says:

(Optional)[ jquery-ui-touch-punch](https://github.com/furf/jquery-ui-touch-punch) for touch-based devices support

that's likely the reason. I don't have a tablet to test this.

[2019-12-04 10:09] bimarc commented on #1082
The problem is MS Surface, when you touch the screen the events launched aren't Touch or Mouse event.

To fix it, maybe Gridstack should also handle Pointer events.

Test - by attaching all events to the ".ui-resizable-handle" element, the result obtained on MS Surface is this
<img width="829" alt="Events" src="https://user-images.githubusercontent.com/40889899/70132832-41493680-1685-11ea-8c2b-f2f

[2019-12-04 14:10] bimarc opened #1083 "Changing from landscape to portrait or vice versa causes problems on iPad 3rd gen."
## Subject of the issue
Changing from landscape to portrait or vice versa causes problems

## Environment
* gridstack.js - last version
* Chrome app - last version
* IPad 3rd generation - 10.3.4

## Steps to reproduce
Using IPad 3rd gen., when the view change from landscape to portrait or vice versa. When resize and move items are enabled.

## Actual behaviour
When the view change from landscape t

[2019-12-04 15:19] adumesny commented on #1082
I don't have an MS surface tablet (maybe @radiolips  does?) to test this out - would be great if you could make a code review with the fix! then we can get it in...

[2019-12-04 21:54] SylvainCorlay opened #1084 "Consider dropping JQuery / typescript conversion ?"
Hello, thanks for this great project! I have used it for a couple of projects and it has been working really well.

I am curious on whether there had been discussions in the core team on dropping JQuery altogether in the gridstackJS project? I presume that a lot could be done with native DOM APIs now...

[2019-12-05 01:02] adumesny commented on #1084
for sure and one of the biggest topic!
(I had to push to drop lodash couple months back, and that was BIG 450k min lib!)

I would have been great to first drop Jquery-UI (which is dead) when the original owner added D&D plugin support back in 0.3.0 but that never happened even thought that was the plan...
@radiolips has a branch with some initial work to remove jqui but I'm not hearing back from h

[2019-12-09 13:14] Altraya commented on #787
Have you planned to release this in a new version soon ?
I've made a special patch for my own need but it's not satisfying and it include other bugs in my version.
I am really looking to a lasting solution for this.

[2019-12-09 15:53] adumesny commented on #787
I have not looked at a fix but would love to have someone submit a code review for this!

[2019-12-09 19:10] drzraf opened #1087 "moveAll helper for dual-grid handling"
## Subject of the issue
When dealing with multiple grids, `removeAll()` is not suitable with widget-based grids.

## Your environment
* version of gridstack.js: 0.5
* which browser and its version: FF 6x

## Steps to reproduce
Multiple grids handling with widgets is good. But coupling with save/load we soon hit an issue if we want a `reset`. The [two demo](https://gridstackjs.com/demo/two.html) av

[2019-12-09 20:07] adumesny commented on #1087
@drzraf thanks for the code sample, surprised you're not able to extend gridstack (before initializing the grids?). Maybe others can chime in

Wondering how common it really is to move all items from one grid to another really? also if the grids have different column numbers, things can get tricky, so adding this as a blessed API to support might not be right thing.

[2019-12-11 20:22] weedkiller commented on #973
@suffyanaziz if you post your controller and razor page I can show you how to save it

[2019-12-13 22:55] drzraf opened #1091 "configurable new widget"
## Subject of the issue
I would like a "configurable" new widget. Some input are available and according to their value the new widget differ. I can't only get the `helper` to differ, not the final widget.

## Steps to reproduce
[code]

## Expected behaviour
Selecting `input type=checkbox` in the new widget should create a `checkbox` item, like it does **during** drag (before `mouseUp`)

![Screens

[2019-12-13 23:02] drzraf commented on #1087
Dual-grid of different column numbers is needed a difficulty I'm experiencing.
About extending gridstack.js "the-right-way", that would be interesting to get some documentation about how. (Yes I tried before initializing but the `GridStack` object is not available)

[2019-12-16 02:38] moonlitnighta opened #1092 "Can I fix the height of "data-gs-current-height"?"
## Subject of the issue
Can "data-gs-current-height" remain the same when the top distance of "grid-stack-item" changes?

## Your environment
* version of gridstack.js
* which browser and its version

## Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo, you can use [this template](https://jsfiddle.net/dweiss/dqyvh6vr/) as a base.

## Expected behaviour
Tell us

[2019-12-16 02:43] adumesny commented on #1092
what are you trying to achieve ? your can set the minimum height using CSS and the maximum height with `data-gs-max-row`, but `data=gs-current-height` will always fluctuate based on content and user drag/resize.

[2019-12-16 03:09] moonlitnighta commented on #1092
Hi！My canvas size is 1200x800px, and I want users to maintain this size no matter how they drag, rather than adaptive size

[2019-12-16 03:36] moonlitnighta commented on #1092
My tool is design software similar to Photoshop. The user can set the canvas size and then can only edit within the set size range

[2019-12-16 03:58] moonlitnighta commented on #1092
@adumesny I did what you said and it seems to solve my problem，Thank you

[2019-12-16 16:32] adumesny commented on #1092
just use
`.grid-stack {
  min-height: 800px;
}`
and set your grid options `maxRow` to the right number (each row is `cellHeight` + `verticalMargin` until last one that doesn't have a margin) so 800 / (cellheight * row + (row -1) * margin)

I.e. set your cellHeight to have an exact match based on how many rows you wish to have....

That should solve it. re-open if lib is not working as expected.
An

[2019-12-16 16:32] #1092 closed

[2019-12-16 17:57] YuriGal opened #1094 "drag heuristics can make it hard to place items (ex: web demo)"
Is there a way to alter behavior when one widget is dragged on top of other?  In the demo below I am trying to insert widget "7" between "9" and "2". If I drag it directly into the gap - it assumes I want insert "7" above "2" and pushes "2" down even thought I drag "7" thru the lower portion of "2". Only if I drag "7" all the way around and over "9" directly - it moves "9" down.

<img src="https:/

[2019-12-16 18:20] adumesny commented on #1094
I agree, the heuristics could use some tweaking, and be more like over the second half vs the first half - it's also not clear if it uses the mouse position or just the box outline (or something in between).

[2019-12-16 19:13] adumesny opened #1095 "batchUpdate() not working for addWidget()"
## Subject of the issue
I modified two.html to have this, but items don't show up

`
  grid.batchUpdate();
  items.forEach(function (node) {
    grid.addWidget($('<div><div class="grid-stack-item-content">' + (node.text? node.text : '') + '</div></div>'), node);
  });
  grid.commit();
`
## Your environment
* 0.5.5-dev
* chrome

## Steps to reproduce
modify two.html to wrap batch around the addWidg

[2019-12-16 19:56] adumesny commented on #1095
my bad. had typo...

[2019-12-16 19:56] #1095 closed

[2019-12-19 03:50] adumesny commented on #713
@gooeyideas after re-reading this request, it still make sense after my changes #1098 which only fixes the `row` sorting order to be correct (or at least a lot better), but other orders make sense. If you can update your review to latest code, I can test and check it in!

[2019-12-20 01:15] Arj4ns opened #1102 "Panels lose functionality when they are moved to a new grid"
## Subject of the issue
Lets say I have 2 grids. Both have the option 'acceptWidgets' set to true. In both grids, I have the panels functioning as buttons. So when you click on one, it fires an event. I have an example included with this post. In the example both panels are set to attach text to the bottom of the example. However, when you move the elements to the other grids, their button functio

[2019-12-21 01:15] adumesny commented on #1102
I tried with latest rev (yours were 0.3.0 rev, I updated the bug template to have 0.5.5 and simpler includes) and still seeing this even with actual button children. My guess it that it cones the dom elements so JQ events are lost.
https://jsfiddle.net/adumesny/jtf3axsm/

Might need to track the add/remove event and re-attach stuff you care about for now...

[2019-12-21 02:00] adumesny commented on #1083
are you including jquery UI and touch based ? (I have not tested mobile) what exactly does you file looks like and the error ? thanks.

also 'latest' doesn't tell me if 0.5.5 or 0.5.5-dev current code)

[2019-12-21 02:09] adumesny commented on #1015
@ggenute are you running into this as a knockout  app, or just found this in our demo ?

[2019-12-21 02:13] ggenute commented on #1015
@adumesny first I noticed at my app, and double checked how it works your demo. The same issue is in both.

[2019-12-21 02:13] adumesny commented on #1009
maybe a ctrl/alt key could signal wanting to drop over vs moving item out of the way. Would be cool feature....

[2019-12-21 02:18] adumesny commented on #1008
closing as no replies. Please provide a jsfiddle (ex: https://jsfiddle.net/adumesny/jqhkry7g) if you wish us to take a look. thanks. 0.2.4 is really old...

[2019-12-21 02:18] #1008 closed

[2019-12-21 02:20] adumesny commented on #1006
closing due to no replies. cellHeight is in pixels (or you can use % now though I have not tested it).

[2019-12-21 02:20] #1006 closed

[2019-12-21 02:24] adumesny commented on #1004
closing due to no replies. please re-open if still issue.

[2019-12-21 02:24] #1004 closed

[2019-12-21 02:27] adumesny commented on #1003
I don't believe gridstack is designed for that (1 row expandable with new columns... I assume you want to to scroll (keep items same size) similar to oneColumnMode  but sideway. won't fix. closing.

[2019-12-21 02:27] #1003 closed

[2019-12-21 02:34] adumesny commented on #1001
I'm not seeing this at all (Chrome 79, and https://gridstackjs.com/demo/float.html
I can drag below OR resize below and it will auto-scroll while doing it just fine.
closing for now unless you can show video issue.

[2019-12-21 02:42] adumesny commented on #959
you surely can do that - the help function of draggable lets you do anything you want - I do what you describe in some apps. https://gridstackjs.com/demo/advance.html might hint you at it... look for `helper:`

[2019-12-21 02:42] #959 closed

[2019-12-21 02:45] adumesny commented on #958
I believe you can do that. looking at the doc

  /**
   * if true of jquery selector the grid will accept widgets dragged from other grids or from
   * outside (default: false) See [example](http://gridstack.github.io/gridstack.js/demo/two.html)
   */
  acceptWidgets ? : boolean | string | ((i: number, element: Element) => boolean | string);

so you should be able to declare a function and check y

[2019-12-21 02:45] #958 closed

[2019-12-21 02:49] adumesny commented on #948
@ghost  are you asking about creating a nested grid (drop inside) rather than move over the other ?
if so #1009 might be a dup.

[2019-12-21 03:09] adumesny commented on #933
thanks for looking so deeply and referencing other issues - make our job easier!
hopefully I can take a look and fix it in the lib soon...

[2019-12-21 03:29] adumesny commented on #931
late response, but can you provide code sample (ex: https://jsfiddle.net/adumesny/jqhkry7g/) ? thank you.

[2019-12-21 03:35] adumesny commented on #929
hopefully you found a solution... I don't know anything about parcel, and your 5500 files gzip is a lot to digest :(
keep in mind the jquery and jqeury-ui requirements (see doc). I have no issues using with Angular 8 for example...

[2019-12-21 03:35] #929 closed

[2019-12-21 03:42] adumesny commented on #911
I recently checked in #1096 which removes a LOT of the duplicated/unnecessary on change/added/removed events and updated two.html to show longs now!

in the `float: false` case it behaves exactly as expected: 1 drop event (on a change event if adding a widget doesn't go asked) when just 1 event when moving it (no collision), 1 event with mupltiple items (colission) etc... `float: false` will send

[2019-12-21 03:42] #911 closed

[2019-12-21 14:46] adumesny commented on #909
@danirueda unlikely to get fixed given the workarounds (you can use `maxRown` or CSS to limit height, or use @JamesFitch3 margin trick (which won't work for `float: true` case as that grows indefinitely in height).

keeping open for others to find.

[2019-12-21 14:55] adumesny commented on #908
closing due to no response. re-open if you do still have issue.

[2019-12-21 14:55] #908 closed

[2019-12-21 15:01] adumesny commented on #900
possible but very finicky (like there is only a few pixels letting you do it. related to #1094
![image](https://user-images.githubusercontent.com/3496166/71309670-93959180-23bf-11ea-8a0f-ba2b5ba9d32a.png)

[2019-12-21 15:15] adumesny commented on #932
refer #829

[2019-12-21 15:16] adumesny commented on #829
refer #757

[2019-12-21 16:11] adumesny commented on #814
I know this is late... but this should now be possible  with the fix I made in #1098 (and following 3 checkins). you can now call `setColumn(n)` and have the children relayout correctly.

[2019-12-21 16:11] #814 closed

[2019-12-21 16:16] adumesny commented on #811
this is no longer the case with current release - see https://gridstackjs.com/demo/two.html
(I thing we use `._origY` for that).

[2019-12-21 16:16] #811 closed

[2019-12-21 16:49] adumesny commented on #806
@bpottle closing due to age. this is a trivial change otherwise, so let me know if you still need this.

[2019-12-21 16:49] #806 closed

[2019-12-21 16:59] adumesny commented on #804
@notnow123 sounds like you actually need an event when the animation finishes (final position) - (which I believe is broken now #937)  - related to `gsresizestop` isue people are seeing in #829 and others...

[2019-12-21 17:22] adumesny commented on #803
I'm pretty sure I ran into this ("fixed error when dragging add item over the trash, and then over second grid" commit msg) and fixed the assert it as part of #1096
please use latest 0.5.5-dev code and let me know - in the next release.

[2019-12-21 17:22] #803 closed

[2019-12-21 17:42] adumesny commented on #754
@sunlanterns new items are added in the first slot available (`autoPosition` or missing x,y) first, starting in the top/left corner (that part should be configurable to support rtl). that part wouldn't change.

but I guess you saying when manually moving a widget around, we push conflicting items down, while you want them pushed to the right (and therefore reflow below ?)

[2019-12-21 23:08] adumesny commented on #724
both of those issues have been fixed in the latest code

[2019-12-21 23:08] #724 closed

[2019-12-21 23:19] adumesny commented on #723
now that I'm familiar with the code base I see why there isn't a `horizontalMargin` param like `verticalMargin`. The widths are all done in CSS as 100 / # column for each with inside padding done in CSS as well, whereas vertical position are pixels in code (cellHeight + verticalMargin).

that said there is no reason we can't have a param and set the CSS rule, and exclude the first and last end poi

[2019-12-22 01:35] adumesny commented on #720
thank you @aureality @ZoolWay for supplying this code! this lib would not be possible without community help. fix is in next release...

[2019-12-22 01:35] #720 closed

[2019-12-22 01:38] adumesny commented on #386
fix is in the next release ! the latest nested.html shows how to get it working between 2 nested grids.
Note: there is still a clipping of child during drag I need to figure out later...

[2019-12-22 01:38] #386 closed

[2019-12-22 01:39] adumesny commented on #695
thank you @trevisanweb  for supplying this code! this lib would not be possible without community help. fix is in next release...

[2019-12-22 01:48] adumesny commented on #992
#1105 I just checked in will get you almost there - I updated nested.html to show drag&drop between 2 nested grids, but dragging a regular item into another nested one has tons of issues - it wants to push the out out first, then can drop into it - causing issues.  You can un-comment some settings to try.

Not an easy fix

[2019-12-22 01:50] adumesny commented on #717
same idea as
#787[ support for nested grid to take entire parent height (simulate % rows, like columns do) ](#787)

[2019-12-22 01:58] adumesny commented on #716
@gokhancs the current release works as you describe - https://gridstackjs.com/demo/float.html
create a bunch of items in the middle, then drag a corner item through the center pile and see them displace but get back to original position as you drag through.

[2019-12-22 01:58] #716 closed

[2019-12-22 02:09] adumesny commented on #388
closing. typedef is now part of gridstack (since I personally use TS) and been updated.

[2019-12-22 02:09] #388 closed

[2019-12-22 02:13] adumesny commented on #219
see #1094 as well

[2019-12-22 02:35] adumesny commented on #149
@h-nazzal

aaah... aaah :)
guessing we never had a working (non trivial same size) working version ?
I might take a look at the current heuristic as it doesn't appear to move objects when past half point (like #1094), and could check for swap if size happen to be the same. No promise

[2019-12-22 02:38] adumesny commented on #141
part of #1094

[2019-12-22 03:32] adumesny commented on #95
working fine in current build - see #1106 nested.html

[2019-12-22 03:32] #95 closed

[2019-12-22 03:41] adumesny commented on #37
Hi all - so you know I've commited a re-write of `setColumn()` so we keep track of each layout so going from 12 -> 1 or any other # (which is automatically generated from the order) and back to 12 will remember the original layout
There is full editing in any of those column modes and I try to carry those changes to the other layouts. in 1 column, if you start re-ordering everything (as opoosed to

[2019-12-22 20:23] adumesny commented on #413
closing due to solution found and not a lib issue per say

[2019-12-22 20:23] #413 closed

[2019-12-22 20:30] adumesny commented on #425
closing as the original issue has been fixed. sounds like @kool-kat is wanting % height to take available space (which changes as parent margin is affected) which is posted bug - if not create new one.

[2019-12-22 20:30] #425 closed

[2019-12-22 20:34] adumesny commented on #604
closing due to age  and low usage - please re-open if still an issue.

[2019-12-22 20:34] #604 closed

[2019-12-22 21:14] adumesny commented on #726
I tried latest code and modified nested.html and still happens when moving, even with fix for #425 to have copy of the options per grid.

[2019-12-22 21:23] adumesny commented on #540
I use angular component for this lib, and having local to that components styles would be better and might be using webcomponents soon as well.

[2019-12-23 02:27] adumesny commented on #519
this is no longer happening - we save origY and restore as needed - see float demo:
![image](https://user-images.githubusercontent.com/3496166/71331806-8de79b00-24e8-11ea-95fa-28fff3755e9b.png)
![image](https://user-images.githubusercontent.com/3496166/71331816-98099980-24e8-11ea-8cce-6181b4ef6743.png)
![image](https://user-images.githubusercontent.com/3496166/71331826-a1930180-24e8-11ea-8c4c-dab5

[2019-12-23 02:27] #519 closed

[2019-12-23 02:33] adumesny commented on #916
can you please provide an example ? see https://jsfiddle.net/adumesny/jqhkry7g

[2019-12-23 02:37] adumesny commented on #933
see #413

[2019-12-23 02:41] adumesny commented on #413
While the above does work, it's generally considered bad UX to have the dragged element and the targeted drop in the grid element be of different size - the dragged should be the same or slightly smaller.
The grid will take the dragged element and figure out the number of rows/column to make it fit by default, unless you override like done above.

[2019-12-23 02:42] adumesny commented on #918
see #413

[2019-12-23 16:39] adumesny commented on #914
closing as dup of #413

[2019-12-23 16:39] #914 closed

[2019-12-23 16:41] adumesny commented on #933
dup of #413

[2019-12-23 18:44] #918 closed

[2019-12-23 20:07] adumesny commented on #413
real fix is in #1107

[2019-12-23 20:09] adumesny commented on #922
fix in next release with #1107

[2019-12-23 20:09] #922 closed

[2019-12-23 20:10] adumesny commented on #933
real fix in #1107 - sorry it took so long and thank you @ermcgrat

[2019-12-23 20:10] #933 closed

[2019-12-24 02:08] moonlitnighta opened #1108 "How do I get the widget in the "added" method?"
## Subject of the issue
When dragging the widget to the grid, I want to get the current widget. The second parameter of the "added" method can only get the position and size information of the widget, but not the DOM node.

## Your environment
* version of gridstack.js
* which browser and its version

## Steps to reproduce
Tell us how to reproduce this issue. Please provide a working demo, you can

[2019-12-24 15:07] adumesny commented on #1108
the nodes passed in the second param each contain an `.el` which is the dom element. All the info is there.

[2019-12-24 15:07] #1108 closed

[2020-01-02 15:22] SylvainCorlay commented on #1084
Thanks @adumesny this is really reat news!

We use gridstack for the Voilà project which turns Jupyter notebooks into standalone web applications. We have a templating system that allows changing the behavior to e.g. transform a notebook in a slideshow, or into a dashboards. The voilà-gridstack template makes use of gridstack: https://blog.jupyter.org/voila-gridstack-template-8a431c2b353e

For 202

[2020-01-02 16:39] adumesny commented on #1084
That would be awesome as I don't have the bandwidth to do it all... but really want to remove JQ as well.
I just released 0.6.0 with a bunch of changes and plan on working on 1-column auto mode and custom ordering (PR from community)  to support responsive design better with all the work I did in `setColumn()` and could tackle JQ next.

[2020-01-06 18:22] sunlanterns commented on #754
@adumesny Sorry for the late response. I think that sounds right.
In my use case we always add our newest widget at the 0,0 slot. This ends up pushing any pre-existing widget in that spot down, when I would rather it be pushed to the right.

[2020-01-06 20:51] adumesny commented on #754
@sunlanterns do you have to have new items added at the beginning (0,0) ? because otherwise adding them without explicit x,y would add them in a row as you requested. But I could see supporting a left/right flow as you move things around, instead of pushing down.

Also @ISNIT0 I don't think 'bottom' gravity makes sense (browser scroll for content) as how far would you put them ? what scenario are

[2020-01-06 21:02] sunlanterns commented on #754
@adumesny Yes, we have to have them added at the beginning. Just to explain, we have users choosing to add widgets dynamically themselves - and users expect that new widget to show up close to the add widget button, and not possibly out of sight down the page in the next available slot.

[2020-01-07 01:23] adumesny commented on #754
you might be able to do that yourself for now using similar code to what I recently did in `compact()` method - make gridstack believe it has no items, add the new one in, then loop over the old ones adding them to their old position (if no conflict, else use `autoPosition` to find next space).

[2020-01-10 21:48] sunlanterns commented on #754
@adumesny At that point I feel like I'm having to re-implement the positioning logic completely, which is something I don't want to do or I wouldn't have grabbed a grid framework to begin with and written it myself.

[2020-01-11 02:49] adumesny commented on #754
hummm, you can do what you want in probably 10 lines of code... vs >2000 for the lib. I included what the compact method does which would be very close
`
`

[2020-01-14 12:38] Almightyzhir opened #1113 "Any way to set AcceptWidgets programatically?"
## Subject of the issue
I would like to be able to set a grid's state to acceptwidgets to false once a widget has been put inside it. So it will initially be enabled then disabled by calling a method. So the grid is basically locked. I've checked the documentation and have tried a range of API methods but nothing works. Is there any way to do this?
## Your environment
* version of gridstack.js = 0

[2020-01-14 16:36] adumesny commented on #1113
I have not tried this, but looking at typescript doc (regular doc needs updating) looks like it can be a function as well, so you cold return false in your condition. Let me know if that works, else if we need to add an explicit method
```acceptWidgets ? : boolean | string | ((i: number, element: Element) => boolean | string);```

[2020-01-14 17:18] adumesny commented on #1113
closing as function example works.

[2020-01-14 17:18] #1113 closed

[2020-01-15 17:11] Almightyzhir commented on #1113
Thank you very much, very helpful

[2020-01-17 10:31] Almightyzhir opened #1117 "Dragging clone widget drops original down in the grid."
## Subject of the issue
I am having an issue using the helper: 'clone' feature in the draggable options. When i drag and drop a widget into another grid, the original widget will drop into the next row and go in-front of the widget below it. I would ideally like the original widget to stay in the same place so i can drag and drop it into another grid as many times as i like.

I'm fairly new to Gri

[2020-01-17 14:31] flozzel opened #1118 "Events (change, added, remove) are not working correctly"
## Subject of the issue
I am trying to use the provided events to detect changes on my dashboard.
For example, I have created the following event handler to detect changes and trigger the saving procedure:

[code]

This triggers this save method:

[code]

Now to my problem: When I am using the "changed" event to detect changes on my dashboard, it triggers the event for the dashboard to which the i

[2020-01-18 20:48] adumesny commented on #1117
couple issues with you code.
1) you have 2 grids, so `var grid = $('.grid-stack').data('gridstack');` is incorrect
2) in your includes you don't need jquery UI (you already include all.js) and knockout?
3) I don't beleive `data-gs-current-height` should be set. the lib sets it automatically based on content (not sure why it's not internal)
4) bad idea to have `position:absolute` on the grid items.

[2020-01-18 20:59] adumesny commented on #1118
please use 0.6.0 as I re-wrote how we call events (much less frequent and correct items now).

using the https://gridstackjs.com/demo/two.html demo open the log (clear it) and drag one item from one grid to the other and you will get correct event.

grid1 removed 1 items. (x,y)=4,0
grid2 added 1 items. (x,y)=0,3
grid2 change 1 items. (x,y)=0,3

closing this unless you can provide running code show

[2020-01-20 11:50] Almightyzhir commented on #1117
Thank you for the tips, that was quite helpful. I've decided to opt for a toolbar instead of a second grid.

[2020-01-20 11:50] #1117 closed

[2020-01-20 14:38] flozzel commented on #1118
@adumesny
I tested it in the demos, there is everything working as expected.

Also I changed my gridstack version from 0.6.0-dev to 0.6.0 and tried it, but same problem too.
Here is a short clip of me showing the problem:

![gridstack_issue](https://user-images.githubusercontent.com/33422121/72733889-16656400-3b99-11ea-9779-88cc8e31c445.gif)

I have a test environment running, for security reasons

[2020-01-20 17:03] adumesny commented on #1118
confusing as you use "displosition 5" for "dashboard 4" (make the number the same).
it would be great to see the placeholder shadow to see what's going on as I suspect you get TWO of them when placing those wide items between two grids, and one is left behind when dropped - which is a known issue and could create weird placement issues...

![image](https://user-images.githubusercontent.com/3496166

[2020-01-23 12:18] Almightyzhir opened #1119 "Can you change a grid's options dynamically?"
## Subject of the issue
Is there a way to change a grid's options dynamically after it has been set. For example:
 - A grid will be set to options 1 by .gristack(options1). But after an event i would like to change the options of the grid to options 2. Doing .gridstack(options2) has no effect because it has already been set.

What i am trying to achieve is the ability to change a grid's options on

[2020-01-23 16:26] adumesny commented on #1119
there isn't a way to get/set all the options after creation (maybe there should be, though that would require quite a bit of work - similar to what I did for `float()` method I added but for each value, but for now you can access that structure with `grid.opts` and update the values you need changed - as long as it doesn't require a bunch of internal changes and only affect future behaviors you sh

[2020-01-24 11:34] RSWilli commented on #1084
Typescript would be a great change, since you can split up the code in modules.

But why do you want to change jQuery for cash? What (in your opinion) are the advantages over Standard JS/DOM Objects/Methods?

[2020-01-24 15:37] adumesny commented on #1084
cash would only be a temporary step (if at all) as there are a lot of calls and return signatures that would need changing.
All my work is done in typescript/Angular so I would prefer to convert it to TS using the type file I already include in the builds and remove JQ code as the code migrates over, but I have not looked into D&D replacement and hoping others can help.

[2020-01-24 15:40] adumesny commented on #1119
let me know how that worked and what calls you would want after the fact. Maybe those can be added before a more generic `grid.options()` method gets added.

[2020-01-24 19:44] RSWilli commented on #1084
if you explained what you mean by "D&D replacement", I would gladly help you.

would it be possible to include cash in the final bundle, so gridstack does not need any dependencies/global modules?

[2020-01-24 20:19] adumesny commented on #1084
we use jqueryUI today to do the drag, drop, resize, move, animation - that part of the code would have to be replaced FIRST before we can consider removing JQuery (which has easier replacement API and tiny libs like cash)

[2020-01-29 10:24] Almightyzhir commented on #1119
Thank you for the reply, i can indeed access grid.options.

However i've noticed a problem with what i am trying to achieve.

The grid's I have are dynamically added, however since they all use 1 set of options, E.g. turning acceptWidgets = false will not allow any grid to accept a widget. So i guess the only way to do it is to make sure each grid as their own set of options. Is there a way to dyn

[2020-01-29 15:44] adumesny commented on #1119
not sure why you are dynamically creating a bunch of grids, or did you mean grid-item ?
each will need it's own option copy.

[2020-01-29 15:44] #1119 closed

[2020-01-31 13:05] flozzel commented on #1118
Sorry for the late answer.

I forgot to mention, that there are a some crazy things going on regarding to the movement of the items. I already opened a issue about this and I have not been able to solve it yet.

https://github.com/gridstack/gridstack.js/issues/1020

The numbering of the dashboards is a little bit confusing, but the number you see in the console is the number (index) I am using for

[2020-01-31 18:56] adumesny commented on #1118
thanks, but like I said I don't have the bandwidth to debug people's code (unless you want to hire me :)
so unless you can reproduce in a simple app, I won't be able to take a look.

[2020-01-31 23:58] AllenConway commented on #105
This is an older post, but in order to make gridstack work with `*ngfor`, the `$('.grid-stack').gridstack();` command must be called in `ngAfterViewInit`

[code]

[2020-02-01 01:06] adumesny commented on #105
might be worth revisiting this thread as I've been using my own Angular (now 8)/Typescript based wrapper for gridstack for over 2.5 years now... I wold think a lot more adoption if it came out of the box with angular support (might need separate npm image due to dependencies). But then again there are now native angular versions which look decent that didn't exist back when I adopted this...

[2020-02-02 17:46] adumesny commented on #37
fixed with #1120 - full editing now in oneColumnMode (see https://gridstackjs.com/demo/column.html). I still need to fix responsive.html though.

[2020-02-02 17:46] #37 closed

[2020-02-03 11:16] flozzel commented on #1118
Okay sorry, this should not come across like an impolite prompt to debug my code.
I am glad somebody's helping me at all :)

I will try to reproduce the problem somehow in a jsfiddle and then I will let you know.

[2020-02-03 21:36] adumesny commented on #713
closing as #1126 adds DOM order option which lets you do any custom one column layout you want.

[2020-02-03 21:36] #713 closed

[2020-02-05 01:13] ataft commented on #1094
I'm having a similar issue when trying to drag to the bottom. As you can see in the demo below, I have to drag the widget about 90% over the bottom widgets in order for it to move:

![gridstack_issue](https://user-images.githubusercontent.com/11670864/73802061-40aa4a80-4771-11ea-9318-8515f7c29f87.gif)

[2020-02-05 09:12] UHaooooo opened #1131 "data-gs-current-height does not update after remove widget"
## Subject of the issue
After removing widget, _updateContainerHeight is not triggered causing the data-gs-current-height is not updated.

## Your environment
* gridstack.js 0.6.1
* Google Chrome Version 79.0.3945.130

## Steps to reproduce
Simply removing widget by using removeWidget or removeAll

## Expected behaviour
The data-gs-current-height should be updated.

## Actual behaviour
The data-gs

[2020-02-05 09:48] leorigaudeau opened #1132 "0.6.2 / oneColumnMode / error width"
## Subject of the issue
in oneColumnMode the width is incorrect since 0.6.2
each div should fill the entire space in width

## Your environment
* 0.6.2

## Steps to reproduce
just reduce the browser size (oneColumnMode) to see the problem
https://gridstackjs.com/

![2020-02-05_10h41_27](https://user-images.githubusercontent.com/33526057/73830282-b1e70d80-4804-11ea-9b51-9c9a429427fe.png)

[2020-02-05 15:45] adumesny commented on #1131
@UHaooooo I'm not able to see that bug in our demos. Try https://gridstackjs.com/demo/column.html and click on the X which calls removeWidget() and noticed the grid will shrink.

please create reproducible example (use https://jsfiddle.net/adumesny/jqhkry7g) as a base.

[2020-02-05 16:29] adumesny commented on #1132
thanks, I can see that in the homepage. Funny because both samples I've been using while working on this work fine https://gridstackjs.com/demo/responsive.html and https://gridstackjs.com/demo/column.html

[2020-02-05 20:34] #1132 closed

[2020-02-05 20:36] adumesny commented on #1132
fixed in next release. webpage demos are ok again.

[2020-02-06 18:15] adumesny commented on #1102
@Arj4ns have you found a solution ?

[2020-02-07 15:43] adumesny commented on #1084
FYI as a first step I will be dropping JQuery from all APIs and dependencies so you will only need to include `gridstack.all.js` and nothing else. I will be used internally (due to jquery-ui drag&drop) but then later removed without app code change.

you will have to create a grid / item using these now
`var grid = window.GridStack.init( opt );` then
`grid.addWidget('<div><div class="grid-stack-it

[2020-02-10 14:05] ronvanpol opened #1142 "RemoveWidget() doesn't also trigger change events when it should"
The function RemoveWidget should trigger change events in case that other nodes are changed. For example take the simple case where one has a simple grid containing to adjacing nodes 1 and 2. When node 1 is removed by using the RemoveWidget function, node 2 moves to the place of node 1. This is a change for node 2 and as such it should trigger the change event.

I see in the code that the triggeri

[2020-02-10 15:39] adumesny commented on #1142
@ronvanpol do you have an example where the change event doesn't get called when it should ?

I commented some of the change events code because it was calling it when adding/removing a node that had NO OTHER changes to siblings, so only when x,y,w,h is changed should it now trigger (still does call it more often than absolutely necessary but tons better than before, especially when loading 5 widg

[2020-02-10 16:44] ronvanpol commented on #1142
This bug seems to be related to nested grids. I have prepared a jsfiddle. Click on nested items "1" or "2" and the log will only show the removed events and no change events.

[https://jsfiddle.net/a7bo92vn/](https://jsfiddle.net/a7bo92vn/)

[2020-02-10 17:55] adumesny commented on #1142
thanks, I can see the issue now. will take a look...

[2020-02-10 18:18] adumesny commented on #1142
turns our you don't need nested grid, this simpler example shows the issue as well
https://jsfiddle.net/adumesny/znqx4dmr/

[2020-02-11 11:08] ronvanpol opened #1143 "Adding widget to nested grid: Cannot set property 'isOutOfGrid' of undefined"
In the situation where you have nested grid where both the parent grid as well as the nested grid accept widgets, adding a widget to the nest grid will result in a javascript error: Cannot set property 'isOutOfGrid' of undefined. It seems that both grids try to handle adding the new widget, while only one is able to accept the widget.

![gridstack-error](https://user-images.githubusercontent.com/5

[2020-02-11 16:16] adumesny commented on #1143
thank you for reporting and fixing it. keep in mind that `acceptWidgets` can also be `true|false|string` so you will have to check being a string before checking the class match.

Do you mind doing a pull request ?
I will need to revert my last changes for jquery and move that into a branch (I have a lot of local work for 1.0.0 release with breaking changes I need to put in that branch as well) as

[2020-02-13 08:42] LaxmanTelang opened #1144 "Cannot set property '_grid' of undefined"
I am using gridstack 1.0.0 version and the Jquery 1.11.1.
When I drag and drop the wiget it is loaded properly but when i resise the same widget and try to drag a new widget Iam getting the error as folows:
**Uncaught TypeError: Cannot set property '_grid' of undefined
    at HTMLDivElement.<anonymous> (gridstack.js:933)
    at HTMLDivElement.dispatch (jquery-1.11.1.min.js:3)
    at HTMLDivElement

[2020-02-13 16:17] adumesny commented on #1144
there is no gridstack 1.0.0 (yet) so I don't know what code/version you are using. Please make a test case showing the issue - see https://jsfiddle.net/adumesny/jqhkry7g as starting point, and re-open if you can reproduce in latest code. thanks!

[2020-02-13 16:17] #1144 closed

[2020-02-14 08:39] timrabbetts commented on #575
So come back to this and the problem is the example for save and load wipes the current grid out, and if you just update the properties like data-gs-width, after the grid is loaded when you drag an item the entire grid resets.  Its a bit of a hack but I worked around this with the following code.  I think the confusion here is I am loading an html page with all the widgets and the content, then tr

[2020-02-14 08:39] timrabbetts commented on #575
`this.loadGrid = function() {
        // Load grid positions
        $.ajax({
          url: '/load/grid',
          type: 'GET',
          dataType: 'json',
          error: function() {
            console.log('ajax error has occured');
          },
          success: function(data) {
            console.log(data);

            var markup = [];

            // Go through all widgets and store th

[2020-02-14 13:27] LaxmanTelang commented on #542
I am still facing this issue added below code :
this.dd
      .droppable(self.container, {
            accept: function(el) {
                 el = $(el);
                 var node = el.data('_gridstack_node');
                 if (node && !node._temporary && node._grid === self) {
                      return false;
                 }
                 return el.is(self.opts.acceptWidgets === true

[2020-02-14 13:31] ronvanpol commented on #1143
I have created a pull request. First time I've done that, so I hope that it's ok what I did.

[2020-02-14 19:27] adumesny commented on #575
@timrabbetts, from a quick read, have you tried using `update()` with your new dimension and the latest code (make sure to batch/commit) using the latest code ?  (see https://jsfiddle.net/adumesny/jqhkry7g)
It should work, if not re-open this bug with an updated jsfiddle. thanks.

[2020-02-14 20:28] adumesny commented on #542
@LaxmanTelang can you provide a jsfidle sample showing the issue with latest code ?
use https://jsfiddle.net/adumesny/jqhkry7g as starting point.

[2020-02-16 02:09] adumesny commented on #1142
fix in next release 0.6.4

[2020-02-16 02:09] #1142 closed

[2020-02-16 20:49] ronvanpol commented on #1143
I just created a new PR against the develop branche. Hopefully everything is ok this time.

[2020-02-17 02:13] adumesny commented on #1143
fixed in the next release - thanks for reporting and code suggestion!

[2020-02-17 02:13] #1143 closed

[2020-02-17 02:15] adumesny commented on #1131
closing due to lack of response,

[2020-02-17 02:15] #1131 closed

[2020-02-17 02:29] adumesny commented on #1091
@drzraf sorry I didn't respond sooner. Have you found a fix or could you provide a jsfiddle for me to reproduce please ? you can use [this template](https://jsfiddle.net/adumesny/jqhkry7g) as a base.

[2020-02-17 03:24] adumesny commented on #1087
sorry for not getting back. You can extend using this. not adding this to core lib as seem very specific...

[code]

[2020-02-17 03:24] #1087 closed

[2020-02-17 03:34] adumesny commented on #1031
closing due to no response... Not that responsive `setColumn()` is now much more robust, so please check the latest https://gridstackjs.com/demo/responsive.html

[2020-02-17 03:34] #1031 closed

[2020-02-17 03:41] adumesny commented on #1015
@ggenute this is fixed in current release. I completely re-wrote `oneColumn` mode (just `setColumn(1)` now so demos don't show any issues anymore.

Let me know if it doesn't work for you!

[2020-02-17 03:41] #1015 closed

[2020-02-17 03:52] adumesny commented on #1012
@sebastianwebb could you give a concrete example and what the benefit would be ?

right now the output CSS from sass looks like this for 12 column default

[code]

[2020-02-17 04:43] adumesny commented on #969
please look at latest code and https://gridstackjs.com/demo/responsive.html
that should allow you more control. closing.

[2020-02-17 04:43] #969 closed

[2020-02-17 04:45] adumesny commented on #957
please look at latest code and https://gridstackjs.com/demo/nested.html which should allow what you want. closing

[2020-02-17 04:45] #957 closed

[2020-02-17 05:02] adumesny commented on #948
if you are tying to drop the green box only inside the red boxes (assuming they are nested grids), you can do that with latest 0.6.4 code - see example https://gridstackjs.com/demo/nested.html
Your test code overrides the grip droppable to accept the green item...

if you are trying to created nested grids on the fly, but still able to add to the top grid a well, then it's a dup of #1009.

closing

[2020-02-17 05:02] #948 closed

[2020-02-17 05:08] adumesny commented on #931
closing due to no response

[2020-02-17 05:08] #931 closed

[2020-02-17 05:10] adumesny commented on #916
closing due to no reply

[2020-02-17 05:10] #916 closed

[2020-02-17 05:15] adumesny commented on #915
please use upcoming 0.6.4 release. `change` event will send the node which has the current x.y.width,height as well as the original values (see _origX, etc...)
I use that internally to decide what actually changed before calling the event.

[2020-02-17 05:15] #915 closed

[2020-02-17 05:20] adumesny commented on #830
very unlikely to get fixed. closing

[2020-02-17 05:20] #830 closed

[2020-02-17 05:34] adumesny commented on #818
your sample doesn't work as you never init the nested grid.
Please update your code to the latest use [this template](https://jsfiddle.net/adumesny/jqhkry7g) as a base, and look as https://gridstackjs.com/demo/nested.html as well

[2020-02-17 05:34] #818 closed

[2020-02-17 06:02] adumesny commented on #701
Note to self: here is a local test case:
[test.zip](https://github.com/gridstack/gridstack.js/files/4212051/test.zip)

[2020-02-17 07:04] adumesny commented on #540
the offending code is:
[code]
which can be overridden using:
[code]

[2020-02-17 07:46] adumesny commented on #540
sorry for taking so long to address. fixed in 0.6.4

[2020-02-17 07:46] #540 closed

[2020-02-17 07:50] adumesny commented on #520
closing this as I re-wrote on `setColumn()` handles responsive design - see  https://gridstackjs.com/demo/responsive.html

[2020-02-17 07:50] #520 closed

[2020-02-17 17:18] adumesny commented on #1084
@SylvainCorlay any update on your usage/requirement ?
@RSWilli any chance you might be able to help ?

I put the branch with on-going work (link above) and wouldn't mind getting another pair of eyes on some changes, like the last big change:
https://github.com/adumesny/gridstack.js/commit/57aa16132d051c20b39348a7471edbadbdc7f468

[2020-02-17 19:01] drzraf commented on #1087
Thank you, I'll try that!
In the meantime, I'm pretty sure example making use of `moveAll` between two grids (of different sizes :)) would be a tremendously useful codebase to get inspiration from.

[2020-02-17 19:04] ggenute commented on #1015
Hey @adumesny. Updated to latest release. It works on my project as well. Thanks!

[2020-02-17 21:15] adumesny opened #1155 "grid with `maxRow` set can have item at wrong location, hard to move items"
the `maxRow` test case under gridstack.js\spec\e2e\html shows grid behavior totally broken if you insert an item **past** the maxRow it shows there and prevents other items from being dragged correctly.

If you move it down (can't bring it back out of bound) then all works as expected including other items dragging.

## Your environment
using upcoming 1.0.0 code (`feature/rm-jq` branch), happens i

[2020-02-18 20:21] RSWilli commented on #1084
@adumesny I overlooked some of your code

I would suggest that you open a WIP Pull Request so the code changes can be discussed there

[2020-02-23 02:45] adumesny commented on #1084
@RSWilli I started phase 2 which is to convert to typescript as well. Decided to try that as I was getting some uglify only errors on gridstack.min.js (ok if Include regular .js) for my webpack app...

This is early as I have NOT compiled/tested the TS files yet (need to change build system) but didn't want to loose 4+ days of work!
https://github.com/gridstack/gridstack.js/pull/1157

[2020-02-24 09:15] RSWilli commented on #1084
the issue I'm still having even in 1.0.0 is that when I'm bundling gridstack (using rollup), I get the Error:

[code]

which is at the GridStack.init Fn:

[code]

I would really like to help with removing jQuery, but I think I need to wait until you finished the TS conversion, or we'll get conflicts

[2020-02-24 09:23] RSWilli commented on #1084
Thinking about a solution, I came up with the idea to modify the included Jquery file, so it would be a ES Module, that can be seamlessly bundled with gridstack

This could be a solution for the transition period to completely removing it

At the moment the window object still gets the $ from jQuery attached

@adumesny what do you think?

[2020-02-24 10:14] RSWilli commented on #1084
@adumesny I reviewed the commit https://github.com/adumesny/gridstack.js/commit/2d79abcf946c2624d8eaf6fd54a58908f5585d72 I don't think that I got everything, but I wrote some comments

[2020-02-24 17:00] adumesny commented on #1084
@RSWilli in your app did you include `gridstack.all.js` and not just gridstack.js ? that will include jquery+jqueryui+gridDragDrop code so `window.$` should be there.

I didn't have runtime issues in my webpack Angular app with it (only issue is I had to add `@types/jquery` and `@types/jqueryui` for my TS code that has drag&drop code still using jqueryui).

Also I included gs in the module that us

[2020-02-24 22:49] btecu commented on #1084
Hopefully the _transitioning_ does not take a long time but it might be safer to also create a dist file that assumes `jQuery` is already provided by the application.

[2020-02-24 23:22] adumesny commented on #1084
@btecu dist/ folder contains all the parts. gridstack.all.js just happens to include all 5 files right now, The app can still use jquery/jqueryui from us, or import their own and include just the 2 gridstack js files.

[2020-02-25 09:34] RadoiAndrei commented on #1012
[code]
This is a simple example of a grid using CSS grid, I tried using this before I moved to your JS solution. But I am having issues with Gridstack, like not being able to make the whole grid be 100vh height and setting the cellHeight to 'auto'. I also tried setting the cellHeight to `${100 / 12}vh` but that still does not work as supposed.

[2020-02-25 10:48] sebastianwebb commented on #1012
Thanks for getting back to me. It's been a while since I posted so unfortunately I've forgotten my use case. But on further experimentation with the tool and I think absolute position might be better anyway. Grid column positions do not animate, unlike 'left', 'top', 'width', and 'height', which could be a bit limiting.

[2020-02-25 11:07] RadoiAndrei opened #1164 "Full height grid with cellHeight: 'auto' acts strangely"
## Subject of the issue
Wrapping the grid in an element with `100vh` or `100%` and setting it's `cellHeight` to `'auto'` will ignore the wrapper element's height, hence the cells will be longer than what I wanted.

## Your environment
**Version** Taken from the CDN (Seems to be 1.0.0)
**Browser** Brave Version 1.3.118 Chromium: 80.0.3987.116 (Official Build) (64-bit)

## Steps to reproduce
For som

[2020-02-25 11:20] RadoiAndrei commented on #1164
A fast fix is to do
[code]
and to use `verticalMargin: 0` in the grid options, and adding the margin inside of the content.

[2020-02-25 15:21] adumesny commented on #1164
from the doc: cellHeight='auto' - height will be calculated to match cell width (initial square grid).

not the same as taking entire height. there is a % option but doubt it actually works when I looked at the code last...

[2020-02-25 15:26] RadoiAndrei commented on #1164
I said I already fixed it with, my problem was that verticalMargin wasn't accounted in the cell height, which was adding extra height to the grid.
[code]

[2020-02-25 15:40] adumesny commented on #1012
@sebastianwebb thanks, and good to know. Will keep this open for info and feedback...

[2020-02-25 15:46] adumesny commented on #1164
sorry is your issue that 'auto' isn't totally square (due to missing default 20px margin) which is posted as an issue in the code, or that cell heights don't fill the entire available space.
You can't force a number of rows (only a max) and I don['t believe % height works either... either way, please post a simple jsfiddle sample so I can take a look. thanks.

[2020-02-26 01:23] pjc0247 opened #1166 "Resizing does not work as expected"
## Subject of the issue
Resizing does not work as expected

## Your environment
1.0.0 and Chrome

## Steps to reproduce
https://pjc0247.github.io/bugtest/index.html

## Expected behaviour
Size should follow the user input.

## Actual behaviour
The object grows larger than expected.

![gridstack](https://user-images.githubusercontent.com/1961216/75302586-99a56400-5881-11ea-8856-81948bcc720d.gif)

[2020-02-26 02:01] pjc0247 opened #1167 "Dragging broken with grid height = 100%"
## Subject of the issue
Dragging threshold is too sensitive. When I moved 1~2 pixels, the object changes its position.

## Your environment
1.0.0 and Chrome

## Steps to reproduce
I'm trying to create a reproducible demo. This only appears on my project so far.

## Expected behaviour

## Actual behaviour
![2](https://user-images.githubusercontent.com/1961216/75304491-ba23ed00-5886-11ea-9af4-d28c5e

[2020-02-26 08:18] awjae commented on #1166
Temporary Quick Solution

Check gridstack.all.js cdn file
https://cdn.jsdelivr.net/npm/gridstack@1.0.0/dist/gridstack.all.js

Edit function
`function t(e, t) {
                f.$el.append(f.placeholder);
                var i = g(this);
                f.engine.cleanNodes(), f.engine.beginUpdate(u), d = f.cellWidth();
                var n = f.cellHeight();
                c = f.$el.height() / pa

[2020-02-26 09:08] #1164 closed

[2020-02-26 09:20] ferretwithaberet opened #1168 "empty cell stylization"
I want to suggest the addition of more events, few ideeas:

'dragstop' - This is not new, but (at least in my opinion) the event.target should have the new position, not the old one.

'emptycellclick' - This will trigger when the user clicks on an empty cell, the event will contain the X and Y coordinate of the cell.

Also, it would be nice to be able to stylize the empty cells, atm I can do it wi

[2020-02-26 16:28] adumesny commented on #1166
thanks, I'll take a look! by the way you can use non min files like the demos (use change URL)
[code]

[2020-02-26 19:10] adumesny commented on #1167
I have not seen that. please try to replicate in a jsfidle example, or make a code fix review I could take a look. thanks.

[2020-02-26 20:01] adumesny commented on #1168
I think your first item 'dragstop' is related to #932

as for the empty cell click you could just add a click event on '.grid-stack' element yourself I believe. You can event ask `grid.getCellFromPixel()` which should be empty (as the cell **should** handle the click and prevent propagation up).

Styling empty cell would be hard (new feature) as we HAVE NO empty placeholder per say. Someone else a

[2020-02-27 01:19] pjc0247 commented on #1167
@adumesny
Please check it,
https://pjc0247.github.io/bugtest/index.html

I found that below code makes the mess.
[code]

[2020-02-27 01:52] adumesny commented on #1167
I know the grid likes to grow/shrink as items are moved around, so forcing to 100% (or even maybe a fix height) might throw things off... you should do that on a container div (that could scroll or not) if want that.

[2020-02-27 02:28] pjc0247 commented on #1167
@adumesny

Got it,
However, without `height 100%`, recognition area is pretty small and limited.
Dragging item like below won't be work.

![image](https://user-images.githubusercontent.com/1961216/75406272-6cc18180-5953-11ea-9b37-2f79ae2c8fb4.png)

[2020-02-27 02:33] adumesny commented on #1167
sure does - just have `GridStack.init({float=true})` option

[2020-02-27 02:35] #1166 closed

[2020-02-27 02:36] pjc0247 commented on #1167
@adumesny Ah sry, but I expected to be stacked not a floating.

![image](https://user-images.githubusercontent.com/1961216/75407011-4d2b5880-5955-11ea-921c-e90587a58a77.png)

[2020-02-27 03:17] adumesny commented on #1166
fixed in next release

[2020-02-27 06:14] adumesny commented on #1167
I'm confused - you expect to be able to drag the item anywhere, but you want it to snap to the top ? the dropshadow will show where it will go, while the dragging element can go anywhere. you can control placement anywhere with float=true;

[2020-02-27 12:11] RadoiAndrei commented on #1168
@adumesny Im trying to do it with the .getCellFromPixel and ,isAreaEmpty now. I want to ask if it is possible to tell the grid to stay at the maximum number of rows, as I need the user to be able to click on any empty cell of the grid. I searched through the docs, but I found nothing.

[2020-02-27 12:19] stenhro opened #1171 "grid.on("added change removed", function(e, items) { ... }); not working: items is undefined"
## Subject of the issue
grid.on("added change removed", function(e, items) { ... }); not working: items is undefined. Error that manifests for items: "Uncaught TypeError: Cannot read property 'length' of undefined"

## Your environment
GridStack version: 1.0.0
Browser and its version: Chromium v80.0.3987.87

## Steps to reproduce
Working jsfiddle demo: https://jsfiddle.net/0rpyh32u/1/
1. Load page